requests>2.7
geojson_rewind
geomet
appdirs>=1.4.4
matplotlib
sphinx_issues
requests-cache>=1.3.3
shapely>=1.5.13
urllib3<3
vcrpy>=4.3.1,<5
pytest
pytest-cov
codecov
sphinx_rtd_theme
sphinx==7.2.6