interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=3329049&limit=300&offset=0
  response:
    body: {string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":443,\"\
        results\":[{\"key\":2423526628,\"datasetKey\":\"ee7c2f66-60d2-4503-80d2-97d65eba01eb\"\
        ,\"publishingOrgKey\":\"1beb4a87-695f-423a-a71c-c3c737510894\",\"installationKey\"\
        :\"92a00840-efe1-4b82-9a1d-c655b34c8fce\",\"publishingCountry\":\"RU\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-11-13T15:10:48.523+0000\"\
        ,\"lastParsed\":\"2019-11-13T16:23:25.084+0000\",\"crawlId\":2,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"individualCount\":1,\"taxonKey\"\
        :3329049,\"kingdomKey\":5,\"phylumKey\":34,\"classKey\":186,\"orderKey\":1499,\"\
        familyKey\":4171,\"genusKey\":2526057,\"speciesKey\":8671098,\"acceptedTaxonKey\"\
        :8671098,\"scientificName\":\"Amanita muscaria (L.) Hook.\",\"acceptedScientificName\"\
        :\"Amanita muscaria (L.) Lam., 1783\",\"kingdom\":\"Fungi\",\"phylum\":\"\
        Basidiomycota\",\"order\":\"Agaricales\",\"family\":\"Amanitaceae\",\"genus\"\
        :\"Amanita\",\"species\":\"Amanita muscaria\",\"genericName\":\"Amanita\"\
        ,\"specificEpithet\":\"muscaria\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\"\
        :\"SYNONYM\",\"decimalLongitude\":48.456629,\"decimalLatitude\":58.012063,\"\
        coordinateUncertaintyInMeters\":5000.0,\"year\":2014,\"month\":7,\"day\":20,\"\
        eventDate\":\"2014-07-20T00:00:00\",\"issues\":[],\"lastInterpreted\":\"2019-11-13T16:23:25.084+0000\"\
        ,\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"identifiers\"\
        :[],\"media\":[],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\"\
        ,\"class\":\"Agaricomycetes\",\"countryCode\":\"RU\",\"country\":\"Russian\
        \ Federation\",\"identifier\":\"985d7bba-9428-432f-85ad-c49f34f3e78c\",\"\
        catalogNumber\":\"ECNRUNG1008\",\"otherCatalogNumbers\":\"ECNRUNG   \",\"\
        dynamicProperties\":\"{\\\"phenologicalEventType\\\":\\\"1st occurrence\\\"\
        ,\\\"phenologicalEventTypeOriginal\\\":\\\"\u041F\u0435\u0440\u0432\u0430\u044F\
        \ \u0432\u0441\u0442\u0440\u0435\u0447\u0430\\\"}\",\"datasetName\":\"Chronicle\
        \ of Nature - Phenology of Mushrooms of State Nature Reserve Nurgush\",\"\
        locality\":\"Nurgush\",\"gbifID\":\"2423526628\",\"occurrenceID\":\"985d7bba-9428-432f-85ad-c49f34f3e78c\"\
        ,\"taxonID\":\"8671098\"},{\"key\":2423583639,\"datasetKey\":\"50313b08-dc39-493b-bdb4-313aa337a33e\"\
        ,\"publishingOrgKey\":\"99fe7290-d54a-4f1e-b0dd-3989337a22eb\",\"installationKey\"\
        :\"92a00840-efe1-4b82-9a1d-c655b34c8fce\",\"publishingCountry\":\"RU\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-11-20T15:25:45.331+0000\"\
        ,\"lastParsed\":\"2019-11-20T15:30:52.783+0000\",\"crawlId\":6,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"individua[...]
