interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/suggest?q=Aso&limit=3
  response:
    body: {string: '[{"key":1268023,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Braconidae","genus":"Apanteles","species":"Apanteles
        aso","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":6910,"genusKey":8411933,"speciesKey":1268023,"parent":"Apanteles","parentKey":8411933,"scientificName":"Apanteles
        aso Nixon, 1967","canonicalName":"Apanteles aso","rank":"SPECIES","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","1457":"Hymenoptera","6910":"Braconidae","8411933":"Apanteles"},"synonym":false,"class":"Insecta"},{"key":4499084,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Eulophidae","genus":"Chrysocharis","species":"Chrysocharis
        viridis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":5505,"genusKey":1382102,"speciesKey":1384781,"parent":"Chrysocharis","parentKey":1382102,"scientificName":"Chrysocharis
        aso Walker, 1839","canonicalName":"Chrysocharis aso","rank":"SPECIES","status":"HETEROTYPIC_SYNONYM","higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","1457":"Hymenoptera","5505":"Eulophidae","1382102":"Chrysocharis","1384781":"Chrysocharis
        viridis"},"synonym":true,"class":"Insecta"},{"key":1384797,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Eulophidae","genus":"Chrysocharis","species":"Chrysocharis
        viridis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":5505,"genusKey":1382102,"speciesKey":1384781,"parent":"Chrysocharis","parentKey":1382102,"scientificName":"Entedon
        aso Walker, 1839","canonicalName":"Entedon aso","rank":"SPECIES","status":"SYNONYM","higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","1457":"Hymenoptera","5505":"Eulophidae","1382102":"Chrysocharis","1384781":"Chrysocharis
        viridis"},"synonym":true,"class":"Insecta"}]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
