interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DE
  response:
    body:
      string: '{"GERMANY":46159043,"NETHERLANDS":3177769,"UNITED_STATES":2054794,"FRANCE":1853329,"UNITED_KINGDOM":1029846,"BELGIUM":499598,"UNKNOWN":253872,"SWITZERLAND":174433,"AUSTRIA":118127,"ESTONIA":117088,"SWEDEN":70428,"COLOMBIA":64490,"FINLAND":40346,"DENMARK":38689,"LUXEMBOURG":37201,"POLAND":28959,"NORWAY":24433,"SPAIN":20947,"AUSTRALIA":17396,"BRAZIL":10976,"CANADA":10560,"JAPAN":8970,"RUSSIAN_FEDERATION":7729,"CZECH_REPUBLIC":7386,"NEW_ZEALAND":6559,"SOUTH_AFRICA":5751,"CHINA":5419,"MEXICO":2280,"ARGENTINA":2047,"PORTUGAL":2025,"ITALY":2001,"ECUADOR":1839,"BULGARIA":1469,"PANAMA":1222,"UKRAINE":721,"ISRAEL":425,"COSTA_RICA":363,"TAIWAN":240,"NICARAGUA":232,"GREECE":117,"CHILE":83,"GHANA":73,"VENEZUELA":36,"PERU":31,"KOREA_SOUTH":24,"URUGUAY":12,"ARMENIA":8,"TAJIKISTAN":7,"MOROCCO":7,"NIGERIA":4,"GUATEMALA":3,"TRINIDAD_TOBAGO":2,"SLOVENIA":2,"ZIMBABWE":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
