interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/suggest?q=Puma+concolor&limit=100
  response:
    body: {string: "[{\"key\":2435099,\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\"\
        ,\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Puma\",\"species\"\
        :\"Puma concolor\",\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":359,\"orderKey\"\
        :732,\"familyKey\":9703,\"genusKey\":2435098,\"speciesKey\":2435099,\"parent\"\
        :\"Puma\",\"parentKey\":2435098,\"scientificName\":\"Puma concolor (Linnaeus,\
        \ 1771)\",\"canonicalName\":\"Puma concolor\",\"rank\":\"SPECIES\",\"status\"\
        :\"ACCEPTED\",\"higherClassificationMap\":{\"1\":\"Animalia\",\"44\":\"Chordata\"\
        ,\"359\":\"Mammalia\",\"732\":\"Carnivora\",\"9703\":\"Felidae\",\"2435098\"\
        :\"Puma\"},\"synonym\":false,\"class\":\"Mammalia\"},{\"key\":8860878,\"kingdom\"\
        :\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Carnivora\",\"family\":\"\
        Felidae\",\"genus\":\"Puma\",\"species\":\"Puma concolor\",\"kingdomKey\"\
        :1,\"phylumKey\":44,\"classKey\":359,\"orderKey\":732,\"familyKey\":9703,\"\
        genusKey\":2435098,\"speciesKey\":2435099,\"parent\":\"Puma concolor\",\"\
        parentKey\":2435099,\"scientificName\":\"Puma concolor capricornensis (Goldman,\
        \ 1946)\",\"canonicalName\":\"Puma concolor capricornensis\",\"rank\":\"SUBSPECIES\"\
        ,\"status\":\"SYNONYM\",\"higherClassificationMap\":{\"1\":\"Animalia\",\"\
        44\":\"Chordata\",\"359\":\"Mammalia\",\"732\":\"Carnivora\",\"9703\":\"Felidae\"\
        ,\"2435098\":\"Puma\",\"2435099\":\"Puma concolor\"},\"synonym\":true,\"class\"\
        :\"Mammalia\"},{\"key\":6164618,\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\"\
        ,\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Puma\",\"species\"\
        :\"Puma concolor\",\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":359,[...]
