interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species/search?limit=0&facet=status
  response:
    body: {string: '{"offset":0,"limit":0,"endOfRecords":false,"count":24790700,"results":[],"facets":[{"field":"STATUS","counts":[{"name":"ACCEPTED","count":15963360},{"name":"SYNONYM","count":6979359},{"name":"DOUBTFUL","count":1093524},{"name":"HOMOTYPIC_SYNONYM","count":371696},{"name":"HETEROTYPIC_SYNONYM","count":191551},{"name":"PROPARTE_SYNONYM","count":17060},{"name":"MISAPPLIED","count":14640}]}]}'}
    headers:
      Content-Type: [application/json]
      X-API-URL: ['/v1/species/search?limit=0&facet=status']
    status: {code: 200, message: OK}
version: 1
