interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=32S2L&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":1211,\"results\":[{\"key\":6178543307,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"datasetCategory\":[\"CitizenScience\"],\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T15:17:25.526+00:00\",\"lastParsed\":\"2026-08-14T02:33:43.674+00:00\",\"crawlId\":604,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/creator\":\"Khush
        KU2407U1081\",\"http://purl.org/dc/terms/references\":\"https://www.inaturalist.org/photos/623480257\",\"http://purl.org/dc/terms/rightsHolder\":\"Khush
        KU2407U1081\",\"http://purl.org/dc/terms/publisher\":\"iNaturalist\",\"http://purl.org/dc/terms/identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/623480257/original.jpg\",\"http://purl.org/dc/terms/created\":\"2026-03-11T10:35:30-07:00\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by-nc/4.0/\",\"http://rs.tdwg.org/dwc/terms/catalogNumber\":\"623480257\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"32S2L\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"acceptedUsage\":{\"key\":\"32S2L\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"P\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"CMQ8S\",\"name\":\"Pteridobiotina\",\"rank\":\"SUBKINGDOM\"},{\"key\":\"TP\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"CGVH9\",\"name\":\"Cycadopsida\",\"rank\":\"CLASS\"},{\"key\":\"CGVH8\",\"name\":\"Cycadales\",\"rank\":\"ORDER\"},{\"key\":\"CGVH7\",\"name\":\"Cycadaceae\",\"rank\":\"FAMILY\"},{\"key\":\"CGYBM\",\"name\":\"Cycas\",\"rank\":\"GENUS\"},{\"key\":\"32S2L\",\"name\":\"Cycas
        circinalis\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"EN\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"2683264\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"acceptedUsage\":{\"key\":\"2683264\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"6\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"7707728\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"228\",\"name\":\"Cycadopsida\",\"rank\":\"CLASS\"},{\"key\":\"834\",\"name\":\"Cycadales\",\"rank\":\"ORDER\"},{\"key\":\"6168\",\"name\":\"Cycadaceae\",\"rank\":\"FAMILY\"},{\"key\":\"2683206\",\"name\":\"Cycas\",\"rank\":\"GENUS\"},{\"key\":\"2683264\",\"name\":\"Cycas
        circinalis\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"EN\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]}},\"taxonKey\":2683264,\"kingdomKey\":6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"genusKey\":2683206,\"speciesKey\":2683264,\"acceptedTaxonKey\":2683264,\"scientificName\":\"Cycas
        circinalis L.\",\"scientificNameAuthorship\":\"L.\",\"acceptedScientificName\":\"Cycas
        circinalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Cycadales\",\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"Cycas
        circinalis\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"iucnRedListCategory\":\"EN\",\"dateIdentified\":\"2026-03-11T05:17:28\",\"decimalLatitude\":23.368948,\"decimalLongitude\":72.460831,\"coordinateUncertaintyInMeters\":30196.0,\"continent\":\"ASIA\",\"stateProvince\":\"Gujarat\",\"gadm\":{\"level0\":{\"gid\":\"IND\",\"name\":\"India\"},\"level1\":{\"gid\":\"IND.11_1\",\"name\":\"Gujarat\"},\"level2\":{\"gid\":\"IND.11.18_1\",\"name\":\"Mahesana\"},\"level3\":{\"gid\":\"IND.11.18.2_1\",\"name\":\"Kadi\"}},\"year\":2026,\"month\":3,\"day\":11,\"eventDate\":\"2026-03-11T10:35:30\",\"startDayOfYear\":70,\"endDayOfYear\":70,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_ID_NOT_FOUND\"],\"modified\":\"2026-03-12T10:47:19.000+00:00\",\"lastInterpreted\":\"2026-08-14T02:33:43.674+00:00\",\"references\":\"https://www.inaturalist.org/observations/342378832\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"342378832\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"references\":\"https://www.inaturalist.org/photos/623480257\",\"created\":\"2026-03-11T17:35:30.000+00:00\",\"creator\":\"Khush
        KU2407U1081\",\"publisher\":\"iNaturalist\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/\",\"rightsHolder\":\"Khush
        KU2407U1081\",\"identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/623480257/original.jpg\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"datasetName\":\"iNaturalist
        research-grade observations\",\"recordedBy\":\"Khush KU2407U1081\",\"identifiedBy\":\"Khush
        KU2407U1081\",\"dnaSequenceID\":[],\"nucleotideSequence\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Cycadopsida\",\"countryCode\":\"IN\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"ASIA\",\"country\":\"India\",\"publishedByGbifRegion\":\"NORTH_AMERICA\",\"rightsHolder\":\"Khush
        KU2407U1081\",\"identifier\":\"342378832\",\"http://unknown.org/nick\":\"khush60774\",\"informationWithheld\":\"Coordinate
        uncertainty increased to 30196m to protect threatened taxon\",\"verbatimEventDate\":\"2026-03-11
        10:35:30\",\"http://unknown.org/crawl_attempt\":\"604\",\"http://unknown.org/status\":\"not_reviewed\",\"verbatimLocality\":\"Gujarat,
        IN\",\"gbifID\":\"6178543307\",\"collectionCode\":\"Observations\",\"occurrenceID\":\"https://www.inaturalist.org/observations/342378832\",\"taxonID\":\"136153\",\"http://unknown.org/captive_cultivated\":\"wild\",\"catalogNumber\":\"342378832\",\"institutionCode\":\"iNaturalist\",\"eventTime\":\"10:35:30+05:30\",\"identificationID\":\"772457031\"},{\"key\":6178543767,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"datasetCategory\":[\"CitizenScience\"],\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T15:17:25.526+00:00\",\"lastParsed\":\"2026-08-14T02:42:23.579+00:00\",\"crawlId\":604,\"ex[...]
