interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/literature/search?limit=10&offset=0&facet=year
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":48132,\"results\":[{\"discovered\":\"2024-09-24\",\"authors\":[{\"firstName\":\"John\",\"lastName\":\"Waller\"}],\"countriesOfCoverage\":[],\"countriesOfResearcher\":[\"DK\"],\"added\":\"2024-09-24T13:25:01.323+00:00\",\"published\":\"2024-09-23T00:00:00.000+00:00\",\"day\":23,\"gbifDownloadKey\":[\"0235283-220831081235567\",\"0026791-240906103802322\"],\"gbifOccurrenceKey\":[],\"gbifTaxonKey\":[],\"gbifHigherTaxonKey\":[],\"gbifNetworkKey\":[\"99d66b6c-9087-452f-a9d4-f15f2c2d0e7e\",\"379a0de5-f377-4661-9a30-33dd844e7b9a\",\"17abcf75-2f1e-46dd-bf75-a5b21dd02655\",\"0b00b924-016b-4954-96a7-2d9264b5d0ba\",\"1f2c0cbe-40df-43f6-ba07-e76133e78c31\",\"2ee1bff7-0b34-4fa3-9433-feaa7c6ee08b\",\"d1627240-04ab-4162-aee9-b16df6bc8308\"],\"gbifProjectIdentifier\":[\"SBP-BioBlitz
        2017\",\"BID-CA2016-0006-REG\",\"IMBIO\",\"CESP2022-010\",\"meetnetten.be\",\"34873-1\"],\"gbifProgramme\":[\"CESP\"],\"citationType\":\"DOI\",\"gbifRegion\":[],\"id\":\"89c37dab-cce3-34ee-a03e-4d6d9940c68b\",\"identifiers\":{},\"keywords\":[],\"language\":\"eng\",\"literatureType\":\"JOURNAL\",\"month\":9,\"notes\":\"No
        specific funding information provided.\",\"openAccess\":false,\"peerReview\":false,\"publisher\":\"GBIF
        Secretariat\",\"relevance\":[\"GBIF_USED\"],\"tags\":[\"2024\",\"Biodiversity_science\",\"DK\",\"GBIF_used\",\"citation_scope:ok\",\"citation_type:DOI\",\"gbifDOI:10.15468/dl.29wbtx\",\"gbifDOI:10.15468/dl.jg2m96\",\"lit_source:user\",\"open_access:FALSE\",\"peer_review:FALSE\"],\"title\":\"(used
        for rgbif testing)\",\"topics\":[\"BIODIVERSITY_SCIENCE\"],\"modified\":\"2024-09-24T13:25:01.323+00:00\",\"websites\":[],\"year\":2024,\"abstract\":\"(no
        abstract available)\"},{\"discovered\":\"2024-07-21\",\"authors\":[{\"firstName\":\"Iyan\",\"lastName\":\"Robiansyah\"},{\"firstName\":\"Arief\",\"lastName\":\"Hamidi\"},{\"firstName\":\"Mokhamad\",\"lastName\":\"Nur
        Zaman\"},{\"firstName\":\"Imam\",\"lastName\":\"Syafii\"},{\"firstName\":\"Enggal\",\"lastName\":\"Primananda\"},{\"firstName\":\"Arida\",\"lastName\":\"Susilowati\"},{\"firstName\":\"Henti\",\"lastName\":\"Hendalastuti
        Rachmat\"},{\"firstName\":\"Afifatul\",\"lastName\":\"Achyar\"},{\"firstName\":\"Eka\",\"lastName\":\"Martha
        Della Rahayu\"}],\"countriesOfCoverage\":[\"ID\"],\"countriesOfResearcher\":[\"ID\"],\"added\":\"2024-09-24T07:55:18.032+00:00\",\"published\":\"2024-09-30T00:00:00.000+00:00\",\"day\":30,\"gbifDownloadKey\":[],\"gbifOccurrenceKey\":[],\"gbifTaxonKey\":[],\"gbifHigherTaxonKey\":[],\"gbifNetworkKey\":[],\"gbifProjectIdentifier\":[],\"gbifProgramme\":[],\"citationType\":\"generic\",\"gbifRegion\":[\"ASIA\"],\"id\":\"c020c262-a241-3d54-91aa-e9d233924c78\",\"identifiers\":{\"doi\":\"10.1016/j.jnc.2024.126688\"},\"keywords\":[\"Dipterocarpaceae\",\"Endemic
        plant\",\"IPA\",\"Lowland forest\",\"Red List of Ecosystem\"],\"language\":\"eng\",\"literatureType\":\"JOURNAL\",\"month\":9,\"notes\":\"No
        specific funding information provided.\",\"openAccess\":false,\"peerReview\":true,\"publisher\":\"Elsevier
        BV\",\"relevance\":[\"GBIF_USED\"],\"source\":\"Journal for Nature Conservation\",\"tags\":[\"2024\",\"Conservation\",\"GBIF_used\",\"ID\",\"ID_biodiversity\",\"SDG15\",\"citation_scope:na\",\"citation_type:generic\",\"lit_source:gs\",\"open_access:FALSE\",\"peer_review:TRUE\"],\"title\":\"Ecosystem
        red listing and identification of Mursala Island as the first important plant
        area in Indonesia\",\"topics\":[\"CONSERVATION\"],\"modified\":\"2024-09-24T07:55:18.032+00:00\",\"websites\":[\"https://doi.org/10.1016/j.jnc.2024.126[...]
