interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species?limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"results\":[{\"key\":0,\"nubKey\":0,\"nameKey\":130332213,\"taxonID\":\"gbif:0\",\"sourceTaxonKey\":0,\"kingdom\":\"incertae
        sedis\",\"kingdomKey\":0,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"constituentKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"scientificName\":\"incertae
        sedis\",\"canonicalName\":\"incertae sedis\",\"authorship\":\"\",\"nameType\":\"PLACEHOLDER\",\"rank\":\"KINGDOM\",\"origin\":\"SOURCE\",\"taxonomicStatus\":\"DOUBTFUL\",\"nomenclaturalStatus\":[],\"remarks\":\"\",\"numDescendants\":3613,\"lastCrawled\":\"2023-08-22T23:20:59.545+00:00\",\"lastInterpreted\":\"2023-08-22T23:19:21.731+00:00\",\"issues\":[]},{\"key\":1,\"nubKey\":1,\"nameKey\":130188353,\"taxonID\":\"gbif:1\",\"sourceTaxonKey\":1,\"kingdom\":\"Animalia\",\"kingdomKey\":1,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"constituentKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"scientificName\":\"Animalia\",\"canonicalName\":\"Animalia\",\"vernacularName\":\"Animals\",\"authorship\":\"\",\"nameType\":\"SCIENTIFIC\",\"rank\":\"KINGDOM\",\"origin\":\"SOURCE\",\"taxonomicStatus\":\"ACCEPTED\",\"nomenclaturalStatus\":[],\"remarks\":\"\",\"numDescendants\":2981931,\"lastCrawled\":\"2023-08-22T23:20:59.545+00:00\",\"lastInterpreted\":\"2023-08-22T22:11:51.237+00:00\",\"issues\":[]},{\"key\":2,\"nubKey\":2,\"nameKey\":130277256,\"taxonID\":\"gbif:2\",\"sourceTaxonKey\":170809364,\"kingdom\":\"Archaea\",\"kingdomKey\":2,\"datasetKey\":\"d7dddbf4-2cf0-4f39[...]
