interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?limit=1
  response:
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":118790,"results":[{"key":"f3e441df-2d69-474c-9edd-12c7fe7b0fde","installationKey":"286b6854-6383-4cc3-b696-f4295274d0a2","publishingOrganizationKey":"06fcbbf0-0562-11d8-b851-b8a03c50a862","doi":"10.15468/hbb2ng","external":false,"numConstituents":0,"type":"OCCURRENCE","title":"UWBM
        Malacology Collection","description":"<p>The malacology collection at the
        Burke Museum houses more than 35,000 specimen lots (&gt;150,000 individual
        specimens) of molluscs, representing bivalves (clams, mussels, and oysters),
        gastropods (snails and slugs), cephalopods (octopods, squids, and nautiluses),
        polyplacophorans (chitons), and scaphopods (tusk shells). The collection dates
        to the late 1800s, however, the majority of acquisitions stem from the past
        50 years, donated by researchers and shell collectors. The collection is broad
        in geographical and ecological  scope, but with an emphasis on the Pacific
        region and marine taxa. Currently, the collection is composed primarily of
        dry shells, with only a small, but increasing, number of fluid-preserved specimens.
        Specimens are available by loan for research purposes. Collection Stats: Holdings
        (35,433 lots); Types (105 lots); Families (371); Species (6,836); Continents/Oceans
        (11); Countries/Territories (185); Marine (88%), Freshwater (5%), Terrestrial
        (7%)</p>","language":"eng","citation":{"text":"Frey M (2025). UWBM Malacology
        Collection. University of Washington Burke Museum. Occurrence dataset https://doi.org/10.15468/hbb2ng
        accessed via GBIF.org on 2025-11-14.","citationProvidedBySource":false},"contactsCitation":[{"key":6326093,"abbreviatedName":"Frey
        M","firstName":"Melissa","lastName":"Frey","roles":["ORIGINATOR","METADATA_AUTHOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"hvalli","modifiedBy":"crawler.gbif.org","created":"2025-11-14T08:39:43.462+00:00","modified":"2025-11-14T08:41:28.190+00:00","contacts":[{"key":6326093,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Melissa","lastName":"Frey","position":["Collections
        Manager, Invertebrate Zoology"],"email":["freyma@uw.edu"],"phone":[],"homepage":["https://www.burkemuseum.org/collections-and-research/biology/malacology"],"organization":"Burke
        Museum of Natural History and Culture","address":["4303 Memorial Way NE"],"city":"Seattle","province":"WA","country":"US","postalCode":"98195","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-11-14T08:41:28.163+00:00","modified":"2025-11-14T08:41:28.163+00:00"},{"key":6326094,"type":"METADATA_AUTHOR","primary":true,"userId":[],"firstName":"Melissa","lastName":"Frey","position":["Collections
        Manager, Invertebrate Zoology"],"email":["freyma@uw.edu"],"phone":[],"homepage":["https://www.burkemuseum.org/collections-and-research/biology/malacology"],"organization":"Burke
        Museum of Natural History and Culture","address":["4303 Memorial Way NE"],"city":"Seattle","province":"WA","country":"US","postalCode":"98195","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-11-14T08:41:28.166+00:00","modified":"2025-11-14T08:41:28.166+00:00"},{"key":6326095,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Melissa","lastName":"Frey","position":["Collections
        Manager, Invertebrate Zoology"],"email":["freyma@uw.edu"],"phone":[],"homepage":["https://www.burkemuseum.org/collections-and-research/biology/malacology"],"organization":"Burke
        Museum of Natural History and Culture","address":["4303 Memorial Way NE"],"city":"Seattle","province":"WA","country":"US","postalCode":"98195","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2025-11-14T08:41:28.168+00:00","modified":"2025-11-14T08:41:28.168+00:00"}],"endpoints":[{"key":1161783,"type":"DWC_ARCHIVE","url":"https://www.burkemuseum.org/malacology/specify/static/depository/export_feed/uwbm-malacology-dwc.zip","createdBy":"hvalli","modifiedBy":"hvalli","created":"2025-11-14T08:40:14.967+00:00","modified":"2025-11-14T08:40:14.967+00:00","machineTags":[]}],"machineTags":[{"key":27938317,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"1","createdBy":"crawler.gbif.org","created":"2025-11-14T08:41:18.135+00:00"}],"tags":[],"identifiers":[],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[{"description":"Mollusca","coverages":[{"scientificName":"Mollusca","commonName":"Molluscs","rank":{"verbatim":"phylum","interpreted":"PHYLUM"}}]}],"geographicCoverages":[{"description":"Global","boundingBox":{"minLatitude":-90.0,"maxLatitude":90.0,"minLongitude":-180.0,"maxLongitude":180.0,"globalCoverage":true}}],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"dataLanguage":"eng","pubDate":"2025-11-13T00:00:00.000+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","dwca":{"coreType":"http://rs.tdwg.org/dwc/terms/Occurrence","extensions":[],"modified":"2025-11-14T08:41:28.121+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
