interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    body:
      string: '{"HUMAN_OBSERVATION":3129337649,"PRESERVED_SPECIMEN":270543758,"MATERIAL_SAMPLE":147286014,"OCCURRENCE":50282110,"MACHINE_OBSERVATION":38711382,"OBSERVATION":16762802,"FOSSIL_SPECIMEN":9829806,"MATERIAL_CITATION":8659611,"LIVING_SPECIMEN":3466300}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
