interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=Helianthus+annuus&rank=species&limit=10&hl=false&verbose=false
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":679,\"results\":[{\"key\":159508708,\"nameKey\":5052531,\"datasetKey\":\"39f36f10-559b-427f-8c86-2d28afff68ca\",\"nubKey\":9206251,\"parentKey\":196507114,\"parent\":\"Helianthus\",\"kingdom\":\"Plantae\",\"phylum\":\"Magnoliophyta\",\"order\":\"Asterales\",\"family\":\"Asteraceae\",\"genus\":\"Helianthus\",\"species\":\"Helianthus
        annuus\",\"kingdomKey\":196503502,\"phylumKey\":196504180,\"classKey\":196504213,\"orderKey\":196506721,\"familyKey\":196506771,\"genusKey\":196507114,\"speciesKey\":159508708,\"scientificName\":\"Helianthus
        annuus\",\"canonicalName\":\"Helianthus annuus\",\"authorship\":\"\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"numDescendants\":0,\"numOccurrences\":0,\"taxonID\":\"23017\",\"habitats\":[],\"nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\":[{\"description\":\"Arable
        land and market gardens (I1 level 2)\"},{\"description\":\"Coastal shingle
        (B2 level 2)\"},{\"description\":\"Constructed, industrial and other artificial
        habitats (J level 1)\"},{\"description\":\"I5\"},{\"description\":\"Inland
        cliffs, rock pavements and outcrops (H3 level 2)\"},{\"description\":\"Northern
        America\"},{\"description\":\"Regularly or recently cultivated agricultural,
        horticultural and domestic habitats (I level 1)\"},{\"description\":\"Southeastern
        U.S.A.\"},{\"description\":\"Southern America\"},{\"description\":\"Transport
        networks and other constructed hard-surfaced areas (J4 level 2)\"},{\"description\":\"Waste
        deposits (J6 level 2)\"},{\"description\":\"Woodland fringes and clearings
        and tall forb stands (E5 level 2)\"}],\"vernacularNames\":[{\"vernacularName\":\"Aycicegi\",\"language\":\"tur\"},{\"vernacularName\":\"Einjaehrige
        Sonnenblume\",\"language\":\"deu\"},{\"vernacularName\":\"Gew\xF6hnliche Sonnenblume\",\"language\":\"deu\"},{\"vernacularName\":\"Girasole
        comune\",\"language\":\"ita\"},{\"vernacularName\":\"Hamanit metzuya\",\"language\":\"heb\"},{\"vernacularName\":\"Sunflower\",\"language\":\"eng\"},{\"vernacularName\":\"Tournesol\",\"language\":\"fra\"},{\"vernacularName\":\"girassol\",\"language\":\"spa\"},{\"vernacularName\":\"girassol\",\"language\":\"por\"},{\"vernacularName\":\"ilios\",\"language\":\"ell\"},{\"vernacularName\":\"k\xF6z\xF6ns\xE9ges
        napraforg\xF3\",\"language\":\"hun\"},{\"vernacularName\":\"slune\",\"language\":\"ces\"},{\"vernacularName\":\"\u05D7\u05DE\u05E0\u05D9\u05EA
        \u05DE\u05E6\u05D5\u05D9\u05D4\",\"language\":\"heb\"}],\"synonym\":false,\"higherClassificationMap\":{\"196503502\":\"Plantae\",\"196504180\":\"Magnoliophyta\",\"196504213\":\"Rosopsida\",\"196506721\":\"Asterales\",\"196506771\":\"Asteraceae\",\"196507114\":\"Helianthus\"},\"class\":\"Rosopsida\"},{\"key\":147346362,\"nameKey\":18895472,\"datasetKey\":\"4a7894dc-d85b-44cc-b666-ab21e2d1a38a\",\"parentKey\":147346349,\"parent\":\"Asteraceae\",\"family\":\"Asteraceae\",\"species\":\"Helianthus
        spec.\",\"familyKey\":147346349,\"speciesKey\":147346362,\"scientificName\":\"Helianthus
        annuusL.\",\"canonicalName\":\"Helianthus spec.\",\"authorship\":\"\",\"nameType\":\"INFORMAL\",\"taxonomicStatus\":\"ACCEPTED\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"numDesc[...]
