interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?limit=0&facet=status&hl=false&verbose=false
  response:
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":39673080,"results":[],"facets":[{"field":"STATUS","counts":[{"name":"ACCEPTED","count":25164984},{"name":"SYNONYM","count":12712407},{"name":"DOUBTFUL","count":909418},{"name":"HOMOTYPIC_SYNONYM","count":458488},{"name":"HETEROTYPIC_SYNONYM","count":360708},{"name":"MISAPPLIED","count":40369},{"name":"PROPARTE_SYNONYM","count":19695}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
