interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=5
  response:
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":653,"results":[{"key":"dbc06549-1795-4167-a247-9dcf90228ae7","organizationKey":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","type":"IPT_INSTALLATION","title":"FinBIF
        IPT","description":"The Finnish Biodiversity Information Facility (FinBIF)
        is an open access data repository for researchers, government and the public.
        FinBIF consolidates many collections and datasets of living Finland in a single
        source. Our online portal, laji.fi, allows you to browse, search and download
        information about all forms of biological life, and to record and share your
        own observations. FinBIF is committed to the sharing and promotion of open
        access data.","createdBy":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","modifiedBy":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","created":"2024-02-27T12:54:21.005+00:00","modified":"2024-02-27T12:54:21.005+00:00","disabled":false,"contacts":[{"key":5168045,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"FinBIF","position":[],"email":["helpdesk@laji.fi"],"phone":[],"homepage":[],"address":[],"createdBy":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","modifiedBy":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","created":"2024-02-27T12:54:21.070+00:00","modified":"2024-02-27T12:54:21.070+00:00"}],"endpoints":[{"key":970640,"type":"FEED","url":"https://ipt.laji.fi/rss.do","createdBy":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","modifiedBy":"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1","created":"2024-02-27T12:54:21.087+00:00","modified":"2024-02-27T12:54:21.087+00:00","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"3bd087fc-7add-4574-93a9-9208d624fba7","organizationKey":"f9b67ad0-9c9b-11d9-b9db-b8a03c50a862","type":"IPT_INSTALLATION","title":"ANSP
        IPT Installation","description":"This is the first IPT installation for the
        Academy of Natural Sciences","createdBy":"f9b67ad0-9c9b-11d9-b9db-b8a03c50a862","modifiedBy":"f9b67ad0-9c9b-11d9-b9db-b8a03c50a862","created":"2024-02-01T16:18:10.484+00:00","modified":"2024-02-01T16:18:10.484+00:00","disabled":false,"contacts":[{"key":5144745,[...]
