interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?limit=0&facet=status&hl=false&verbose=false
  response:
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":41779927,"results":[],"facets":[{"field":"STATUS","counts":[{"name":"ACCEPTED","count":26710022},{"name":"SYNONYM","count":13256060},{"name":"DOUBTFUL","count":922181},{"name":"HOMOTYPIC_SYNONYM","count":461822},{"name":"HETEROTYPIC_SYNONYM","count":363370},{"name":"MISAPPLIED","count":39746},{"name":"PROPARTE_SYNONYM","count":19715}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
