interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/suggest?q=Aso&limit=3
  response:
    body:
      string: '[{"key":4672011,"nameKey":1047036,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Diapriidae","genus":"Asolenopsia","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":2790,"genusKey":4672011,"parent":"Diapriidae","parentKey":2790,"nubKey":4672011,"scientificName":"Asolenopsia
        Kieffer, 1921","canonicalName":"Asolenopsia","rank":"GENUS","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","1457":"Hymenoptera","2790":"Diapriidae"},"synonym":false,"class":"Insecta"},{"key":4746664,"nameKey":1047043,"kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Histeridae","genus":"Asolenus","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":4733,"genusKey":4746664,"parent":"Histeridae","parentKey":4733,"nubKey":4746664,"scientificName":"Asolenus
        Lewis, 1906","canonicalName":"Asolenus","rank":"GENUS","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","1470":"Coleoptera","4733":"Histeridae"},"synonym":false,"class":"Insecta"},{"key":4586911,"nameKey":1046867,"kingdom":"Animalia","phylum":"Mollusca","order":"Pectinida","family":"Hunanopectinidae","genus":"Asoella","kingdomKey":1,"phylumKey":52,"classKey":137,"orderKey":9250425,"familyKey":4586899,"genusKey":4586911,"parent":"Hunanopectinidae","parentKey":4586899,"nubKey":4586911,"scientificName":"Asoella
        Tokuyama, 1959","canonicalName":"Asoella","rank":"GENUS","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","52":"Mollusca","137":"Bivalvia","9250425":"Pectinida","4586899":"Hunanopectinidae"},"synonym":false,"class":"Bivalvia"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
