interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v2/species/match?class=Insecta&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b
  response:
    body:
      string: '{"usage":{"key":"H6","name":"Insecta","canonicalName":"Insecta","rank":"CLASS","status":"ACCEPTED","type":"SCIENTIFIC","formattedName":"<i>Insecta</i>"},"classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"RT","name":"Arthropoda","rank":"PHYLUM"},{"key":"L2655","name":"Hexapoda","rank":"SUBPHYLUM"},{"key":"H6","name":"Insecta","rank":"CLASS"}],"diagnostics":{"matchType":"EXACT","confidence":100,"timeTaken":34,"timings":{"nameNRank":0,"sciNameMatch":34,"nameParse":0,"luceneMatch":34}},"synonym":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
