interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/1986620884/fragment
  response:
    body:
      string: '{"basisOfRecord":"HumanObservation","captive":"wild","catalogNumber":"19535428","class":"Mammalia","collectionCode":"Observations","coordinateUncertaintyInMeters":"19","countryCode":"UA","datasetName":"iNaturalist
        research-grade observations","dateIdentified":"2019-01-09T18:12:11Z","decimalLatitude":"48.7551693647","decimalLongitude":"25.1021547229","eventDate":"2019-01-09T18:06:54+02:00","eventTime":"18:06:54+02:00","extensions":{"gbif:Multimedia":[{"catalogNumber":"30065447","created":"2019-01-09T16:06:54Z","creator":"John
        Waller","format":"image/jpeg","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/30065447/original.jpg","license":"http://creativecommons.org/licenses/by-nc/4.0/","publisher":"iNaturalist","references":"https://www.inaturalist.org/photos/30065447","rightsHolder":"John
        Waller","type":"StillImage"}]},"family":"Echimyidae","genus":"Myocastor","geodeticDatum":"EPSG:4326","id":"19535428","identificationID":"42848020","identifiedBy":"John
        Waller","institutionCode":"iNaturalist","kingdom":"Animalia","license":"http://creativecommons.org/publicdomain/zero/1.0/","lifeStage":"adult","modified":"2023-02-10T01:24:27Z","nick":"pigeonspotters1888","occurrenceID":"https://www.inaturalist.org/observations/19535428","order":"Rodentia","phylum":"Chordata","recordedBy":"John
        Waller","references":"https://www.inaturalist.org/observations/19535428","rightsHolder":"John
        Waller","scientificName":"Myocastor coypus","stateProvince":"Ivano-Frankivs''k","taxonID":"43997","taxonRank":"species","verbatimEventDate":"Wed
        Jan 09 2019 20:06:54 GMT+0200 (GMT+2)","verbatimLocality":"Khotymyr, Khotymyr,
        Ivano-Frankivsk Oblast, UA"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
