interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?identifiedByID=https%3A%2F%2Forcid.org%2F0000-0003-1691-239X&limit=3&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":3,\"endOfRecords\":false,\"count\":2237,\"results\":[{\"key\":5215706000,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2025-11-10T09:23:30.156+00:00\",\"lastParsed\":\"2025-11-10T22:00:35.291+00:00\",\"crawlId\":567,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://rs.tdwg.org/dwc/terms/catalogNumber\":\"526542398\",\"http://purl.org/dc/terms/publisher\":\"iNaturalist\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by/4.0/\",\"http://purl.org/dc/terms/rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/references\":\"https://www.inaturalist.org/photos/526542398\",\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/526542398/original.jpg\",\"http://purl.org/dc/terms/creator\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/created\":\"2025-05-30T08:43:04-07:00\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"6XCXT\",\"name\":\"Salmo
        salar Linnaeus, 1758\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Linnaeus,
        1758\",\"genericName\":\"Salmo\",\"specificEpithet\":\"salar\",\"formattedName\":\"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758\"},\"acceptedUsage\":{\"key\":\"6XCXT\",\"name\":\"Salmo
        salar Linnaeus, 1758\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Linnaeus,
        1758\",\"genericName\":\"Salmo\",\"specificEpithet\":\"salar\",\"formattedName\":\"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"N\",\"name\":\"Animalia\",\"rank\":\"KINGDOM\"},{\"key\":\"CH2\",\"name\":\"Chordata\",\"rank\":\"PHYLUM\"},{\"key\":\"8V4V3\",\"name\":\"Vertebrata\",\"rank\":\"SUBPHYLUM\"},{\"key\":\"8V4V5\",\"name\":\"Gnathostomata\",\"rank\":\"INFRAPHYLUM\"},{\"key\":\"8VVWB\",\"name\":\"Osteichthyes\",\"rank\":\"PARVPHYLUM\"},{\"key\":\"8VR36\",\"name\":\"Actinopterygii\",\"rank\":\"GIGACLASS\"},{\"key\":\"KTWM8\",\"name\":\"Actinopteri\",\"rank\":\"SUPERCLASS\"},{\"key\":\"8V4VD\",\"name\":\"Teleostei\",\"rank\":\"CLASS\"},{\"key\":\"3ZR\",\"name\":\"Salmoniformes\",\"rank\":\"ORDER\"},{\"key\":\"KVRVN\",\"name\":\"Salmonidae\",\"rank\":\"FAMILY\"},{\"key\":\"KVRVP\",\"name\":\"Salmoninae\",\"rank\":\"SUBFAMILY\"},{\"key\":\"KVRR8\",\"name\":\"Salmo\",\"rank\":\"GENUS\"},{\"key\":\"6XCXT\",\"name\":\"Salmo
        salar\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"NT\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"7595433\",\"name\":\"Salmo
        salar Linnaeus, 1758\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Linnaeus,
        1758\",\"genericName\":\"Salmo\",\"specificEpithet\":\"salar\",\"formattedName\":\"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758\"},\"acceptedUsage\":{\"key\":\"7595433\",\"name\":\"Salmo
        salar Linnaeus, 1758\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Linnaeus,
        1758\",\"genericName\":\"Salmo\",\"specificEpithet\":\"salar\",\"formattedName\":\"<i>Salmo</i>
        <i>salar</i> Linnaeus, 1758\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"1\",\"name\":\"Animalia\",\"rank\":\"KINGDOM\"},{\"key\":\"44\",\"name\":\"Chordata\",\"rank\":\"PHYLUM\"},{\"key\":\"1313\",\"name\":\"Salmoniformes\",\"rank\":\"ORDER\"},{\"key\":\"8615\",\"name\":\"Salmonidae\",\"rank\":\"FAMILY\"},{\"key\":\"2347608\",\"name\":\"Salmo\",\"rank\":\"GENUS\"},{\"key\":\"7595433\",\"name\":\"Salmo
        salar\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"NT\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]}},\"taxonKey\":7595433,\"kingdomKey\":1,\"phylumKey\":44,\"orderKey\":1313,\"familyKey\":8615,\"genusKey\":2347608,\"speciesKey\":7595433,\"acceptedTaxonKey\":7595433,\"scientificName\":\"Salmo
        salar Linnaeus, 1758\",\"scientificNameAuthorship\":\"Linnaeus, 1758\",\"acceptedScientificName\":\"Salmo
        salar Linnaeus, 1758\",\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Salmoniformes\",\"family\":\"Salmonidae\",\"genus\":\"Salmo\",\"species\":\"Salmo
        salar\",\"genericName\":\"Salmo\",\"specificEpithet\":\"salar\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"iucnRedListCategory\":\"NT\",\"dateIdentified\":\"2025-06-25T10:52:49\",\"decimalLatitude\":55.939535,\"decimalLongitude\":8.630534,\"coordinateUncertaintyInMeters\":403.0,\"continent\":\"EUROPE\",\"stateProvince\":\"Midtjylland\",\"gadm\":{\"level0\":{\"gid\":\"DNK\",\"name\":\"Denmark\"},\"level1\":{\"gid\":\"DNK.2_1\",\"name\":\"Midtjylland\"},\"level2\":{\"gid\":\"DNK.2.12_1\",\"name\":\"Ringk\xF8bing-Skjern\"}},\"year\":2025,\"month\":5,\"day\":30,\"eventDate\":\"2025-05-30T08:43:04\",\"startDayOfYear\":150,\"endDayOfYear\":150,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_ID_NOT_FOUND\"],\"modified\":\"2025-06-26T09:08:24.000+00:00\",\"lastInterpreted\":\"2025-11-10T22:00:35.291+00:00\",\"references\":\"https://www.inaturalist.org/observations/292583963\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"292583963\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"references\":\"https://www.inaturalist.org/photos/526542398\",\"created\":\"2025-05-30T15:43:04.000+00:00\",\"creator\":\"Thomas
        Stjernegaard Jeppesen\",\"publisher\":\"iNaturalist\",\"license\":\"http://creativecommons.org/licenses/by/4.0/\",\"rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/526542398/original.jpg\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"datasetName\":\"iNaturalist
        research-grade observations\",\"recordedBy\":\"Thomas Stjernegaard Jeppesen\",\"identifiedBy\":\"Thomas
        Stjernegaard Jeppesen\",\"dnaSequenceID\":[],\"geodeticDatum\":\"WGS84\",\"countryCode\":\"DK\",\"recordedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-1691-239X\"}],\"identifiedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-1691-239X\"}],\"gbifRegion\":\"EUROPE\",\"country\":\"Denmark\",\"publishedByGbifRegion\":\"NORTH_AMERICA\",\"rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"identifier\":\"292583963\",\"http://unknown.org/nick\":\"thomasstjernegaardjeppesen\",\"verbatimEventDate\":\"2025-05-30
        08:43:04\",\"collectionCode\":\"Observations\",\"gbifID\":\"5215706000\",\"verbatimLocality\":\"6900
        Skjern, Danmark\",\"occurrenceID\":\"https://www.inaturalist.org/observations/292583963\",\"taxonID\":\"48648\",\"http://unknown.org/captive_cultivated\":\"wild\",\"catalogNumber\":\"292583963\",\"institutionCode\":\"iNaturalist\",\"eventTime\":\"08:43:04+02:00\",\"identificationID\":\"654528165\"},{\"key\":5216446028,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2025-11-10T09:23:30.156+00:00\",\"lastParsed\":\"2025-11-10T23:43:43.500+00:00\",\"crawlId\":567,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://rs.tdwg.org/dwc/terms/catalogNumber\":\"526541517\",\"http://purl.org/dc/terms/publisher\":\"iNaturalist\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by/4.0/\",\"http://purl.org/dc/terms/rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/references\":\"https://www.inaturalist.org/photos/526541517\",\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/526541517/original.jpg\",\"http://purl.org/dc/terms/creator\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/created\":\"2025-06-07T14:06:48-07:00\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"lifeStage\":\"Adult\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"92ZF5\",\"name\":\"Deilephila
        elpenor Linnaeus, 1758\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Linnaeus,
        1758\",\"genericName\":\"Deilephila\",\"specificEpithet\":\"elpenor\",\"formattedName\":\"<i>Deilephila</i>
        <i>elpenor</i> Linnaeus, 1758\"},\"acceptedUsage\":{\"key\":\"92ZF5\",\"name\":\"Deilephila
        elpenor Linnaeus, 1758\",\"rank\":\"SPECIES[...]
