interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?type=OCCURRENCE&limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":49695,\"results\":[{\"key\":\"b02d28a4-a874-49f3-935b-f33d0d8b5d1a\",\"installationKey\":\"f66ca88d-1f6a-49dc-b33b-32960faee57e\",\"publishingOrganizationKey\":\"e0995d82-8b06-4d1d-b6bb-247489fa92c6\",\"doi\":\"10.15468/72kqnf\",\"external\":false,\"numConstituents\":0,\"type\":\"OCCURRENCE\",\"subtype\":\"OBSERVATION\",\"title\":\"Fauna
        of a small temporary quary pond from Pune University Campus, Pune, Maharashtra,
        India\",\"description\":\"A multi-taxa biodiversity inventory of a temporary
        pond situated within the campus of the Savitribai Phule Pune University, Pune,
        focusing mainly on the aquatic and associated invertebrate taxa, although
        regularly visiting birds are also documented.\",\"language\":\"eng\",\"citation\":{\"text\":\"Kulkarni
        M, Padhye S, Vanjare A I, Jakhalekar S, Shinde Y S, Paripatyadar\_ S, Sheth
        S, Kulkarni S, Phuge S, Bhakare K, Kulkarni A, Pai\_ K, Ghate H (2024). Fauna
        of a small temporary quary pond from Pune University Campus, Pune, Maharashtra,
        India. Progressive Education Society\u2019s Modern College of Arts, Science
        and Commerce, Shivajinagar, Pune -5. Occurrence dataset https://doi.org/10.15468/72kqnf
        accessed via GBIF.org on 2024-10-04.\",\"citationProvidedBySource\":false},\"contactsCitation\":[{\"key\":5488065,\"abbreviatedName\":\"Kulkarni
        M\",\"firstName\":\"Mihir\",\"lastName\":\"Kulkarni\",\"roles\":[\"ORIGINATOR\"],\"userId\":[\"https://orcid.org/0000-0003-4379-7868\"]},{\"key\":5488066,\"abbreviatedName\":\"Padhye
        S\",\"firstName\":\"Sameer\",\"lastName\":\"Padhye\",\"roles\":[\"ORIGINATOR\"],\"userId\":[\"https://orcid.org/0000-0002-2125-3213\"]},{\"key\":5488067,\"abbreviatedName\":\"Vanjare
        A I\",\"firstName\":\"Avinash Isaac\",\"lastName\":\"Vanjare\",\"roles\":[\"ORIGINATOR\"],\"userId\":[\"https://orcid.org/0000-0003-1936-9652\"]},{\"key\":5488068,\"abbreviatedName\":\"Jakhalekar
        S\",\"[...]
