interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=100
  response:
    body: {string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":552,\"\
        results\":[{\"key\":\"6fdcfa44-e2fb-44e3-876d-7cf0e1f8bc9d\",\"organizationKey\"\
        :\"96710dc8-fecb-440d-ae3e-c34ae8a9616f\",\"type\":\"SYMBIOTA_INSTALLATION\"\
        ,\"title\":\"InvertEBase Data Portal\",\"createdBy\":\"symb-invertebase\"\
        ,\"modifiedBy\":\"symb-invertebase\",\"created\":\"2019-11-14T15:46:29.674+0000\"\
        ,\"modified\":\"2019-11-14T15:46:29.674+0000\",\"disabled\":false,\"contacts\"\
        :[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"\
        comments\":[]},{\"key\":\"1de87984-ce7c-407c-988c-a28014ae53ad\",\"organizationKey\"\
        :\"96710dc8-fecb-440d-ae3e-c34ae8a9616f\",\"type\":\"SYMBIOTA_INSTALLATION\"\
        ,\"title\":\"NEON Biorepository Data Portal\",\"createdBy\":\"symb_neon\"\
        ,\"modifiedBy\":\"symb_neon\",\"created\":\"2019-10-30T13:37:54.253+0000\"\
        ,\"modified\":\"2019-10-30T13:37:54.253+0000\",\"disabled\":false,\"contacts\"\
        :[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"\
        comments\":[]},{\"key\":\"a31977f6-a20a-4c76-81a7-cbd88fd03d27\",\"organizationKey\"\
        :\"0c163d39-b67e-4bd9-a2f4-6344b67247f9\",\"type\":\"IPT_INSTALLATION\",\"\
        title\":\"KwaZulu-Natal Museum IPT\",\"description\":\"IPT for KwaZulu-Natal\
        \ Museum to publish records to GBIF\",\"createdBy\":\"0c163d39-b67e-4bd9-a2f4-6344b67247f9\"\
        ,\"modifiedBy\":\"0c163d39-b67e-4bd9-a2f4-6344b67247f9\",\"created\":\"2019-10-28T17:23:18.255+0000\"\
        ,\"modified\":\"2019-10-28T17:23:18.255+0000\",\"disabled\":false,\"contacts\"\
        :[{\"key\":1871851,\"type\":\"TECHNICAL_POINT_OF_CONTACT\",\"primary\":true,\"\
        userId\":[],\"firstName\":\"John Midgley\",\"position\":[],\"email\":[\"jmidgley@nmsa.org.za\"\
        ],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"0c163d39-b67e-4bd9-a2f4-6344b67247f9\"\
        ,\"modifiedBy\":\"0c163d39-b67e-4bd9-a2f4-6344b67247f9\",\"created\":\"2019-10-28T17:23:18.307+0000\"\
        ,\"modified\":\"2019-10-28T17:23:18.307+0000\"}],\"endpoints\":[{\"key\":441700,\"\
        type\":\"FEED\",\"url\":\"https://ipt.kznm.saiab.ac.za/rss.do\",\"createdBy\"\
        :\"0c163d39-b67e-4bd9-a2f4-6344b67247f9\",\"modifiedBy\":\"0c163d39-b67e-4bd9-a2f4-6344b67247f9\"\
        ,\"created\":\"2019-10-28T17:23:18.378+0000\",\"modified\":\"2019-10-28T17:23:18.378+0000\"\
        ,\"machineTags\":[]}],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"\
        comments\":[]},{\"key\":\"9c531ac2-579d-44a6-a5a0-73a4740f5df0\",\"organizationKey\"\
        :\"b835f634-e4ed-4d54-bbcf-e0e6344a8c88\",\"type\":\"IPT_INSTALLATION\",\"\
        title\":\"V. N. Karazin Kharkiv National University IPT\",\"description\"\
        :\"V. N. Karazin Kharkiv National University IPT, Kharkiv, Ukraine\",\"createdBy\"\
        :\"b835f634-e4ed-4d54-bbcf-e0e6344a8c88\",\"modifiedBy\":\"9c531ac2-579d-44a6-a5a0-73a4740f5df0\"\
        ,\"created\":\"2019-10-17T10:31:29.559+0000\",\"modified\":\"2019-10-17T11:56:08.482+0000\"\
        ,\"disabled\":false,\"contacts\":[{\"key\":1843126,\"type\":\"TECHNICAL_POINT_OF_CONTACT\"\
        ,\"primary\":true,\"userId\":[],\"firstName\":\"Oleh Prylutskyi\",\"position\"\
        :[],\"email\":[\"oleh.prylutskyi@gmail.com\"],\"phone\":[],\"homepage\":[],\"\
        address\":[],\"createdBy\":\"b835f634-e4ed-4d54-bbcf-e0e6344a8c88\",\"modifiedBy\"\
        :\"9c531ac2-579d-44a6-a5a0-73a4740f5df0\",\"created\":\"2019-10-17T10:31:29.600+0000\"\
        ,\"modified\":\"2019-10-17T11:56:08.535+0000\"}],\"endpoints\":[{\"key\":439754,\"\
        type\":\"FEED\",\"url\":\"https://gbif.univer.kharkov.ua/rss.do\",\"create[...]
