interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/literature/search?year=2010%2C2024&limit=10&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":55884,\"results\":[{\"discovered\":\"2025-01-14\",\"authors\":[{\"firstName\":\"Valentina\",\"lastName\":\"Filippini\"},{\"firstName\":\"Estefan\xEDa\",\"lastName\":\"Mic\xF3\"},{\"firstName\":\"Eduardo\",\"lastName\":\"Galante\"}],\"countriesOfCoverage\":[\"CR\"],\"countriesOfResearcher\":[\"ES\"],\"publishingCountry\":[],\"added\":\"2025-11-12T10:30:52.676+00:00\",\"published\":\"2016-10-03T00:00:00.000+00:00\",\"day\":3,\"gbifDownloadKey\":[],\"gbifOccurrenceKey\":[],\"gbifTaxonKey\":[],\"gbifHigherTaxonKey\":[],\"gbifNetworkKey\":[],\"gbifProjectIdentifier\":[],\"gbifProgramme\":[],\"citationType\":\"generic\",\"gbifRegion\":[\"LATIN_AMERICA\"],\"id\":\"f4d2f5e8-baac-3f91-a87d-6356695396ad\",\"identifiers\":{\"doi\":\"10.3897/zookeys.621.7565\"},\"keywords\":[\"Anomala\",\"Anomalorhina\",\"Callistethus\",\"Identification
        key\",\"Moroniella\",\"Strigoderma\",\"aedeagus\",\"endophallus\",\"new species\"],\"language\":\"eng\",\"literatureType\":\"JOURNAL\",\"month\":10,\"notes\":\"10.13039/501100004892;10.13039/501100020636\",\"openAccess\":true,\"peerReview\":true,\"publisher\":\"Pensoft
        Publishers\",\"relevance\":[\"GBIF_MENTIONED\"],\"source\":\"ZooKeys\",\"tags\":[\"2016\",\"Biodiversity_science\",\"CR_biodiversity\",\"ES\",\"GBIF_mentioned\",\"SDG15\",\"citation_scope:na\",\"citation_type:generic\",\"lit_source:publisher\",\"open_access:TRUE\",\"peer_review:TRUE\"],\"title\":\"Checklist
        and identification key of Anomalini (Coleoptera, Scarabaeidae, Rutelinae)
        of Costa Rica\",\"topics\":[\"BIODIVERSITY_SCIENCE\"],\"modified\":\"2025-11-12T10:30:52.676+00:00\",\"websites\":[\"https://doi.org/10.3897/zookeys.621.7565\"],\"year\":2016,\"abstract\":\"A
        checklist and identification key for the species of the tribe Anomalini in
        Costa Rica are presented. The Anomalini species are important economically,
        as they have larvae that are or can become agricultural pests, as well as
        ecologically, having potential as bioindicators. In spite of their importance
        and richness, identification tools for the group in the Neotropics remain
        scarce. The Costa Rican fauna comprises six genera (Anomala, Anom[...]
