interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species?limit=10
  response:
    body: {string: '{"offset":0,"limit":10,"endOfRecords":false,"results":[{"key":0,"nubKey":0,"nameKey":30662713,"taxonID":"gbif:0","sourceTaxonKey":0,"kingdom":"incertae
        sedis","kingdomKey":0,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"incertae
        sedis","canonicalName":"incertae sedis","authorship":"","nameType":"PLACEHOLDER","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"DOUBTFUL","nomenclaturalStatus":[],"remarks":"","numDescendants":9403,"lastCrawled":"2019-09-06T05:41:48.812+0000","lastInterpreted":"2019-09-06T05:40:32.606+0000","issues":[],"synonym":false},{"key":1,"nubKey":1,"nameKey":29870428,"taxonID":"gbif:1","sourceTaxonKey":156096681,"kingdom":"Animalia","kingdomKey":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"Animalia","canonicalName":"Animalia","authorship":"","nameType":"SCIENTIFIC","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2781785,"lastCrawled":"2019-09-06T05:41:48.812+000[...]
