interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DE
  response:
    body:
      string: "{\"GERMANY\":48727786,\"SPAIN\":403995,\"SAUDI_ARABIA\":396732,\"ITALY\":355773,\"GREECE\":343073,\"AUSTRIA\":299325,\"BELGIUM\":282482,\"FRANCE\":229935,\"UNITED_STATES\":220434,\"AUSTRALIA\":189572,\"PORTUGAL\":158908,\"NETHERLANDS\":135433,\"ANTARCTICA\":129914,\"PERU\":117220,\"BRAZIL\":112465,\"SOUTH_AFRICA\":105850,\"POLAND\":104729,\"RUSSIAN_FEDERATION\":104548,\"JAPAN\":99596,\"NORWAY\":96110,\"SWITZERLAND\":92187,\"NAMIBIA\":89857,\"SWEDEN\":80410,\"EL_SALVADOR\":77257,\"TURKEY\":71926,\"DENMARK\":71687,\"TANZANIA\":66280,\"UNKNOWN\":66117,\"UNITED_KINGDOM\":63211,\"COSTA_RICA\":62578,\"CHINA\":59158,\"SVALBARD_JAN_MAYEN\":58230,\"NEW_ZEALAND\":58080,\"ECUADOR\":57087,\"INDONESIA\":55820,\"BURKINA_FASO\":55802,\"TAIWAN\":54750,\"MEXICO\":54193,\"INDIA\":48715,\"CHILE\":48258,\"GREENLAND\":47746,\"CZECH_REPUBLIC\":45570,\"OMAN\":45374,\"COLOMBIA\":45240,\"IRELAND\":44157,\"MOROCCO\":43826,\"PHILIPPINES\":42827,\"BAHAMAS\":42110,\"VENEZUELA\":38763,\"YEMEN\":38364,\"CANADA\":38091,\"ROMANIA\":37871,\"CROATIA\":37757,\"VIETNAM\":36999,\"MARSHALL_ISLANDS\":35321,\"HEARD_MCDONALD_ISLANDS\":34689,\"HUNGARY\":32512,\"MADAGASCAR\":32494,\"KENYA\":31586,\"CUBA\":31004,\"VANUATU\":30931,\"BOLIVIA\":28444,\"ICELAND\":28061,\"WESTERN_SAHARA\":27717,\"CAMEROON\":27615,\"PAPUA_NEW_GUINEA\":27445,\"GUATEMALA\":25452,\"GEORGIA\":25086,\"IRAN\":24812,\"BULGARIA\":23782,\"MALDIVES\":23643,\"EGYPT\":22898,\"ARGENTINA\":22771,\"ETHIOPIA\":22537,\"THAILAND\":21422,\"GHANA\":21297,\"MALAYSIA\":21003,\"CYPRUS\":20630,\"SEYCHELLES\":19511,\"ISRAEL\":18672,\"SRI_LANKA\":18381,\"SENEGAL\":18210,\"MARTINIQUE\":18125,\"CAPE_VERDE\":17167,\"ANGOLA\":16204,\"PANAMA\":15565,\"SLOVENIA\":14594,\"NEW_CALEDONIA\":13702,\"GUYANA\":13133,\"SLOVAKIA\":12870,\"MICRONESIA\":12446,\"FINLAND\":12216,\"BENIN\":11728,\"UKRAINE\":11466,\"UGANDA\":10978,\"TUNISIA\":10679,\"CONGO_DEMOCRATIC_REPUBLIC\":10614,\"SUDAN\":10553,\"GAMBIA\":10318,\"ARMENIA\":10150,\"CONGO\":9956,\"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA\":9635,\"FRENCH_SOUTHERN_TERRITORIES\":9418,\"NEPAL\":9380,\"MALAWI\":8981,\"SURINAME\":8795,\"DOMINICAN_REPUBLIC\":8725,\"ESTONIA\":8660,\"NIGERIA\":8459,\"NORTHERN_MARIANA_ISLANDS\":8457,\"ALGERIA\":8263,\"MALI\":8174,\"SERBIA\":8008,\"SYRIA\":7767,\"BOTSWANA\":7511,\"LUXEMBOURG\":7359,\"MONGOLIA\":7264,\"PUERTO_RICO\":7079,\"GABON\":7064,\"PARAGUAY\":6921,\"ALBANIA\":6433,\"R\xC9UNION\":6340,\"FRENCH_GUIANA\":6287,\"ZIMBABWE\":6083,\"MONTENEGRO\":6051,\"SOMALIA\":6037,\"BOSNIA_HERZEGOVINA\":6000,\"PAKISTAN\":5953,\"MACEDONIA\":5736,\"MAURITIUS\":5558,\"KYRGYZSTAN\":5542,\"NICARAGUA\":5404,\"AFGHANISTAN\":5401,\"TRINIDAD_TOBAGO\":5331,\"BRITISH_INDIAN_OCEAN_TERRITORY\":5145,\"JAMAICA\":5134,\"ZAMBIA\":4965,\"TONGA\":4859,\"JORDAN\":4817,\"C\xD4TE_DIVOIRE\":4738,\"LIBYA\":4728,\"UZBEKISTAN\":4703,\"GRENADA\":4477,\"AZERBAIJAN\":4270,\"BELARUS\":4196,\"COOK_ISLANDS\":4122,\"SOUTH_GEORGIA_SANDWICH_ISLANDS\":4010,\"LEBANON\":3971,\"UNITED_ARAB_EMIRATES\":3813,\"FIJI\":3807,\"LAO\":3743,\"URUGUAY\":3482,\"KOREA_SOUTH\":3439,\"HONDURAS\":3335,\"HAITI\":3330,\"MYANMAR\":3318,\"SINGAPORE\":3247,\"RWANDA\":3238,\"EQUATORIAL_GUINEA\":3184,\"LIBERIA\":3164,\"FAROE_ISLANDS\":3074,\"LATVIA\":3062,\"KAZAKHSTAN\":2932,\"MAURITANIA\":2840,\"IRAQ\":2840,\"FRENCH_POLYNESIA\":2800,\"MOZAMBIQUE\":2764,\"TAJIKISTAN\":2736,\"GUINEA\":2723,\"UNITED_STATES_OUTLYING_ISLANDS\":2526,\"SOLOMON_ISLANDS\":2526,\"GUINEA_BISSAU\":2497,\"CAYMAN_ISLANDS\":2284,\"TOGO\":2251,\"SAO_TOME_PRINCIPE\":2226,\"FALKLAND_ISLANDS\":2142,\"LITHUANIA\":2053,\"MALTA\":2047,\"BERMUDA\":1994,\"TURKMENISTAN\":1849,\"COCOS_ISLANDS\":1849,\"SIERRA_LEONE\":1843,\"BRUNEI_DARUSSALAM\":1744,\"ERITREA\":1571,\"CAMBODIA\":1560,\"CENTRAL_AFRICAN_REPUBLIC\":1364,\"HONG_KONG\":1290,\"GUADELOUPE\":1266,\"CHAD\":1261,\"LIECHTENSTEIN\":1243,\"ARUBA\":1217,\"BHUTAN\":1215,\"SAMOA\":1202,\"BANGLADESH\":1041,\"KIRIBATI\":1039,\"KOSOVO\":1035,\"NIGER\":902,\"VIRGIN_ISLANDS\":781,\"ANGUILLA\":737,\"DOMINICA\":721,\"SWAZILAND\":696,\"COMOROS\":655,\"KOREA_NORTH\":568,\"ANDORRA\":506,\"BOUVET_ISLAND\":498,\"BELIZE\":488,\"BURUNDI\":469,\"PALESTINIAN_TERRITORY\":462,\"PALAU\":392,\"GIBRALTAR\":379,\"GUERNSEY\":378,\"BARBADOS\":366,\"SAINT_LUCIA\":332,\"NORFOLK_ISLAND\":322,\"CURA\xC7AO\":321,\"GUAM\":311,\"MONTSERRAT\":310,\"ANTIGUA_BARBUDA\":305,\"MOLDOVA\":290,\"VIRGIN_ISLANDS_BRITISH\":270,\"DJIBOUTI\":256,\"KUWAIT\":253,\"BONAIRE_SINT_EUSTATIUS_SABA\":222,\"SAN_MARINO\":219,\"BAHRAIN\":199,\"NAURU\":192,\"MONACO\":161,\"SAINT_VINCENT_GRENADINES\":156,\"ALAND_ISLANDS\":151,\"SOUTH_SUDAN\":144,\"LESOTHO\":142,\"SAINT_KITTS_NEVIS\":125,\"TIMOR_LESTE\":94,\"JERSEY\":68,\"CHRISTMAS_ISLAND\":62,\"WALLIS_FUTUNA\":60,\"MACAO\":57,\"AMERICAN_SAMOA\":52,\"MAYOTTE\":48,\"QATAR\":42,\"NIUE\":41,\"SINT_MAARTEN\":37,\"ISLE_OF_MAN\":31,\"PITCAIRN\":26,\"TURKS_CAICOS_ISLANDS\":24,\"SAINT_PIERRE_MIQUELON\":18,\"SAINT_MARTIN_FRENCH\":18,\"TUVALU\":15,\"INTERNATIONAL_WATERS\":9,\"VATICAN\":8,\"SAINT_BARTH\xC9LEMY\":4,\"TOKELAU\":1}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
