interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DE
  response:
    body: {string: "{\"GERMANY\":23370563,\"BELGIUM\":602071,\"NORWAY\":414251,\"\
        UNITED_STATES\":307927,\"SPAIN\":284536,\"ITALY\":265810,\"AUSTRIA\":216439,\"\
        GREECE\":213782,\"AUSTRALIA\":189038,\"ANTARCTICA\":179969,\"FRANCE\":172892,\"\
        PORTUGAL\":169827,\"SOUTH_AFRICA\":105107,\"BRAZIL\":101884,\"MOROCCO\":98793,\"\
        JAPAN\":98004,\"TAIWAN\":93802,\"PERU\":87797,\"POLAND\":87385,\"NETHERLANDS\"\
        :80429,\"BAHAMAS\":75557,\"NEW_ZEALAND\":75388,\"NAMIBIA\":71952,\"SVALBARD_JAN_MAYEN\"\
        :71397,\"UNITED_KINGDOM\":69171,\"SWITZERLAND\":61067,\"RUSSIAN_FEDERATION\"\
        :60925,\"IRELAND\":59502,\"BURKINA_FASO\":55318,\"GREENLAND\":55311,\"TANZANIA\"\
        :53933,\"OMAN\":53079,\"SWEDEN\":52646,\"COLOMBIA\":52346,\"ECUADOR\":51181,\"\
        MARSHALL_ISLANDS\":49985,\"DENMARK\":49497,\"EL_SALVADOR\":47559,\"TURKEY\"\
        :47529,\"CHINA\":46361,\"YEMEN\":46138,\"CHILE\":45536,\"INDIA\":44014,\"\
        MEXICO\":43414,\"CANADA\":42432,\"INDONESIA\":40641,\"COSTA_RICA\":39961,\"\
        PHILIPPINES\":39792,\"CUBA\":37410,\"MALDIVES\":37312,\"ICELAND\":34500,\"\
        CZECH_REPUBLIC\":34128,\"CAPE_VERDE\":33486,\"BOLIVIA\":32976,\"GUATEMALA\"\
        :32908,\"ALGERIA\":30714,\"PAPUA_NEW_GUINEA\":30199,\"GHANA\":27981,\"HEARD_MCDONALD_ISLANDS\"\
        :27316,\"SEYCHELLES\":26720,\"VENEZUELA\":24288,\"HUNGARY\":24022,\"MADAGASCAR\"\
        :22583,\"KENYA\":22467,\"CROATIA\":22458,\"ROMANIA\":21683,\"IRAN\":21405,\"\
        SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA\":20761,\"FINLAND\":19833,\"MICRONESIA\"\
        :18856,\"MALAYSIA\":18529,\"SLOVAKIA\":18141,\"SENEGAL\":17886,\"CYPRUS\"\
        :17337,\"ETHIOPIA\":17270,\"PANAMA\":17265,\"VIETNAM\":16922,\"THAILAND\"\
        :16683,\"ARGENTINA\":16373,\"EGYPT\":16096,\"BULGARIA\":15968,\"CAMEROON\"\
        :15740,\"SRI_LANKA\":15092,\"NEW_CALEDONIA\":14906,\"SUDAN\":14155,\"ISRAEL\"\
        :13468,\"VANUATU\":12668,\"PUERTO_RICO\":11090,\"ANGOLA\":10955,\"GRENADA\"\
        :10671,\"BENIN\":10659,\"SLOVENIA\":10080,\"GUYANA\":9525,\"NICARAGUA\":9249,\"\
        CONGO_DEMOCRATIC_REPUBLIC\":8901,\"NORTHERN_MARIANA_ISLANDS\":8662,\"GEORGIA\"\
        :8512,\"GABON\":8063,\"NIGERIA\":8005,\"CONGO\":7866,\"BRITISH_INDIAN_OCEAN_TERRITORY\"\
        :7611,\"MARTINIQUE\":7591,\"SAUDI_ARABIA\":7458,\"ARMENIA\":7399,\"MALI\"\
        :7290,\"MACEDONIA\":7220,\"SURINAME\":7183,\"FAROE_ISLANDS\":7089,\"NEPAL\"\
        :6886,\"UKRAINE\":6859,\"SERBIA\":6801,\"TUNISIA\":6496,\"HAITI\":6484,\"\
        PAKISTAN\":6456,\"LIBYA\":5939,\"FRENCH_GUIANA\":5899,\"SOMALIA\":5890,\"\
        BOTSWANA\":5753,\"R\xC9UNION\":5567,\"JAMAICA\":5550,\"COOK_ISLANDS\":5544,\"\
        FRENCH_SOUTHERN_TERRITORIES\":5440,\"DOMINICAN_REPUBLIC\":5203,\"BOUVET_ISLAND\"\
        :5153,\"LUXEMBOURG\":4922,\"MALAWI\":4880,\"MONGOLIA\":4805,\"SYRIA\":4761,\"\
        MAURITIUS\":4628,\"TRINIDAD_TOBAGO\":4604,\"BOSNIA_HERZEGOVINA\":4403,\"PARAGUAY\"\
        :4364,\"SOUTH_GEORGIA_SANDWICH_ISLANDS\":4327,\"ZIMBABWE\":4119,\"ESTONIA\"\
        :4024,\"MAURITANIA\":3885,\"GAMBIA\":3804,\"LAO\":3680,\"ZAMBIA\":3658,\"\
        UGANDA\":3571,\"C\xD4TE_DIVOIRE\":3506,\"KOREA_SOUTH\":3370,\"BERMUDA\":3333,\"\
        UNITED_ARAB_EMIRATES\":3321,\"ALBANIA\":3302,\"MYANMAR\":3296,\"EQUATORIAL_GUINEA\"\
        :3189,\"JORDAN\":3166,\"BELARUS\":3160,\"UNITED_STATES_OUTLYING_ISLANDS\"\
        :3160,\"FRENCH_POLYNESIA\":2991,\"LIBERIA\":2962,\"AFGHANISTAN\":2867,\"FIJI\"\
        :2850,\"KYRGYZSTAN\":2792,\"SOLOMON_ISLANDS\":2760,\"SINGAPORE\":2747,\"TONGA\"\
        :2634,\"HONDURAS\":2609,\"URUGUAY\":2599,\"AZERBAIJAN\":2503,\"MOZAMBIQUE\"\
        :2419,\"SAO_TOME_PRINCIPE\":2311,\"GUINEA_BISSAU\":2270,\"UZBEKISTAN\":2249,\"\
        LEBANON\":2226,\"KAZAKHSTAN\":2090,\"MONTENEGRO\":2083,\"LATVIA\":2060,\"\
        COCOS_ISLANDS\":1976,\"TOGO\":1951,\"KIRIBATI\":1946,\"RWANDA\":1889,\"MALTA\"\
        :1874,\"SIERRA_LEONE\":1684,\"FALKLAND_ISLANDS\":1494,\"CAYMAN_ISLANDS\":1482,\"\
        IRAQ\":1347,\"GUADELOUPE\":1344,\"HONG_KONG\":1318,\"TAJIKISTAN\":1309,\"\
        GUINEA\":1293,\"BONAIRE_SINT_EUSTATIUS_SABA\":1199,\"PALESTINIAN_TERRITORY\"\
        :1165,\"ERITREA\":1138,\"ANGUILLA\":1089,\"TURKMENISTAN\":1050,\"BHUTAN\"\
        :1016,\"ARUBA\":927,\"SAMOA\":848,\"LITHUANIA\":821,\"BANGLADESH\":746,\"\
        CENTRAL_AFRICAN_REPUBLIC\":698,\"CHAD\":670,\"KOREA_NORTH\":660,\"VIRGIN_ISLANDS\"\
        :652,\"NIGER\":637,\"BURUNDI\":618,\"COMOROS\":580,\"DOMINICA\":548,\"BARBADOS\"\
        :544,\"DJIBOUTI\":535,\"PALAU\":505,\"CAMBODIA\":503,\"SAINT_LUCIA\":483,\"\
        NORFOLK_ISLAND\":479,\"MONTSERRAT\":447,\"CURA\xC7AO\":416,\"VIRGIN_ISLANDS_BRITISH\"\
        :411,\"SWAZILAND\":410,\"NAURU\":384,\"LIECHTENSTEIN\":381,\"GUERNSEY\":372,\"\
        BELIZE\":363,\"MOLDOVA\":328,\"ANTIGUA_BARBUDA\":312,\"BRUNEI_DARUSSALAM\"\
        :304,\"ANDORRA\":292,\"KUWAIT\":227,\"AMERICAN_SAMOA\":217,\"SAINT_PIERRE_MIQUELON\"\
        :211,\"BAHRAIN\":205,\"TURKS_CAICOS_ISLANDS\":188,\"SAINT_KITTS_NEVIS\":186,\"\
        TIMOR_LESTE\":177,\"LESOTHO\":176,\"GIBRALTAR\":170,\"SAINT_VINCENT_GRENADINES\"\
        :170,\"GUAM\":161,\"SOUTH_SUDAN\":124,\"CHRISTMAS_ISLAND\":95,\"MONACO\":78,\"\
        MAYOTTE\":59,\"JERSEY\":58,\"MACAO\":55,\"SAINT_MARTIN_FRENCH\":46,\"SAN_MARINO\"\
        :43,\"QATAR\":38,\"SINT_MAARTEN\":36,\"PITCAIRN\":29,\"TUVALU\":21,\"WALLIS_FUTUNA\"\
        :21,\"NIUE\":20,\"ALAND_ISLANDS\":7,\"VATICAN\":7,\"ISLE_OF_MAN\":3,\"SAINT_BARTH\xC9\
        LEMY\":2,\"TOKELAU\":2,\"WESTERN_SAHARA\":2}"}
    headers:
      Content-Type: [application/json]
      X-API-URL: ['/v1/occurrence/counts/countries?publishingCountry=DE']
    status: {code: 200, message: OK}
version: 1
