interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=Helianthus+annuus&rank=species&limit=10&hl=false&verbose=false
  response:
    body: {string: '{"offset":0,"limit":10,"endOfRecords":false,"count":181,"results":[{"key":114910965,"datasetKey":"ee2aac07-de9a-47a2-b828-37430d537633","nubKey":9206251,"parentKey":144238801,"parent":"Helianthus","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","species":"Helianthus
        annuus","kingdomKey":144235950,"phylumKey":144238385,"classKey":144238449,"orderKey":144238723,"familyKey":144238731,"genusKey":144238801,"speciesKey":114910965,"scientificName":"Helianthus
        annuus","canonicalName":"Helianthus annuus","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"SPECIES","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"144235950":"Plantae","144238385":"Tracheophyta","144238449":"Magnoliopsida","144238723":"Asterales","144238731":"Asteraceae","144238801":"Helianthus"},"synonym":false,"class":"Magnoliopsida"},{"key":134854463,"datasetKey":"f82a4f7f-6f84-4b58-82e6-6b41ec9a1f49","nubKey":9206251,"parentKey":158739845,"parent":"Asteraceae","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","species":"Helianthus
        annuus","kingdomKey":158739465,"phylumKey":158739554,"classKey":158739649,"orderKey":158739842,"familyKey":158739845,"speciesKey":134854463,"scientificName":"Helianthus
        annuus","canonicalName":"Helianthus annuus","authorship":"",[...]
