interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/suggest?q=Aso&limit=3
  response:
    body:
      string: '[{"key":4887074,"nameKey":17291904,"kingdom":"Plantae","phylum":"Tracheophyta","family":"Sigillariaceae","genus":"Asolanus","kingdomKey":6,"phylumKey":7707728,"classKey":245,"familyKey":3229165,"genusKey":4887074,"parent":"Sigillariaceae","parentKey":3229165,"nubKey":4887074,"scientificName":"Asolanus
        H.C.Wood, 1861","canonicalName":"Asolanus","rank":"GENUS","status":"ACCEPTED","higherClassificationMap":{"6":"Plantae","7707728":"Tracheophyta","245":"Lycopodiopsida","3229165":"Sigillariaceae"},"synonym":false,"class":"Lycopodiopsida"},{"key":1459644,"nameKey":1047180,"kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Acroceridae","genus":"Asopsebius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3328,"genusKey":1459644,"parent":"Acroceridae","parentKey":3328,"nubKey":1459644,"scientificName":"Asopsebius
        Nartshuk, 1982","canonicalName":"Asopsebius","rank":"GENUS","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","811":"Diptera","3328":"Acroceridae"},"synonym":false,"class":"Insecta"},{"key":1058266,"nameKey":1047077,"kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Scarabaeidae","genus":"Asophrops","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":5840,"genusKey":1058266,"parent":"Scarabaeidae","parentKey":5840,"nubKey":1058266,"scientificName":"Asophrops
        Petrovitz, 1961","canonicalName":"Asophrops","rank":"GENUS","status":"ACCEPTED","higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","1470":"Coleoptera","5840":"Scarabaeidae"},"synonym":false,"class":"Insecta"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
