interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?institutionKey=6a6ac6c5-1b8a-48db-91a2-f8661274ff80&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":27,\"results\":[{\"key\":\"745ce2d0-a64b-4089-aae6-3712a39caa2a\",\"code\":\"RS\",\"name\":\"The
        Scorpiones collection (RS) of the Mus\xE9um national d'Histoire naturelle
        (MNHN - Paris)\",\"description\":\"This dataset is the databased part of the
        Scorpiones from the terrestrial arthropods collections of the Mus\xE9um National
        d&#39;Histoire Naturelle (Paris).\\n \\n\\t\\t\\t\\tThe MNHN scorpion collection
        is one of the most important in the world, due to a long tradition of work
        on this group at the museum. The collection began to be formed towards the
        middle of the 19th century and still contains types of some species described
        from this period b[...]
