interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/network?limit=5
  response:
    body:
      string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":11,\"results\":[{\"key\":\"2ee1bff7-0b34-4fa3-9433-feaa7c6ee08b\",\"title\":\"Biodiversidad
        y Desarrollo Colombia\",\"description\":\"Biodiversidad y Desarrollo es una
        plataforma para promover y amplificar la gesti\xF3n empresarial en biodiversidad.
        Inicia en el a\xF1o 2014 en la Asociaci\xF3n Nacional de Empresarios de Colombia
        (ANDI). Para el a\xF1o 2020, con la mediaci\xF3n del Centro Nacional del Agua
        y Biodiversidad (CNAB), el Sistema de Informaci\xF3n sobre Biodiversidad de
        Colombia (SiB Colombia) y la Infraestructura Mundial de Informaci\xF3n en
        Biodiversidad (GBIF), se consolida como una comunidad colombiana de publicadores
        de datos que impactan de manera colectiva y positiva mediante acciones empresariales
        y la gesti\xF3n de la biodiversidad para contribuir al desarrollo sostenible
        de los territorios. \\n\\n\\nEsta comunidad busca elevar la contribuci\xF3n
        del sector empresarial al conocimiento de la biodiversidad; convocando, facilitando
        e integrando su participaci\xF3n como sector productivo. Es una gran oportunidad
        para garantizar la participaci\xF3n del sector empresarial a nivel nacional
        e internacional, acelerando la generaci\xF3n de conocimiento de la biodiversidad
        a partir de la publicaci\xF3n de datos a trav\xE9s del SiB Colombia y GBIF,
        de una manera organizada y sistem\xE1tica.\",\"language\":\"spa\",\"numConstituents\":360,\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2023-05-15T07:13:37.374+00:00\",\"modified\":\"2023-05-15T07:13:37.374+00:00\",\"contacts\":[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"8534dd20-c368-4a1f-bdaf-e6b390710f89\",\"title\":\"SCAR
        Scientific Committee on Antarctic Research\",\"language\":\"eng\",\"numConstituents\":234,\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2022-02-18T13:27:40.670+00:00\",\"modified\":\"2022-02-18T14:56:04.788+00:00\",\"contacts\":[{\"key\":3394109,\"type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Anton\",\"lastName\":\"Van
        de Putte\",\"position\":[],\"email\":[\"antonarctica@gmail.com\",\"avandeputte@naturalsciences.be\"],\"phone\":[],\"homepage\":[],\"organization\":\"Royal
        Belgian Institute of Natural Sciences\",\"address\":[\"Vautierstraat 29\"],\"city\":\"Brussels\",\"country\":\"BE\",\"postalCode\":\"1000\",\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2022-03-01T14:06:23.259+00:00\",\"modified\":\"2022-03-01T14:06:23.259+00:00\"},{\"key\":3394209,\"type\":\"POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Yi
        Ming\",\"lastName\":\"Gan\",\"position\":[],\"email\":[\"ymgan@naturalsciences.be\"],\"phone\":[],\"homepage\":[],\"organization\":\"Royal
        Belgian Institute of Natural Sciences\",\"address\":[\"Vautierstraat 29\"],\"city\":\"Brussels\",\"country\":\"BE\",\"postalCode\":\"1000\",\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2022-03-01T14:07:17.856+00:00\",\"modified\":\"2022-03-01T14:07:17.856+00:00\"},{\"key\":3394210,\"type\":\"POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Huw\",\"lastName\":\"Griffiths\",\"position\":[\"Additional
        delegate\"],\"email\":[\"hjg@bas.ac.uk\"],\"phone\":[],\"homepage\":[],\"organization\":\"British
        Antarctic Survey\",\"address\":[\"High Cross, Madingley Road \"],\"city\":\"Cambridge\",\"country\":\"GB\",\"postalCode\":\"CB3
        0ET\",\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2022-03-01T14:08:49.658+00:00\",\"modified\":\"2022-03-01T14:08:49.658+00:00\"}],\"endpoints\":[],\"machineTags\":[{\"key\":11982375,\"namespace\":\"registry.gbif.org\",\"name\":\"visibleOnDatasetPage\",\"value\":\"true\",\"createdBy\":\"andrea\",\"created\":\"2022-07-21T07:32:59.808+00:00\"}],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"4b0d8edb-7504-42c4-9349-63e86c01bf97\",\"title\":\"The
        Virtual Herbarium Reflora\",\"language\":\"eng\",\"numConstituents\":66,\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2021-11-09T10:25:07.055+00:00\",\"modified\":\"2021-11-09T10:25:07.055+00:00\",\"contacts\":[{\"key\":[...]
