interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/installation?limit=5
  response:
    body: {string: '{"offset":0,"limit":5,"endOfRecords":false,"count":515,"results":[{"key":"992d49ea-1a93-4cc4-8247-06b55680d7a3","organizationKey":"e7cc89db-d984-4b46-bf67-fb2ffdcf1e22","type":"IPT_INSTALLATION","title":"EPA
        Guyana IPT","description":"EPA Guyana IPT","createdBy":"e7cc89db-d984-4b46-bf67-fb2ffdcf1e22","modifiedBy":"992d49ea-1a93-4cc4-8247-06b55680d7a3","created":"2019-01-24T17:11:54.025+0000","modified":"2019-01-24T17:17:39.889+0000","disabled":false,"contacts":[{"key":1470849,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Ray
        Sam","position":[],"email":["raywebspace@gmail.com"],"phone":[],"homepage":[],"address":[],"createdBy":"e7cc89db-d984-4b46-bf67-fb2ffdcf1e22","modifiedBy":"992d49ea-1a93-4cc4-8247-06b55680d7a3","created":"2019-01-24T17:11:54.107+0000","modified":"2019-01-24T17:17:39.933+0000"}],"endpoints":[{"key":360036,"type":"FEED","url":"http://132.148.241.236:8080/ipt/rss.do","createdBy":"992d49ea-1a93-4cc4-8247-06b55680d7a3","modifiedBy":"992d49ea-1a93-4cc4-8247-06b55680d7a3","created":"2019-01-24T17:17:40.059+0000","modified":"2019-01-24T17:17:40.059+0000","machineTags":[]}],"machineTags":[],"tags":[],"identifiers":[],"comments":[]},{"key":"70914e1e-2dea-46b5-b91d-8128dbacdaeb","organizationKey":"c4e13320-0708-41c8-8aef-2a0f99d95e40","type":"IPT_INSTALLATION","title":"CRBio-IPT","description":"The
        Biodiversity Informatics Research Center (CRBio) is a scientific non-profit
        research center, based in Costa Rica, established t o facilitate and promote
        free and open access to biodiversity data and information through information
        and communication technologies to support science, education, dec[...]
