interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?limit=1
  response:
    body: {string: '{"offset":0,"limit":1,"endOfRecords":false,"count":47962,"results":[{"key":"21486ce5-48a9-4b34-97fc-7892ba053a7e","installationKey":"7ce8aef1-9e92-11dc-8740-b8a03c50a999","publishingOrganizationKey":"7ce8aef0-9e92-11dc-8738-b8a03c50a862","doi":"10.11646/zootaxa.4700.3.7","external":false,"numConstituents":0,"type":"CHECKLIST","title":"A
        new stiletto fly in the genus Anabarhynchus Macquart (Diptera: Therevidae)
        from Fiji","description":"This dataset contains the digitized treatments in
        Plazi based on the original journal article Irwin, Michael E., Winterton,
        Shaun L. (2019): A new stiletto fly in the genus Anabarhynchus Macquart (Diptera:
        Therevidae) from Fiji. Zootaxa 4700 (3): 385-393, DOI: https://doi.org/10.11646/zootaxa.4700.3.7","language":"eng","homepage":"http://tb.plazi.org/GgServer/summary/FFCC9939FFDFFFF1FFACFFA76630FF9F","citation":{"text":"Irwin
        M E, Winterton S L (2019). A new stiletto fly in the genus Anabarhynchus Macquart
        (Diptera: Therevidae) from Fiji. Plazi.org taxonomic treatments database.
        Checklist dataset https://doi.org/10.11646/zootaxa.4700.3.7 accessed via GBIF.org
        on 2019-11-20."},"lockedForAutoUpdate":false,"createdBy":"plazi","modifiedBy":"crawler.gbif.org","created":"2019-11-20T14:59:03.847+0000","modified":"2019-11-20T15:09:19.869+0000","contacts":[{"key":1896394,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Michael
        E.","lastName":"Irwin","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-11-20T15:09:19.792+0000","modified":"2019-11-20T15:09:19.792+0000"},{"key":1896395,"type":"ORIGINATOR","primary":false,"userId":[],"firstName":"Shaun
        L.","lastName":"Winterton","position":[],"email":[],"phone":[],"homepage":[],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-11-20T15:09:19.795+0000","modified":"2019-11-20T15:09:19.795+0000"},{"key":1896396,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Guido","lastName":"Sautter","position":[],"email":["gsautter@gmail.com"],"phone":[],"homepage":["http://plazi.org"],"address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-11-20T15:09:19.798+0000","modified":"2019-11-20T15:09:19.798+0000"},{"key":1896397,"type":"PUBLISHER","primary":false,"userId":[],"position":[],"email":["magnolia@mapress.com"],"phone":[],"homepage":["http://www.mapress.com/"],"organization":"Magnolia
        Press","address":["St. Lukes 1346"],"city":"Auckland","country":"NZ","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-11-20T15:09:19.803+0000","modified":"2019-11-20T15:09:19.803+0000"},{"key":1896398,"type":"DISTRIBUTOR","primary":false,"userId":[],"position":[],"email":["info@plazi.org"],"phone":[],"homepage":["http://plazi.org/"],"organization":"Plazi","address":[],"city":"Bern","country":"CH","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-11-20T15:09:19.817+0000","modified":"2019-11-20T15:09:19.817+0000"},{"key":1896399,"type":"METADATA_AUTHOR","primary":true,"userId":[],"lastName":"plazi","position":[],"email":[],"phone":[],"homepage":[],"organization":"Plazi","address":[],"createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2019-11-20T15:09:19.826+0000","modified":"2019-11-20T15:09:19.826+0000"}],"endpoints":[{"key":446860,"type":"DWC_ARCHIVE","url":"http://tb.plazi.org/GgServer/dwca/FFCC9939FFDFFFF1FFACFFA76630FF9F.zip","createdBy":"plazi","modifiedBy":"plazi","created":"2019-11-20T14:59:04.280+0000","modified":"2019-11-20T14:59:04.280+0000","machineTags":[]}],"machineTags":[{"key":4494690,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"4","createdBy":"crawler.gbif.org","created":"2019-11-20T15:10:20.100+0000"}],"tags":[],"identifiers":[{"key":202547,"type":"UUID","identifier":"21486ce5-48a9-4b34-97fc-7892ba053a7e","createdBy":"crawler.gbif.org","created":"2019-11-20T15:09:19.841+0000"},{"key":202546,"type":"DOI","identifier":"10.15468/8kmiv8","createdBy":"crawler.gbif.org","created":"2019-11-20T15:00:05.257+0000"},{"key":202545,"type":"UUID","identifier":"6791B2A0-C327-409C-8E9F-BBC28E77AC83","createdBy":"crawler.gbif.org","created":"2019-11-20T15:00:05.242+0000"},{"key":202544,"type":"UUID","identifier":"FFCC9939FFDFFFF1FFACFFA76630FF9F","createdBy":"plazi","created":"2019-11-20T14:59:04.075+0000"}],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"dataLanguage":"eng","pubDate":"2019-01-01T00:00:00.000+0000","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode"}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
