interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/network?limit=5
  response:
    body:
      string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":17,\"results\":[{\"key\":\"ab013f3a-3c00-42cb-9fdb-cb5f4ba20a4b\",\"title\":\"Biologging\",\"description\":\"Bio-logging
        science is concerned with the use of miniature animal-borne electronic devices
        for logging and/or relaying of data about an animal\u2019s movements, behaviour,
        physiology and/or environment. This network aims to increase the discoverability
        of bio-logging datasets on GBIF.\",\"language\":\"eng\",\"numConstituents\":386,\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"peterdesmet\",\"created\":\"2025-06-18T10:00:41.043+00:00\",\"modified\":\"2025-10-03T13:47:46.984+00:00\",\"contacts\":[{\"key\":6144210,\"type\":\"TECHNICAL_POINT_OF_CONTACT\",\"primary\":true,\"userId\":[\"https://orcid.org/0000-0002-8442-8025\"],\"firstName\":\"Peter\",\"lastName\":\"Desmet\",\"position\":[],\"email\":[\"peter.desmet@inbo.be\"],\"phone\":[],\"homepage\":[],\"organization\":\"Research
        Institute for Nature and Forest (INBO)\",\"address\":[],\"country\":\"BE\",\"createdBy\":\"peterdesmet\",\"modifiedBy\":\"peterdesmet\",\"created\":\"2025-06-18T10:59:20.321+00:00\",\"modified\":\"2025-06-19T07:53:04.393+00:00\"}],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[{\"key\":39047,\"content\":\"[2025-06-18,
        ah] created on request from Peter Desmet (inbo.be) to support the upcoming
        Move BON initiative.\",\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2025-06-18T10:01:39.250+00:00\",\"modified\":\"2025-06-18T10:01:39.250+00:00\"}]},{\"key\":\"0479d6b2-a4f4-4307-8346-0b80e8c88c66\",\"title\":\"Symbiota
        Support Hub\",\"description\":\"The Symbiota Support Hub provides accessible
        solutions and support for biodiversity collections to efficiently mobilize
        their data using Symbiota. Symbiota is an open source biodiversity data aggregation
        and collection management system software (https://github.com/BioKIC/Symbiota)
        that currently sustains a network of over 60 publicly-accessible data portals.
        Many of these portals are GBIF installations; they can push datasets directly
        to GBIF without the use of an IPT. Most portals welcome new data providers
        within their theme. To learn more about joining the Symbiota network, contact
        help@symbiota.org.\",\"language\":\"eng\",\"numConstituents\":590,\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2025-03-18T10:20:49.047+00:00\",\"modified\":\"2025-03-28T07:39:38.882+00:00\",\"contacts\":[],\"endpoints\":[],\"machineTags\":[{\"key\":24444326,\"namespace\":\"registry.gbif.org\",\"name\":\"visibleOnDatasetPage\",\"value\":\"true\",\"createdBy\":\"andrea\",\"created\":\"2025-03-28T07:40:49.621+00:00\"}],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"55d38654-7954-46c6-ad18-7730a6a7f586\",\"title\":\"The
        Program for Biodiversity Research (PPBio)\",\"description\":\"The Program
        for Biodiversity Research (PPBio) is an innovative program designed to integrate
        all biodiversity research stakeholders in the Brazilian territory. Since its
        inception in 2004, PPBio has establi[...]
