interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=mammalia&limit=1&hl=false&verbose=false
  response:
    body:
      string: "{\"offset\":0,\"limit\":1,\"endOfRecords\":false,\"count\":3752,\"results\":[{\"key\":100559472,\"datasetKey\":\"16c3f9cb-4b19-4553-ac8e-ebb90003aa02\",\"scientificName\":\"Mammaliaformes\",\"canonicalName\":\"Mammaliaformes\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\",\"origin\":\"SOURCE\",\"numDescendants\":0,\"numOccurrences\":0,\"extinct\":true,\"habitats\":[],\"nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\":[{\"description\":\"Sinoconodon
        ist einer der fr\xFChesten bekannten s\xE4ugetierartigen Tiere (Mammaliaformes).
        Fossilien dieses Tieres, darunter ein vollst\xE4ndig erhaltener Sch\xE4del,
        wurden im s\xFCdlichen China gefunden und auf ein Alter von rund 200 Millionen
        Jahren datiert.\"},{\"description\":\"Sinoconodon zeigt in seinem Sch\xE4delbau
        \xDCbergangsmerkmale zwischen den synapsiden Vorfahren der S\xE4ugetiere und
        den eigentlichen S\xE4ugern. Der Unterkiefer [...]
