interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/dataset?limit=100
  response:
    body: {string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":37519,\"\
        results\":[{\"key\":\"159daa05-c182-432d-88ce-df0b2ef467ae\",\"installationKey\"\
        :\"7ce8aef1-9e92-11dc-8740-b8a03c50a999\",\"publishingOrganizationKey\":\"\
        7ce8aef0-9e92-11dc-8738-b8a03c50a862\",\"doi\":\"doi:10.15468/bgnijn\",\"\
        external\":false,\"numConstituents\":0,\"type\":\"CHECKLIST\",\"title\":\"\
        Reduction of the Hawaiian genus Platydesma into MelicopesectionPelea (Rutaceae)\
        \ and notes on the monophyly of the section\",\"language\":\"eng\",\"citation\"\
        :{\"text\":\"Plazi.org taxonomic treatments database. Reduction of the Hawaiian\
        \ genus Platydesma into MelicopesectionPelea (Rutaceae) and notes on the monophyly\
        \ of the section. Checklist Dataset https://doi.org/10.15468/bgnijn accessed\
        \ via GBIF.org on 2017-12-19.\"},\"lockedForAutoUpdate\":false,\"createdBy\"\
        :\"plazi\",\"modifiedBy\":\"plazi\",\"created\":\"2017-12-19T18:50:35.188+0000\"\
        ,\"modified\":\"2017-12-19T18:50:35.188+0000\",\"contacts\":[],\"endpoints\"\
        :[{\"key\":242687,\"type\":\"DWC_ARCHIVE\",\"url\":\"http://tb.plazi.org/GgServer/dwca/FFE18C0AFFF6415F2C7B7427FFF60B6E.zip\"\
        ,\"createdBy\":\"plazi\",\"modifiedBy\":\"plazi\",\"created\":\"2017-12-19T18:50:36.029+0000\"\
        ,\"modified\":\"2017-12-19T18:50:36.029+0000\",\"machineTags\":[]}],\"machineTags\"\
        :[],\"tags\":[],\"identifiers\":[{\"key\":108912,\"type\":\"UUID\",\"identifier\"\
        :\"FFE18C0AFFF6415F2C7B7427FFF60B6E\",\"createdBy\":\"plazi\",\"created\"\
        :\"2017-12-19T18:50:35.561+0000\"}],\"comments\":[],\"bibliographicCitations\"\
        :[],\"curatorialUnits\":[],\"taxonomicCoverages\":[],\"geographicCoverages\"\
        :[],\"temporalCoverages\":[],\"keywordCollections\":[],\"countryCoverage\"\
        :[],\"collections\":[],\"dataDescriptions\":[],\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\"\
        },{\"key\":\"b69ae625-e97f-48f9-b698-42ae0b60ae1d\",\"installationKey\":\"\
        7ce8aef1-9e92-11dc-8740-b8a03c50a999\",\"publishingOrganizationKey\":\"7ce8aef0-9e92-11dc-8738-b8a03c50a862\"\
        ,\"doi\":\"doi:10.15468/2fr4sg\",\"external\":false,\"numConstituents\":0,\"\
        type\":\"CHECKLIST\",\"title\":\"Morphological and anatomical evidence support\
        \ a new wild cassava: Manihotfallax (Crotonoideae, Euphorbiaceae), from Mato\
        \ Grosso, Brazil\",\"language\":\"eng\",\"citation\":{\"text\":\"Plazi.org\
        \ taxonomic treatments database. Morphological and anatomical evidence support\
        \ a new wild cassava: Manihotfallax (Crotonoideae, Euphorbiaceae), from Mato\
        \ Grosso, Brazil. Checklist Dataset https://doi.org/10.15468/2fr4sg accessed\
        \ via GBIF.org on 2017-12-19.\"},\"lockedForAutoUpdate\":false,\"createdBy\"\
        :\"plazi\",\"modifiedBy\":\"plazi\",\"created\":\"2017-12-19T18:50:21.498+0000\"\
        ,\"modified\":\"2017-12-19T18:50:[...]
