interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/node/03e816b3-8f58-49ae-bc12-4e18b358d6d9/identifier?limit=100
  response:
    body: {string: '[{"key":13657,"type":"GBIF_PARTICIPANT","identifier":"308","createdBy":"registry-migration.gbif.org","created":"2013-10-24T09:06:08.312+0000"}]'}
    headers:
      Content-Type: [application/json]
      X-API-URL: ['/v1/node/03e816b3-8f58-49ae-bc12-4e18b358d6d9/identifier?limit=100']
    status: {code: 200, message: OK}
version: 1
