interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/suggest?q=Aso&limit=3
  response:
    body:
      string: '[{"key":5429462,"nameKey":1046999,"kingdom":"Animalia","phylum":"Mollusca","order":"Architaenioglossa","family":"Ampullariidae","genus":"Asolene","kingdomKey":1,"phylumKey":52,"classKey":225,"orderKey":455,"familyKey":6801,"genusKey":5429462,"parent":"Ampullariidae","parentKey":6801,"nubKey":5429462,"scientificName":"Asolene
        d''Orbigny, 1838","canonicalName":"Asolene","rank":"GENUS","status":"ACCEPTED","synonym":false,"higherClassificationMap":{"1":"Animalia","52":"Mollusca","225":"Gastropoda","455":"Architaenioglossa","6801":"Ampullariidae"},"class":"Gastropoda"},{"key":1459644,"nameKey":1047180,"kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Acroceridae","genus":"Asopsebius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3328,"genusKey":1459644,"parent":"Acroceridae","parentKey":3328,"nubKey":1459644,"scientificName":"Asopsebius
        Nartshuk, 1982","canonicalName":"Asopsebius","rank":"GENUS","status":"ACCEPTED","synonym":false,"higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","811":"Diptera","3328":"Acroceridae"},"class":"Insecta"},{"key":4859837,"nameKey":1047028,"kingdom":"Animalia","phylum":"Platyhelminthes","family":"Callioplanidae","genus":"Asolenia","kingdomKey":1,"phylumKey":108,"classKey":341,"familyKey":6376,"genusKey":4859837,"parent":"Callioplanidae","parentKey":6376,"nubKey":4859837,"scientificName":"Asolenia
        Hyman, 1959","canonicalName":"Asolenia","rank":"GENUS","status":"ACCEPTED","synonym":false,"higherClassificationMap":{"1":"Animalia","108":"Platyhelminthes","341":"Turbellaria","6376":"Callioplanidae"},"class":"Turbellaria"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
