interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/organization/e2e717bf-551a-4917-bdc9-4fa0f342c530?limit=100
  response:
    body:
      string: '{"key":"e2e717bf-551a-4917-bdc9-4fa0f342c530","endorsingNodeKey":"8618c64a-93e0-4300-b546-7249e5148ed2","endorsementApproved":true,"endorsementStatus":"ENDORSED","title":"Cornell
        Lab of Ornithology","description":"The Cornell Lab of Ornithology is a world
        leader in the study, appreciation, and conservation of birds.","language":"eng","email":[],"phone":[],"homepage":["http://www.birds.cornell.edu"],"address":["159
        Sapsucker Woods Rd."],"city":"Ithaca","province":"New York","country":"US","postalCode":"14850","latitude":42.47999,"longitude":-76.45109,"numPublishedDatasets":3,"createdBy":"ADMIN","modifiedBy":"sformel","created":"2013-08-01T08:38:21.000+00:00","modified":"2023-03-03T01:57:24.373+00:00","contacts":[{"key":5261061,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Chris","lastName":"Wood","position":["Program
        Director"],"email":["clw37@cornell.edu"],"phone":[],"homepage":[],"organization":"Cornell
        Lab of Ornithology","address":["Center for Avian Population Studies"],"createdBy":"mgrosjean","modifiedBy":"trobertson","created":"2024-03-25T07:41:21.878+00:00","modified":"2025-08-11T06:47:43.725+00:00"},{"key":6203930,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Jasdev","lastName":"Imani","position":["Technical
        Lead"],"email":["jasdev.imani@cornell.edu"],"phone":[],"homepage":[],"organization":"Cornell
        Lab of Ornithology","address":["Center for Avian Population Studies"],"createdBy":"trobertson","modifiedBy":"trobertson","created":"2025-08-11T06:46:56.128+00:00","modified":"2025-08-11T06:46:56.128+00:00"}],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[{"key":13528,"type":"GBIF_PORTAL","identifier":"602","createdBy":"registry-migration.gbif.org","created":"2013-08-08T09:34:37.000+00:00","primary":false}],"comments":[{"key":35635,"content":"2023-03-25
        [MG] Updated the contacts at the request of the institution.","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2024-03-25T07:39:32.978+00:00","modified":"2024-03-25T07:39:32.978+00:00"},{"key":33423,"content":"2023-03-02
        [SF] added address information","createdBy":"sformel","modifiedBy":"sformel","created":"2023-03-03T01:57:24.682+00:00","modified":"2023-03-03T01:57:24.682+00:00"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
