interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?limit=1
  response:
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":false,"count":108945,"results":[{"key":"b17b67ee-85bc-4b87-bf77-b2d6af66395b","installationKey":"d5b61ace-f25c-43bd-9dd0-03486850f90b","publishingOrganizationKey":"750a8724-fa66-4c27-b645-bd58ac5ee010","doi":"10.3897/bdj.12.e129214","external":false,"numConstituents":0,"type":"CHECKLIST","title":"Taxonomic
        relationship between Amolops minutus Orlov & Ho, 2007 and A. ottorum Pham,
        Sung, Pham, Le, Zieger & Nguyen, 2019, with first record of A. minutus from
        China (Anura, Ranidae)","description":"Based on the examination of specimens
        of Amolops minutus Orlov & Ho, 2007 and A. ottorum Pham, Sung, Pham, Le, Zieger
        & Nguyen, 2019, we found that there is no significant morphological difference
        between them. Phylogenetic analysis also showed that A. minutus and A. ottorum
        belong to the same taxon. In addition, we discovered the distribution of A.
        minutus in China.In this study, we provide the first molecular data of Amolops
        minutus and regard A. ottorum as a junior synonym of A. minutus. In addition,
        we report the first record of A. minutus from China, based on nine specimens
        collected from Guanyinshan Provincial Nature Reserve in southern Yunnan Province
        and present an updated diagnosis of this species, based on literature data
        and newly-collected specimens.","language":"eng","homepage":"https://doi.org/10.3897/BDJ.12.e129214","citation":{"text":"Li
        S (2024). Taxonomic relationship between Amolops minutus Orlov & Ho, 2007
        and A. ottorum Pham, Sung, Pham, Le, Zieger & Nguyen, 2019, with first record
        of A. minutus from China (Anura, Ranidae). Biodiversity Data Journal. Checklist
        dataset https://doi.org/10.3897/bdj.12.e129214 accessed via GBIF.org on 2024-10-04.","identifier":"Citation
        Identifier","citationProvidedBySource":false},"contactsCitation":[{"key":5488327,"abbreviatedName":"Li
        S","firstName":"Song","lastName":"Li","roles":["METADATA_AUTHOR","ORIGINATOR"],"userId":[]}],"lockedForAutoUpdate":false,"createdBy":"pensoft","modifiedBy":"crawler.gbif.org","created":"2024-10-04T06:30:04.910+00:00","modified":"2024-10-04T06:31:08.712+00:00","contacts":[{"key":5488327,"type":"ORIGINATOR","primary":true,"userId":[],"firstName":"Song","lastName":"Li","position":["Mr"],"email":["lis@mail.kiz.ac.cn"],"phone":[],"homepage":[],"organization":"Yunnan
        Key Laboratory of Biodiversity Information, Kunming Institute of Zoology,
        Chinese Academy of Sciences","address":[],"city":"Kunming","country":"CN","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-10-04T06:31:08.685+00:00","modified":"2024-10-04T06:31:08.685+00:00"},{"key":5488328,"type":"METADATA_AUTHOR","primary":true,"userId":[],"firstName":"Song","lastName":"Li","position":["Mr"],"email":["lis@mail.kiz.ac.cn"],"phone":[],"homepage":[],"organization":"Yunnan
        Key Laboratory of Biodiversity Information, Kunming Institute of Zoology,
        Chinese Academy of Sciences","address":[],"city":"Kunming","country":"CN","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-10-04T06:31:08.689+00:00","modified":"2024-10-04T06:31:08.689+00:00"},{"key":5488329,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Song","lastName":"Li","position":["Mr"],"email":["lis@mail.kiz.ac.cn"],"phone":[],"homepage":[],"organization":"Yunnan
        Key Laboratory of Biodiversity Information, Kunming Institute of Zoology,
        Chinese Academy of Sciences","address":[],"city":"Kunming","country":"CN","createdBy":"crawler.gbif.org","modifiedBy":"crawler.gbif.org","created":"2024-10-04T06:31:08.691+00:00","modified":"2024-10-04T06:31:08.691+00:00"}],"endpoints":[{"key":1048687,"type":"DWC_ARCHIVE","url":"https://bdj.pensoft.net/lib/ajax_srv/archive_download.php?archive_type=2&document_id=129214","createdBy":"pensoft","modifiedBy":"pensoft","created":"2024-10-04T06:30:06.135+00:00","modified":"2024-10-04T06:30:06.135+00:00","machineTags":[]}],"machineTags":[{"key":21969964,"namespace":"crawler.gbif.org","name":"crawl_attempt","value":"1","createdBy":"crawler.gbif.org","created":"2024-10-04T06:31:06.519+00:00"}],"tags":[],"identifiers":[{"key":374608,"type":"DOI","identifier":"10.3897/BDJ.12.e129214","createdBy":"crawler.gbif.org","created":"2024-10-04T06:31:08.693+00:00"}],"comments":[],"bibliographicCitations":[],"curatorialUnits":[],"taxonomicCoverages":[],"geographicCoverages":[],"temporalCoverages":[],"keywordCollections":[],"countryCoverage":[],"collections":[],"dataDescriptions":[],"dataLanguage":"eng","pubDate":"2024-09-26T00:00:00.000+00:00","maintenanceChangeHistory":[],"license":"http://creativecommons.org/licenses/by/4.0/legalcode"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
