interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/network/2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6?limit=100
  response:
    body: {string: '{"key":"2b7c7b4f-4d4f-40d3-94de-c28b6fa054a6","title":"Ocean Biogeographic
        Information System (OBIS)","description":"The Ocean Biogeographic Information
        System (OBIS) is the information component of the Census of Marine Life (CoML),
        a growing network of more than 1000 researchers in 73 nations engaged in a
        10-year initiative to assess and explain the diversity, distribution, and
        abundance of life in the oceans - past, present, and future.","language":"eng","numConstituents":273,"email":[],"phone":[],"homepage":["http://www.iobis.org/"],"logoUrl":"http://www.coml.org/comlfiles/images/obis_logo_large.gif","address":[],"createdBy":"ADMIN","modifiedBy":"ADMIN","created":"2007-04-03T08:31:37.000+0000","modified":"2012-12-13T11:00:12.000+0000","contacts":[],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[],"comments":[]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
