interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/1248387548/verbatim
  response:
    body: {string: "{\"key\":1248387548,\"datasetKey\":\"492d63a8-4978-4bc7-acd8-7d0e3ac0e744\"\
        ,\"publishingOrgKey\":\"d3978a37-635a-4ae3-bb85-7b4d41bc0b88\",\"installationKey\"\
        :\"7bdf9f6d-317a-45ec-8bb7-7ff61345d6a6\",\"publishingCountry\":\"NO\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-11-13T17:35:37.650+0000\"\
        ,\"lastParsed\":\"2019-11-15T08:10:33.307+0000\",\"crawlId\":275,\"extensions\"\
        :{},\"http://rs.tdwg.org/dwc/terms/maximumElevationInMeters\":\"0\",\"http://rs.tdwg.org/dwc/terms/country\"\
        :\"Norge\",\"http://rs.tdwg.org/dwc/terms/collectionCode\":\"fugl\",\"http://rs.tdwg.org/dwc/terms/order\"\
        :\"Accipitriformes\",\"http://rs.tdwg.org/dwc/terms/minimumElevationInMeters\"\
        :\"0\",\"http://rs.tdwg.org/dwc/terms/municipality\":\"H\xF8yanger\",\"http://rs.tdwg.org/dwc/terms/year\"\
        :\"2016\",\"http://rs.tdwg.org/dwc/terms/locality\":\"H\xF8gebakkane\",\"\
        http://rs.tdwg.org/dwc/terms/basisOfRecord\":\"HumanObservation\",\"http://rs.tdwg.org/dwc/terms/family\"\
        :\"Accipitridae\",\"http://rs.tdwg.org/dwc/terms/decimalLatitude\":\"61.22544055\"\
        ,\"http://purl.org/dc/terms/modified\":\"2018-01-30 00:00:00.0\",\"http://rs.tdwg.org/dwc/terms/month\"\
        :\"1\",\"http://rs.tdwg.org/dwc/terms/stateProvince\":\"Sogn og Fjordane\"\
        ,\"http://rs.tdwg.org/dwc/terms/recordedBy\":\"Magn Arne Jensen\",\"http://rs.tdwg.org/dwc/terms/scie[...]
