interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/organization?limit=100
  response:
    body: {string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":1967,\"\
        results\":[{\"key\":\"d3fa50b3-ed10-420a-a289-5c0a60dadbf5\",\"endorsingNodeKey\"\
        :\"7f48e0c8-5c96-49ec-b972-30748e339115\",\"endorsementApproved\":true,\"\
        title\":\"A.L.Takhtajan Institute of Botany Yerevan\",\"description\":\"NOT\
        \ PART OF TEXT: PLEASE NOTE: We want to get confirmation through the German\
        \ GBIF Node (this cannot be chosen in the list below)\\nThe A.L. Takhtajan\
        \ Institute of Botany of the Armenian National Academy of Sciences was established\
        \ in 1938. It became one of the leading botanical institutions in the South\
        \ Caucasus, which carries out fundamental investigations of the Armenian flora\
        \ and vegetation. The main scientific field are 1) research and conservation\
        \ of Armenia\u2019s flora, vegetation and plant resources 2) development of\
        \ a scientific basis for improvement of productivity of the main forest formations\
        \ of the country\u2019s, introduction and acclimatization of plants 4) elaboration\
        \ of a scientific basis for planting of trees in settlements 4) studies of\
        \ the dynamics of the vegetation changes in Armenia 5) publication of the\
        \ Flora of Armenia and the Red Data Book of Armenia.\\nThe herbarium of the\
        \ Institute of Botany (ERE) contains over 500.000 of herbarium specimens of\
        \ which collected mainly from Armenia and the Caucasus region, including numerous\
        \ type specimens. Inventory of the herbarium is done using the JACQ collection\
        \ management system and digitizing of the collections is continuously made.\"\
        ,\"language\":\"eng\",\"email\":[\"botanyinst@sci.am\"],\"phone\":[],\"homepage\"\
        :[],\"address\":[\"Achyryan Street 1\"],\"city\":\"Yerevan\",\"country\":\"\
        AM\",\"postalCode\":\"0040\",\"numPublishedDatasets\":0,\"createdBy\":\"gbif.express\"\
        ,\"modifiedBy\":\"gbif.express\",\"created\":\"2019-11-18T14:10:18.572+0000\"\
        ,\"modified\":\"2019-11-19T13:34:11.373+0000\",\"contacts\":[{\"key\":1894511,\"\
        type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"\
        firstName\":\"Heimo\",\"lastName\":\"Rainer\",\"position\":[],\"email\":[\"\
        heimo.rainer@nhm-wien.ac.at\"],\"phone\":[],\"homepage\":[],\"address\":[],\"\
        createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"\
        2019-11-18T14:10:18.591+0000\",\"modified\":\"2019-11-18T14:10:18.591+0000\"\
        },{\"key\":1894512,\"type\":\"TECHNICAL_POINT_OF_CONTACT\",\"primary\":false,\"\
        userId\":[],\"firstName\":\"Dominik\",\"lastName\":\"R\xF6pert\",\"position\"\
        :[],\"email\":[\"d.roepert@bgbm.org\"],\"phone\":[],\"homepage\":[],\"address\"\
        :[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\"\
        :\"2019-11-18T14:10:18.627+0000\",\"modified\":\"2019-11-18T14:10:18.627+0000\"\
        },{\"key\":1894513,\"type\":\"POINT_OF_CONTACT\",\"primary\":false,\"userId\"\
        :[],\"firstName\":\"Marine\",\"lastName\":\"Oganesian\",\"position\":[],\"\
        email\":[\"oganesianm@yahoo.com\"],\"phone\":[],\"homepage\":[],\"address\"\
        :[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\"\
        :\"2019-11-18T14:10:18.660+0000\",\"modified\":\"2019-11-18T14:10:18.660+0000\"\
        }],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\"\
        :[{\"key\":29353,\"content\":\"Expects to publish:\\n\\n\\n - OccurrenceData\\\
        n\\nExpected data content:\\n\\n> Herbarium specimen records served through\
        \ the JACQ specimen database (residing at the University of Vienna and the\
        \ Botanic Garden and Botanical Museum Berlin, with a BioCASe provider).\\\
        n\\n\\nWill run a server which exposes data: yes\\n\\n\\nPlans to run publishing\
        \ software (e.g. an IPT): yes\\n\\n\\nNeeds help for data publishing: no\"\
        ,\"createdBy\":[...]
