interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/142316497
  response:
    body:
      string: "{\"key\":142316497,\"datasetKey\":\"8575f23e-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\":\"57254bd0-8256-11d8-b7ed-b8a03c50a862\",\"networkKeys\":[\"17abcf75-2f1e-46dd-bf75-a5b21dd02655\"],\"installationKey\":\"60454014-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"57254bd0-8256-11d8-b7ed-b8a03c50a862\",\"publishingCountry\":\"DE\",\"protocol\":\"BIOCASE\",\"lastCrawled\":\"2024-10-04T00:56:46.740+00:00\",\"lastParsed\":\"2024-10-04T01:02:34.417+00:00\",\"crawlId\":300,\"extensions\":{},\"basisOfRecord\":\"PRESERVED_SPECIMEN\",\"occurrenceStatus\":\"PRESENT\",\"taxonKey\":3883382,\"kingdomKey\":6,\"phylumKey\":7707728,\"classKey\":220,\"orderKey\":408,\"familyKey\":2497,\"genusKey\":5428512,\"speciesKey\":10846508,\"acceptedTaxonKey\":10846508,\"scientificName\":\"Ballota
        acetabulosa (L.) Benth.\",\"acceptedScientificName\":\"Pseudodictamnus acetabulosus
        (L.) Salmaki & Siadati\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Lamiales\",\"family\":\"Lamiaceae\",\"genus\":\"Pseudodictamnus\",\"species\":\"Pseudodictamnus
        acetabulosus\",\"genericName\":\"Ballota\",\"specificEpithet\":\"acetabulosa\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"SYNONYM\",\"iucnRedListCategory\":\"NE\",\"decimalLatitude\":38.10695,\"decimalLongitude\":26.85083,\"elevation\":0.0,\"continent\":\"ASIA\",\"gadm\":{\"level0\":{\"gid\":\"TUR\",\"name\":\"Turkey\"},\"level1\":{\"gid\":\"TUR.41_1\",\"name\":\"Izmir\"},\"level2\":{\"gid\":\"TUR.41.24_1\",\"name\":\"Seferihisar\"}},\"year\":1999,\"month\":6,\"day\":18,\"eventDate\":\"1999-06-18T00:00\",\"startDayOfYear\":169,\"endDayOfYear\":169,\"issues\":[\"GEODETIC_DATUM_ASSUMED_WGS84\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"COLLECTION_MATCH_NONE\",\"INSTITUTION_MATCH_FUZZY\"],\"lastInterpreted\":\"2024-10-04T01:02:34.417+00:00\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"urn:catalog:BGBM:Pontaurus:1\"}],\"media\":[],\"facts\":[],\"relations\":[],\"institutionKey\":\"4cf93dd2-06c8-4f49-89bc-a5d0805c6747\",\"isInCluster\":false,\"recordedBy\":\"Markus
        D\xF6ring\",\"identifiedBy\":\"Markus D\xF6ring\",\"geodeticDatum\":\"WGS84\",\"class\":\"Magnoliopsida\",\"countryCode\":\"TR\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"EUROPE\",\"country\":\"T\xFCrkiye\",\"publishedByGbifRegion\":\"EUROPE\",\"catalogNumber\":\"1\",\"institutionCode\":\"BGBM\",\"collectionCode\":\"Pontaurus\",\"gbifID\":\"142316497\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
