interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/occurrence/search?taxonKey=3329049&limit=300&offset=0
  response:
    body: {string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":413,\"\
        results\":[{\"key\":1667157068,\"datasetKey\":\"962f59bc-f762-11e1-a439-00145eb45e9a\"\
        ,\"publishingOrgKey\":\"75642970-f855-11dd-8235-b8a03c50a862\",\"publishingCountry\"\
        :\"LU\",\"protocol\":\"BIOCASE\",\"lastCrawled\":\"2017-10-07T08:20:01.120+0000\"\
        ,\"lastParsed\":\"2017-10-07T08:20:01.160+0000\",\"crawlId\":17,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":3329049,\"kingdomKey\"\
        :5,\"phylumKey\":34,\"classKey\":186,\"orderKey\":1499,\"familyKey\":4171,\"\
        genusKey\":2526057,\"speciesKey\":8671098,\"scientificName\":\"Amanita muscaria\
        \ (L.) Hook., 1797\",\"kingdom\":\"Fungi\",\"phylum\":\"Basidiomycota\",\"\
        order\":\"Agaricales\",\"family\":\"Amanitaceae\",\"genus\":\"Amanita\",\"\
        species\":\"Amanita muscaria\",\"genericName\":\"Amanita\",\"specificEpithet\"\
        :\"muscaria\",\"taxonRank\":\"SPECIES\",\"decimalLongitude\":6.06,\"decimalLatitude\"\
        :49.66,\"year\":2012,\"month\":9,\"day\":23,\"eventDate\":\"2012-09-23T00:00:00.000+0000\"\
        ,\"issues\":[\"GEODETIC_DATUM_ASSUMED_WGS84\",\"COUNTRY_DERIVED_FROM_COORDINATES\"\
        ],\"lastInterpreted\":\"2017-10-07T08:20:10.092+0000\",\"license\":\"http://creativecommons.org/publicdomain/zero/1.0/legalcode\"\
        ,\"identifiers\":[],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\"\
        ,\"class\":\"Agaricomycetes\",\"countryCode\":\"LU\",\"country\":\"Luxembourg\"\
        ,\"recordedBy\":\"Marie-Th\xE9r\xE8se Tholl\",\"catalogNumber\":\"DSS00438000006QWt\"\
        ,\"institutionCode\":\"MNHNL\",\"locality\":\"Aeschkneppchen (lieu-dit)\"\
        ,\"collectionCode\":\"Recorder database\",\"gbifID\":\"1667157068\"},{\"key\"\
        :1501401593,\"datasetKey\":\"95e635d4-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\"\
        :\"ebda1cab-dda8-418b-8f25-df1e71ff5bc2\",\"publishingCountry\":\"ES\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2017-10-20T08:28:02.176+0000\"\
        ,\"lastParsed\":\"2017-05-09T14:49:25.197+0000\",\"crawlId\":15,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":3329049,\"kingdomKey\"\
        :5,\"phylumKey\":34,\"classKey\":186,\"orderKey\":1499,\"familyKey\":4171,\"\
        genusKey\":2526057,\"speciesKey\":8671098,\"scientificName\":\"Amanita muscaria\
        \ (L.) Hook., 1797\",\"kingdom\":\"Fungi\",\"phylum\":\"Basidiomycota\",\"\
        order\":\"Agaricales\",\"family\":\"Amanitaceae\",\"genus\":\"Amanita\",\"\
        species\":\"Amanita muscaria\",\"genericName\":\"Amanita\",\"specificEpithet\"\
        :\"muscaria\",\"taxonRank\":\"SPECIES\",\"decimalLongitude\":-0.62,\"decimalLatitude\"\
        :40.02,\"coordinateUncertaintyInMeters\":707.0,\"continent\":\"EUROPE\",\"\
        stateProvince\":\"Castellon\",\"year\":2012,\"month\":11,\"day\":3,\"eventDate\"\
        :\"2012-11-03T00:00:00.000+0000\",\"issues\":[\"GEODETIC_DATUM_ASSUMED_WGS84\"\
        ],\"lastInterpreted\":\"2017-05-09T14:49:25.204+0000\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\"\
        ,\"identifiers\":[],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\"\
        ,\"class\":\"Agaricomycetes\",\"countryCode\":\"ES\",\"country\":\"Spain\"\
        ,\"identifier\":\"BDBCV:BDBCV-General:1532719\",\"recordedBy\":\"J. A. Hern\xC3\
        \xA1ndez Mu\xC3\xB1\xC3\xB3z\",\"catalogNumber\":\"1532719\",\"institutionCode\"\
        :\"BDBCV\",\"municipality\":\"PINA DE MONTALGRAO\",\"collectionCode\":\"BDBCV-General\"\
        ,\"gbifID\":\"1501401593\",\"language\":\"Es\",\"occurrenceID\":\"BDBCV:BDBCV-General:1532719\"\
        ,\"identifiedBy\":\"J. A. Hern\xC3\xA1ndez Mu\xC3\xB1\xC3\xB3z\"},{\"key\"\
        :1666707317,\"datasetKey\":\"962f59bc-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\"\
        :\"75642970-f855-11dd-8235-b8a03c50a862\",\"publishingCountry\":\"LU\",\"\
        protocol\":\"BIOCASE\",\"lastCrawled\":\"2017-10-07T08:08:13.639+0000\",\"\
        lastParsed\":\"2017-10-07T08:08:13.665+0000\",\"crawlId\":17,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":3329049,\"kingdomKey\"\
   [...]
