interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/1986620884/verbatim
  response:
    body:
      string: '{"key":1986620884,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2024-02-23T05:16:29.968+00:00","lastParsed":"2024-02-23T14:29:43.197+00:00","crawlId":437,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://rs.tdwg.org/dwc/terms/catalogNumber":"30065447","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/30065447/original.jpg","http://purl.org/dc/terms/rightsHolder":"John
        Waller","http://purl.org/dc/terms/creator":"John Waller","http://purl.org/dc/terms/created":"2019-01-09T16:06:54Z","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/30065447","http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-nc/4.0/"}]},"publishedByGbifRegion":"NORTH_AMERICA","http://rs.tdwg.org/dwc/terms/verbatimEventDate":"Wed
        Jan 09 2019 20:06:54 GMT+0200 (GMT+2)","http://rs.tdwg.org/dwc/terms/collectionCode":"Observations","http://rs.tdwg.org/dwc/terms/taxonID":"43997","http://rs.tdwg.org/dwc/terms/order":"Rodentia","http://rs.tdwg.org/dwc/terms/verbatimLocality":"Khotymyr,
        Khotymyr, Ivano-Frankivsk Oblast, UA","http://rs.tdwg.org/dwc/terms/taxonRank":"species","http://rs.tdwg.org/dwc/terms/lifeStage":"adult","http://rs.tdwg.org/dw[...]
