interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":92919,\"results\":[{\"key\":\"3c4d3e45-4a7a-4ce6-8ead-6474004952c6\",\"installationKey\":\"791e3715-7452-4dd0-a906-db21a3852427\",\"publishingOrganizationKey\":\"3b5161b7-9831-4444-9822-a60df4df107d\",\"doi\":\"10.15468/q4tq5q\",\"external\":false,\"numConstituents\":0,\"type\":\"SAMPLING_EVENT\",\"subtype\":\"OBSERVATION\",\"title\":\"Aedes
        albopictus oviposition activity in Sainte Marie, R\xE9union Island, 2013-2018\",\"description\":\"This
        dataset contains the results of a longitudinal survey of Aedes albopictus
        mosquitoes (Diptera : Culicidae) oviposition performed in the municipality
        of Sainte-Marie, Reunion Island, between 2013 and 2018. \\n\\nThese collections
        were carried-out by two public agencies (Institut de Recherche pour le D\xE9veloppement
        (IRD) and Agence R\xE9gionale de Sant\xE9-Oc\xE9an Indien (ARS-OI)) in the
        frame of a project aiming at establishing the feasibility of deploying the
        Sterile Insect Technique for mosquito control in Reunion Island.\\n\\nThe
        data were collected using ovitraps, in three distinct sites of Sainte-Marie:
        Duparc and Bois-Rouge (residential areas) and a buffer zone separating these
        two urban areas. Every weeks during the survey from 2013 to 2018, the ovitraps
        were repeatedly placed in the same position in each defined zone. The egg
        laying papers were collected weekly and annotated with the trap number and
        collection date before being taken to the lab for egg counting.\\n\\nDetailed
        sampling methods area provided in the \\\"Sampling methods\\\" section of
        the metadata.\",\"language\":\"eng\",\"citation\":{\"text\":\"Le Goff G, Damiens
        D, Ruttee A, Jean F, Payet L, Lebon C, Taconet P, Dehecq J, Gouagna L (2024).
        Aedes albopictus oviposition activity in Sainte Marie, R\xE9union Island,
        2013-2018. IRD - Institute of Research for Development. Sampling event dataset
        https://doi.org/10.15468/q4tq5q accessed via GBIF.org on 2024-03-01.\",\"citationProvidedBySource\":false},\"contactsCitation\":[{\"key\":5171014,\"abbreviatedName\":\"Le
        Goff G\",\"firstName\":\"Gilbert\",\"lastName\":\"Le Goff\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5171015,\"abbreviatedName\":\"Damiens
        D\",\"firstName\":\"David\",\"lastName\":\"Damiens\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5171016,\"abbreviatedName\":\"Ruttee
        A\",\"firstName\":\"Abdoul-Hamid\",\"lastName\":\"Ruttee\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5171017,\"abbreviatedName\":\"Jean
        F\",\"firstName\":\"Fr\xE9d\xE9ric\",\"lastName\":\"Jean\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5171018,\"abbreviatedName\":\"Payet
        L\",\"firstName\":\"Laurent\",\"lastName\":\"Payet\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5171019,\"abbreviatedName\":\"Lebon
        C\",\"firstName\":\"Cyrille\",\"lastName\":\"Lebon\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5171020,\"abbreviatedName\":\"Taconet
        P\",\"firstName\":\"Paul\",\"lastName\":\"Taconet\",\"roles\":[\"ORIGINATOR\",\"METADATA_AUTHOR\"],\"userId\":[]},{\"key\":5171021,\"abbreviatedName\":\"Dehecq
        J\",\"firstName\":\"Jean-S\xE9bastien\",\"lastName\":\"Dehecq\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5171022,\"abbreviatedName\":\"Gouagna
        L\",\"firstName\":\"Louis-Cl\xE9ment\",\"lastName\":\"Gouagna\",\"roles\":[\"ORIGINATOR\",\"METADATA_AUTHOR\"],\"userId\":[]}],\"lockedForAutoUpdate\":false,\"createdBy\":\"3b5161b7-9831-4444-9822-a60df4df107d\",\"modifiedBy\":\"crawler.gbif.org\",\"created\":\"2024-03-01T00:34:37.042+00:00\",\"modified\":\"2024-03-01T00:35:46.026+00:00\",\"contacts\":[{\"key\":5171014,\"type\":\"ORIGINATOR\",\"primary\":true,\"userId\":[],\"firstName\":\"Gilbert\",\"lastName\":\"Le
        Goff\",\"position\":[\"Research engineer\"],\"email\":[\"gilbert.legoff@ird.fr\"],\"phone\":[],\"homepage\":[],\"organization\":\"MIVEGEC,
        IRD, CNRS, Univ. Montpellier, Montpellier, France\",\"address\":[],\"country\":\"FR\",\"createdBy\":\"crawler.gbif.org\",\"modifiedBy\":\"crawler.gbif.org\",\"created\":\"2024-03-01T00:35:45.982+00:00\",\"modified\":\"2024-03-01T00:35:45.982+00:00\"},{\"key\":5171015,\"type\":\"ORIGINATOR\",\"primary\":false,\"userId\":[],\"firstName\":\"David\",\"lastName\":\"Damiens\",\"position\":[\"Engineer\"],\"email\":[\"david.damiens@ird.fr\"],\"phone\":[],\"homepage\":[],\"organization\":\"IRD
        R\xE9union / GIP CYROI (Recherche Sant\xE9 Bio-innovation), Sainte Clotilde,
    [...]
