interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/occurrence/search?taxonKey=2683264&limit=300&offset=0
  response:
    body: {string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":547,\"\
        results\":[{\"key\":1321376861,\"datasetKey\":\"821cc27a-e3bb-4bc5-ac34-89ada245069d\"\
        ,\"publishingOrgKey\":\"bc092ff0-02e4-11dc-991f-b8a03c50a862\",\"publishingCountry\"\
        :\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2017-11-29T19:32:52.370+0000\"\
        ,\"lastParsed\":\"2017-06-03T09:05:58.230+0000\",\"crawlId\":29,\"extensions\"\
        :{},\"basisOfRecord\":\"PRESERVED_SPECIMEN\",\"individualCount\":1,\"taxonKey\"\
        :2683264,\"kingdomKey\":6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\"\
        :834,\"familyKey\":6168,\"genusKey\":2683206,\"speciesKey\":2683264,\"scientificName\"\
        :\"Cycas circinalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\"\
        ,\"order\":\"Cycadales\",\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"\
        species\":\"Cycas circinalis\",\"genericName\":\"Cycas\",\"specificEpithet\"\
        :\"circinalis\",\"taxonRank\":\"SPECIES\",\"continent\":\"NORTH_AMERICA\"\
        ,\"stateProvince\":\"District of Columbia\",\"year\":2016,\"month\":6,\"day\"\
        :27,\"eventDate\":\"2016-06-27T00:00:00.000+0000\",\"issues\":[],\"lastInterpreted\"\
        :\"2017-06-03T09:23:30.164+0000\",\"license\":\"http://creativecommons.org/publicdomain/zero/1.0/legalcode\"\
        ,\"identifiers\":[],\"facts\":[],\"relations\":[],\"class\":\"Cycadopsida\"\
        ,\"countryCode\":\"US\",\"country\":\"United States\",\"recordNumber\":\"\
        74\",\"identifier\":\"http://n2t.net/ark:/65665/3b8a04155-0694-403a-8689-66226390733b\"\
        ,\"habitat\":\"Cultivated/garden\",\"higherGeography\":\"North America, United\
        \ States, District of Columbia\",\"institutionID\":\"http://biocol.org/urn:lsid:biocol.org:col:34871\"\
        ,\"endDayOfYear\":\"179\",\"collectionCode\":\"Botany\",\"gbifID\":\"1321376861\"\
        ,\"occurrenceID\":\"http://n2t.net/ark:/65665/3b8a04155-0694-403a-8689-66226390733b\"\
        ,\"type\":\"PhysicalObject\",\"recordedBy\":\"M. Sedaghatpour & S. Vo\",\"\
        institutionCode\":\"US\",\"startDayOfYear\":\"179\",\"identifiedBy\":\"Gostel,\
        \ M. R.\",\"higherClassification\":\"Plantae, Gymnospermae, Cycadales, Cycadaceae\"\
        },{\"key\":1305479645,\"datasetKey\":\"baa86fb2-7346-4507-a34f-44e4c1bd0d57\"\
        ,\"publishingOrgKey\":\"b2dbd210-90c2-11df-86a3-b8a03c50a862\",\"publishingCountry\"\
        :\"FR\",\"protocol\":\"TAPIR\",\"lastCrawled\":\"2017-12-05T15:31:02.342+0000\"\
        ,\"lastParsed\":\"2016-09-07T15:31:41.061+0000\",\"crawlId\":45,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":2683264,\"kingdomKey\"\
        :6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"\
        genusKey\":2683206,\"speciesKey\":2683264,\"scientificName\":\"Cycas circinalis\
        \ L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Cycadales\"\
        ,\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"Cycas circinalis\"\
        ,\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"taxonRank\"\
        :\"SPECIES\",\"dateIdentified\":\"2011-12-24T00:00:00.000+0000\",\"year\"\
        :2011,\"month\":12,\"day\":24,\"eventDate\":\"2011-12-24T00:00:00.000+0000\"\
        ,\"issues\":[],\"lastInterpreted\":\"2017-02-17T20:06:26.436+0000\",\"license\"\
        :\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"identifiers\"\
        :[],\"facts\":[],\"relations\":[],\"class\":\"Cycadopsida\",\"countryCode\"\
        :null,\"recordedBy\":\"Yoan MARTIN\",\"catalogNumber\":\"2051075\",\"institutionCode\"\
        :\"http://www.tela-botanica.org\",\"collectionCode\":\"cel\",\"gbifID\":\"\
        1305479645\",\"occurrenceID\":\"urn:lsid:tela-botanica.org:cel:2051075\",\"\
        identifiedBy\":\"Yoan MARTIN\"},{\"key\":1305479659,\"datasetKey\":\"baa86fb2-7346-4507-a34f-44e4c1bd0d57\"\
        ,\"publishingOrgKey\":\"b2dbd210-90c2-11df-86a3-b8a03c50a862\",\"publishingCountry\"\
        :\"FR\",\"protocol\":\"TAPIR\",\"lastCrawled\":\"2017-12-05T15:31:02.339+0000\"[...]
