interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?type=OCCURRENCE&limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":38746,\"results\":[{\"key\":\"91f1a8be-b7fd-405d-ae8d-e55edaa75260\",\"installationKey\":\"9df8109c-684d-416b-819b-7bc09adc500b\",\"publishingOrganizationKey\":\"f3a1a103-ba87-4b9d-90e4-b12db3a80e1c\",\"doi\":\"10.60545/fl2c7w\",\"external\":false,\"numConstituents\":0,\"type\":\"OCCURRENCE\",\"title\":\"Lista
        preliminar de peces del Parque Nacional Yasun\xED de la colecci\xF3n de Ictiolog\xEDa
        del Museo de Historia Natural \\\"Gustavo Orc\xE9s V.\\\"\",\"description\":\"Lista
        preliminar de los peces continentales que habitan en el Parque Nacional Yasun\xED
        y sus alrededores, presentes en la colecci\xF3n de Ictiolog\xEDa del Museo
        de Historia Natural \\\"Gustavo Orc\xE9s V.\\\"\",\"language\":\"spa\",\"logoUrl\":\"http://patrimonio.ambiente.gob.ec/iptmae_test/logo.do?r=ictioyasuni\",\"citation\":{\"text\":\"Arg\xFCello
        P, Calvache E, Barriga R (2024). Lista preliminar de peces del Parque Nacional
        Yasun\xED de la colecci\xF3n de Ictiolog\xEDa del Museo de Historia Natural
        \\\"Gustavo Orc\xE9s V.\\\". Museo de Historia Natural \\\"Gustavo Orc\xE9s
        V.\\\". Occurrence dataset https://doi.org/10.60545/fl2c7w accessed via GBIF.org
        on 2024-03-01.\",\"identifier\":\"https://doi.org/10.60545/fl2c7w\",\"citationProvidedBySource\":false},\"contactsCitation\":[{\"key\":5170795,\"abbreviatedName\":\"Arg\xFCello
        P\",\"firstName\":\"Pablo\",\"lastName\":\"Arg\xFCello\",\"roles\":[\"ORIGINATOR\",\"METADATA_AUTHOR\"],\"userId\":[]},{\"key\":5170796,\"abbreviatedName\":\"Calvache
        E\",\"firstName\":\"Evelyn\",\"lastName\":\"Calvache\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]},{\"key\":5170797,\"abbreviatedName\":\"Barriga
        R\",\"firstName\":\"Ramiro\",\"lastName\":\"Barriga\",\"roles\":[\"ORIGINATOR\"],\"userId\":[]}],\"lockedForAutoUpdate\":false,\"createdBy\":\"f3a1a103-ba87-4b9d-90e4-b12db3a80e1c\",\"modifiedBy\":\"crawler.gbif.org\",\"created\":\"2024-02-29T21:11:23.334+00:00\",\"modified\":\"2024-02-29T21:12:28.763+00:00\",\"contacts\":[{\"key\":5170795,\"type\":\"ORIGINATOR\",\"primary\":true,\"userId\":[],\"firstName\":\"Pablo\",\"lastName\":\"Arg\xFCello\",\"position\":[\"Curador\"],\"email\":[\"pablo.arguello@epn.edu.ec\"],\"phone\":[],\"homepage\":[],\"organization\":\"MHNGOV\",\"address\":[],\"city\":\"Quito\",\"country\":\"EC\",\"createdBy\":\"crawler.gbif.org\",\"modifiedBy\":\"crawler.gbif.org\",\"created\":\"2024-02-29T21:12:28.732+00:00\",\"modified\":\"2024-02-29T21:12:28.732+00:00\"},{\"key\":5170796,\"type\":\"ORIGINATOR\",\"primary\":false,\"userId\":[],\"firstName\":\"Evelyn\",\"lastName\":\"Calvache\",\"position\":[\"T\xE9cnica
        de colecciones\"],\"email\":[\"evelyn_calvacheu@hotmail.com\"],\"phone\":[],\"homepage\":[],\"organization\":\"TNC/MHNGOV\",\"address\":[],\"city\":\"Quito\",\"province\":\"Pichincha\",\"country\":\"EC\",\"createdBy\":\"crawler.gbif.org\",\"modifiedBy\":\"crawler.gbif.org\",\"created\":\"2024-02-29T21:12:28.737+00:00\",\"modified\":\"2024-02-29T21:12:28.737+00:00\"},{\"key\":5170797,\"type\":\"ORIGINATOR\",\"primary\":false,\"userId\":[],\"firstName\":\"Ramiro\",\"lastName\":\"Barriga\",\"position\":[\"Colaborador\"],\"email\":[],\"phone\":[],\"homepage\":[],\"organization\":\"MHNGOV\",\"address\":[],\"createdBy\":\"crawler.gbif.org\",\"modifiedBy\":\"crawler.gbi[...]
