interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?publishingOrgKey=e2e717bf-551a-4917-bdc9-4fa0f342c530&limit=5&offset=0
  response:
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":300,"results":[{"datasetKey":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","totalRecords":407209861031,"numberDownloads":7255,"year":2026,"month":2},{"datasetKey":"7f6dd0f7-9ed4-49c0-bb71-b2a9c7fed9f1","totalRecords":34779843,"numberDownloads":4115,"year":2026,"month":2},{"datasetKey":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","totalRecords":356868745208,"numberDownloads":6570,"year":2026,"month":1},{"datasetKey":"7f6dd0f7-9ed4-49c0-bb71-b2a9c7fed9f1","totalRecords":29824927,"numberDownloads":3121,"year":2026,"month":1},{"datasetKey":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","totalRecords":304769971273,"numberDownloads":7062,"year":2025,"month":12}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
