interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species?limit=10
  response:
    body: {string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"results\"\
        :[{\"key\":0,\"nubKey\":0,\"nameKey\":13592277,\"taxonID\":\"gbif:0\",\"kingdom\"\
        :\"incertae sedis\",\"kingdomKey\":0,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\"\
        ,\"constituentKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"scientificName\"\
        :\"incertae sedis\",\"canonicalName\":\"incertae sedis\",\"authorship\":\"\
        \",\"nameType\":\"PLACEHOLDER\",\"rank\":\"KINGDOM\",\"origin\":\"SOURCE\"\
        ,\"taxonomicStatus\":\"DOUBTFUL\",\"nomenclaturalStatus\":[],\"remarks\":\"\
        \",\"numDescendants\":12499,\"lastCrawled\":\"2017-02-14T13:42:21.926+0000\"\
        ,\"lastInterpreted\":\"2017-02-14T13:37:11.829+0000\",\"issues\":[],\"synonym\"\
        :false},{\"key\":1,\"nubKey\":1,\"nameKey\":13352168,\"taxonID\":\"gbif:1\"\
        ,\"kingdom\":\"Animalia\",\"kingdomKey\":1,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\"\
        ,\"constituentKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"scientificName\"\
        :\"Animalia\",\"canonicalName\":\"Animalia\",\"authorship\":\"\",\"nameType\"\
        :\"SCIENTIFIC\",\"rank\":\"KINGDOM\",\"origin\":\"SOURCE\",\"taxonomicStatus\"\
        :\"ACCEPTED\",\"nomenclaturalStatus\":[],\"remarks\":\"\",\"publishedIn\"\
        :\"Linn\xE6us, Carolus.  1758. Systema naturae per regna tria naturae, secundum\
        \ classes, ordines, genera, species, cum characteribus, differentiis, synonymis,\
        \ locis. Laurentii Salvii, Holmiae [= Stockholm].  Vol. Tomus I,  Editio decima,\
        \ reformata: i-ii, 1-824.\",\"numDescendants\":2323575,\"lastCrawled\":\"\
        2017-02-14T13:42:21.926+0000\",\"lastInterpreted\":\"2017-02-14T12:05:57.974+0000\"\
        ,\"issues\":[],\"synonym\":false},{\"key\":2,\"nubKey\":2,\"nameKey\":13555055,\"\
        taxonID\":\"gbif:2\",\"kingdom\":\"Archaea\",\"kingdomKey\":2,\"datasetKey\"\
        :\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"constituentKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\"\
        ,\"scientificName\":\"Archaea\",\"canonicalName\":\"Archaea\",\"authorship\"\
        :\"\",\"nameType\":\"SCIENTIFIC\",\"rank\":\"KINGDOM\",\"origin\":\"SOURCE\"\
        ,\"taxonomicStatus\":\"ACCEPTED\",\"nomenclaturalStatus\":[],\"remarks\":\"\
        \",\"numDescendants\":716,\"lastCrawled\":\"2017-02-14T13:42:21.926+0000\"\
        ,\"lastInterpreted\":\"2017-02-14T13:00:09.478+0000\",\"issues\":[],\"synonym\"\
        :false},{\"key\":3,\"nubKey\":3,\"nameKey\":13555164,\"taxonID\":\"gbif:3\"\
        ,\"ki[...]
