interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&limit=3&offset=0
  response:
    body:
      string: '{"offset":0,"limit":3,"endOfRecords":false,"count":3509790628,"results":[{"key":1632777577,"datasetKey":"fa375330-6c8a-11de-8226-b8a03c50a862","publishingOrgKey":"4d0539cd-a2e0-4a2c-8b7d-ec6718eef764","networkKeys":["99d66b6c-9087-452f-a9d4-f15f2c2d0e7e"],"installationKey":"19893c10-381e-4534-9bb8-6c37d03ad29e","hostingOrganizationKey":"3c5e4331-7f2f-4a8d-aa56-81ece7014fc8","publishingCountry":"AU","protocol":"DWC_ARCHIVE","lastCrawled":"2025-07-11T00:50:28.888+00:00","lastParsed":"2025-07-11T01:15:31.408+00:00","crawlId":485,"extensions":{},"basisOfRecord":"PRESERVED_SPECIMEN","individualCount":1,"occurrenceStatus":"PRESENT","sex":"Male","classifications":{"7ddf754f-d193-4cc9-b351-99906754a03b":{"usage":{"key":"WZXC","name":"Colepia
        rufiventris (Macquart, 1838)","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"(Macquart,
        1838)","genericName":"Colepia","specificEpithet":"rufiventris","formattedName":"<i>Colepia</i>
        <i>rufiventris</i> (Macquart, 1838)"},"acceptedUsage":{"key":"WZXC","name":"Colepia
        rufiventris (Macquart, 1838)","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"(Macquart,
        1838)","genericName":"Colepia","specificEpithet":"rufiventris","formattedName":"<i>Colepia</i>
        <i>rufiventris</i> (Macquart, 1838)"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"CS5HF","name":"Eukaryota","rank":"DOMAIN"},{"key":"N","name":"Animalia","rank":"KINGDOM"},{"key":"RT","name":"Arthropoda","rank":"PHYLUM"},{"key":"CW2TP","name":"Hexapoda","rank":"SUBPHYLUM"},{"key":"H6","name":"Insecta","rank":"CLASS"},{"key":"D2P","name":"Diptera","rank":"ORDER"},{"key":"6SY","name":"Asilidae","rank":"FAMILY"},{"key":"87CDJ","name":"Asilinae","rank":"SUBFAMILY"},{"key":"BXZDB","name":"Colepia","rank":"GENUS"},{"key":"WZXC","name":"Colepia
        rufiventris","rank":"SPECIES"}],"issues":["TAXON_CONCEPT_ID_NOT_FOUND"]},"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c":{"usage":{"key":"1663174","name":"Colepia
        rufiventris (Macquart, 1838)","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"(Macquart,
        1838)","genericName":"Colepia","specificEpithet":"rufiventris","formattedName":"<i>Colepia</i>
        <i>rufiventris</i> (Macquart, 1838)"},"acceptedUsage":{"key":"1663174","name":"Colepia
        rufiventris (Macquart, 1838)","rank":"SPECIES","code":"ZOOLOGICAL","authorship":"(Macquart,
        1838)","genericName":"Colepia","specificEpithet":"rufiventris","formattedName":"<i>Colepia</i>
        <i>rufiventris</i> (Macquart, 1838)"},"taxonomicStatus":"ACCEPTED","classification":[{"key":"1","name":"Animalia","rank":"KINGDOM"},{"key":"54","name":"Arthropoda","rank":"PHYLUM"},{"key":"216","name":"Insecta","rank":"CLASS"},{"key":"811","name":"Diptera","rank":"ORDER"},{"key":"7275","name":"Asilidae","rank":"FAMILY"},{"key":"1663171","name":"Colepia","rank":"GENUS"},{"key":"1663174","name":"Colepia
        rufiventris","rank":"SPECIES"}],"issues":["TAXON_CONCEPT_ID_NOT_FOUND"]}},"taxonKey":1663174,"kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":7275,"genusKey":1663171,"speciesKey":1663174,"acceptedTaxonKey":1663174,"scientificName":"Colepia
        rufiventris (Macquart, 1838)","scientificNameAuthorship":"(Macquart, 1838)","acceptedScientificName":"Colepia
        rufiventris (Macquart, 1838)","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Asilidae","genus":"Colepia","species":"Colepia
        rufiventris","genericName":"Colepia","specificEpithet":"rufiventris","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","decimalLatitude":-33.88,"decimalLongitude":151.22,"coordinatePrecision":0.01,"coordinateUncertaintyInMeters":10000.0,"continent":"OCEANIA","stateProvince":"New
        South Wales","gadm":{"level0":{"gid":"AUS","name":"Australia"},"level1":{"gid":"AUS.5_1","name":"New
        South Wales"},"level2":{"gid":"AUS.5.122_1","name":"Sydney"}},"year":2025,"month":1,"day":24,"eventDate":"2025-01-24","startDayOfYear":24,"endDayOfYear":24,"issues":["CONTINENT_DERIVED_FROM_COORDINATES","TAXON_CONCEPT_ID_NOT_FOUND","INSTITUTION_MATCH_FUZZY","INSTITUTION_COLLECTION_MISMATCH"],"modified":"2021-10-19T00:00:00.000+00:00","lastInterpreted":"2025-07-11T01:15:31.408+00:00","license":"http://creativecommons.org/licenses/by/4.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"cfab2d03-759b-43d2-9cef-35c7f30361f5"}],"media":[],"facts":[],"relations":[],"institutionKey":"5d0174cc-48aa-497e-8751-df708df5ccc5","isInCluster":false,"otherCatalogNumbers":"ecatalogue.irn:331143","recordedBy":"Gibbons,
        Charles","dnaSequenceID":[],"geodeticDatum":"WGS84","class":"Insecta","countryCode":"AU","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"OCEANIA","country":"Australia","publishedByGbifRegion":"OCEANIA","identifier":"cfab2d03-759b-43d2-9cef-35c7f30361f5","eventID":"urn:emu.sam.sa.gov.au:Event:147613","http://unknown.org/taxonRankID":"7000","locality":"Sydney
        | Sydney","gbifID":"1632777577","collectionCode":"Entomology","language":"en","occurrenceID":"cfab2d03-759b-43d2-9cef-35c7f30361f5","type":"PhysicalObject","catalogNumber":"29-000230","vernacularName":"Robber
        Fly","institutionCode":"SAMA","taxonConceptID":"https://biodiversity.org.au/afd/taxa/f53d3e94-64bb-49c7-a9fc-226f86c5cc80","http://unknown.org/species":"Colepia
        rufiventris"},{"key":1825830405,"datasetKey":"7e380070-f762-11e1-a439-00145eb45e9a","publishingOrgKey":"19456090-b49a-11d8-abeb-b8a03c50a862","networkKeys":["17abcf75-2f1e-46dd-bf75-a5b21dd02655","99d66b6c-9087-452f-a9d4-f15f2c2d0e7e"],"installationKey":"60277b56-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"19456090-b49a-11d8-abeb-b8a03c50a862","publishingCountry":"[...]
