interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=KZQN&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":2441,\"results\":[{\"key\":5938345554,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"datasetCategory\":[\"CitizenScience\"],\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T15:17:25.526+00:00\",\"lastParsed\":\"2026-08-14T02:44:03.972+00:00\",\"crawlId\":604,\"projectId\":\"https://www.inaturalist.org/projects/california-endemic-species\",\"extensions\":{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"KZQN\",\"name\":\"Batrachoseps
        luciae Jockusch, Yanev & Wake, 2001\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Jockusch,
        Yanev & Wake, 2001\",\"genericName\":\"Batrachoseps\",\"specificEpithet\":\"luciae\",\"formattedName\":\"<i>Batrachoseps</i>
        <i>luciae</i> Jockusch, Yanev & Wake, 2001\"},\"acceptedUsage\":{\"key\":\"KZQN\",\"name\":\"Batrachoseps
        luciae Jockusch, Yanev & Wake, 2001\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Jockusch,
        Yanev & Wake, 2001\",\"genericName\":\"Batrachoseps\",\"specificEpithet\":\"luciae\",\"formattedName\":\"<i>Batrachoseps</i>
        <i>luciae</i> Jockusch, Yanev & Wake, 2001\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"N\",\"name\":\"Animalia\",\"rank\":\"KINGDOM\"},{\"key\":\"CH2\",\"name\":\"Chordata\",\"rank\":\"PHYLUM\"},{\"key\":\"8V4V3\",\"name\":\"Vertebrata\",\"rank\":\"SUBPHYLUM\"},{\"key\":\"8V4V5\",\"name\":\"Gnathostomata\",\"rank\":\"INFRAPHYLUM\"},{\"key\":\"8VVWB\",\"name\":\"Osteichthyes\",\"rank\":\"PARVPHYLUM\"},{\"key\":\"9CK8W\",\"name\":\"Tetrapoda\",\"rank\":\"MEGACLASS\"},{\"key\":\"PH\",\"name\":\"Amphibia\",\"rank\":\"CLASS\"},{\"key\":\"W3\",\"name\":\"Caudata\",\"rank\":\"ORDER\"},{\"key\":\"625RT\",\"name\":\"Plethodontidae\",\"rank\":\"FAMILY\"},{\"key\":\"JND\",\"name\":\"Hemidactyliinae\",\"rank\":\"SUBFAMILY\"},{\"key\":\"62F9W\",\"name\":\"Batrachoseps\",\"rank\":\"GENUS\"},{\"key\":\"KZQN\",\"name\":\"Batrachoseps
        luciae\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"LC\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"2431762\",\"name\":\"Batrachoseps
        luciae Jockusch, Yanev & Wake, 2001\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Jockusch,
        Yanev & Wake, 2001\",\"genericName\":\"Batrachoseps\",\"specificEpithet\":\"luciae\",\"formattedName\":\"<i>Batrachoseps</i>
        <i>luciae</i> Jockusch, Yanev & Wake, 2001\"},\"acceptedUsage\":{\"key\":\"2431762\",\"name\":\"Batrachoseps
        luciae Jockusch, Yanev & Wake, 2001\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"Jockusch,
        Yanev & Wake, 2001\",\"genericName\":\"Batrachoseps\",\"specificEpithet\":\"luciae\",\"formattedName\":\"<i>Batrachoseps</i>
        <i>luciae</i> Jockusch, Yanev & Wake, 2001\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"1\",\"name\":\"Animalia\",\"rank\":\"KINGDOM\"},{\"key\":\"44\",\"name\":\"Chordata\",\"rank\":\"PHYLUM\"},{\"key\":\"131\",\"name\":\"Amphibia\",\"rank\":\"CLASS\"},{\"key\":\"953\",\"name\":\"Caudata\",\"rank\":\"ORDER\"},{\"key\":\"6748\",\"name\":\"Plethodontidae\",\"rank\":\"FAMILY\"},{\"key\":\"2431747\",\"name\":\"Batrachoseps\",\"rank\":\"GENUS\"},{\"key\":\"2431762\",\"name\":\"Batrachoseps
        luciae\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"LC\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]}},\"taxonKey\":2431762,\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":131,\"orderKey\":953,\"familyKey\":6748,\"genusKey\":2431747,\"speciesKey\":2431762,\"acceptedTaxonKey\":2431762,\"scientificName\":\"Batrachoseps
        luciae Jockusch, Yanev & Wake, 2001\",\"scientificNameAuthorship\":\"Jockusch,
        Yanev & Wake, 2001\",\"acceptedScientificName\":\"Batrachoseps luciae Jockusch,
        Yanev & Wake, 2001\",\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\",\"order\":\"Caudata\",\"family\":\"Plethodontidae\",\"genus\":\"Batrachoseps\",\"species\":\"Batrachoseps
        luciae\",\"genericName\":\"Batrachoseps\",\"specificEpithet\":\"luciae\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"iucnRedListCategory\":\"LC\",\"dateIdentified\":\"2026-01-05T00:10:41\",\"decimalLatitude\":36.433346,\"decimalLongitude\":-121.825672,\"coordinateUncertaintyInMeters\":28534.0,\"continent\":\"NORTH_AMERICA\",\"stateProvince\":\"California\",\"gadm\":{\"level0\":{\"gid\":\"USA\",\"name\":\"United
        States\"},\"level1\":{\"gid\":\"USA.5_1\",\"name\":\"California\"},\"level2\":{\"gid\":\"USA.5.27_1\",\"name\":\"Monterey\"}},\"year\":2026,\"month\":1,\"day\":4,\"eventDate\":\"2026-01-04T15:20\",\"startDayOfYear\":4,\"endDayOfYear\":4,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_ID_NOT_FOUND\"],\"modified\":\"2026-01-05T00:41:54.000+00:00\",\"lastInterpreted\":\"2026-08-14T02:44:03.972+00:00\",\"references\":\"https://www.inaturalist.org/observations/333512410\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"333512410\"}],\"media\":[],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"datasetName\":\"iNaturalist
        research-grade observations\",\"recordedBy\":\"Bill Hubick\",\"identifiedBy\":\"Bill
        Hubick\",\"dnaSequenceID\":[],\"nucleotideSequence\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Amphibia\",\"countryCode\":\"US\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"NORTH_AMERICA\",\"country\":\"United
        States of America\",\"publishedByGbifRegion\":\"NORTH_AMERICA\",\"rightsHolder\":\"Bill
        Hubick\",\"identifier\":\"333512410\",\"http://unknown.org/nick\":\"billhubick\",\"informationWithheld\":\"Coordinate
        uncertainty increased to 28534m to protect threatened taxon\",\"verbatimEventDate\":\"2026/01/04
        3:20 PM\",\"http://unknown.org/crawl_attempt\":\"604\",\"http://unknown.org/status\":\"not_reviewed\",\"verbatimLocality\":\"California,
        US\",\"gbifID\":\"5938345554\",\"collectionCode\":\"Observations\",\"occurrenceID\":\"https://www.inaturalist.org/observations/333512410\",\"taxonID\":\"27470\",\"http://unknown.org/captive_cultivated\":\"wild\",\"catalogNumber\":\"333512410\",\"institutionCode\":\"iNaturalist\",\"eventTime\":\"15:20:00-08:00\",\"occurrenceRemarks\":\"Del
        Monte Forest area\",\"identificationID\":\"746592638\"},{\"key\":5938353286,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"datasetCategory\":[\"CitizenScience\"],\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T15:17:25.526+00:00\",\"lastParsed\":\"2026-08-14T01:54:09.102+00:00\",\"crawlId\":604,\"pr[...]
