interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/match?name=Helianthus+annuus&strict=false&verbose=false&limit=100
  response:
    body:
      string: '{"usageKey":9206251,"scientificName":"Helianthus annuus L.","canonicalName":"Helianthus
        annuus","rank":"SPECIES","status":"ACCEPTED","confidence":99,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","species":"Helianthus
        annuus","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3119134,"speciesKey":9206251,"synonym":false,"class":"Magnoliopsida"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
