interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=3329049&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":1265,\"results\":[{\"key\":5285860984,\"datasetKey\":\"963a6b96-4d22-4428-86e4-afee52cf4a8e\",\"publishingOrgKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"installationKey\":\"f9c0c41b-6da4-4be4-b917-a6f7710f3dbc\",\"hostingOrganizationKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2025-11-09T05:13:57.771+00:00\",\"lastParsed\":\"2025-11-09T05:25:28.242+00:00\",\"crawlId\":287,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by/4.0/\",\"http://purl.org/dc/terms/type\":\"Image\",\"http://purl.org/dc/terms/identifier\":\"https://arter.dk/media/abd499f5-4494-412e-a0f6-b34300c45330.jpg\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"LMN82\",\"name\":\"Amanita
        muscaria (L. ex Fr.) Hooker\",\"rank\":\"SPECIES\",\"authorship\":\"(L. ex
        Fr.) Hooker\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L. ex Fr.) Hooker\"},\"acceptedUsage\":{\"key\":\"5TYZ9\",\"name\":\"Amanita
        muscaria (L.) Lam.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"(L.)
        Lam.\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L.) Lam.\"},\"taxonomicStatus\":\"SYNONYM\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"F\",\"name\":\"Fungi\",\"rank\":\"KINGDOM\"},{\"key\":\"BM\",\"name\":\"Basidiomycota\",\"rank\":\"PHYLUM\"},{\"key\":\"7C\",\"name\":\"Agaricomycetes\",\"rank\":\"CLASS\"},{\"key\":\"N8\",\"name\":\"Agaricales\",\"rank\":\"ORDER\"},{\"key\":\"68Y\",\"name\":\"Amanitaceae\",\"rank\":\"FAMILY\"},{\"key\":\"T7Z\",\"name\":\"Amanita\",\"rank\":\"GENUS\"},{\"key\":\"5TYZ9\",\"name\":\"Amanita
        muscaria\",\"rank\":\"SPECIES\"}],\"issues\":[\"TAXON_ID_NOT_FOUND\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"3329049\",\"name\":\"Amanita
        muscaria (L.) Hook.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"(L.)
        Hook.\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L.) Hook.\"},\"acceptedUsage\":{\"key\":\"8168319\",\"name\":\"Amanita
        muscaria (L.) Lam.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"(L.)
        Lam.\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L.) Lam.\"},\"taxonomicStatus\":\"SYNONYM\",\"classification\":[{\"key\":\"5\",\"name\":\"Fungi\",\"rank\":\"KINGDOM\"},{\"key\":\"34\",\"name\":\"Basidiomycota\",\"rank\":\"PHYLUM\"},{\"key\":\"186\",\"name\":\"Agaricomycetes\",\"rank\":\"CLASS\"},{\"key\":\"1499\",\"name\":\"Agaricales\",\"rank\":\"ORDER\"},{\"key\":\"4171\",\"name\":\"Amanitaceae\",\"rank\":\"FAMILY\"},{\"key\":\"6005964\",\"name\":\"Amanita\",\"rank\":\"GENUS\"},{\"key\":\"8168319\",\"name\":\"Amanita
        muscaria\",\"rank\":\"SPECIES\"}],\"issues\":[\"TAXON_ID_NOT_FOUND\"]}},\"taxonKey\":3329049,\"kingdomKey\":5,\"phylumKey\":34,\"classKey\":186,\"orderKey\":1499,\"familyKey\":4171,\"genusKey\":6005964,\"speciesKey\":8168319,\"acceptedTaxonKey\":8168319,\"scientificName\":\"Amanita
        muscaria (L.) Hook.\",\"scientificNameAuthorship\":\"(L.) Hook.\",\"acceptedScientificName\":\"Amanita
        muscaria (L.) Lam.\",\"kingdom\":\"Fungi\",\"phylum\":\"Basidiomycota\",\"order\":\"Agaricales\",\"family\":\"Amanitaceae\",\"genus\":\"Amanita\",\"species\":\"Amanita
        muscaria\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"SYNONYM\",\"decimalLatitude\":55.692824,\"decimalLongitude\":9.507487,\"coordinateUncertaintyInMeters\":6.0,\"continent\":\"EUROPE\",\"gadm\":{\"level0\":{\"gid\":\"DNK\",\"name\":\"Denmark\"},\"level1\":{\"gid\":\"DNK.5_1\",\"name\":\"Syddanmark\"},\"level2\":{\"gid\":\"DNK.5.22_1\",\"name\":\"Vejle\"}},\"year\":2025,\"month\":8,\"day\":24,\"eventDate\":\"2025-08-24\",\"startDayOfYear\":236,\"endDayOfYear\":236,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_ID_NOT_FOUND\"],\"modified\":\"2025-08-24T15:20:53.594+00:00\",\"lastInterpreted\":\"2025-11-09T05:25:28.242+00:00\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"93d40a78-fac1-4de9-a8fe-b34300c45409\"}],\"media\":[{\"type\":\"StillImage\",\"license\":\"http://creativecommons.org/licenses/by/4.0/\",\"identifier\":\"https://arter.dk/media/abd499f5-4494-412e-a0f6-b34300c45330.jpg\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"recordedBy\":\"Else-Marie
        J\xF8rgensen\",\"identifiedBy\":\"Else-Marie J\xF8rgensen\",\"dnaSequenceID\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Agaricomycetes\",\"countryCode\":\"DK\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"EUROPE\",\"country\":\"Denmark\",\"publishedByGbifRegion\":\"EUROPE\",\"identifier\":\"93d40a78-fac1-4de9-a8fe-b34300c45409\",\"catalogNumber\":\"Arter_93d40a78-fac1-4de9-a8fe-b34300c45409\",\"vernacularName\":\"R\xF8d
        fluesvamp\",\"institutionCode\":\"MST-and-NHMD\",\"dynamicProperties\":\"{\\\"Substrate\\\":\\\"\\\"}\",\"eventTime\":\"13:50:53.012+02:00\",\"gbifID\":\"5285860984\",\"language\":\"da\",\"bibliographicCitation\":\"Arter.dk
        Milj\xF8styrelsen\",\"occurrenceID\":\"https://arter.dk/observation/record-details/93d40a78-fac1-4de9-a8fe-b34300c45409\",\"taxonID\":\"MSTSNM:Arter:9dbdeda6-7ff3-4591-b5ec-abc800d9e2e2\"},{\"key\":5822079538,\"datasetKey\":\"963a6b96-4d22-4428-86e4-afee52cf4a8e\",\"publishingOrgKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"installationKey\":\"f9c0c41b-6da4-4be4-b917-a6f7710f3dbc\",\"hostingOrganizationKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2025-11-09T05:13:57.771+00:00\",\"lastParsed\":\"2025-11-09T05:25:16.008+00:00\",\"crawlId\":287,\"ext[...]
