interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?identifiedByID=https%3A%2F%2Forcid.org%2F0000-0003-1691-239X&limit=3&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":3,\"endOfRecords\":false,\"count\":2207,\"results\":[{\"key\":4100107708,\"datasetKey\":\"84d26682-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\":\"ccc2e3ec-98ba-4e74-878d-7dcf0f57baba\",\"installationKey\":\"fe25aaf4-d236-4dd8-a9a9-3b2e3d24622e\",\"hostingOrganizationKey\":\"ccc2e3ec-98ba-4e74-878d-7dcf0f57baba\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2024-02-23T10:59:24.160+00:00\",\"lastParsed\":\"2024-02-23T11:21:30.924+00:00\",\"crawlId\":431,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/identifier\":\"https://svampe.databasen.org/uploads/2023-10350882_r18Wx4nZ2.JPG\",\"http://purl.org/dc/terms/rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/creator\":\"Thomas Stjernegaard
        Jeppesen\",\"http://purl.org/dc/terms/type\":\"StillImage\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"taxonKey\":8620875,\"kingdomKey\":5,\"phylumKey\":95,\"classKey\":180,\"orderKey\":1279,\"familyKey\":5838,\"genusKey\":2600477,\"speciesKey\":8620875,\"acceptedTaxonKey\":8620875,\"scientificName\":\"Phlyctis
        argena (Ach.) Flot.\",\"acceptedScientificName\":\"Phlyctis argena (Ach.)
        Flot.\",\"kingdom\":\"Fungi\",\"phylum\":\"Ascomycota\",\"order\":\"Ostropales\",\"family\":\"Phlyctidaceae\",\"genus\":\"Phlyctis\",\"species\":\"Phlyctis
        argena\",\"genericName\":\"Phlyctis\",\"specificEpithet\":\"argena\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"iucnRedListCategory\":\"NE\",\"decimalLatitude\":55.831651,\"decimalLongitude\":9.819907,\"coordinateUncertaintyInMeters\":33.0,\"continent\":\"EUROPE\",\"gadm\":{\"level0\":{\"gid\":\"DNK\",\"name\":\"Denmark\"},\"level1\":{\"gid\":\"DNK.2_1\",\"name\":\"Midtjylland\"},\"level2\":{\"gid\":\"DNK.2.6_1\",\"name\":\"Horsens\"}},\"year\":2023,\"month\":4,\"day\":6,\"eventDate\":\"2023-04-06\",\"startDayOfYear\":96,\"endDayOfYear\":96,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_MATCH_SCIENTIFIC_NAME_ID_IGNORED\",\"TAXON_MATCH_TAXON_ID_IGNORED\"],\"modified\":\"2023-04-07T15:18:39.000+00:00\",\"lastInterpreted\":\"2024-02-23T11:21:30.924+00:00\",\"references\":\"https://svampe.databasen.org/observations/10350882\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"10350882\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"creator\":\"Thomas
        Stjernegaard Jeppesen\",\"rightsHolder\":\"Thomas Stjernegaard Jeppesen\",\"identifier\":\"https://svampe.databasen.org/uploads/2023-10350882_r18Wx4nZ2.JPG\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"recordedBy\":\"Thomas
        Stjernegaard Jeppesen\",\"identifiedBy\":\"Thomas Stjernegaard Jeppesen\",\"geodeticDatum\":\"WGS84\",\"class\":\"Lecanoromycetes\",\"countryCode\":\"DK\",\"recordedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-1691-239X\"}],\"identifiedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-1691-239X\"}],\"gbifRegion\":\"EUROPE\",\"country\":\"Denmark\",\"publishedByGbifRegion\":\"EUROPE\",\"identifier\":\"10350882\",\"habitat\":\"roadside\",\"scientificNameID\":\"urn:lsid:indexfungorum.org:names:400371\",\"dynamicProperties\":\"{\\\"Substrate\\\":\\\"soil\\\"}\",\"locality\":\"Horsens,
        Torsted\",\"language\":\"da\",\"gbifID\":\"4100107708\",\"occurrenceID\":\"https://svampe.databasen.org/observations/10350882\",\"taxonID\":\"30764\",\"locationAccordingTo\":\"Danish
        Mycological Society\",\"catalogNumber\":\"DMS-10350882\",\"vernacularName\":\"almindelig
        s\xF8lvlav\",\"locationID\":\"16575\",\"bibliographicCitation\":\"Danish Mycological
        Society, Fungal Records Database (https://svampe.databasen.org), contributed
        by Fr\xF8slev, T., Heilmann-Clausen, J., Jeppesen, T.S., Lange, C., L\xE6ss\xF8e,
        T., Petersen, J.H., S\xF8chting, U., Vesterholt, J.\"},{\"key\":4169760562,\"datasetKey\":\"84d26682-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\":\"ccc2e3ec-98ba-4e74-878d-7dcf0f57baba\",\"installationKey\":\"fe25aaf4-d236-4dd8-a9a9-3b2e3d24622e\",\"hostingOrganizationKey\":\"ccc2e3ec-98ba[...]
