interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v2/species/match?class=Insecta
  response:
    body:
      string: '{"usage":{"key":"216","name":"Insecta","canonicalName":"Insecta","rank":"CLASS","status":"ACCEPTED","type":"SCIENTIFIC","formattedName":"<i>Insecta</i>"},"classification":[{"key":"1","name":"Animalia","rank":"KINGDOM"},{"key":"54","name":"Arthropoda","rank":"PHYLUM"},{"key":"216","name":"Insecta","rank":"CLASS"}],"diagnostics":{"matchType":"EXACT","confidence":100,"timeTaken":87,"timings":{"nameNRank":0,"sciNameMatch":88,"nameParse":0,"luceneMatch":87}},"synonym":false,"left":236603,"right":1157645}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
