interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species/search?q=mammalia&limit=100
  response:
    body: {string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":1345,\"\
        results\":[{\"key\":114091654,\"datasetKey\":\"30f55c63-a829-4cb2-9676-3b1b6f981567\"\
        ,\"nubKey\":359,\"scientificName\":\"Mammalia\",\"canonicalName\":\"Mammalia\"\
        ,\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\",\"origin\":\"\
        SOURCE\",\"numDescendants\":0,\"numOccurrences\":0,\"taxonID\":\"58030399-21e2-4b72-b999-f8440809f7a4\"\
        ,\"habitats\":[],\"nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\"\
        :[],\"vernacularNames\":[],\"higherClassificationMap\":{},\"synonym\":false},{\"\
        key\":127804986,\"datasetKey\":\"ec532910-dec5-4ca9-9814-f6d1c02ced77\",\"\
        nubKey\":359,\"parentKey\":127804985,\"parent\":\"Chordata\",\"kingdom\":\"\
        Animalia\",\"phylum\":\"Chordata\",\"kingdomKey\":127804984,\"phylumKey\"\
        :127804985,\"classKey\":127804986,\"scientificName\":\"Mammalia\",\"canonicalName\"\
        :\"Mammalia\",\"authorship\":\"\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\"\
        :\"ACCEPTED\",\"rank\":\"CLASS\",\"origin\":\"DENORMED_CLASSIFICATION\",\"\
        numDescendants\":6,\"numOccurrences\":0,\"habitats\":[],\"nomenclaturalStatus\"\
        :[],\"threatStatuses\":[],\"descriptions\":[],\"vernacularNames\":[],\"higherClassificationMap\"\
        :{\"127804984\":\"Animalia\",\"127804985\":\"Chordata\"},\"synonym\":false,\"\
        class\":\"Mammalia\"},{\"key\":117910746,\"datasetKey\":\"a43ec6d8-7b8a-4868-ad74-56b824c75698\"\
        ,\"nubKey\":359,\"parentKey\":117910745,\"parent\":\"Chordata\",\"kingdom\"\
        :\"Animalia\",\"phylum\":\"Chordata\",\"kingdomKey\":117898234,\"phylumKey\"\
        :117910745,\"classKey\":117910746,\"scientificName\":\"Mammalia\",\"canonicalName\"\
        :\"Mammalia\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\"\
        ,\"rank\":\"CLASS\",\"origin\":\"SOURCE\",\"numDescendants\":0,\"numOccurrences\"\
        :0,\"taxonID\":\"fdf0d137-5d1f-4a76-bd2e-8d6de3bb2997\",\"habitats\":[],\"\
        nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\":[],\"vernacularNames\"\
        :[],\"higherClassificationMap\":{\"117898234\":\"Animalia\",\"117910745\"\
        :\"Chordata\"},\"synonym\":false,\"class\":\"Mammalia\"},{\"key\":134843305,\"\
        datasetKey\":\"29d2d5a6-db22-4abd-b784-9ab2f9757c3c\",\"nubKey\":359,\"parentKey\"\
        :134843291,\"parent\":\"Chordata\",\"kingdom\":\"Animalia\",\"phylum\":\"\
        Chordata\",\"kingdomKey\":134843262,\"phylumKey\":134843291,\"classKey\":134843305,\"\
        scientificName\":\"Mammalia\",\"canonicalName\":\"Mammalia\",\"taxonomicStatus\"\
        :\"ACCEPTED\",\"rank\":\"CLASS\",\"origin\":\"DENORMED_CLASSIFICATION\",\"\
        numDescendants\":0,\"numOccurrences\":0,\"habitats\":[],\"nomenclaturalStatus\"\
        :[],\"threatStatuses\":[],\"descriptions\":[],\"vernacularNames\":[],\"higherClassificationMap\"\
        :{\"134843262\":\"Animalia\",\"134843291\":\"Chordata\"},\"synonym\":false,\"\
       [...]
