interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=2683264&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":1106,\"results\":[{\"key\":5104700980,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2025-11-10T09:23:30.156+00:00\",\"lastParsed\":\"2025-11-11T01:17:52.863+00:00\",\"crawlId\":567,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://rs.tdwg.org/dwc/terms/catalogNumber\":\"479270320\",\"http://purl.org/dc/terms/publisher\":\"iNaturalist\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by-nc/4.0/\",\"http://purl.org/dc/terms/rightsHolder\":\"Esther
        de Vasconcellos Costa Silva\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/references\":\"https://www.inaturalist.org/photos/479270320\",\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/479270320/original.jpeg\",\"http://purl.org/dc/terms/creator\":\"Esther
        de Vasconcellos Costa Silva\",\"http://purl.org/dc/terms/created\":\"2025-03-24T09:09:53-07:00\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"32S2L\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"acceptedUsage\":{\"key\":\"32S2L\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"P\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"CMQ8S\",\"name\":\"Pteridobiotina\",\"rank\":\"SUBKINGDOM\"},{\"key\":\"TP\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"CGVH9\",\"name\":\"Cycadopsida\",\"rank\":\"CLASS\"},{\"key\":\"CGVH8\",\"name\":\"Cycadales\",\"rank\":\"ORDER\"},{\"key\":\"CGVH7\",\"name\":\"Cycadaceae\",\"rank\":\"FAMILY\"},{\"key\":\"CGYBM\",\"name\":\"Cycas\",\"rank\":\"GENUS\"},{\"key\":\"32S2L\",\"name\":\"Cycas
        circinalis\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"EN\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"2683264\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"acceptedUsage\":{\"key\":\"2683264\",\"name\":\"Cycas
        circinalis L.\",\"rank\":\"SPECIES\",\"authorship\":\"L.\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"formattedName\":\"<i>Cycas</i>
        <i>circinalis</i> L.\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"6\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"7707728\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"228\",\"name\":\"Cycadopsida\",\"rank\":\"CLASS\"},{\"key\":\"834\",\"name\":\"Cycadales\",\"rank\":\"ORDER\"},{\"key\":\"6168\",\"name\":\"Cycadaceae\",\"rank\":\"FAMILY\"},{\"key\":\"2683206\",\"name\":\"Cycas\",\"rank\":\"GENUS\"},{\"key\":\"2683264\",\"name\":\"Cycas
        circinalis\",\"rank\":\"SPECIES\"}],\"iucnRedListCategoryCode\":\"EN\",\"issues\":[\"TAXON_ID_NOT_FOUND\"]}},\"taxonKey\":2683264,\"kingdomKey\":6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"genusKey\":2683206,\"speciesKey\":2683264,\"acceptedTaxonKey\":2683264,\"scientificName\":\"Cycas
        circinalis L.\",\"scientificNameAuthorship\":\"L.\",\"acceptedScientificName\":\"Cycas
        circinalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Cycadales\",\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"Cycas
        circinalis\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"iucnRedListCategory\":\"EN\",\"dateIdentified\":\"2025-03-24T12:10:39\",\"decimalLatitude\":-22.344516,\"decimalLongitude\":-47.567836,\"coordinateUncertaintyInMeters\":30298.0,\"continent\":\"SOUTH_AMERICA\",\"stateProvince\":\"S\xE3o
        Paulo\",\"gadm\":{\"level0\":{\"gid\":\"BRA\",\"name\":\"Brazil\"},\"level1\":{\"gid\":\"BRA.25_1\",\"name\":\"S\xE3o
        Paulo\"},\"level2\":{\"gid\":\"BRA.25.494_2\",\"name\":\"Rio Claro\"}},\"year\":2025,\"month\":3,\"day\":24,\"eventDate\":\"2025-03-24T09:09:47\",\"startDayOfYear\":83,\"endDayOfYear\":83,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_ID_NOT_FOUND\"],\"modified\":\"2025-04-14T01:32:32.000+00:00\",\"lastInterpreted\":\"2025-11-11T01:17:52.863+00:00\",\"references\":\"https://www.inaturalist.org/observations/266739098\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"266739098\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"references\":\"https://www.inaturalist.org/photos/479270320\",\"created\":\"2025-03-24T16:09:53.000+00:00\",\"creator\":\"Esther
        de Vasconcellos Costa Silva\",\"publisher\":\"iNaturalist\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/\",\"rightsHolder\":\"Esther
        de Vasconcellos Costa Silva\",\"identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/479270320/original.jpeg\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"datasetName\":\"iNaturalist
        research-grade observations\",\"recordedBy\":\"Esther de Vasconcellos Costa
        Silva\",\"identifiedBy\":\"Esther de Vasconcellos Costa Silva\",\"dnaSequenceID\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Cycadopsida\",\"countryCode\":\"BR\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"LATIN_AMERICA\",\"country\":\"Brazil\",\"publishedByGbifRegion\":\"NORTH_AMERICA\",\"rightsHolder\":\"Esther
        de Vasconcellos Costa Silva\",\"identifier\":\"266739098\",\"http://unknown.org/nick\":\"esther_vasc\",\"informationWithheld\":\"Coordinate
        uncertainty increased to 30298m to protect threatened taxon\",\"verbatimEventDate\":\"2025-03-24
        09:09:47\",\"collectionCode\":\"Observations\",\"gbifID\":\"5104700980\",\"verbatimLocality\":\"S\xE3o
        Paulo, BR\",\"occurrenceID\":\"https://www.inaturalist.org/observations/266739098\",\"taxonID\":\"136153\",\"http://unknown.org/captive_cultivated\":\"wild\",\"catalogNumber\":\"266739098\",\"institutionCode\":\"iNaturalist\",\"eventTime\":\"09:09:47-03:00\",\"identificationID\":\"604718754\"},{\"key\":5230045332,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"CO\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2025-11-10T09:23:30.156+00:00\",\"lastParsed\":\"2025-11-11T00:55:06.220+00:00\",\"crawlId\":567,\"extensions\":{\"http://rs.gbif.org/terms/1.[...]
