interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/organization/e2e717bf-551a-4917-bdc9-4fa0f342c530?limit=100
  response:
    body:
      string: '{"key":"e2e717bf-551a-4917-bdc9-4fa0f342c530","endorsingNodeKey":"8618c64a-93e0-4300-b546-7249e5148ed2","endorsementApproved":true,"endorsementStatus":"ENDORSED","title":"Cornell
        Lab of Ornithology","description":"The Cornell Lab of Ornithology is a world
        leader in the study, appreciation, and conservation of birds.","language":"eng","email":[],"phone":[],"homepage":["http://www.birds.cornell.edu"],"address":["159
        Sapsucker Woods Rd."],"city":"Ithaca","province":"New York","country":"US","postalCode":"14850","latitude":42.47999,"longitude":-76.45109,"numPublishedDatasets":3,"createdBy":"ADMIN","modifiedBy":"sformel","created":"2013-08-01T08:38:21.000+00:00","modified":"2023-03-03T01:57:24.373+00:00","contacts":[{"key":19959,"type":"TECHNICAL_POINT_OF_CONTACT","primary":false,"userId":[],"firstName":"Jeff","lastName":"Gerbracht","position":["
        Technical Lead"],"email":["jag73@cornell.edu"],"phone":["+01 607 254 2117"],"homepage":[],"organization":"Cornell
        Lab of Ornithology","address":["Center for Avian Population Studies"],"createdBy":"registry-migration.gbif.org","modifiedBy":"mgrosjean","created":"2013-10-24T09:04:58.000+00:00","modified":"2024-03-25T07:45:10.496+00:00"},{"key":5261061,"type":"ADMINISTRATIVE_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Chris","lastName":"Wood","position":["Managing
        Director"],"email":["clw37@cornell.edu"],"phone":[" +01 607 254 2195"],"homepage":[],"organization":"Cornell
        Lab of Ornithology","address":["Center for Avian Population Studies"],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2024-03-25T07:41:21.878+00:00","modified":"2024-03-25T07:42:14.597+00:00"},{"key":5261062,"type":"TECHNICAL_POINT_OF_CONTACT","primary":true,"userId":[],"firstName":"Jadev","lastName":"Imani","position":["Technical
        Lead"],"email":["jasdev.imani@cornell.edu"],"phone":["+01 607 254 2187"],"homepage":[],"organization":"Cornell
        Lab of Ornithology","address":["Center for Avian Population Studies"],"createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2024-03-25T07:44:08.736+00:00","modified":"2024-03-25T07:44:08.736+00:00"}],"endpoints":[],"machineTags":[],"tags":[],"identifiers":[{"key":13528,"type":"GBIF_PORTAL","identifier":"602","createdBy":"registry-migration.gbif.org","created":"2013-08-08T09:34:37.000+00:00"}],"comments":[{"key":35635,"content":"2023-03-25
        [MG] Updated the contacts at the request of the institution.","createdBy":"mgrosjean","modifiedBy":"mgrosjean","created":"2024-03-25T07:39:32.978+00:00","modified":"2024-03-25T07:39:32.978+00:00"},{"key":33423,"content":"2023-03-02
        [SF] added address information","createdBy":"sformel","modifiedBy":"sformel","created":"2023-03-03T01:57:24.682+00:00","modified":"2023-03-03T01:57:24.682+00:00"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
