interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=2431762&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":2233,\"results\":[{\"key\":4510402016,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2024-02-23T05:16:29.968+00:00\",\"lastParsed\":\"2024-02-23T15:01:01.880+00:00\",\"crawlId\":437,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/creator\":\"Max
        Roberts\",\"http://purl.org/dc/terms/created\":\"2024-01-06T10:53:23-08:00\",\"http://purl.org/dc/terms/identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/345081211/original.jpg\",\"http://purl.org/dc/terms/license\":\"http://creativecommons.org/licenses/by-nc/4.0/\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/rightsHolder\":\"Max
        Roberts\",\[...]
