interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DE
  response:
    body: {string: "{\"GERMANY\":35275236,\"GREECE\":411015,\"ITALY\":332756,\"SPAIN\"\
        :323849,\"AUSTRIA\":303825,\"BELGIUM\":279996,\"UNITED_STATES\":267713,\"\
        AUSTRALIA\":241367,\"PORTUGAL\":204840,\"ANTARCTICA\":194488,\"FRANCE\":166638,\"\
        PERU\":134878,\"JAPAN\":113480,\"NETHERLANDS\":111529,\"BRAZIL\":107748,\"\
        NORWAY\":106651,\"NAMIBIA\":104023,\"SOUTH_AFRICA\":96157,\"BAHAMAS\":95897,\"\
        TAIWAN\":90719,\"RUSSIAN_FEDERATION\":90636,\"POLAND\":87060,\"UNITED_KINGDOM\"\
        :79550,\"SVALBARD_JAN_MAYEN\":75195,\"SWITZERLAND\":71464,\"NEW_ZEALAND\"\
        :70365,\"MOROCCO\":68756,\"SWEDEN\":68042,\"GREENLAND\":65981,\"DENMARK\"\
        :64347,\"IRELAND\":63612,\"HEARD_MCDONALD_ISLANDS\":56656,\"BURKINA_FASO\"\
        :55918,\"ECUADOR\":55640,\"TANZANIA\":54047,\"OMAN\":53464,\"EL_SALVADOR\"\
        :53355,\"MEXICO\":52822,\"TURKEY\":51802,\"UNKNOWN\":51184,\"CZECH_REPUBLIC\"\
        :50505,\"MARSHALL_ISLANDS\":49061,\"COLOMBIA\":48766,\"CHILE\":48599,\"COSTA_RICA\"\
        :48315,\"INDIA\":48043,\"CUBA\":47849,\"INDONESIA\":47034,\"WESTERN_SAHARA\"\
        :45426,\"CHINA\":43801,\"CANADA\":43791,\"YEMEN\":43552,\"VANUATU\":41631,\"\
        PHILIPPINES\":40835,\"MALDIVES\":38317,\"ICELAND\":33002,\"GUATEMALA\":32980,\"\
        PAPUA_NEW_GUINEA\":31711,\"CROATIA\":30660,\"ROMANIA\":28529,\"MARTINIQUE\"\
        :28400,\"HUNGARY\":28259,\"GHANA\":28056,\"VENEZUELA\":27777,\"SEYCHELLES\"\
        :27671,\"KENYA\":24987,\"MICRONESIA\":22944,\"MADAGASCAR\":22717,\"BOLIVIA\"\
        :21871,\"ETHIOPIA\":20516,\"IRAN\":19832,\"CAPE_VERDE\":19615,\"BULGARIA\"\
        :19569,\"MALAYSIA\":18898,\"SENEGAL\":17949,\"THAILAND\":17304,\"CYPRUS\"\
        :16998,\"ARGENTINA\":16949,\"CAMEROON\":16902,\"EGYPT\":16529,\"PANAMA\":15591,\"\
        ISRAEL\":15237,\"SRI_LANKA\":15220,\"ANGOLA\":13452,\"SURINAME\":13155,\"\
        VIETNAM\":13053,\"NEW_CALEDONIA\":12987,\"SLOVAKIA\":12379,\"GEORGIA\":12015,\"\
        SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA\":11552,\"SLOVENIA\":11457,\"BENIN\"\
        :11288,\"FRENCH_SOUTHERN_TERRITORIES\":10866,\"SUDAN\":10724,\"NORTHERN_MARIANA_ISLANDS\"\
        :10717,\"FINLAND\":9827,\"CONGO_DEMOCRATIC_REPUBLIC\":9685,\"GUYANA\":9270,\"\
        GABON\":9241,\"TUNISIA\":9199,\"NIGERIA\":9179,\"PUERTO_RICO\":8982,\"TONGA\"\
        :8737,\"SOUTH_GEORGIA_SANDWICH_ISLANDS\":8448,\"ARMENIA\":8165,\"CONGO\":8156,\"\
        NEPAL\":7967,\"UKRAINE\":7847,\"MACEDONIA\":7806,\"MALI\":7305,\"ESTONIA\"\
        :7254,\"BRITISH_INDIAN_OCEAN_TERRITORY\":7238,\"ALGERIA\":7052,\"MALAWI\"\
        :7044,\"SERBIA\":6953,\"BOUVET_ISLAND\":6852,\"PAKISTAN\":6656,\"LUXEMBOURG\"\
        :6433,\"BOTSWANA\":6429,\"GRENADA\":6381,\"DOMINICAN_REPUBLIC\":6056,\"MONGOLIA\"\
        :6036,\"GAMBIA\":5884,\"FRENCH_GUIANA\":5770,\"SOMALIA\":5753,\"COOK_ISLANDS\"\
        :5733,\"LIBYA\":5471,\"JAMAICA\":5308,\"NICARAGUA\":5088,\"R\xC9UNION\":5071,\"\
        BOSNIA_HERZEGOVINA\":5004,\"ZIMBABWE\":4960,\"SYRIA\":4935,\"FAROE_ISLANDS\"\
        :4786,\"SAUDI_ARABIA\":4749,\"UZBEKISTAN\":4729,\"GUINEA_BISSAU\":4724,\"\
        PARAGUAY\":4698,\"BELARUS\":4540,\"TRINIDAD_TOBAGO\":4364,\"BERMUDA\":4300,\"\
        ALBANIA\":4288,\"ZAMBIA\":4284,\"UGANDA\":3963,\"MAURITIUS\":3943,\"HAITI\"\
        :3716,\"MONTENEGRO\":3624,\"AZERBAIJAN\":3618,\"FIJI\":3600,\"JORDAN\":3552,\"\
        C\xD4TE_DIVOIRE\":3519,\"AFGHANISTAN\":3515,\"UNITED_STATES_OUTLYING_ISLANDS\"\
        :3420,\"LAO\":3205,\"UNITED_ARAB_EMIRATES\":3132,\"FRENCH_POLYNESIA\":3038,\"\
        KOREA_SOUTH\":3025,\"KYRGYZSTAN\":2931,\"SOLOMON_ISLANDS\":2893,\"CAYMAN_ISLANDS\"\
        :2876,\"MYANMAR\":2855,\"SINGAPORE\":2729,\"LATVIA\":2689,\"KAZAKHSTAN\":2628,\"\
        HONDURAS\":2594,\"URUGUAY\":2585,\"LEBANON\":2440,\"MOZAMBIQUE\":2352,\"ARUBA\"\
        :2338,\"LIBERIA\":2263,\"EQUATORIAL_GUINEA\":2260,\"MAURITANIA\":2090,\"BRUNEI_DARUSSALAM\"\
        :2070,\"TAJIKISTAN\":2055,\"SAO_TOME_PRINCIPE\":2023,\"COCOS_ISLANDS\":2017,\"\
        FALKLAND_ISLANDS\":2006,\"TOGO\":1980,\"RWANDA\":1901,\"MALTA\":1887,\"LITHUANIA\"\
        :1684,\"GUINEA\":1510,\"IRAQ\":1505,\"SIERRA_LEONE\":1412,\"TURKMENISTAN\"\
        :1337,\"ERITREA\":1325,\"KIRIBATI\":1270,\"GUADELOUPE\":1239,\"HONG_KONG\"\
        :1194,\"BHUTAN\":1110,\"ANGUILLA\":1062,\"BANGLADESH\":1034,\"PALESTINIAN_TERRITORY\"\
        :947,\"VIRGIN_ISLANDS\":921,\"KOSOVO\":908,\"SAMOA\":802,\"CHAD\":771,\"KOREA_NORTH\"\
        :756,\"CENTRAL_AFRICAN_REPUBLIC\":682,\"NIGER\":649,\"CAMBODIA\":638,\"DOMINICA\"\
        :565,\"SWAZILAND\":436,\"LIECHTENSTEIN\":427,\"BARBADOS\":419,\"MONTSERRAT\"\
        :412,\"COMOROS\":381,\"GUERNSEY\":374,\"VIRGIN_ISLANDS_BRITISH\":357,\"PALAU\"\
        :343,\"GIBRALTAR\":343,\"NORFOLK_ISLAND\":328,\"BURUNDI\":322,\"ANDORRA\"\
        :317,\"GUAM\":312,\"SAINT_LUCIA\":288,\"MOLDOVA\":286,\"ANTIGUA_BARBUDA\"\
        :256,\"NAURU\":255,\"BELIZE\":254,\"KUWAIT\":212,\"SAN_MARINO\":192,\"BAHRAIN\"\
        :182,\"DJIBOUTI\":178,\"SOUTH_SUDAN\":175,\"BONAIRE_SINT_EUSTATIUS_SABA\"\
        :126,\"LESOTHO\":122,\"MONACO\":113,\"SAINT_KITTS_NEVIS\":110,\"SAINT_VINCENT_GRENADINES\"\
        :94,\"TIMOR_LESTE\":93,\"CURA\xC7AO\":90,\"CHRISTMAS_ISLAND\":78,\"JERSEY\"\
        :60,\"WALLIS_FUTUNA\":58,\"MACAO\":55,\"MAYOTTE\":45,\"QATAR\":40,\"SINT_MAARTEN\"\
        :35,\"AMERICAN_SAMOA\":35,\"PITCAIRN\":31,\"SAINT_MARTIN_FRENCH\":27,\"NIUE\"\
        :23,\"TUVALU\":15,\"TURKS_CAICOS_ISLANDS\":15,\"SAINT_PIERRE_MIQUELON\":14,\"\
        INTERNATIONAL_WATERS\":9,\"VATICAN\":8,\"ALAND_ISLANDS\":4,\"SAINT_BARTH\xC9\
        LEMY\":3,\"TOKELAU\":2}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
