interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=2683264&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":934,\"results\":[{\"key\":4516882503,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2024-02-23T05:16:29.968+00:00\",\"lastParsed\":\"2024-02-23T14:28:32.814+00:00\",\"crawlId\":437,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/creator\":\"Vijay
        Anand Ismavel\",\"http://purl.org/dc/terms/created\":\"2024-01-28T03:00:51Z\",\"http://purl.org/dc/terms/identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/348380890/original.jpg\",\"http://purl.org/dc/terms/license\":\"http://creativecommons.org/licenses/by-nc/4.0/\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/rightsHolder\":\"Vijay
        Anand Ismavel\",\"http://rs.tdwg.org/dwc/terms/catalogNumber\":\"348380890\",\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/references\":\"https://www.inaturalist.org/photos/348380890\",\"http://purl.org/dc/terms/publisher\":\"iNaturalist\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"taxonKey\":2683264,\"kingdomKey\":6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"genusKey\":2683206,\"speciesKey\":2683264,\"acceptedTaxonKey\":2683264,\"scientificName\":\"Cycas
        circinalis L.\",\"acceptedScientificName\":\"Cycas circinalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Cycadales\",\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"Cycas
        circinalis\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"iucnRedListCategory\":\"EN\",\"dateIdentified\":\"2024-01-28T03:01:13\",\"decimalLatitude\":8.448675,\"decimalLongitude\":77.48716,\"coordinateUncertaintyInMeters\":31279.0,\"continent\":\"ASIA\",\"stateProvince\":\"Tamil
        Nadu\",\"gadm\":{\"level0\":{\"gid\":\"IND\",\"name\":\"India\"},\"level1\":{\"gid\":\"IND.31_1\",\"name\":\"Tamil
        Nadu\"},\"level2\":{\"gid\":\"IND.31.27_1\",\"name\":\"Tirunelveli\"},\"level3\":{\"gid\":\"IND.31.27.2_1\",\"name\":\"Nanguneri\"}},\"year\":2024,\"month\":1,\"day\":28,\"eventDate\":\"2024-01-28T08:30:51\",\"startDayOfYear\":28,\"endDayOfYear\":28,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_MATCH_TAXON_ID_IGNORED\"],\"modified\":\"2024-01-30T13:06:52.000+00:00\",\"lastInterpreted\":\"2024-02-23T14:28:32.814+00:00\",\"references\":\"https://www.inaturalist.org/observations/197756037\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"197756037\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"references\":\"https://www.inaturalist.org/photos/348380890\",\"created\":\"2024-01-28T03:00:51.000+00:00\",\"creator\":\"Vijay
        Anand Ismavel\",\"publisher\":\"iNaturalist\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/\",\"rightsHolder\":\"Vijay
        Anand Ismavel\",\"identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/348380890/original.jpg\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"datasetName\":\"iNaturalist
        research-grade observations\",\"recordedBy\":\"Vijay Anand Ismavel\",\"identifiedBy\":\"Vijay
        Anand Ismavel\",\"geodeticDatum\":\"WGS84\",\"class\":\"Cycadopsida\",\"countryCode\":\"IN\",\"recordedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0002-2329-596X\"}],\"identifiedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0002-2329-596X\"}],\"gbifRegion\":\"ASIA\",\"country\":\"India\",\"publishedByGbifRegion\":\"NORTH_AMERICA\",\"rightsHolder\":\"Vijay
        Anand Ismavel\",\"identifier\":\"197756037\",\"http://unknown.org/nick\":\"ivijayanand\",\"informationWithheld\":\"Coordinate
        uncertainty increased to 31279m to protect threatened taxon\",\"verbatimEventDate\":\"2024-01-28
        08:30:51+05:30\",\"gbifID\":\"4516882503\",\"verbatimLocality\":\"Tirunelveli,
        IN-AP, IN\",\"collectionCode\":\"Observations\",\"occurrenceID\":\"https://www.inaturalist.org/observations/197756037\",\"taxonID\":\"136153\",\"catalogNumber\":\"197756037\",\"institutionCode\":\"iNaturalist\",\"eventTime\":\"08:30:51+05:30\",\"http://unknown.org/captive\":\"wild\",\"identificationID\":\"446738599\"},{\"key\":4130153604,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2024-02-23T05:16:29.968+00:00\",\"lastParsed\":\"2024-02-23T15:10:45.610+00:00\",\"crawlId\":437,\"extensions\":{\"http://rs.gbif.org/terms/1.[...]
