interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/1248387548
  response:
    body: {string: "{\"key\":1248387548,\"datasetKey\":\"492d63a8-4978-4bc7-acd8-7d0e3ac0e744\"\
        ,\"publishingOrgKey\":\"d3978a37-635a-4ae3-bb85-7b4d41bc0b88\",\"installationKey\"\
        :\"7bdf9f6d-317a-45ec-8bb7-7ff61345d6a6\",\"publishingCountry\":\"NO\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-11-13T17:35:37.650+0000\"\
        ,\"lastParsed\":\"2019-11-15T08:10:33.307+0000\",\"crawlId\":275,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"individualCount\":1,\"taxonKey\"\
        :2480637,\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":212,\"orderKey\":7191147,\"\
        familyKey\":2877,\"genusKey\":9405810,\"speciesKey\":2480637,\"acceptedTaxonKey\"\
        :2480637,\"scientificName\":\"Accipiter nisus (Linnaeus, 1758)\",\"acceptedScientificName\"\
        :\"Accipiter nisus (Linnaeus, 1758)\",\"kingdom\":\"Animalia\",\"phylum\"\
        :\"Chordata\",\"order\":\"Accipitriformes\",\"family\":\"Accipitridae\",\"\
        genus\":\"Accipiter\",\"species\":\"Accipiter nisus\",\"genericName\":\"Accipiter\"\
        ,\"specificEpithet\":\"nisus\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\"\
        :\"ACCEPTED\",\"decimalLongitude\":6.081586,\"decimalLatitude\":61.225441,\"\
        coordinatePrecision\":0.0,\"elevation\":0.0,\"elevationAccuracy\":0.0,\"stateProvince\"\
        :\"Sogn og Fjordane\",\"year\":2016,\"month\":1,\"day\":25,\"eventDate\":\"\
        2016-01-25T00:00:00\",\"issues\":[\"COORDINATE_ROUNDED\",\"GEODETIC_DATUM_ASSUMED_WGS84\"\
        ],\"modified\":\"2018-01-30T00:00:00.000+0000\",\"lastInterpreted\":\"2019-11-15T08:10:33.307+0000\"\
        ,\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"identifiers\"\
        :[],\"media\":[],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\"\
        ,\"class\":\"Aves\",\"countryCode\":\"NO\",\"country\":\"Norway\",\"identifier\"\
        :\"miljolare:fugl:1001099\",\"catalogNumber\":\"1001099\",\"recordedBy\":\"\
        Magn Arne Jensen\",\"institutionCode\":\"miljolare\",\"locality\":\"H\xF8\
        gebakkane\",\"municipality\":\"H\xF8yanger\",\"county\":\"Sogn og Fjordane\"\
        ,\"collectionCode\":\"fugl\",\"gbifID\":\"1248387548\",\"occurrenceID\":\"\
        miljolare:fugl:1001099\"}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
