interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=2431762&limit=300&offset=0
  response:
    body: {string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":1983,\"\
        results\":[{\"key\":1993713745,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\"\
        ,\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\"\
        :\"997448a8-f762-11e1-a439-00145eb45e9a\",\"publishingCountry\":\"US\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-11-15T12:18:17.403+0000\"\
        ,\"lastParsed\":\"2019-11-15T13:18:57.047+0000\",\"crawlId\":188,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":2431762,\"kingdomKey\"\
        :1,\"phylumKey\":44,\"classKey\":131,\"orderKey\":953,\"familyKey\":6748,\"\
        genusKey\":2431747,\"speciesKey\":2431762,\"acceptedTaxonKey\":2431762,\"\
        scientificName\":\"Batrachoseps luciae Jockusch, Yanev & Wake, 2001\",\"acceptedScientificName\"\
        :\"Batrachoseps luciae Jockusch, Yanev & Wake, 2001\",\"kingdom\":\"Animalia\"\
        ,\"phylum\":\"Chordata\",\"order\":\"Caudata\",\"family\":\"Plethodontidae\"\
        ,\"genus\":\"Batrachoseps\",\"species\":\"Batrachoseps luciae\",\"genericName\"\
        :\"Batrachoseps\",\"specificEpithet\":\"luciae\",\"taxonRank\":\"SPECIES\"\
        ,\"taxonomicStatus\":\"ACCEPTED\",\"decimalLongitude\":-121.962254,\"decimalLatitude\"\
        :36.567765,\"coordinateUncertaintyInMeters\":28534.0,\"stateProvince\":\"\
        California\",\"year\":2019,\"month\":1,\"day\":12,\"eventDate\":\"2019-01-12T13:02:57\"\
        ,\"issues\":[\"COORDINATE_ROUNDED\",\"GEODETIC_DATUM_ASSUMED_WGS84\"],\"modified\"\
        :\"2019-02-03T19:37:44.000+0000\",\"lastInterpreted\":\"2019-11-15T13:18:57.047+0000\"\
        ,\"references\":\"https://www.inaturalist.org/observations/19597317\",\"license\"\
        :\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"identifiers\"\
        :[],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"identifier\"\
        :\"https://static.inaturalist.org/photos/30169882/original.jpg?1547329141\"\
        ,\"references\":\"https://www.inaturalist.org/photos/30169882\",\"created\"\
        :\"2019-01-12T21:02:57.000+0000\",\"creator\":\"scsurflady\",\"publisher\"\
        :\"iNaturalist\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/\"\
        ,\"rightsHolder\":\"scsurflady\"},{\"type\":\"StillImage\",\"format\":\"image/jpeg\"\
        ,\"identifier\":\"https://static.inaturalist.org/photos/30169851/original.jpg?1547329102\"\
        ,\"references\":\"https://www.inaturalist.org/photos/30169851\",\"created\"\
        :\"2019-01-12T21:02:57.000+0000\",\"creator\":\"scsurflady\",\"publisher\"\
        :\"iNaturalist\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/\"\
        ,\"rightsHolder\":\"scsurflady\"},{\"type\":\"StillImage\",\"format\":\"image/jpeg\"\
        ,\"identifier\":\"https://static.inaturalist.org/photos/30169862[...]
