interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=mammalia&limit=100&hl=false&verbose=false
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":3699,\"results\":[{\"key\":100559474,\"datasetKey\":\"16c3f9cb-4b19-4553-ac8e-ebb90003aa02\",\"scientificName\":\"Mammaliaformes\",\"canonicalName\":\"Mammaliaformes\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\",\"origin\":\"SOURCE\",\"numDescendants\":0,\"numOccurrences\":0,\"taxonID\":\"2547897\",\"extinct\":true,\"habitats\":[],\"nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\":[{\"description\":\"Die
        Morganucodonta sind eine Gruppe ausgestorbener S\xE4ugetiervorfahren (Mammaliaformes),
        die in der Obertrias und im unteren Jura lebte.\"},{\"description\":\"Morganucodonta
        waren kleine (rund 10 bis 12 Zentimeter lange), \xE4u\xDFerlich vermutlich
        spitzmaus\xE4hnliche Tiere. Im Bau ihres Kiefergelenks zeigen sie \xDCbergangsmerkmale
        zwischen den synapsiden Vorfahren der S\xE4ugetiere und den eigentlichen S\xE4ugern,
        so ist noch das prim\xE4re Kiefergelenk zwischen Os articulare und Os quadratum
        erkennbar. Wie heutige S\xE4ugetiere hatten sie aber schon vier unterschiedliche
        Zahntypen: Schneidez\xE4hne, Eckz\xE4hne, Pr\xE4molaren und Molaren. Die meist
        drei Molaren jeder Kieferh\xE4lfte wiesen jeweils drei scharfe H\xF6cker auf,
        die Okklusion (der Kontakt der Z\xE4hne des Ober- und Unterkiefers) war gut
        ausgepr\xE4gt. Der Bau der Z\xE4hne l\xE4sst auf Insekten oder andere Kleintiere
        als Nahrung schlie\xDFen. Wie bei den heutigen S\xE4ugetieren und im Gegensatz
        zu \xE4lteren Formen wie Sinoconodon kam es zu einem einmaligen Zahnwech[...]
