interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?recordedByID=https%3A%2F%2Forcid.org%2F0000-0003-1691-239X&limit=3&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":3,\"endOfRecords\":false,\"count\":1979,\"results\":[{\"key\":4940926623,\"datasetKey\":\"84d26682-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\":\"ccc2e3ec-98ba-4e74-878d-7dcf0f57baba\",\"installationKey\":\"fe25aaf4-d236-4dd8-a9a9-3b2e3d24622e\",\"hostingOrganizationKey\":\"ccc2e3ec-98ba-4e74-878d-7dcf0f57baba\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2024-10-04T00:55:45.821+00:00\",\"lastParsed\":\"2024-10-04T01:16:42.486+00:00\",\"crawlId\":464,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/creator\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/identifier\":\"https://svampe.databasen.org/uploads/2024-10445637_B1SCjftiC.JPG\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"taxonKey\":7523802,\"kingdomKey\":5,\"phylumKey\":34,\"classKey\":186,\"orderKey\":1145,\"familyKey\":3286,\"genusKey\":7523802,\"acceptedTaxonKey\":7523802,\"scientificName\":\"Favolus
        Fr.\",\"acceptedScientificName\":\"Favolus Fr.\",\"kingdom\":\"Fungi\",\"phylum\":\"Basidiomycota\",\"order\":\"Polyporales\",\"family\":\"Polyporaceae\",\"genus\":\"Favolus\",\"genericName\":\"Favolus\",\"taxonRank\":\"GENUS\",\"taxonomicStatus\":\"ACCEPTED\",\"decimalLatitude\":-1.424693,\"decimalLongitude\":-48.428795,\"coordinateUncertaintyInMeters\":15.0,\"continent\":\"SOUTH_AMERICA\",\"gadm\":{\"level0\":{\"gid\":\"BRA\",\"name\":\"Brazil\"},\"level1\":{\"gid\":\"BRA.14_1\",\"name\":\"Par\xE1\"},\"level2\":{\"gid\":\"BRA.14.19_2\",\"name\":\"Bel\xE9m\"}},\"year\":2024,\"month\":8,\"day\":25,\"eventDate\":\"2024-08-25\",\"startDayOfYear\":238,\"endDayOfYear\":238,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_MATCH_SCIENTIFIC_NAME_ID_IGNORED\",\"TAXON_MATCH_TAXON_ID_IGNORED\"],\"modified\":\"2024-08-26T06:43:19.000+00:00\",\"lastInterpreted\":\"2024-10-04T01:16:42.486+00:00\",\"references\":\"https://svampe.databasen.org/observations/10445637\",\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"10445637\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"creator\":\"Thomas
        Stjernegaard Jeppesen\",\"rightsHolder\":\"Thomas Stjernegaard Jeppesen\",\"identifier\":\"https://svampe.databasen.org/uploads/2024-10445637_B1SCjftiC.JPG\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"recordedBy\":\"Thomas
        Stjernegaard Jeppesen\",\"identifiedBy\":\"Thomas L\xE6ss\xF8e\",\"geodeticDatum\":\"WGS84\",\"class\":\"Agaricomycetes\",\"countryCode\":\"BR\",\"recordedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-1691-239X\"}],\"identifiedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-4710-2648\"}],\"gbifRegion\":\"LATIN_AMERICA\",\"country\":\"Brazil\",\"publishedByGbifRegion\":\"EUROPE\",\"identifier\":\"10445637\",\"habitat\":\"Unmanaged
        deciduous woodland\",\"scientificNameID\":\"urn:lsid:indexfungorum.org:names:829\",\"dynamicProperties\":\"{\\\"Substrate\\\":\\\"dead
        wood (including bark)\\\"}\",\"locality\":\"Castanheira\",\"county\":\"Par\xE1\",\"language\":\"da\",\"verbatimLocality\":\"Brazil,
        Par\xE1, 1796 m S Castanheira (section of populated place)\",\"gbifID\":\"4940926623\",\"occurrenceID\":\"https://svampe.databasen.org/observations/10445637\",\"taxonID\":\"72109\",\"locationAccordingTo\":\"http://www.geonames.org\",\"catalogNumber\":\"DMS-10445637\",\"locationID\":\"8602031\",\"bibliographicCitation\":\"Danish
        Mycological Society, Fungal Records Database (https://svampe.databasen.org),
        contributed by Fr\xF8slev, T., Heilmann-Clausen, J., Jeppesen, T.S., Lange,
        C., L\xE6ss\xF8e, T., Petersen, J.H., S\xF8chting, U., Vesterholt, J.\"},{\"key\":4940909926,\"datasetKey\":\"84d26682-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\":\"ccc2e3ec-98ba-4e74-878d-7dcf0f57baba\",\"installationKey\":\"fe25aaf4-d236-4dd8-a9a9-3b2e3d24622e\",\"hostingOrganizationKey\":\"ccc2e3ec-98ba[...]
