interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
  response:
    body:
      string: '{"key":1968315,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":33188,"synonymsCount":22438,"distinctNamesCount":33158,"nubMatchingCount":31629,"colMatchingCount":27282,"nubCoveragePct":95,"colCoveragePct":82,"countByConstituent":{},"countByKingdom":{"PLANTAE":9373},"countByRank":{"SPECIES":6310,"GENUS":1280,"VARIETY":917,"SUBSPECIES":723,"SECTION":461,"TRIBE":336,"FAMILY":182,"SUBFAMILY":162,"SUBGENUS":134,"SUBTRIBE":69,"SUBSECTION":61,"ORDER":56,"SERIES":39,"SUPERORDER":13,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20978,"FRENCH":11601},"countExtRecordsByExtension":{"VERNACULAR_NAME":32579,"DISTRIBUTION":30080,"DESCRIPTION":10732,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":33180,"PROPARTE":8},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1945,"BACKBONE_MATCH_NONE":1559,"PARTIALLY_PARSABLE":44,"UNPARSABLE":3},"otherCount":{},"downloaded":"2024-01-08T18:29:00.683+00:00"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
