interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/occurrence/1248387548/verbatim
  response:
    body: {string: "{\"key\":1248387548,\"datasetKey\":\"492d63a8-4978-4bc7-acd8-7d0e3ac0e744\"\
        ,\"publishingOrgKey\":\"f314b0b0-e3dc-11d9-8d81-b8a03c50a862\",\"publishingCountry\"\
        :\"NO\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2017-12-13T13:14:41.428+0000\"\
        ,\"lastParsed\":\"2016-10-17T02:06:30.879+0000\",\"crawlId\":158,\"extensions\"\
        :{},\"http://rs.tdwg.org/dwc/terms/maximumElevationInMeters\":\"0\",\"http://rs.tdwg.org/dwc/terms/country\"\
        :\"Norge\",\"http://rs.tdwg.org/dwc/terms/collectionCode\":\"fugl\",\"http://rs.tdwg.org/dwc/terms/order\"\
        :\"Ciconiiformes\",\"http://rs.tdwg.org/dwc/terms/municipality\":\"H\xF8yanger\"\
        ,\"http://rs.tdwg.org/dwc/terms/minimumElevationInMeters\":\"0\",\"http://rs.tdwg.org/dwc/terms/year\"\
        :\"2016\",\"http://rs.tdwg.org/dwc/terms/locality\":\"H\xF8gebakkane\",\"\
        http://rs.tdwg.org/dwc/terms/basisOfRecord\":\"HumanObservation\",\"http://rs.tdwg.org/dwc/terms/family\"\
        :\"Accipitridae\",\"http://purl.org/dc/terms/modified\":\"2016-02-02 00:00:00.0\"\
        ,\"http://rs.tdwg.org/dwc/terms/month\":\"1\",\"http://rs.tdwg.org/dwc/terms/decimalLatitude\"\
        :\"61.22544055\",\"http://rs.tdwg.org/dwc/terms/scientificName\":\"Accipiter\
        \ nisus\",\"http://rs.tdwg.org/dwc/terms/stateProvince\":\"Sogn og Fjordane\"\
        ,\"http://rs.tdwg.org/[...]
