interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/node?limit=5
  response:
    body: {string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":145,\"\
        results\":[{\"key\":\"61865b24-70a8-4e04-a53c-a6c1ebe2fd48\",\"type\":\"COUNTRY\"\
        ,\"participationStatus\":\"VOTING\",\"gbifRegion\":\"OCEANIA\",\"continent\"\
        :\"OCEANIA\",\"title\":\"GBIF Tonga\",\"participantTitle\":\"Tonga, Kingdom\
        \ of\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[null],\"country\"\
        :\"TO\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\"\
        ,\"created\":\"2019-09-18T05:34:54.258+0000\",\"modified\":\"2019-09-18T05:34:54.258+0000\"\
        ,\"contacts\":[{\"key\":4096,\"type\":\"HEAD_OF_DELEGATION\",\"primary\":false,\"\
        userId\":[],\"firstName\":\"Paula\",\"lastName\":\"Ma'u\",\"position\":[],\"\
        email\":[\"paulm@mic.gov.to\"],\"phone\":[\"(676) 28173\"],\"homepage\":[],\"\
        organization\":\"Tonga, Kingdom of\",\"address\":[\"Nuku'alofa\"],\"country\"\
        :\"TO\",\"modified\":\"2019-09-18T06:40:20.576+0000\"},{\"key\":4097,\"type\"\
        :\"ADDITIONAL_DELEGATE\",\"primary\":false,\"userId\":[],\"firstName\":\"\
        'Atelaite Lupe\",\"lastName\":\"Matoto\",\"position\":[],\"email\":[\"lupe.matoto@gmail.com\"\
        ],\"phone\":[\"(676) 25050\"],\"homepage\":[],\"organization\":\"Tonga, Kingdom\
        \ of\",\"address\":[\"Nuku'alofa\"],\"country\":\"TO\",\"modified\":\"2019-09-18T17:19:22.513+0000\"\
        },{\"key\":4098,\"type\":\"ADDITIONAL_DELEGATE\",\"primary\":false,\"userId\"\
        :[],\"firstName\":\"Viliami\",\"lastName\":\"Hakaumotu\",\"position\":[],\"\
        email\":[\"viliamihakau@gmail.com\"],\"phone\":[\"(676) 25050\"],\"homepage\"\
        :[],\"organization\":\"Tonga, Kingdom of\",\"address\":[\"Nuku'alofa\"],\"\
        country\":\"TO\",\"modified\":\"2019-09-18T06:55:30.841+0000\"},{\"key\":4099,\"\
        type\":\"NODE_MANAGER\",\"primary\":false,\"userId\":[],\"firstName\":\"Siosiua\
        \ Moa\",\"lastName\":\"Latu\",\"position\":[],\"email\":[\"Siosiua.latu@gmail.com\"\
        ],\"phone\":[\"(676) 25050\"],\"homepage\":[],\"organization\":\"GBIF Tonga\"\
        ,\"address\":[\"Nuku'alofa\"],\"country\":\"TO\",\"modified\":\"2019-09-18T06:52:10.344+0000\"\
        }],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[{\"key\"\
        :180680,\"type\":\"GBIF_PARTICIPANT\",\"identifier\":\"419\",\"createdBy\"\
        :\"directory-update-robot\",\"created\":\"2019-09-18T05:34:54.264+0000\"}],\"\
        comments\":[]},{\"key\":\"07b1b3f9-e3fa-4348-8f0c-4077974ce177\",\"type\"\
        :\"OTHER\",\"participationStatus\":\"ASSOCIATE\",\"gbifRegion\":\"EUROPE\"\
        ,\"continent\":\"EUROPE\",\"title\":\"DiSSCo\",\"participantTitle\":\"Distributed\
        \ System of Scientific Collections\",\"abbreviation\":\"DiSSCo\",\"email\"\
        :[],\"phone\":[],\"homepage\":[\"https://www.dissco.eu/\"],\"address\":[null],\"\
        country\":\"NL\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"\
        directory-update-robot\",\"created\":\"2019-09-04T05:34:54.998+0000\",\"modified\"\
        :\"2019-09-04T05:34:54.998+0000\",\"contacts\":[{\"key\":3671,\"type\":\"\
        HEAD_OF_DELEGATION\",\"primary\":false,\"userId\":[],\"firstName\":\"Edwin\"\
        ,\"lastName\":\"van Huis\",\"posit[...]
