interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
  response:
    body: {string: '{"key":330801,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":31469,"synonymsCount":21034,"distinctNamesCount":31439,"nubMatchingCount":30026,"colMatchingCount":24563,"nubCoveragePct":95,"colCoveragePct":78,"countByConstituent":{},"countByKingdom":{"PLANTAE":9089},"countByRank":{"SPECIES":6176,"GENUS":1271,"VARIETY":902,"SUBSPECIES":723,"SECTION":356,"TRIBE":334,"FAMILY":176,"SUBFAMILY":156,"SUBGENUS":106,"SUBTRIBE":61,"SUBSECTION":60,"ORDER":55,"SERIES":40,"SUPERORDER":12,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":20940,"FRENCH":11373},"countExtRecordsByExtension":{"VERNACULAR_NAME":32313,"DISTRIBUTION":29607,"DESCRIPTION":10395,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":31460,"PROPARTE":9},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1841,"BACKBONE_MATCH_NONE":1443,"PARTIALLY_PARSABLE":45},"otherCount":{},"created":"2019-09-07T22:21:22.047+0000","downloaded":"2019-09-07T22:21:19.617+0000"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset/66dd0960-2d7d-46ee-a491-87b9adcfe7b1/metrics
  response:
    body: {string: '{"key":359798,"datasetKey":"66dd0960-2d7d-46ee-a491-87b9adcfe7b1","usagesCount":138248,"synonymsCount":59906,"distinctNamesCount":138122,"nubMatchingCount":131773,"colMatchingCount":101124,"nubCoveragePct":95,"colCoveragePct":73,"countByConstituent":{},"countByKingdom":{"PLANTAE":72340},"countByRank":{"SPECIES":52563,"GENUS":12880,"VARIETY":4810,"SUBSPECIES":4462,"SERIES":1077,"TRIBE":844,"FAMILY":509,"SUBTRIBE":327,"SUBFAMILY":303,"SUBGENUS":240,"FORM":238,"SECTION":82,"SUBVARIETY":5,"KINGDOM":1},"countNamesByLanguage":{"ENGLISH":32165,"SWEDISH":7284,"GERMAN":4882,"SPANISH":4157,"FRENCH":3783,"PORTUGUESE":1141,"ITALIAN":663,"AFRIKAANS":450,"ARABIC":182,"INDONESIAN":153,"MALAY":139,"SWAHILI":72,"DUTCH":50,"MALAGASY":41,"DANISH":21,"FIJIAN":17,"HINDI":15,"SOMALI":11,"TURKISH":8,"POLISH":7,"CZECH":4,"KOREAN":4,"TAJIK":4,"CATALAN":3,"FINNISH":3,"JAVANESE":3,"ROMANIAN":3,"YORUBA":3,"AYMARA":2,"CHINESE":2,"SAMOAN":2,"ALBANIAN":1,"BISLAMA":1,"HUNGARIAN":1,"NORWEGIAN":1,"QUECHUA":1,"RUSSIAN":1,"SANSKRIT":1,"TAMIL":1,"THAI":1,"TONGA":1,"TURKMEN":1},"countExtRecordsByExtension":{"VERNACULAR_NAME":64900,"DESCRIPTION":0,"DISTRIBUTION":0,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":138246,"DENORMED_CLASSIFICATION":1,"MISSING_ACCEPTED":1},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":128639,"BACKBONE_MATCH_NONE":6475,"VERNACULAR_NAME_INVALID":5732,"CHAINED_SYNOYM":522,"PARENT_NAME_USAGE_ID_INVALID":48,"PARTIALLY_PARSABLE":9,"PARENT_CYCLE":1},"otherCount":{},"created":"2019-11-01T00:12:10.344+0000","downloaded":"2019-10-31T16:06:51.031+0000"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
