interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":10220,\"results\":[{\"key\":\"bd9557e8-af12-4b56-90a0-a7017dd6e46d\",\"code\":\"HR.167\",\"name\":\"Vascular
        Plant Herbarium: Herbarium Fennoscandicum\",\"description\":\"<p>Vascular
        plant collections of the Botanical Museum, University of Helsinki (H): East
        Fennoscandian and Nordic herbarium</p>\",\"contentTypes\":[\"PreservedOrganisms\"],\"active\":true,\"personalCollection\":false,\"email\":[],\"phone\":[],\"catalogUrls\":[],\"apiUrls\":[],\"preservationTypes\":[],\"accessionStatus\":\"Institutional\",\"institutionKey\":\"11cb3e72-eac6-48c8-bcb3-4668c2ca7eaa\",\"mailingAddress\":{\"key\":56169,\"address\":\"P.O
        7 (Unioninkatu 44) University of Helsinki\",\"city\":\"Helsinki\",\"province\":\"Uusimaa\",\"postalCode\":\"00014\",\"country\":\"FI\"},\"address\":{\"key\":56168,\"address\":\"Kaisaniemenranta
        2\",\"city\":\"Helsinki\",\"province\":\"Uusimaa\",\"postalCode\":\"00170\",\"country\":\"FI\"},\"createdBy\":\"finbif\",\"modifiedBy\":\"finbif\",\"created\":\"2025-07-15T09:30:05.402+00:00\",\"modified\":\"2025-07-15T09:34:30.045+00:00\",\"tags\":[],\"identifiers\":[{\"key\":444456,\"type\":\"DOI\",\"identifier\":\"10.15468/ekpyfw\",\"createdBy\":\"finbif\",\"created\":\"2025-07-15T09:30:05.402+00:00\",\"primary\":false}],\"contactPersons\":[{\"key\":43087,\"firstName\":\"FinBIF\",\"position\":[],\"phone\":[],\"fax\":[],\"email\":[\"helpdesk@laji.fi\"],\"address\":[],\"primary\":false,\"taxonomicExpertise\":[],\"userIds\":[],\"createdBy\":\"finbif\",\"modifiedBy\":\"finbif\",\"created\":\"2025-07-15T09:30:05.402+00:00\",\"modified\":\"2025-07-15T09:30:05.402+00:00\"},{\"key\":43086,\"firstName\":\"Henry\",\"lastName\":\"V\xE4re\",\"position\":[],\"phone\":[],\"fax\":[],\"email\":[\"henry.vare@helsinki.fi\"],\"address\":[],\"primary\":true,\"taxonomicExpertise\":[],\"userIds\":[],\"createdBy\":\"finbif\",\"modifiedBy\":\"finbif\",\"created\":\"2025-07-15T09:30:05.402+00:00\",\"modified\":\"2025-07-15T09:30:05.402+00:00\"}],\"numberSpecimens\":858000,\"machineTags\":[],\"taxonomicCoverage\":\"Plantae\",\"geographicCoverage\":\"Finland,
        Russian Fennoscandia, Denmark (excl. Greenland), Iceland, Norway (incl. Svalbard),
        Sweden\",\"incorporatedCollections\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GBIF_REGISTRY\",\"masterSourceMetadata\":{\"key\":9841,\"source\":\"DATASET\",\"sourceId\":\"a86641c2-9381-4c1e-9d25-32b90f2b5a4b\",\"createdBy\":\"finbif\",\"created\":\"2025-07-15T09:30:05.402+00:00\"},\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0,\"temporalCoverage\":\"1654-01-01
        - 2024-12-31\",\"institutionName\":\"Helsinki Botanical Museum\",\"institutionCode\":\"H\"},{\"key\":\"287f6b62-bed0-4686-a6ab-f83fe0ab5370\",\"code\":\"HR.168\",\"name\":\"Vascular
        Plant Herbarium: Herbarium Generale\",\"description\":\"<p>Vascular plant
        collections of the Botanical Museum, University of Helsinki (H): General herbarium
        (areas outside Finland, Russian Fennoscandia and Nordic Countries)</p>\",\"contentTypes\":[\"PreservedOrganisms\"],\"active\":true,\"personalCollection\":false,\"email\":[],\"phone\":[],\"catalogUrls\":[],\"apiUrls\":[],\"[...]
