interactions:
- request:
    body: '{"sendNotification": true, "notificationAddresses": [null], "format": "SQL_TSV_ZIP",
      "sql": "SELECT gbifid,publishingCountry FROM occurrence WHERE publishingCountry=''BE''"}'
    headers:
      Authorization:
      - Basic andhbGxlcjojOVNrZG5Ba3NpRGtuZWtzUW9zblZpZDg4QQ==
      content-type:
      - application/json
    method: POST
    uri: https://api.gbif.org/v1/occurrence/download/request
  response:
    body:
      string: 0039132-240906103802322
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
