interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DE
  response:
    body:
      string: "{\"GERMANY\":58308282,\"UNITED_STATES\":6058357,\"AUSTRALIA\":1442425,\"UNITED_KINGDOM\":1106982,\"CHINA\":967375,\"SPAIN\":511184,\"ITALY\":449911,\"CANADA\":423818,\"SAUDI_ARABIA\":399350,\"AUSTRIA\":373142,\"GREECE\":368827,\"MEXICO\":341795,\"BELGIUM\":304813,\"FRANCE\":297311,\"NETHERLANDS\":237841,\"CHILE\":227206,\"ANTARCTICA\":220748,\"COLOMBIA\":205246,\"BRAZIL\":191712,\"SWITZERLAND\":191006,\"SWEDEN\":187381,\"ARGENTINA\":176252,\"PORTUGAL\":156772,\"RUSSIAN_FEDERATION\":140768,\"DENMARK\":140143,\"SOUTH_AFRICA\":138495,\"SVALBARD_JAN_MAYEN\":136359,\"POLAND\":125019,\"NORWAY\":105744,\"KENYA\":104320,\"JAPAN\":97780,\"NAMIBIA\":95460,\"CZECH_REPUBLIC\":94549,\"PAPUA_NEW_GUINEA\":87605,\"PERU\":84206,\"TANZANIA\":82241,\"PHILIPPINES\":81566,\"INDONESIA\":80111,\"EL_SALVADOR\":79034,\"TURKEY\":75366,\"NEW_ZEALAND\":73769,\"ECUADOR\":70682,\"UNKNOWN\":68398,\"PANAMA\":66815,\"COSTA_RICA\":65073,\"GREENLAND\":60996,\"VENEZUELA\":60642,\"HONG_KONG\":57452,\"BURKINA_FASO\":55823,\"TAIWAN\":53991,\"INDIA\":53637,\"MADAGASCAR\":53133,\"UKRAINE\":50697,\"OMAN\":46925,\"IRELAND\":46722,\"CROATIA\":44379,\"MOROCCO\":43723,\"URUGUAY\":42971,\"VIETNAM\":42837,\"ROMANIA\":42720,\"BAHAMAS\":41488,\"HUNGARY\":40234,\"YEMEN\":38763,\"PUERTO_RICO\":36877,\"MARSHALL_ISLANDS\":35215,\"MALAYSIA\":32268,\"CUBA\":32027,\"BOLIVIA\":31667,\"NICARAGUA\":31354,\"HEARD_MCDONALD_ISLANDS\":30207,\"CAMEROON\":27976,\"ICELAND\":27893,\"IRAN\":27831,\"GEORGIA\":26566,\"MALDIVES\":25386,\"WESTERN_SAHARA\":25282,\"EGYPT\":25273,\"BULGARIA\":25201,\"ETHIOPIA\":25096,\"GUATEMALA\":25088,\"THAILAND\":23722,\"CYPRUS\":23306,\"GHANA\":21847,\"SEYCHELLES\":20452,\"ISRAEL\":19236,\"SRI_LANKA\":19130,\"VANUATU\":18006,\"ANGOLA\":17594,\"CAPE_VERDE\":17580,\"SENEGAL\":17117,\"SLOVENIA\":16070,\"SLOVAKIA\":15030,\"FINLAND\":14762,\"MALAWI\":14371,\"NEW_CALEDONIA\":13895,\"GUYANA\":13704,\"MICRONESIA\":12124,\"TRINIDAD_TOBAGO\":11861,\"BENIN\":11740,\"GAMBIA\":11692,\"UGANDA\":11505,\"NEPAL\":11287,\"SUDAN\":11210,\"TUNISIA\":10933,\"ARMENIA\":10900,\"CONGO\":10840,\"CONGO_DEMOCRATIC_REPUBLIC\":10815,\"MONGOLIA\":10196,\"FRENCH_SOUTHERN_TERRITORIES\":10032,\"DOMINICAN_REPUBLIC\":9924,\"ESTONIA\":9703,\"MARTINIQUE\":9637,\"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA\":9482,\"ALBANIA\":9116,\"ALGERIA\":9114,\"SURINAME\":8970,\"SERBIA\":8418,\"LUXEMBOURG\":8404,\"NIGERIA\":8372,\"SYRIA\":8242,\"MALI\":8206,\"BOTSWANA\":8151,\"NORTHERN_MARIANA_ISLANDS\":7206,\"UNITED_STATES_OUTLYING_ISLANDS\":7063,\"FRENCH_POLYNESIA\":7022,\"PARAGUAY\":6950,\"AFGHANISTAN\":6860,\"KYRGYZSTAN\":6763,\"FRENCH_GUIANA\":6708,\"R\xC9UNION\":6441,\"GABON\":6315,\"MONTENEGRO\":6182,\"BOSNIA_HERZEGOVINA\":6171,\"ZIMBABWE\":6097,\"MACEDONIA\":6056,\"SOMALIA\":5745,\"ZAMBIA\":5740,\"PAKISTAN\":5690,\"MAURITIUS\":5358,\"BRITISH_INDIAN_OCEAN_TERRITORY\":5284,\"KIRIBATI\":5224,\"JAMAICA\":5213,\"JORDAN\":4841,\"AZERBAIJAN\":4765,\"SINGAPORE\":4746,\"KOREA_SOUTH\":4737,\"C\xD4TE_DIVOIRE\":4647,\"SOUTH_GEORGIA_SANDWICH_ISLANDS\":4583,\"GRENADA\":4479,\"BELARUS\":4235,\"UZBEKISTAN\":4189,\"UNITED_ARAB_EMIRATES\":4083,\"LEBANON\":4073,\"TONGA\":3962,\"LAO\":3831,\"LIBYA\":3828,\"MYANMAR\":3675,\"COOK_ISLANDS\":3671,\"FIJI\":3490,\"HONDURAS\":3486,\"HAITI\":3436,\"LATVIA\":3346,\"MAURITANIA\":3324,\"RWANDA\":3270,\"EQUATORIAL_GUINEA\":3254,\"LIBERIA\":3189,\"FAROE_ISLANDS\":3036,\"KAZAKHSTAN\":2942,\"IRAQ\":2936,\"MOZAMBIQUE\":2832,\"GUADELOUPE\":2780,\"MALTA\":2759,\"TAJIKISTAN\":2758,\"SOLOMON_ISLANDS\":2558,\"GUINEA\":2502,\"LITHUANIA\":2435,\"CURA\xC7AO\":2410,\"TOGO\":2338,\"LIECHTENSTEIN\":2287,\"SAO_TOME_PRINCIPE\":2240,\"FALKLAND_ISLANDS\":2232,\"GUINEA_BISSAU\":2024,\"TURKMENISTAN\":1869,\"COCOS_ISLANDS\":1864,\"SIERRA_LEONE\":1836,\"BRUNEI_DARUSSALAM\":1752,\"CAMBODIA\":1594,\"ERITREA\":1577,\"BERMUDA\":1516,\"SAMOA\":1440,\"CENTRAL_AFRICAN_REPUBLIC\":1384,\"CAYMAN_ISLANDS\":1352,\"BHUTAN\":1242,\"CHAD\":1229,\"KOSOVO\":1074,\"BANGLADESH\":1045,\"NIGER\":912,\"VIRGIN_ISLANDS\":820,\"ARUBA\":793,\"PITCAIRN\":785,\"DOMINICA\":749,\"ANGUILLA\":737,\"SWAZILAND\":736,\"COMOROS\":670,\"BOUVET_ISLAND\":648,\"KOREA_NORTH\":615,\"ANDORRA\":530,\"BELIZE\":524,\"BURUNDI\":470,\"PALESTINIAN_TERRITORY\":465,\"PALAU\":405,\"GUERNSEY\":378,\"GIBRALTAR\":345,\"SAINT_LUCIA\":339,\"ANTIGUA_BARBUDA\":334,\"NORFOLK_ISLAND\":324,\"AMERICAN_SAMOA\":321,\"GUAM\":315,\"MOLDOVA\":303,\"MONTSERRAT\":300,\"SAN_MARINO\":296,\"ALAND_ISLANDS\":275,\"DJIBOUTI\":260,\"VIRGIN_ISLANDS_BRITISH\":243,\"KUWAIT\":234,\"BONAIRE_SINT_EUSTATIUS_SABA\":226,\"BARBADOS\":203,\"BAHRAIN\":201,\"TOKELAU\":199,\"MONACO\":193,\"NAURU\":192,\"SAINT_VINCENT_GRENADINES\":160,\"SOUTH_SUDAN\":160,\"LESOTHO\":146,\"SAINT_KITTS_NEVIS\":142,\"TIMOR_LESTE\":94,\"JERSEY\":72,\"CHRISTMAS_ISLAND\":65,\"WALLIS_FUTUNA\":60,\"MACAO\":58,\"SINT_MAARTEN\":54,\"MAYOTTE\":53,\"QATAR\":48,\"NIUE\":41,\"ISLE_OF_MAN\":31,\"TURKS_CAICOS_ISLANDS\":26,\"SAINT_PIERRE_MIQUELON\":18,\"SAINT_MARTIN_FRENCH\":18,\"TUVALU\":15,\"VATICAN\":12,\"INTERNATIONAL_WATERS\":9,\"SAINT_BARTH\xC9LEMY\":4}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
