interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=mammalia&limit=1&hl=false&verbose=false
  response:
    body: {string: '{"offset":0,"limit":1,"endOfRecords":false,"count":1106,"results":[{"key":114079693,"datasetKey":"bd0a2b6d-69d1-4650-8bb1-829c8f92035f","nubKey":359,"parentKey":114079410,"parent":"Animalia","scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"114079410":"Animalia"},"synonym":false}],"facets":[]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
