interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?country=US&country=GB&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":3046,\"results\":[{\"key\":\"e84edda1-db90-488d-b62f-a56966012d49\",\"code\":\"DPC\",\"name\":\"Egypt\",\"description\":\"Fossil
        specimens from Al Fayy\u016Bm and Wadi Moghra in Egypt\",\"contentTypes\":[],\"active\":true,\"personalCollection\":false,\"email\":[],\"phone\":[],\"catalogUrls\":[],\"apiUrls\":[],\"preservationTypes\":[],\"institutionKey\":\"c29e0c07-f7e3-4f57-b2a5-79212756ce98\",\"mailingAddress\":{\"key\":56117,\"address\":\"1013
        Broad St\",\"city\":\"Durham\",\"province\":\"North Carolina\",\"postalCode\":\"27705\",\"country\":\"US\"},\"address\":{\"key\":56116,\"address\":\"1013
        Broad St\",\"city\":\"Durham\",\"province\":\"North Carolina\",\"postalCode\":\"27705\",\"country\":\"US\"},\"createdBy\":\"kateneely\",\"modifiedBy\":\"kateneely\",\"created\":\"2025-06-30T19:01:14.155+00:00\",\"modified\":\"2025-06-30T19:01:14.155+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[],\"machineTags\":[],\"incorporatedCollections\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0,\"temporalCoverage\":\"Late
        Eocene \u2013 Priabonian, early Oligocene \u2013 Rupelian\",\"institutionName\":\"Duke
        Lemur Center Museum of Natural History\",\"institutionCode\":\"DPC\"},{\"key\":\"ee1a1781-ad64-403f-a178-f68be37035d7\",\"code\":\"FLASF\",\"name\":\"University
        of Florida Mycological Collection\",\"contentTypes\":[],\"active\":true,\"personalCollection\":false,\"email\":[\"trufflesmith@ufl.edu\"],\"phone\":[\"(352)
        273-2837\"],\"homepage\":\"https://www.floridamuseum.ufl.edu/herbarium/collections/fungal/\",\"catalogUrls\":[],\"apiUrls\":[],\"preservationTypes\":[],\"institutionKey\":\"2bfdf57f-35bd-450a-b830-a5189c2d836d\",\"mailingAddress\":{\"key\":56004,\"address\":\"2550
        Hull Rd\",\"city\":\"Gainesville\",\"province\":\"Florida\",\"postalCode\":\"32605\",\"country\":\"US\"},\"address\":{\"key\":56003},\"createdBy\":\"kdpearso\",\"modifiedBy\":\"ih-sync\",\"created\":\"2025-06-18T13:38:59.334+00:00\",\"modified\":\"2025-07-09T10:45:54.157+00:00\",\"tags\":[],\"identifiers\":[{\"key\":443020,\"type\":\"IH_IRN\",\"identifier\":\"gbif:ih:irn:268231\",\"createdBy\":\"kdpearso\",\"created\":\"2025-06-18T13:38:59.465+00:00\",\"primary\":false}],\"contactPersons\":[{\"key\":43005,\"firstName\":\"C.
        Benton\",\"lastName\":\"Willis\",\"position\":[\"Collections Manager\"],\"phone\":[],\"fax\":[],\"email\":[\"caroline.willis@ufl.edu\"],\"address\":[],\"country\":\"US\",\"primary\":false,\"taxonomicExpertise\":[],\"userIds\":[{\"type\":\"IH_IRN\",\"id\":\"268383\"}],\"createdBy\":\"ih-sync\",\"modifiedBy\":\"ih-sync\",\"created\":\"2025-07-09T10:45:54.437+00:00\",\"modified\":\"2025-07-09T10:45:54.437+00:00\"}],\"numberSpecimens\":49766,\"machineTags\":[{\"key\":26024955,\"namespace\":\"ih.gbif.org\",\"name\":\"collectionSummaryDescriptorGroupKey\",\"value\":\"4166\",\"createdBy\":\"ih-sync\",\"created\":\"2025-07-09T10:45:54.289+00:00\"},{\"key\":26024956,\"namespace\":\"ih.gbif.org\",\"name\":\"importantCollectorsDescriptorGroupKey\",\"value\":\"4167\",\"createdBy\":\"ih-sync\",\"created\":\"2025-07-09T10:45:54.415+00:00\"}],\"incorporatedCollections\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"IH\",\"masterSourceMetadata\":{\"key\":9838,\"source\":\"IH_IRN\",\"sourceId\":\"268231\",\"createdBy\":\"kdpearso\",\"created\":\"2025-06-18T13:38:59.475+00:00\"},\"department\":\"Plant
        Pathology Department\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0,\"institutionName\":\"Florida
        Museum of Natural History\",\"institutionCode\":\"FLMNH\"},{\"key\":\"3a3e2071-2ffa-4123-bbe4-7dd03c34ffa9\",\"code\":\"herb.bryo\",\"name\":\"Bryophyte
        Collection\",\"description\":\"The Bryophyte Collection at The Morton Arboretum
        Herbarium consists of approximately 1500 specimens, mostly from the Chicago
        Region.\",\"contentTypes\":[\"Biological\"],\"active\":true,\"personalCollection\":false,\"email\":[],\"phone\":[],\"homepage\":\"https://bryophyteportal.org/portal/collections/misc/collprofiles.php?collid=29\",\"catalogUrls\":[],\"apiUrls\":[],\"preservationTypes\":[],\"accessionStatus\":\"Institutional\",\"institutionKey\":\"14903db2-5e69-4f79-9ce2-3d2803bbd8ca\",\"mailingAddress\":{\"key\":55979,\"address\":\"The
        Morton Arboretum Herbarium | 4100 Illinois Route 53\",\"city\":\"Lisle\",\"province\":\"IL\",\"postalCode\":\"60532\",\"country\":\"US\"},\"address\":{\"key\":55978,\"address\":\"The
        Morton Arboretum Herbarium | 4100 Illinois Route 53\",\"city\":\"Lisle\",\"province\":\"IL\",\"postalCode\":\"60532\",\"country\":\"US\"},\"createdBy\":\"mgrosjean\",\"mod[...]
