interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    body:
      string: '{"HUMAN_OBSERVATION":2646518467,"PRESERVED_SPECIMEN":251695785,"MATERIAL_SAMPLE":64609236,"MACHINE_OBSERVATION":23363833,"OCCURRENCE":21038441,"OBSERVATION":17281076,"FOSSIL_SPECIMEN":9145348,"MATERIAL_CITATION":8383909,"LIVING_SPECIMEN":2025864}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
