interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?numberSpecimens=1000%2C%2A&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":2797,\"results\":[{\"key\":\"11cb3e72-eac6-48c8-bcb3-4668c2ca7eaa\",\"code\":\"H\",\"name\":\"Helsinki
        Botanical Museum\",\"description\":\"The Helsinki Botanical Museum houses
        specimens from around the globe, particularly from the Nordic countries, North
        America and the cool and temperate zones of Asia. Prominent regional collections
        are from China, Papua New Guinea and Patagonia, among others. The collections
        contain tens of thousands of globally valuable type specimens. The collections
        are organised into five groups of organisms: vascular plants, bryophytes,
        fungi, lichens and algae. Most of these have been further divided into two
        sections, of which East Fennoscandia (Herbarium Fennoscandiae orientalis)
        encompasses Finland and its neighbouring areas (Russian Karelia, the Kola
        Peninsula and the western parts of the Leningrad Oblast), and the general
        collection (Herbarium Generale) covers the rest of the globe.\",\"types\":[\"Herbarium\"],\"active\":true,\"email\":[\"kasvimuseo@helsinki.fi\"],\"phone\":[],\"homepage\":\"https://www.helsinki.fi/en/luomus/national-collections/explore-collections/botanical-and-mycological-collections\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[\"Academic\"],\"disciplines\":[],\"latitude\":60.175210,\"longitude\":24.947820,\"mailingAddress\":{\"key\":56165,\"address\":\"P.O
        7 (Unioninkatu 44) University of Helsinki\",\"city\":\"Helsinki\",\"province\":\"Uusimaa\",\"postalCode\":\"00014\",\"country\":\"FI\"},\"address\":{\"key\":56164,\"address\":\"Kaisaniemenranta
        2\",\"city\":\"Helsinki\",\"province\":\"Uusimaa\",\"postalCode\":\"00170\",\"country\":\"FI\"},\"additionalNames\":[],\"foundingDate\":1751,\"numberSpecimens\":3500000,\"logoUrl\":\"https://www.helsinki.fi/assets/drupal/media-image/LUOMUS_musta.png\",\"createdBy\":\"finbif\",\"modifiedBy\":\"finbif\",\"created\":\"2025-07-15T07:24:12.345+00:00\",\"modified\":\"2025-07-15T09:26:48.079+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[{\"key\":43073,\"firstName\":\"Marko\",\"lastName\":\"Hyv\xE4rinen\",\"position\":[\"Director\"],\"phone\":[\"+358294124440\"],\"fax\":[],\"email\":[\"marko.hyvarinen@helsinki.fi\"],\"address\":[\"P.O
        7 (Unioninkatu 44) University of Helsinki\"],\"city\":\"Helsinki\",\"province\":\"Uusimaa\",\"country\":\"FI\",\"postalCode\":\"00014\",\"primary\":true,\"taxonomicExpertise\":[],\"userIds\":[{\"type\":\"ORCID\",\"id\":\"https://orcid.org/0000-0001-8736-0946\"}],\"createdBy\":\"finbif\",\"modifiedBy\":\"finbif\",\"created\":\"2025-07-15T07:34:25.901+00:00\",\"modified\":\"2025-07-15T08:29:18.755+00:00\"},{\"key\":43078,\"firstName\":\"Henry\",\"lastName\":\"V\xE4re\",\"position\":[\"Senior
        Curator\"],\"phone\":[\"+358294124433\"],\"fax\":[],\"email\":[\"henry.vare@helsinki.fi\"],\"address\":[\"P.O
        7 (Unioninkatu 44) University of Helsinki\"],\"city\":\"Helsinki\",\"province\":\"Uusimaa\",\"coun[...]
