interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=Helianthus+annuus&rank=species&limit=10&hl=false&verbose=false
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":562,\"results\":[{\"key\":134849059,\"nameKey\":5052531,\"datasetKey\":\"3cabcf37-db13-4dc1-9bf3-e6f3fbfbbe23\",\"nubKey\":9206251,\"parentKey\":201393428,\"parent\":\"Asteraceae\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Asterales\",\"family\":\"Asteraceae\",\"species\":\"Helianthus
        annuus\",\"kingdomKey\":201392960,\"phylumKey\":201393041,\"classKey\":201393275,\"orderKey\":201393425,\"familyKey\":201393428,\"speciesKey\":134849059,\"scientificName\":\"Helianthus
        annuus\",\"canonicalName\":\"Helianthus annuus\",\"authorship\":\"\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"numDescendants\":0,\"numOccurrences\":0,\"habitats\":[\"TERRESTRIAL\"],\"nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\":[],\"vernacularNames\":[],\"higherClassificationMap\":{\"201392960\":\"Plantae\",\"201393041\":\"Tracheophyta\",\"201393275\":\"Magnoliopsida\",\"201393425\":\"Asterales\",\"201393428\":\"Asteraceae\"},\"synonym\":false,\"class\":\"Magnoliopsida\"},{\"key\":148748457,\"nameKey\":19111195,\"datasetKey\":\"1100c043-55c0-433d-b2f3-60747ab9de11\",\"parentKey\":201356442,\"parent\":\"Asteraceae\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Asterales\",\"family\":\"Asteraceae\",\"species\":\"Helianthus
        spec.\",\"kingdomKey\":201356078,\"phylumKey\":201356088,\"classKey\":201356353,\"orderKey\":201356441,\"familyKey\":201356442,\"speciesKey\":148748457,\"scientificName\":\"Helianthus\_annuus\",\"cano[...]
