interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species/1?limit=100
  response:
    body: {string: "{\"key\":1,\"nubKey\":1,\"nameKey\":13352168,\"taxonID\":\"gbif:1\"\
        ,\"kingdom\":\"Animalia\",\"kingdomKey\":1,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\"\
        ,\"constituentKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\",\"scientificName\"\
        :\"Animalia\",\"canonicalName\":\"Animalia\",\"authorship\":\"\",\"nameType\"\
        :\"SCIENTIFIC\",\"rank\":\"KINGDOM\",\"origin\":\"SOURCE\",\"taxonomicStatus\"\
        :\"ACCEPTED\",\"nomenclaturalStatus\":[],\"remarks\":\"\",\"publishedIn\"\
        :\"Linn\xE6us, Carolus.  1758. Systema naturae per regna tria naturae, secundum\
        \ classes, ordines, genera, species, cum characteribus, differentiis, synonymis,\
        \ locis. Laurentii Salvii, Holmiae [= Stockholm].  Vol. Tomus I,  Editio decima,\
        \ reformata: i-ii, 1-824.\",\"numDescendants\":2323575,\"lastCrawled\":\"\
        2017-02-14T13:42:21.926+0000\",\"lastInterpreted\":\"2017-02-14T12:05:57.974+0000\"\
        ,\"issues\":[],\"synonym\":false}"}
    headers:
      Content-Type: [application/json]
      X-API-URL: ['/v1/species/1?limit=100']
    status: {code: 200, message: OK}
version: 1
