interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset/3f8a1297-3259-4700-91fc-acc4170b27ce/metrics
  response:
    body:
      string: '{"key":3171613,"datasetKey":"3f8a1297-3259-4700-91fc-acc4170b27ce","usagesCount":33312,"synonymsCount":22536,"distinctNamesCount":33282,"nubMatchingCount":31698,"colMatchingCount":28003,"nubCoveragePct":95,"colCoveragePct":84,"countByConstituent":{},"countByKingdom":{"PLANTAE":9369},"countByRank":{"SPECIES":6327,"GENUS":1284,"VARIETY":907,"SUBSPECIES":723,"SECTION":472,"TRIBE":332,"FAMILY":182,"SUBFAMILY":164,"SUBGENUS":140,"SUBTRIBE":69,"SUBSECTION":61,"ORDER":56,"SERIES":39,"SUPERORDER":13,"SUBCLASS":6,"CLASS":1},"countNamesByLanguage":{"ENGLISH":21095,"FRENCH":11592},"countExtRecordsByExtension":{"VERNACULAR_NAME":32687,"DISTRIBUTION":30141,"DESCRIPTION":10759,"IDENTIFIER":0,"MULTIMEDIA":0,"REFERENCE":0,"SPECIES_PROFILE":0,"TYPES_AND_SPECIMEN":0},"countByOrigin":{"SOURCE":33304,"PROPARTE":8},"countByIssue":{"SCIENTIFIC_NAME_ASSEMBLED":1951,"BACKBONE_MATCH_NONE":1614,"PARTIALLY_PARSABLE":44,"UNPARSABLE":3},"otherCount":{},"downloaded":"2024-08-29T19:02:34.364+00:00"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
