interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/occurrence/search?taxonKey=2431762&limit=300&offset=0
  response:
    body: {string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":1941,\"\
        results\":[{\"key\":1572334548,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\"\
        ,\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\"\
        :\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2017-12-15T00:52:35.137+0000\"\
        ,\"lastParsed\":\"2017-07-15T17:02:59.810+0000\",\"crawlId\":90,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":2431762,\"kingdomKey\"\
        :1,\"phylumKey\":44,\"classKey\":131,\"orderKey\":953,\"familyKey\":6748,\"\
        genusKey\":2431747,\"speciesKey\":2431762,\"scientificName\":\"Batrachoseps\
        \ luciae Jockusch, Yanev & Wake, 2001\",\"kingdom\":\"Animalia\",\"phylum\"\
        :\"Chordata\",\"order\":\"Caudata\",\"family\":\"Plethodontidae\",\"genus\"\
        :\"Batrachoseps\",\"species\":\"Batrachoseps luciae\",\"genericName\":\"Batrachoseps\"\
        ,\"specificEpithet\":\"luciae\",\"taxonRank\":\"SPECIES\",\"dateIdentified\"\
        :\"2017-06-28T17:56:55.000+0000\",\"decimalLongitude\":-121.942572,\"decimalLatitude\"\
        :36.73906,\"coordinateUncertaintyInMeters\":28490.0,\"year\":2017,\"month\"\
        :5,\"day\":8,\"eventDate\":\"2017-05-08T17:15:11.000+0000\",\"issues\":[\"\
        COORDINATE_ROUNDED\",\"GEODETIC_DATUM_ASSUMED_WGS84\"],\"modified\":\"2017-07-14T05:24:59.000+0000\"\
        ,\"lastInterpreted\":\"2017-07-15T17:02:59.826+0000\",\"references\":\"https://www.inaturalist.org/observations/6184089\"\
        ,\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"\
        identifiers\":[],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\"\
        ,\"identifier\":\"https://static.inaturalist.org/photos/7759209/original.jpeg?1494614852\"\
        ,\"references\":\"https://www.inaturalist.org/photos/7759209\",\"created\"\
        :\"2017-05-09T00:15:11.000+0000\",\"creator\":\"Nick\",\"publisher\":\"iNaturalist\"\
        ,\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/\",\"rightsHolder\"\
        :\"Nick\"}],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\",\"class\"\
        :\"Amphibia\",\"countryCode\":\"US\",\"country\":\"United States\",\"rightsHolder\"\
        :\"Nick\",\"identifier\":\"6184089\",\"informationWithheld\":\"Coordinate\
        \ uncertainty increased to 28490m to protect threatened taxon\",\"verbatimEventDate\"\
        :\"2017-05-08 5:15:11 PM PDT\",\"datasetName\":\"iNaturalist research-grade\
        \ observations\",\"collectionCode\":\"Observations\",\"gbifID\":\"1572334548\"\
        ,\"verbatimLocality\":\"California, US\",\"occurrenceID\":\"https://www.inaturalist.org/observations/6184089\"\
        ,\"taxonID\":\"27470\",\"recordedBy\":\"Nick\",\"catalogNumber\":\"6184089\"\
        ,\"http://unknown.org/occurrenceDetails\":\"https://www.inaturalist.org/observations/6184089\"\
        ,\"institutionCode\":\"iNaturalist\",\"rights\":\"\xA9 Nick some rights reserved\"\
        ,\"eventTime\":\"00:15:11Z\",\"identificationID\":\"14120844\"},{\"key\":1562964751,\"\
        datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\"\
        :\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2017-12-15T00:52:51.413+0000\"\
        ,\"lastParsed\":\"2017-07-15T17:03:18.107+0000\",\"crawlId\":90,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":2431762,\"kingdomKey\"\
        :1,\"phylumKey\":44,\"classKey\":131,\"orderKey\":953,\"familyKey\":6748,\"\
        genusKey\":2431747,\"speciesKey\":2431762,\"scientificName\":\"Batrachoseps\
        \ luciae Jockusch, Yanev & Wake, 2001\",\"kingdom[...]
