interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=mammalia&limit=100&hl=false&verbose=false
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":3556,\"results\":[{\"key\":100559475,\"datasetKey\":\"16c3f9cb-4b19-4553-ac8e-ebb90003aa02\",\"scientificName\":\"Mammaliaformes\",\"canonicalName\":\"Mammaliaformes\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\",\"origin\":\"SOURCE\",\"numDescendants\":0,\"numOccurrences\":0,\"extinct\":true,\"habitats\":[],\"nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\":[{\"description\":\"Die
        Docodonta sind eine Gruppe ausgestorbener S\xE4ugetiervorfahren (Mammaliaformes),
        die im Jura und in der Kreidezeit lebte. Bekanntester Vertreter dieser Gruppe
        ist wohl die 2004 entdeckte und 2006 erstmals beschriebene, an das Leben im
        Wasser angepasste Gattung Castorocauda.\"},{\"description\":\"Haldanodon ist
        ein vergleichsweise urspr\xFCnglicher Vertreter der Docodonta. Ein nahezu
        vollst\xE4ndiges Skelett wurde in den 1970er-Jahren in der [...]
