interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species/match?name=Helianthus+annuus&strict=False&verbose=False&limit=100
  response:
    body: {string: '{"usageKey":3119195,"scientificName":"Helianthus annuus","canonicalName":"Helianthus
        annuus","rank":"SPECIES","status":"ACCEPTED","confidence":98,"matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Helianthus","species":"Helianthus
        annuus","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3119134,"speciesKey":3119195,"synonym":false,"class":"Magnoliopsida"}'}
    headers:
      Content-Type: [application/json]
      X-API-URL: ['/v1/species/match?name=Helianthus+annuus&strict=False&verbose=False&limit=100']
    status: {code: 200, message: OK}
version: 1
