interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    body: {string: '{"HUMAN_OBSERVATION":752864000,"PRESERVED_SPECIMEN":128358228,"UNKNOWN":31280332,"OBSERVATION":29714749,"MACHINE_OBSERVATION":9830297,"FOSSIL_SPECIMEN":8094690,"LIVING_SPECIMEN":1463587,"MATERIAL_SAMPLE":508770,"LITERATURE":262365}'}
    headers:
      Content-Type: [application/json]
      X-API-URL: [/v1/occurrence/counts/basisOfRecord]
    status: {code: 200, message: OK}
version: 1
