interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=3329049&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":874,\"results\":[{\"key\":4411699388,\"datasetKey\":\"67fabcac-a638-40a6-9bea-aeca8aced9f1\",\"publishingOrgKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"installationKey\":\"f9c0c41b-6da4-4be4-b917-a6f7710f3dbc\",\"hostingOrganizationKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2024-02-21T19:44:35.531+00:00\",\"lastParsed\":\"2024-02-21T21:18:00.922+00:00\",\"crawlId\":161,\"extensions\":{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"taxonKey\":3329049,\"kingdomKey\":5,\"phylumKey\":34,\"classKey\":186,\"orderKey\":1499,\"familyKey\":4171,\"genusKey\":6005964,\"speciesKey\":8168319,\"acceptedTaxonKey\":8168319,\"scientificName\":\"Amanita
        muscaria (L.) Hook.\",\"acceptedScientificName\":\"Amanita muscaria (L.) Lam.\",\"kingdom\":\"Fungi\",\"phylum\":\"Basidiomycota\",\"order\":\"Agaricales\",\"family\":\"Amanitaceae\",\"genus\":\"Amanita\",\"species\":\"Amanita
        muscaria\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"SYNONYM\",\"iucnRedListCategory\":\"NE\",\"decimalLatitude\":55.679722,\"decimalLongitude\":12.435959,\"coordinateUncertaintyInMeters\":238.09,\"continent\":\"EUROPE\",\"gadm\":{\"level0\":{\"gid\":\"DNK\",\"name\":\"Denmark\"},\"level1\":{\"gid\":\"DNK.1_1\",\"name\":\"Hovedstaden\"},\"level2\":{\"gid\":\"DNK.1.27_1\",\"name\":\"R\xF8dovre\"}},\"year\":2023,\"month\":5,\"day\":27,\"eventDate\":\"2023-05-27\",\"startDayOfYear\":147,\"endDayOfYear\":147,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_MATCH_TAXON_ID_IGNORED\"],\"modified\":\"2023-09-14T18:36:23.443+00:00\",\"lastInterpreted\":\"2024-02-21T21:18:00.922+00:00\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"26539745\"}],\"media\":[],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"recordedBy\":\"R\xF8dovre
        Kommune\",\"geodeticDatum\":\"WGS84\",\"class\":\"Agaricomycetes\",\"countryCode\":\"DK\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"EUROPE\",\"country\":\"Denmark\",\"publishedByGbifRegion\":\"EUROPE\",\"identifier\":\"26539745\",\"eventID\":\"962301\",\"dynamicProperties\":\"{\\\"ArtID\\\":430115,\\\"Indsamlingsform\xE5l\\\":\\\"Kommunal
        besigtigelse\\\",\\\"D\xE6kning\\\":\\\"\\\",\\\"Arealtype\\\":\\\"\\\",\\\"Pinpointnummer\\\":\\\"\\\",\\\"EventLink\\\":\\\"https://naturereport.miljoeportal.dk/962301\\\"}\",\"verbatimLocality\":\"Espelunden
        2023\",\"language\":\"da\",\"gbifID\":\"4411699388\",\"occurrenceID\":\"26539745\",\"taxonID\":\"538211f4-f785-ea11-aa77-501ac539d1ea\",\"catalogNumber\":\"DMPNatur_26539745\",\"vernacularName\":\"R\xF8d
        fluesvamp\",\"institutionCode\":\"DMP\",\"eventTime\":\"00:00\",\"bibliographicCitation\":\"Danmarks
        Milj\xF8portal\"},{\"key\":4167781414,\"datasetKey\":\"963a6b96-4d22-4428-86e4-afee52cf4a8e\",\"publishingOrgKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"installationKey\":\"f9c0c41b-6da4-4be4-b917-a6f7710f3dbc\",\"hostingOrganizationKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2024-02-29T14:42:09.748+00:00\",\"lastParsed\":\"2024-02-29T14:48:32.339+00:00\",\"crawlId\":199,\"extensions\":{\"http:[...]
