interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":9138,\"results\":[{\"key\":\"18e48f64-55cb-4149-a2d3-1c5ebd38cd10\",\"code\":\"SAEPS\",\"name\":\"Museo
        della Scuola agraria Ettore Pomaranci Santomasi\",\"types\":[],\"active\":true,\"email\":[],\"phone\":[],\"homepage\":\"https://www.icsantomasiscacchi.edu.it/pagine/il-museo-della-scuola-agraria-ettore-pomarici-santomasi\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[],\"disciplines\":[],\"mailingAddress\":{\"key\":57045,\"address\":\"Corso
        Aldo Moro, 51\",\"city\":\"Gravina di Puglia\",\"province\":\"[PUGLIA] Bari
        (BA)\",\"postalCode\":\"IT-70024\",\"country\":\"IT\"},\"address\":{\"key\":57044,\"address\":\"Corso
        Aldo Moro, 51\",\"city\":\"Gravina di Puglia\",\"province\":\"[PUGLIA] Bari
        (BA)\",\"postalCode\":\"IT-70024\",\"country\":\"IT\"},\"additionalNames\":[],\"createdBy\":\"tasmacetus\",\"modifiedBy\":\"tasmacetus\",\"created\":\"2025-11-03T07:51:14.752+00:00\",\"modified\":\"2025-11-03T07:51:14.752+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[],\"machineTags\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0},{\"key\":\"bf6c3d40-22fb-4ee5-82cd-a0a8057a6491\",\"code\":\"CENIPALMA\",\"name\":\"Corporaci\xF3n
        Centro de Investigaci\xF3n en Palma de Aceite\",\"description\":\"La Corporaci\xF3n
        Centro de Investigaci\xF3n en Palma de Aceite \u2013 Cenipalma, es una corporaci\xF3n
        de car\xE1cter cient\xEDfico y t\xE9cnico, sin fines de lucro, creada a ra\xEDz
        de las decisiones de XVIII Congreso Nacional de Cultivadores de Palma de Aceite
        el 21 de septiembre 1990. El accionar de Cenipalma est\xE1 relacionado con
        el sector palmero de Colombia y con la Federaci\xF3n Nacional de Cultivadores
        de Palma de Aceite, Fedepalma. Ce[...]
