interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DE
  response:
    body:
      string: "{\"GERMANY\":46156659,\"SPAIN\":398639,\"ITALY\":353999,\"GREECE\":342688,\"AUSTRIA\":298160,\"BELGIUM\":282338,\"FRANCE\":224973,\"UNITED_STATES\":219872,\"AUSTRALIA\":189242,\"PORTUGAL\":158426,\"NETHERLANDS\":133610,\"ANTARCTICA\":128853,\"PERU\":117126,\"BRAZIL\":111931,\"SOUTH_AFRICA\":105631,\"RUSSIAN_FEDERATION\":104266,\"POLAND\":103005,\"JAPAN\":99014,\"NORWAY\":96026,\"SWITZERLAND\":91219,\"NAMIBIA\":89677,\"SWEDEN\":80245,\"EL_SALVADOR\":76821,\"DENMARK\":71294,\"TURKEY\":69870,\"TANZANIA\":65835,\"UNKNOWN\":65399,\"UNITED_KINGDOM\":62923,\"COSTA_RICA\":62329,\"CHINA\":59116,\"SVALBARD_JAN_MAYEN\":58132,\"NEW_ZEALAND\":58014,\"ECUADOR\":56935,\"BURKINA_FASO\":55799,\"INDONESIA\":55758,\"TAIWAN\":54427,\"MEXICO\":54101,\"INDIA\":48616,\"CHILE\":48136,\"GREENLAND\":47782,\"OMAN\":45184,\"COLOMBIA\":45133,\"CZECH_REPUBLIC\":44885,\"IRELAND\":44070,\"MOROCCO\":43327,\"PHILIPPINES\":42745,\"BAHAMAS\":42114,\"VENEZUELA\":38638,\"YEMEN\":38362,\"CANADA\":37990,\"CROATIA\":37598,\"ROMANIA\":37407,\"VIETNAM\":37019,\"MARSHALL_ISLANDS\":35326,\"HEARD_MCDONALD_ISLANDS\":34689,\"MADAGASCAR\":32373,\"HUNGARY\":32306,\"KENYA\":31469,\"CUBA\":30945,\"VANUATU\":30929,\"BOLIVIA\":28178,\"ICELAND\":27827,\"CAMEROON\":27628,\"PAPUA_NEW_GUINEA\":27474,\"WESTERN_SAHARA\":27362,\"GUATEMALA\":25420,\"GEORGIA\":24835,\"IRAN\":24319,\"MALDIVES\":23637,\"BULGARIA\":23537,\"ARGENTINA\":22590,\"ETHIOPIA\":22407,\"EGYPT\":22309,\"GHANA\":21278,\"THAILAND\":21243,\"MALAYSIA\":20948,\"CYPRUS\":20584,\"SEYCHELLES\":19500,\"ISRAEL\":18576,\"SRI_LANKA\":18148,\"MARTINIQUE\":18122,\"SENEGAL\":17973,\"CAPE_VERDE\":16960,\"ANGOLA\":16090,\"PANAMA\":15523,\"SLOVENIA\":14509,\"NEW_CALEDONIA\":13692,\"GUYANA\":13129,\"SLOVAKIA\":12618,\"MICRONESIA\":12442,\"FINLAND\":12116,\"BENIN\":11581,\"UKRAINE\":11325,\"UGANDA\":10974,\"TUNISIA\":10633,\"SUDAN\":10562,\"CONGO_DEMOCRATIC_REPUBLIC\":10526,\"GAMBIA\":10278,\"ARMENIA\":10137,\"CONGO\":9958,\"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA\":9638,\"FRENCH_SOUTHERN_TERRITORIES\":9442,\"NEPAL\":9302,\"MALAWI\":8954,\"SURINAME\":8796,\"DOMINICAN_REPUBLIC\":8657,\"ESTONIA\":8638,\"NORTHERN_MARIANA_ISLANDS\":8458,\"NIGERIA\":8444,\"ALGERIA\":8228,\"MALI\":8158,\"SERBIA\":7999,\"SYRIA\":7590,\"BOTSWANA\":7502,\"MONGOLIA\":7232,\"LUXEMBOURG\":7142,\"PUERTO_RICO\":7063,\"GABON\":7051,\"PARAGUAY\":6895,\"ALBANIA\":6330,\"R\xC9UNION\":6285,\"FRENCH_GUIANA\":6269,\"ZIMBABWE\":6075,\"SOMALIA\":6046,\"MONTENEGRO\":6016,\"BOSNIA_HERZEGOVINA\":5974,\"PAKISTAN\":5912,\"MACEDONIA\":5724,\"MAURITIUS\":5556,\"AFGHANISTAN\":5397,\"NICARAGUA\":5375,\"TRINIDAD_TOBAGO\":5328,\"SAUDI_ARABIA\":5163,\"BRITISH_INDIAN_OCEAN_TERRITORY\":5144,\"JAMAICA\":5106,\"KYRGYZSTAN\":5038,\"ZAMBIA\":4931,\"TONGA\":4855,\"JORDAN\":4782,\"C\xD4TE_DIVOIRE\":4733,\"UZBEKISTAN\":4696,\"LIBYA\":4669,\"GRENADA\":4477,\"AZERBAIJAN\":4252,\"BELARUS\":4190,\"COOK_ISLANDS\":4121,\"SOUTH_GEORGIA_SANDWICH_ISLANDS\":4016,\"LEBANON\":3915,\"UNITED_ARAB_EMIRATES\":3811,\"FIJI\":3735,\"LAO\":3710,\"URUGUAY\":3473,\"KOREA_SOUTH\":3402,\"HAITI\":3324,\"HONDURAS\":3319,\"MYANMAR\":3290,\"SINGAPORE\":3255,\"RWANDA\":3241,\"EQUATORIAL_GUINEA\":3169,\"LIBERIA\":3158,\"FAROE_ISLANDS\":3068,\"LATVIA\":3016,\"KAZAKHSTAN\":2922,\"IRAQ\":2805,\"FRENCH_POLYNESIA\":2789,\"MOZAMBIQUE\":2768,\"TAJIKISTAN\":2727,\"GUINEA\":2711,\"UNITED_STATES_OUTLYING_ISLANDS\":2526,\"SOLOMON_ISLANDS\":2524,\"GUINEA_BISSAU\":2498,\"MAURITANIA\":2304,\"CAYMAN_ISLANDS\":2284,\"TOGO\":2253,\"SAO_TOME_PRINCIPE\":2213,\"FALKLAND_ISLANDS\":2136,\"LITHUANIA\":2045,\"MALTA\":2044,\"BERMUDA\":1991,\"COCOS_ISLANDS\":1851,\"SIERRA_LEONE\":1838,\"TURKMENISTAN\":1827,\"BRUNEI_DARUSSALAM\":1744,\"ERITREA\":1580,\"CAMBODIA\":1551,\"CENTRAL_AFRICAN_REPUBLIC\":1364,\"HONG_KONG\":1290,\"CHAD\":1262,\"GUADELOUPE\":1260,\"LIECHTENSTEIN\":1234,\"ARUBA\":1217,\"BHUTAN\":1214,\"SAMOA\":1172,\"KIRIBATI\":1042,\"BANGLADESH\":1041,\"KOSOVO\":1033,\"NIGER\":900,\"VIRGIN_ISLANDS\":789,\"ANGUILLA\":737,\"DOMINICA\":712,\"SWAZILAND\":681,\"COMOROS\":648,\"KOREA_NORTH\":567,\"ANDORRA\":504,\"BOUVET_ISLAND\":502,\"BELIZE\":489,\"BURUNDI\":467,\"PALESTINIAN_TERRITORY\":461,\"PALAU\":388,\"GIBRALTAR\":378,\"GUERNSEY\":377,\"BARBADOS\":363,\"SAINT_LUCIA\":329,\"NORFOLK_ISLAND\":319,\"GUAM\":311,\"MONTSERRAT\":310,\"CURA\xC7AO\":308,\"ANTIGUA_BARBUDA\":300,\"MOLDOVA\":290,\"VIRGIN_ISLANDS_BRITISH\":268,\"DJIBOUTI\":259,\"KUWAIT\":253,\"BONAIRE_SINT_EUSTATIUS_SABA\":222,\"SAN_MARINO\":219,\"BAHRAIN\":199,\"NAURU\":192,\"MONACO\":159,\"ALAND_ISLANDS\":151,\"SAINT_VINCENT_GRENADINES\":150,\"SOUTH_SUDAN\":144,\"LESOTHO\":140,\"SAINT_KITTS_NEVIS\":125,\"TIMOR_LESTE\":93,\"JERSEY\":68,\"CHRISTMAS_ISLAND\":62,\"WALLIS_FUTUNA\":60,\"MACAO\":57,\"AMERICAN_SAMOA\":57,\"MAYOTTE\":45,\"QATAR\":42,\"NIUE\":41,\"SINT_MAARTEN\":37,\"ISLE_OF_MAN\":31,\"TURKS_CAICOS_ISLANDS\":26,\"PITCAIRN\":26,\"SAINT_PIERRE_MIQUELON\":18,\"SAINT_MARTIN_FRENCH\":18,\"TUVALU\":15,\"INTERNATIONAL_WATERS\":9,\"VATICAN\":8,\"SAINT_BARTH\xC9LEMY\":4,\"TOKELAU\":1}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
