interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?q=Kansas&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":41,\"results\":[{\"key\":\"0dbb77be-2ef0-4ecd-9d2d-9241727d40e5\",\"code\":\"KUPB\",\"name\":\"KUBI
        Paleobotany Collection\",\"description\":\"The paleobotany collections, including
        several \u201Corphaned\u201D collections, is comprised of compression, impression,
        petrified, and permineralized specimens from Precambrian to Pleistocene stratigraphic
        horizons and from various localities around the world. The focus of the collection
        is currently on Permian, Triassic, and Jurassic fossils from Antarctica (Antarctic
        Collection), the largest collection of Antarctic fossil plants in the world.
        Additional material includes Pennsylvanian, Permian, and Cretaceous compression-impression
        specimens from several localities in eastern and central Kansas and coal balls
        from the Midcontinent, USA.\\n\\nThe Division of Paleobotany was instituted
        in 1995 when Edith L. Taylor and Thomas N. Taylor moved to the University
        of Kansas, bringing their extensive collection of fossil plants with them.
        The Taylor Collection and the Baxter Collection of mostly Kansas coal balls
        formed the core of the KU Paleobotany collection, but we have acquired other
        so-called orphaned collections, including portions of the collections of Ted
        Delevoryas (Triassic of North Carolina; Jurassic of Mexico), Lawrence C. Matten
        (Devonian of Ireland), Gar W. Rothwell (early seed plants) and Gene Mapes
        (Pennsylvanian of Kansas, Oklahoma and Texas).\",\"contentTypes\":[\"Biological\",\"Paleontological\",\"PlantFossils\"],\"active\":true,\"personalCollection\":false,\"email\":[],\"phone\":[],\"catalogUrls\":[\"http://collections.biodiversity.ku.edu/KUPaleoBot/\"],\"apiUrls\":[],\"preservationTypes\":[],\"accessionStatus\":\"Institutional\",\"institutionKey\":\"49fb6451-91b7-4af2-8cd3-354539a77589\",\"mailingAddress\":{\"key\":10966,\"address\":\"Natural
        History Museum, 1345 Jayhawk Boulevard\",\"city\":\"Lawrence\",\"province\":\"Kansas\",\"postalCode\":\"66045\",\"country\":\"US\"},\"address\":{\"key\":11699,\"address\":\"Natural
        History Museum, 1345 Jayhawk Boulevard\",\"city\":\"Lawrence, KS\",\"country\":\"US\"},\"createdBy\":\"GRBIO\",\"modifiedBy\":\"mgrosjean\",\"created\":\"2013-04-23T22:28:00.000+00:00\",\"modified\":\"2024-06-04T17:37:20.124+00:00\",\"tags\":[],\"identifiers\":[{\"key\":303324,\"type\":\"DOI\",\"identifier\":\"10.15468/6skwfo\",\"createdBy\":\"abentley\",\"created\":\"2022-05-31T18:24:34.019+00:00\",\"primary\":false},{\"key\":278294,\"type\":\"LSID\",\"identifier\":\"http://grbio.org/cool/15fc-2dg8\",\"createdBy\":\"catchapman\",\"created\":\"2021-11-22T19:30:38.103+00:00\",\"primary\":false},{\"key\":278296,\"type\":\"UUID\",\"identifier\":\"37e3eac4-83d8-4a4c-bb9f-4781e081f17e\",\"createdBy\":\"catchapman\",\"created\":\"2021-11-22T19:30:38.103+00:00\",\"primary\":false},{\"key\":278295,\"type\":\"UUID\",\"identifier\":\"urn:uuid:a693958b-ae00-405a-a321-6951978f64dc\",\"createdBy\":\"catchapman\",\"[...]
