interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?active=True&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":8190,\"results\":[{\"key\":\"d6f176f6-800a-4853-861f-e3c2ebae471b\",\"code\":\"GEN\",\"name\":\"Generasi
        Biologi Indonesia\",\"description\":\"Herbarium Genbinesia is a public herbarium
        located in East Java, Indonesia, concerned in Flora of Java and remote islands.\",\"types\":[\"Herbarium\"],\"active\":true,\"email\":[\"herbariumgenbinesia@gmail.com\"],\"phone\":[\"+6285182013186\"],\"homepage\":\"https://genbinesia.or.id/\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[\"NonProfit\"],\"disciplines\":[],\"latitude\":-7.202169,\"longitude\":112.562587,\"mailingAddress\":{\"key\":56171,\"address\":\"Jl.
        Swadaya Barat No. 4 Semampir Cerme \",\"city\":\"Gresik\",\"province\":\"Jawa
        Timur\",\"postalCode\":\"61171\",\"country\":\"ID\"},\"address\":{\"key\":56170,\"address\":\"Jl.
        Swadaya Barat No. 4 Semampir Cerme \",\"city\":\"Gresik\",\"province\":\"Jawa
        Timur\",\"postalCode\":\"61171\",\"country\":\"ID\"},\"additionalNames\":[],\"numberSpecimens\":1300,\"logoUrl\":\"https://drive.google.com/file/d/16wqAAX06Rh5ex1v_waio-jA2rXgx8fMV/view?usp=sharing\",\"createdBy\":\"vijaybarve\",\"modifiedBy\":\"vijaybarve\",\"created\":\"2025-07-15T19:45:55.218+00:00\",\"modified\":\"2025-07-15T19:45:55.218+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[],\"machineTags\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0},{\"key\":\"11cb3e72-eac6-48c8-bcb3-4668c2ca7eaa\",\"code\":\"H\",\"name\":\"Helsinki
        Botanical Museum\",\"description\":\"The Helsinki Botanical Museum houses
        specimens from around the globe, particularly from the Nordic countries, North
        America and the cool and temperate zones of Asia. Prominent regional collections
        are from China, Papua New Guinea and Patagonia, among others. The collections
        contain tens of thousands of globally valuable type specimen[...]
