interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/organization?limit=5
  response:
    body:
      string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":2921,\"results\":[{\"key\":\"66739018-f8c3-4902-96d5-82c0aec31d6a\",\"endorsingNodeKey\":\"7e865cba-7c46-417b-ade5-97f2cf5b7be0\",\"endorsementApproved\":true,\"endorsementStatus\":\"ENDORSED\",\"title\":\"Corporaci\xF3n
        Aut\xF3noma Regional de la Orinoquia - Corporinoquia\",\"description\":\"La
        Corporaci\xF3n Aut\xF3noma Regional de la Orinoquia tiene como misi\xF3n la
        administraci\xF3n de los recursos naturales y la gesti\xF3n del desarrollo
        sostenible, garantizando la oferta de bienes y servicios ambientales, mediante
        la implementaci\xF3n de acciones de prevenci\xF3n, protecci\xF3n y conservaci\xF3n
        ambiental de su jurisdicci\xF3n de la Orinoquia colombiana, que trabaja articul\xE1damente
        con otras autoridades ambientales en el marco de sus competencias, como lo
        son el MADS, PNN y las autoridades de orden departamental y municipal y entre
        otros actores estrat\xE9gicos; para lograr sus misi\xF3n y prop\xF3sitos,
        la gesti\xF3n de las \xE1reas protegidas y la conservaci\xF3n de la  biodiversidad
        y servicios ecosist\xE9micos.\",\"language\":\"eng\",\"email\":[\"atencionusuarios@corporinoquia.gov.co\"],\"phone\":[\"PBX:
        +57 (608) 6358588\"],\"homepage\":[\"https://corporinoquia.gov.co/\"],\"logoUrl\":\"https://raw.githubusercontent.com/SIB-Colombia/logos/main/socio-SiB-corporinoquia.png\",\"address\":[\"Carrera
        23 # 18-31\"],\"city\":\"Yopal\",\"province\":\"Casanare\",\"country\":\"CO\",\"latitude\":5.34184,\"longitude\":-72.39335,\"numPublishedDatasets\":0,\"createdBy\":\"gbif.express\",\"modifiedBy\":\"sibcolombia\",\"created\":\"2024-10-01T22:34:15.659+00:00\",\"modified\":\"2024-10-02T17:19:56.244+00:00\",\"endorsed\":\"2024-10-01T22:34:32.272+00:00\",\"contacts\":[{\"key\":5483358,\"type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Jose
        Armando\",\"lastName\":\"Suarez Sandoval\",\"position\":[],\"email\":[\"planeacion@corporinoquia.gov.co\"],\"phone\":[\"+57
        (608) 6358588\"],\"homepage\":[],\"address\":[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2024-10-01T22:34:15.659+00:00\",\"modified\":\"2024-10-01T22:34:15.659+00:00\"},{\"key\":5483359,\"type\":\"TECHNICAL_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Nathalia\",\"lastName\":\"Meza
        Fernandez\",\"position\":[],\"email\":[\"nathaliameza@corporinoquia.gov.co\"],\"phone\":[\"+57
        (608) 6358588\"],\"homepage\":[],\"address\":[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2024-10-01T22:34:15.659+00:00\",\"modified\":\"2024-10-01T22:34:15.659+00:00\"},{\"key\":5483360,\"type\":\"POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Corporaci\xF3n
        Aut\xF3noma Regional de la Orinoquia\",\"lastName\":\"CORPORINOQUIA\",\"position\":[],\"email\":[\"atencionusuarios@corporinoquia.gov.co\"],\"phone\":[\"PBX:
        +57 (608) 6358588\"],\"homepage\":[],\"address\":[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2024-10-01T22:34:15.659+00:00\",\"modified\":\"2024-10-01T22:34:15.659+00:00\"}],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[{\"key\":35910,\"content\":\"The
        organization's logo was added\",\"createdBy\":\"sibcolombia\",\"modifiedBy\":\"sibcolombia\",\"created\":\"2024-10-02T17:21:20.449+00:00\",\"modified\":\"2024-10-02T17:21:20.449+00:00\"},{\"key\":35908,\"content\":\"This
        organization has been endorsed again after being removed for not publishing
        any data. \\n\\nThe previous endorsement points to: https://www.gbif.org/publisher/0257b977-b510-4de2-9577-68a7b3bf6cf4\",\"createdBy\":\"sibcolombia\",\"modifiedBy\":\"sibc[...]
