interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?q=mammalia&limit=100&hl=false&verbose=false
  response:
    body: {string: '{"offset":0,"limit":100,"endOfRecords":false,"count":1106,"results":[{"key":114079693,"datasetKey":"bd0a2b6d-69d1-4650-8bb1-829c8f92035f","nubKey":359,"parentKey":114079410,"parent":"Animalia","scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"114079410":"Animalia"},"synonym":false},{"key":148759796,"datasetKey":"d598d466-3227-4bc5-81cf-538f21e4cc6d","nubKey":359,"parentKey":148759787,"parent":"Chordata","kingdom":"Animalia","phylum":"Chordata","kingdomKey":148759786,"phylumKey":148759787,"classKey":148759796,"scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"CLASS","origin":"DENORMED_CLASSIFICATION","numDescendants":10,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{"148759786":"Animalia","148759787":"Chordata"},"synonym":false,"class":"Mammalia"},{"key":152172481,"datasetKey":"10608bbc-e71a-4a9d-bcfb-4256ea6b0436","nubKey":359,"parentKey":152172480,"parent":"Chordata","kingdom":"Animalia","phylum":"Chordata","kingdomKey":152172479,"phylumKey":152172480,"classKey":152172481,"scientificName":"Mammalia","canonicalName":"Mammalia","authorship":"","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"CLASS","origin":"DENORMED_CLASSIFICATION","numDescendants":4,"numOccurrences":0,"habitats":[],"nomenclaturalStatus":[],"threa[...]
