interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?limit=0&facet=status&hl=false&verbose=false
  response:
    body:
      string: '{"offset":0,"limit":0,"endOfRecords":false,"count":52777960,"results":[],"facets":[{"field":"STATUS","counts":[{"name":"ACCEPTED","count":33105798},{"name":"SYNONYM","count":17673611},{"name":"DOUBTFUL","count":959382},{"name":"HETEROTYPIC_SYNONYM","count":512848},{"name":"HOMOTYPIC_SYNONYM","count":460907},{"name":"MISAPPLIED","count":38459},{"name":"PROPARTE_SYNONYM","count":19944}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
