interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/node?limit=5
  response:
    body: {string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":135,\"\
        results\":[{\"key\":\"29c6a139-ea7f-41f5-8d9b-c55af8736182\",\"type\":\"OTHER\"\
        ,\"participationStatus\":\"ASSOCIATE\",\"gbifRegion\":\"OCEANIA\",\"continent\"\
        :\"OCEANIA\",\"title\":\"Secretariat of the Pacific Regional Environment Programme\"\
        ,\"participantTitle\":\"Secretariat of the Pacific Regional Environment Programme\"\
        ,\"abbreviation\":\"SPREP\",\"email\":[],\"phone\":[],\"homepage\":[\"www.sprep.org\"\
        ],\"address\":[null],\"country\":\"WS\",\"createdBy\":\"directory-update-robot\"\
        ,\"modifiedBy\":\"directory-update-robot\",\"created\":\"2017-10-17T03:34:43.743+0000\"\
        ,\"modified\":\"2017-10-17T03:34:43.743+0000\",\"contacts\":[],\"endpoints\"\
        :[],\"machineTags\":[],\"tags\":[],\"identifiers\":[{\"key\":106017,\"type\"\
        :\"GBIF_PARTICIPANT\",\"identifier\":\"377\",\"createdBy\":\"directory-update-robot\"\
        ,\"created\":\"2017-10-17T03:34:43.800+0000\"}],\"comments\":[]},{\"key\"\
        :\"1ff5a421-76e9-44c6-bbb6-dd7058cbc98f\",\"type\":\"COUNTRY\",\"participationStatus\"\
        :\"ASSOCIATE\",\"gbifRegion\":\"AFRICA\",\"continent\":\"AFRICA\",\"title\"\
        :\"GBIF Mali\",\"participantTitle\":\"Mali\",\"email\":[],\"phone\":[],\"\
        homepage\":[],\"address\":[null],\"country\":\"ML\",\"createdBy\":\"directory-update-robot\"\
        ,\"modifiedBy\":\"directory-update-robot\",\"created\":\"2017-08-04T03:34:11.301+0000\"\
        ,\"modified\":\"2017-08-04T03:34:11.301+0000\",\"contacts\":[{\"key\":3808,\"\
        type\":\"ADDITIONAL_DELEGATE\",\"primary\":false,\"userId\":[],\"firstName\"\
        :\"Abdoulaye Bin\xE9\",\"lastName\":\"Guindo\",\"position\":[],\"email\":[\"\
        abdoulayebine@gmail.com\"],\"phone\":[\"+223 20 22 50 49 / 20 23 36 97\"],\"\
        homepage\":[],\"organization\":\"Mali\",\"address\":[\"Direction Nationale\
        \ des Eaux et For\xEAts\\nzone Tabakoro\\nBP 275\\nBamako\"],\"country\":\"\
        ML\",\"modified\":\"2017-08-18T06:46:19.121+0000\"},{\"key\":3919,\"type\"\
        :\"HEAD_OF_DELEGATION\",\"primary\":false,\"userId\":[],\"firstName\":\"Mamadou\"\
        ,\"lastName\":\"Gakou\",\"position\":[],\"email\":[\"mgkou@yahoo.fr\"],\"\
        phone\":[\"+223 20 22 50 49 / 20 23 36 97\"],\"homepage\":[],\"organization\"\
        :\"Mali\",\"address\":[\"Direction Nationale des Eaux et For\xEAts\\nzone\
        \ Tabakoro\\nBP 275\\nBamako\"],\"country\":\"ML\",\"modified\":\"2017-08-18T06:50:35.411+0000\"\
        },{\"key\":3808,\"type\":\"NODE_MANAGER\",\"primary\":false,\"userId\":[],\"\
        firstName\":\"Abdoulaye Bin\xE9\",[...]
