interactions:
- request:
    body: '{"creator": "jwaller", "notification_address": ["jwaller@gbif.org"], "sendNotification":
      true, "predicate": {"type": "and", "predicates": [{"type": "equals", "key":
      "TAXON_KEY", "value": "156780401"}]}, "format": "SIMPLE_CSV"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://api.gbif.org/v1/occurrence/download/request
  response:
    body:
      string: 0040513-240906103802322
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: 'false'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: http://api.gbif.org/v1/occurrence/download/request/0040513-240906103802322
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
