interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":9033,\"results\":[{\"key\":\"fadeef75-a9b2-4ff0-accb-921c368887be\",\"code\":\"CEDESU-UACAM\",\"name\":\"Centro
        de Estudios de Desarrollo Sustentable y Aprovechamiento de la Vida Silvestre,
        Universidad Aut\xF3noma de Campeche\",\"types\":[\"UniversityCollege\"],\"active\":true,\"email\":[],\"phone\":[],\"homepage\":\"https://cedesu.uacam.mx/\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[\"Academic\",\"Governmental\"],\"disciplines\":[],\"latitude\":19.801571,\"longitude\":-90.504789,\"mailingAddress\":{\"key\":56000,\"address\":\"Avenida
        H\xE9roe de Nacozari 480, colonia Multunchac\",\"city\":\"San Francisco de
        Campeche\",\"province\":\"Campeche\",\"postalCode\":\"24062\",\"country\":\"MX\"},\"address\":{\"key\":55999,\"address\":\"Avenida
        H\xE9roe de Nacozari 480, colonia Multunchac\",\"city\":\"San Francisco de
        Campeche\",\"province\":\"Campeche\",\"postalCode\":\"24062\",\"country\":\"MX\"},\"additionalNames\":[],\"foundingDate\":1993,\"createdBy\":\"vaguirojas\",\"modifiedBy\":\"vaguirojas\",\"created\":\"2025-06-17T21:31:58.911+00:00\",\"modified\":\"2025-06-17T21:31:58.911+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[],\"machineTags\":[],\"alternativeCodes\":[{\"code\":\"CEDESU-UAC\",\"description\":\"Centro
        de Estudios de Desarrollo Sustentable y Aprovechamiento de la Vida Silvestre,
        Universidad Aut\xF3noma de Campeche\"},{\"code\":\"UAC\",\"description\":\"Universidad
        Aut\xF3noma de Campeche\"},{\"code\":\"UACAM\",\"description\":\"Universidad
        Aut\xF3noma de Campeche\"}],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0},{\"key\":\"200dfb5f-58ed-478d-8058-8ac565b509cf\",\"code\":\"MEMZOO\",\"name\":\"Memphis
        Zoo\",\"description\":\"The Memphis Zoo is a zoo in Midtown, Memphis, Tennessee,
        United States. It is home to more than 3,500 animals representing over 500
        different species. \",\"types\":[\"ZooAquarium\"],\"active\":true,\"email\":[],\"phone\":[],\"homepage\":\"https://www.memphiszoo.org/\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[\"NonProfit\"],\"disciplines\":[\"Zoology\",\"Biological\"],\"latitude\":35.150331,\"longitude\":-89.993305,\"mailingAddress\":{\"key\":55998,\"address\":\"2000
        Prentiss Place\",\"city\":\"Memphis\",\"province\":\"Tennessee\",\"postalCode\":\"38112\",\"country\":\"US\"},\"address\":{\"key\":55997,\"address\":\"2000
        Prentiss Place\",\"city\":\"Memphis\",\"province\":\"Tennessee\",\"postalCode\":\"38112\",\"country\":\"US\"},\"additionalNames\":[\"Memphis
        Zoological Society\"],\"foundingDate\":1906,\"numberSpecimens\":3500,\"logoUrl\":\"https://prod.speakcdn.com/sitefiles/2879/images/white-logo.svg\",\"createdBy\":\"catchapman\",\"modifiedBy\":\"catchapman\",\"created\":\"2025-06-17T15:15:27.291+00:00\",\"modified\":\"2025-06-17T15:15:27.291+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[{\"key\":42822,\"firstName\":\"Sinlan\",\"lastName\":\"Poo\",\"position\":[\"Curator
        of Research\"],\"phone\":[],\"fax\":[],\"email\":[\"spoo@memphiszoo.org\"],\"address\":[],\"city\":\"Memphis\",\"province\":\"Tennessee\",\"country\":\"US\",\"primary\":true,\"taxonomicExpertise\":[],\"userIds\":[{\"type\":\"ORCID\",\"id\":\"https://orcid.org/0000-0002-7767-8173\"}],\"createdBy\":\"dbloom\",\"modifiedBy\":\"dbloom\",\"created\":\"2025-06-18T22:37:57.149+00:00\",\"modified\":\"2025-06-18T22:37:57.149+00:00\"}],\"machineTags\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0},{\"key\":\"c65b5840-57ad-48bd-b8ac-e9ba56c2dec7\",\"code\":\"FINARTE\",\"name\":\"Finarte\",\"types\":[\"OtherTypeResea[...]
