interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    body:
      string: '{"HUMAN_OBSERVATION":2300698840,"PRESERVED_SPECIMEN":237830598,"MATERIAL_SAMPLE":55644452,"OBSERVATION":20774268,"MACHINE_OBSERVATION":20542140,"OCCURRENCE":19297806,"FOSSIL_SPECIMEN":10246202,"MATERIAL_CITATION":2664586,"LIVING_SPECIMEN":2000680}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
