interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/organization?limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":3289,\"results\":[{\"key\":\"f115f4b7-2e34-497b-b91c-3ac08b7184df\",\"endorsingNodeKey\":\"cdc9736d-5ff7-4ece-9959-3c744360cdb3\",\"endorsementApproved\":false,\"endorsementStatus\":\"WAITING_FOR_ENDORSEMENT\",\"title\":\"Universidade
        Estadual do Norte Fluminense\",\"abbreviation\":\"UENF\",\"description\":\"The
        State University of Northern Rio de Janeiro \u201CDarcy Ribeiro\u201D (UENF)
        is a public research university located in Campos dos Goytacazes, Rio de Janeiro,
        Brazil. Founded in 1991 by educator Darcy Ribeiro and designed by architect
        Oscar Niemeyer, UENF was created to integrate teaching, research, and extension
        in pursuit of scientific and technological development for regional and national
        progress. Recognized for excellence in agricultural sciences, environmental
        studies, biotechnology, and engineering, UENF develops research focused on
        biodiversity, ecosystem conservation, and the sustainable use of natural resources.
        Its projects include studies on the flora and fauna of the Atlantic Forest
        and ecological monitoring of regional environments. Situated in one of Brazil\u2019s
        most biodiverse areas, UENF contributes valuable data and expertise to national
        and international networks such as the Global Biodiversity Information Facility
        (GBIF), promoting open access to biodiversity knowledge for research and conservation.\",\"language\":\"por\",\"email\":[\"lrmont@uenf.br\"],\"phone\":[],\"homepage\":[\"https://uenf.br/portal/\"],\"logoUrl\":\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq9N7HOC1GVvEgFsMH602cDwBfRPp1bqEZvw&s\",\"address\":[\"Av.
        Alberto Lamego, 2000 - Parque California\"],\"city\":\"Campos dos Goytacazes\",\"province\":\"Rio
        de Janeiro\",\"country\":\"BR\",\"postalCode\":\"28013-602\",\"numPublishedDatasets\":1,\"createdBy\":\"clara_baringo\",\"modifiedBy\":\"clara_baringo\",\"created\":\"2025-11-11T19:03:02.316+00:00\",\"modified\":\"2025-11-11T19:03:02.316+00:00\",\"contacts\":[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"4b7d66c0-587d-416a-b799-6e1d71ec8957\",\"endorsingNodeKey\":\"cdc9736d-5ff7-4ece-9959-3c744360cdb3\",\"endorsementApproved\":false,\"endorsementStatus\":\"WAITING_FOR_ENDORSEMENT\",\"title\":\"Embrapa
        Pecu\xE1ria Sul\",\"description\":\"Embrapa Pecu\xE1ria Sul is one of the
        research centres of the Embrapa (Brazilian Agricultural Research Corporation).
        For over three decades, it has worked to support Brazilian livestock farming\u2014cattle
        (beef [...]
