interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?q=Kansas&limit=10
  response:
    body:
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":19,"results":[{"key":"956f3e1f-ebd2-48e3-a3ee-42bfb1950a47","code":"PECA","name":"Pratt
        Education Center and Aquarium","description":"The emphasis of the Pratt Education
        Center is to discover the wildlife of Kansas. Numerous displays, dioramas,
        and exhibits provide close encounters with the native birds, fish, mammals,
        and reptiles of Kansas.\n\nOur \"winter\" diorama provides a glimpse of how
        wildlife deals with the snow and cold of Kansas winters.\n\nThe grassland
        display depicts the three grasslands (short, mixed and tall) of Kansas and
        wildlife common to each region; including a rare black-footed ferret. Our
        raptor exhibit features owls, hawks, falcons, and kites; all with hooked beaks
        and sharp talons. The wetland wall display includes Cheyenne Bottoms, one
        of the five most important wetlands in North America.\n\nThe Aquarium Room
        contains twelve, 400-600 gallon aquariums; each displaying fish species native
        to Kansas or that have been successfully introduced into Kansas. On the east
        wall are two wall panels. One featuring the early history of the Pratt Hatchery.
        The other features the catfish rearing program along with a working model
        of Seth Way''s ingenious incubating trough.  Over one hundred and twenty-eight
        species of birds and their eggs","types":[],"active":true,"email":[],"phone":[],"homepage":"https://ksoutdoors.com/KDWP-Info/Locations/Museums-and-Nature-Centers/Pratt-Education-Center","catalogUrls":[],"apiUrls":[],"institutionalGovernances":[],"disciplines":[],"latitude":37.632106,"longitude":-98.693794,"mailingAddress":{"key":46553,"country":"US"},"address":{"key":46554,"province":"KS","country":"US"},"additionalNames":[],"createdBy":"GRBIO","modifiedBy":"gbif-collections","created":"2013-05-21T01:38:00.000+00:00","modified":"2024-05-23T12:37:31.514+00:00","tags":[],"identifiers":[{"key":350269,"type":"NCBI_BIOCOLLECTION","identifier":"945030","createdBy":"mgrosjean","created":"2023-08-15T11:08:06.053+00:00","primary":false},{"key":178149,"type":"GRSCICOLL_URI","identifier":"http://grscicoll.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:27.572+00:00","primary":false},{"key":169988,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/institution/pratt-education-center-and-aquarium","createdBy":"registry-migration-grbio.gbif.org","created":"2019-08-15T08:12:20.362+00:00","primary":false},{"key":134524,"type":"GRSCICOLL_ID","identifier":"17487","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false},{"key":141621,"type":"GRSCICOLL_URI","identifier":"http://grbio.org/cool/sfj9-st9f","createdBy":"registry-migration-grbio.gbif.org","created":"2018-11-15T10:23:01.527+00:00","primary":false}],"contactPersons":[],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0},{"key":"eb9bf52f-d7ba-45ee-96be-28613759e6a4","code":"KSC","name":"Kansas
        State University","description":"Updated Feb 2010 (herbarium URL). The Reed
        Bryophyte Herbarium is a separate collection documenting the bryoflora of
        Kansas and the Great Plains. A seed herbarium is maintained, centering upon
        weeds and agriculturally significant plants of the Great Plains. Mycological
        herbarium (17 000 specimens) transferred to NY in 1997. Vascular plants and
        bryophytes of Kansas and Great Plains of central North America; Asteraceae
        of North America. Bryophytes, Tracheophytes","types":["Herbarium"],"active":true,"email":[],"phone":["[1]
        785 532 6619"],"homepage":"http://www.k-state.edu/herbarium/","catalogUrls":["http://www.k-state.edu/herbarium/database.html"],"apiUrls":[],"institutionalGovernances":["Local"],"disciplines":[],"latitude":39.200454,"longitude":-96.581819,"mailingAddress":{"key":106,"address":"116
        Ackert Hall 1717 Claflin Rd","city":"Manhattan","province":"Kansas","country":"US"},"address":{"key":6900,"city":"Manhattan","province":"Kansas","country":"US"},"additionalNames":["Herbarium"],"foundingDate":1877,"numberSpecimens":181000,"createdBy":"GRBIO","modifiedBy":"ih-sync","created":"2013-04-24T08:51:00.000+00:00","modified":"2025-02-26T10:45:50.412+00:00","tags":[],"identifiers":[{"key":373676,"type":"ROR","identifier":"https://ror.org/05p1j8758","createdBy":"mgrosjean","created":"2024-09-09T13:56:07.263+00:00","primary":false},{"key":351814,"type":"NCBI_BIOCOLLECTION","identifier":"947000","createdBy":"mgrosjean","created":"2023-08-15T11:11:15.863+00:00","primary":false},{"key":348373,"type":"WIKIDATA","identifie[...]
