interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DE
  response:
    body:
      string: '{"GERMANY":48727786,"NETHERLANDS":4307810,"UNITED_STATES":2579423,"FRANCE":1853730,"UNITED_KINGDOM":1043610,"BELGIUM":508346,"UNKNOWN":308338,"SWITZERLAND":209995,"AUSTRIA":120300,"ESTONIA":118484,"POLAND":72100,"SWEDEN":72035,"COLOMBIA":66557,"LUXEMBOURG":43624,"FINLAND":42173,"DENMARK":42035,"NORWAY":24715,"AUSTRALIA":20442,"SPAIN":20217,"CANADA":12723,"BRAZIL":11556,"JAPAN":9110,"NEW_ZEALAND":8030,"RUSSIAN_FEDERATION":7741,"CZECH_REPUBLIC":7543,"CHINA":5419,"SOUTH_AFRICA":4659,"MEXICO":2535,"PORTUGAL":2251,"ARGENTINA":2105,"ITALY":2073,"ECUADOR":1911,"BULGARIA":1572,"PANAMA":1156,"UKRAINE":726,"TAIWAN":494,"ISRAEL":450,"COSTA_RICA":415,"CHILE":278,"NICARAGUA":232,"GREECE":132,"HUNGARY":125,"GHANA":73,"VENEZUELA":63,"LITHUANIA":52,"PERU":31,"KOREA_SOUTH":24,"URUGUAY":13,"ARMENIA":8,"TAJIKISTAN":7,"MOROCCO":7,"NIGERIA":4,"GUATEMALA":4,"TRINIDAD_TOBAGO":2,"SLOVENIA":2,"ZIMBABWE":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
