interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/collection?country=US&country=GB&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":3055,\"results\":[{\"key\":\"7a8d2d3a-49ae-4162-a03e-a20509691d95\",\"code\":\"DPC\",\"name\":\"North
        Carolina\",\"description\":\"Fossils collected in North Carolina, United States\",\"contentTypes\":[\"VertebrateFossils\",\"InvertebrateFossils\"],\"active\":true,\"personalCollection\":false,\"email\":[],\"phone\":[],\"catalogUrls\":[],\"apiUrls\":[],\"preservationTypes\":[],\"institutionKey\":\"c29e0c07-f7e3-4f57-b2a5-79212756ce98\",\"mailingAddress\":{\"key\":57059,\"address\":\"1013
        Broad St\",\"city\":\"Durham\",\"province\":\"North Carolina\",\"postalCode\":\"27705\",\"country\":\"US\"},\"address\":{\"key\":57058,\"address\":\"1013
        Broad St\",\"city\":\"Durham\",\"province\":\"North Carolina\",\"postalCode\":\"27705\",\"country\":\"US\"},\"createdBy\":\"kateneely\",\"modifiedBy\":\"kateneely\",\"created\":\"2025-11-11T18:53:59.303+00:00\",\"modified\":\"2025-11-11T18:53:59.303+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[],\"machineTags\":[],\"geographicCoverage\":\"North
        Carolina, USA\",\"incorporatedCollections\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0,\"institutionName\":\"Duke
        Lemur Center Museum of Natural History\",\"institutionCode\":\"DPC\"},{\"key\":\"12e141d0-e30c-4130-a096-320905204907\",\"code\":\"DPC\",\"name\":\"La
        Venta\",\"description\":\"Fossils collected in the La Venta locality in Tolima
        and Huila, Colombia\",\"contentTypes\":[\"VertebrateFossils\"],\"active\":true,\"personalCollection\":false,\"email\":[],\"phone\":[],\"catalogUrls\":[],\"apiUrls\":[],\"preservationTypes\":[],\"accessionStatus\":\"Institutional\",\"institutionKey\":\"c29e0c07-f7e3-4f57-b2a5-79212756ce98\",\"mailingAddress\":{\"key\":57057,\"address\":\"1013
        Broad St\",\"city\":\"Durham\",\"province\":\"North Carolina\",\"postalCode\":\"27705\",\"country\":\"US\"},\"address\":{\"key\":57056,\"address\":\"1013
        Broad St\",\"city\":\"Durham\",\"province\":\"North Carolina\",\"postalCode\":\"27705\",\"country\":\"US\"},\"createdBy\":\"kateneely\",\"modifiedBy\":\"kateneely\",\"created\":\"2025-11-11T18:52:20.[...]
