interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species/search?q=Helianthus+annuus&rank=species&limit=10
  response:
    body: {string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":149,\"\
        results\":[{\"key\":3119195,\"datasetKey\":\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\"\
        ,\"constituentKey\":\"046bbc50-cae2-47ff-aa43-729fbf53f7c5\",\"nubKey\":3119195,\"\
        parentKey\":3119134,\"parent\":\"Helianthus\",\"kingdom\":\"Plantae\",\"phylum\"\
        :\"Tracheophyta\",\"order\":\"Asterales\",\"family\":\"Asteraceae\",\"genus\"\
        :\"Helianthus\",\"species\":\"Helianthus annuus\",\"kingdomKey\":6,\"phylumKey\"\
        :7707728,\"classKey\":220,\"orderKey\":414,\"familyKey\":3065,\"genusKey\"\
        :3119134,\"speciesKey\":3119195,\"scientificName\":\"Helianthus annuus\",\"\
        canonicalName\":\"Helianthus annuus\",\"authorship\":\"\",\"publishedIn\"\
        :\"Sp. pl. 2:904.  1753\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\"\
        :\"ACCEPTED\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"numDescendants\"\
        :28,\"numOccurrences\":0,\"extinct\":false,\"habitats\":[],\"nomenclaturalStatus\"\
        :[],\"threatStatuses\":[],\"descriptions\":[{\"description\":\"herb\"}],\"\
        vernacularNames\":[{\"vernacularName\":\"common sunflower\",\"language\":\"\
        eng\"},{\"vernacularName\":\"garden sunflower\",\"language\":\"eng\"},{\"\
        vernacularName\":\"grand soleil\",\"language\":\"fra\"},{\"vernacularName\"\
        :\"h\xE9lianthe annuel\",\"language\":\"fra\"},{\"vernacularName\":\"soleil\"\
        ,\"language\":\"fra\"},{\"vernacularName\":\"tournesol\",\"language\":\"fra\"\
        }],\"higherClassificationMap\":{\"6\":\"Plantae\",\"7707728\":\"Tracheophyta\"\
        ,\"220\":\"Magnoliopsida\",\"414\":\"Asterales\",\"3065\":\"Asteraceae\",\"\
        3119134\":\"Helianthus\"},\"synonym\":false,\"class\":\"Magnoliopsida\"},{\"\
        key\":134854463,\"datasetKey\":\"f82a4f7f-6f84-4b58-82e6-6b41ec9a1f49\",\"\
        nubKey\":3119195,\"parentKey\":134854385,\"parent\":\"Asteraceae\",\"kingdom\"\
        :\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Asterales\",\"family\"\
        :\"Asteraceae\",\"species\":\"Helianthus annuus\",\"kingdomKey\":134853337,\"\
        phylumKey\":134853504,\"classKey\":134853773,\"orderKey\":134854378,\"familyKey\"\
        :134854385,\"speciesKey\":134854463,\"scientificName\":\"Helianthus annuus\"\
        ,\"canonicalName\":\"Helianthus annuus\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\"\
        :\"ACCEPTED\",\"rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"numDescendants\"\
        :0,\"numOccurrences\":0,\"taxonID\":\"4000\",\"habitats\":[\"TERRESTRIAL\"\
        ],\"nomenclaturalStatus\":[],\"threatStatuses\":[],\"descriptions\":[],\"\
        vernacularNames\":[],\"higherClassificationMap\":{\"134853337\":\"Plantae\"\
        ,\"134853504\":\"Tracheophyta\",\"134853773\":\"Magnoliopsida\",\"134854378\"\
        :\"Asterales\",\"134854385\":\"Asteraceae\"},\"synonym\":false,\"class\":\"\
        Magnoliopsida\"},{\"key\":114910965,\"datasetKey\":\"ee2aac07-de9a-47a2-b828-37430d537633\"\
        ,\"nubKey\":3119195,\"parentKey\":135078334,\"parent\":\"Helianthus\",\"kingdom\"\
        :\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Asterales\",\"family\"\
        :\"Asteraceae\",\"genus\":\"Helianthus\",\"species\":\"Helianthus annuus\"\
        ,\"kingdomKey\":135075485,\"phylumKey\":135077918,\"classKey\":135077982,\"\
        orderKey\":135078256,\"familyKey\":135078264,\"genusKey\":135078334,\"speciesKey\"\
        :114910965,\"scientificName\":\"Helianthus annuus\",\"canonicalName\":\"Helianthus\
        \ annuus\",\"nameType\":\"SCIENTIFIC\",\"taxonomicStatus\":\"ACCEPTED\",\"\
        rank\":\"SPECIES\",\"origin\":\"SOURCE\",\"numDescendants\":0,\"numOccurrences\"\
        :0,\"taxonID\":\"http://eol.org/pages/468106\",\"habitats\":[],\"nomenclaturalStatus\"\
        :[],\"threatStatuses\":[],\"descriptions\":[],\"vernacularNames\":[],\"higherClassificationMap\"\
        :{\"135075485\":\"Plantae\",\"135077918\":\"Tracheophyta\",\"135077982\":\"\
        Magnoliopsida\",\"135078256\":\"Asterales\",\"135078264\":\"Asteraceae\",\"\
        135078334\":\"Helianthus\"},\"synonym\":false,\"class\":\"Magnoliopsida\"\
        },{\"key\":134843454,\"datasetKey\":\"29d2d5a6-db22-4abd-b784-9ab2f9757c3c\"\
        ,\"nubKey\":3119195,\"parentKey\":134843435,\"parent\":\"Asteraceae\",\"kingdom\"\
        :\"Plantae\",\"phylum\":\"Trac[...]
