interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/literature/search?limit=10&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":51500,\"results\":[{\"discovered\":\"2024-10-02\",\"authors\":[{\"firstName\":\"H.\",\"lastName\":\"Rankou\"},{\"firstName\":\"S.\",\"lastName\":\"M'Sou\"},{\"firstName\":\"R.A.\",\"lastName\":\"Ait
        Babahmad\"},{\"firstName\":\"A.\",\"lastName\":\"Ouhammou\"},{\"firstName\":\"M.\",\"lastName\":\"Alifriqui\"},{\"firstName\":\"G.\",\"lastName\":\"Martin\"}],\"countriesOfCoverage\":[],\"countriesOfResearcher\":[],\"added\":\"2024-10-02T20:59:19.730+00:00\",\"published\":\"2024-06-20T00:00:00.000+00:00\",\"day\":20,\"gbifDownloadKey\":[],\"gbifOccurrenceKey\":[],\"gbifTaxonKey\":[3190581],\"gbifHigherTaxonKey\":[7707728,933,6,3190459,220,2398],\"gbifNetworkKey\":[],\"gbifProjectIdentifier\":[],\"gbifProgramme\":[],\"citationType\":\"generic\",\"gbifRegion\":[],\"id\":\"e66c6fd7-93bf-35ba-b32b-9785bb493900\",\"identifiers\":{},\"keywords\":[],\"language\":\"eng\",\"literatureType\":\"REPORT\",\"month\":6,\"openAccess\":false,\"peerReview\":false,\"publisher\":\"IUCN\",\"relevance\":[\"GBIF_CITED\"],\"source\":\"IUCN
        Red List of Threatened Species\",\"tags\":[\"2024\",\"Conservation\",\"GBIF_cited\",\"citation_scope:na\",\"citation_type:generic\",\"gbifTaxon:3190581\",\"lit_source:iucn\",\"open_access:false\",\"peer_review:false\"],\"title\":\"Pistacia
        atlantica\",\"topics\":[\"CONSERVATION\"],\"modified\":\"2024-10-02T20:59:19.730+00:00\",\"websites\":[\"https://www.iucnredlist.org/species/19365844/254242568\"],\"year\":2024,\"abstract\":\"Pistacia
        atlantica has most recently been assessed for The IUCN Red List of Threatened
        Species in 2024. Pistacia atlantica has been listed as Near Threatened under
        criteria A3cde.\"},{\"discovered\":\"2024-10-02\",\"authors\":[{\"firstName\":\"Susana
        C.\",\"lastName\":\"Gon\xE7alves\"},{\"firstName\":\"Susana\",\"lastName\":\"Cunha\"}],\"countriesOfCoverage\":[],\"countriesOfResearcher\":[],\"added\":\"2024-10-02T20:49:19.849+00:00\",\"published\":\"2024-06-20T0[...]
