interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/organization?limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":2785,\"results\":[{\"key\":\"4c932cdb-5ac2-4898-a89c-94e69e7999d7\",\"endorsingNodeKey\":\"7f48e0c8-5c96-49ec-b972-30748e339115\",\"endorsementApproved\":true,\"endorsementStatus\":\"ENDORSED\",\"title\":\"OpenBioMaps\",\"description\":\"OpenBioMaps
        is a data management platform for conservationists and biodiversity researchers.
        The system consists of several independent databases. Each database can contain
        data from a number of research projects, regular or occasional data collections.
        OpenBioMaps service nodes are currently operational in Hungary, Romania and
        Kyrgyzstan and contain a variety of monitoring data from around the world.\",\"language\":\"eng\",\"email\":[\"banm@vocs.unideb.hu\"],\"phone\":[],\"homepage\":[\"https://openbiomaps.org\"],\"logoUrl\":\"https://openbiomaps.org/img/OpenBioMaps.png\",\"address\":[\"Pet\u0151fi
        S. u. 16.\"],\"city\":\"S\xE1r\xE1nd\",\"country\":\"HU\",\"postalCode\":\"4272\",\"latitude\":47.55635,\"longitude\":21.62127,\"numPublishedDatasets\":0,\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2024-02-28T10:09:34.839+00:00\",\"modified\":\"2024-02-28T10:09:34.839+00:00\",\"endorsed\":\"2024-02-28T11:14:59.772+00:00\",\"contacts\":[{\"key\":5168793,\"type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"S\xE1ndor\",\"lastName\":\"B\xE9rcess\",\"position\":[],\"email\":[\"bercess@gmail.com\"],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2024-02-28T10:09:34.839+00:00\",\"modified\":\"2024-02-28T10:09:34.839+00:00\"},{\"key\":5168794,\"type\":\"TECHNICAL_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"\xC1kos\",\"lastName\":\"G\xE1sp\xE1r\",\"position\":[],\"email\":[\"gaspar.akos@protonmail.com\"],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2024-02-28T10:09:34.839+00:00\",\"modified\":\"2024-02-28T10:09:34.839+00:00\"},{\"key\":5168795,\"type\":\"POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Mikl\xF3s\",\"lastName\":\"B\xE1n\",\"position\":[],\"email\":[\"banm@vocs.unideb.hu\"],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2024-02-28T10:09:34.839+00:00\",\"modified\":\"2024-02-28T10:09:34.839+00:00\"}],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[{\"key\":35594,\"content\":\"\\nIs
        associated with a GBIF-funded project: no\\n\\n\\nExpects to publish:\\n\\n\\n
        - OccurrenceData\\n - ChecklistData\\n - SamplingEventData\\n\\nExpected data
        content:\\n\\n> Monitoring data from research projects managed in OpenBioMaps
        databases (e.g. bird breeding data). Freely available occasional and monitoring
        observation data from conservation organisations managed in OpenBioMaps databases
        (e.g. butterfly observations).\\n\\n\\nWill run[...]
