interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DE
  response:
    body: {string: '{"GERMANY":35275236,"UNITED_KINGDOM":647657,"UNITED_STATES":343844,"NETHERLANDS":338854,"LUXEMBOURG":152822,"AUSTRIA":62815,"COLOMBIA":56482,"SWEDEN":51180,"BELGIUM":35973,"DENMARK":33672,"SWITZERLAND":30057,"FINLAND":27015,"FRANCE":26001,"ESTONIA":20322,"NORWAY":15897,"SPAIN":15599,"BRAZIL":8946,"AUSTRALIA":8343,"POLAND":6115,"JAPAN":4962,"CANADA":4524,"RUSSIAN_FEDERATION":3671,"SOUTH_AFRICA":3189,"NEW_ZEALAND":2902,"ARGENTINA":946,"MEXICO":746,"BULGARIA":682,"CZECH_REPUBLIC":360,"NICARAGUA":232,"ITALY":211,"COSTA_RICA":177,"TAIWAN":122,"GHANA":102,"PORTUGAL":82,"PERU":31,"KOREA_SOUTH":24,"MOROCCO":7,"TRINIDAD_TOBAGO":2,"SLOVENIA":2,"ZIMBABWE":1,"UKRAINE":1,"NIGERIA":1}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
