interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=3329049&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&limit=1&offset=0
  response:
    body:
      string: '{"offset":0,"limit":1,"endOfRecords":true,"count":0,"results":[],"facets":[]}'
    headers:
      Content-Type:
      - application/json
      X-Varnish-RLG:
      - '250'
      X-Varnish-RLI:
      - '18'
    status:
      code: 200
      message: OK
version: 1
