interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?country=US&country=GB&limit=10
  response:
    body:
      string: '{"offset":0,"limit":10,"endOfRecords":false,"count":2570,"results":[{"key":"200dfb5f-58ed-478d-8058-8ac565b509cf","code":"MEMZOO","name":"Memphis
        Zoo","description":"The Memphis Zoo is a zoo in Midtown, Memphis, Tennessee,
        United States. It is home to more than 3,500 animals representing over 500
        different species. ","types":["ZooAquarium"],"active":true,"email":[],"phone":[],"homepage":"https://www.memphiszoo.org/","catalogUrls":[],"apiUrls":[],"institutionalGovernances":["NonProfit"],"disciplines":["Zoology","Biological"],"latitude":35.150331,"longitude":-89.993305,"mailingAddress":{"key":55998,"address":"2000
        Prentiss Place","city":"Memphis","province":"Tennessee","postalCode":"38112","country":"US"},"address":{"key":55997,"address":"2000
        Prentiss Place","city":"Memphis","province":"Tennessee","postalCode":"38112","country":"US"},"additionalNames":["Memphis
        Zoological Society"],"foundingDate":1906,"numberSpecimens":3500,"logoUrl":"https://prod.speakcdn.com/sitefiles/2879/images/white-logo.svg","createdBy":"catchapman","modifiedBy":"catchapman","created":"2025-06-17T15:15:27.291+00:00","modified":"2025-06-17T15:15:27.291+00:00","tags":[],"identifiers":[],"contactPersons":[{"key":42822,"firstName":"Sinlan","lastName":"Poo","position":["Curator
        of Research"],"phone":[],"fax":[],"email":["spoo@memphiszoo.org"],"address":[],"city":"Memphis","province":"Tennessee","country":"US","primary":true,"taxonomicExpertise":[],"userIds":[{"type":"ORCID","id":"https://orcid.org/0000-0002-7767-8173"}],"createdBy":"dbloom","modifiedBy":"dbloom","created":"2025-06-18T22:37:57.149+00:00","modified":"2025-06-18T22:37:57.149+00:00"}],"machineTags":[],"alternativeCodes":[],"comments":[],"occurrenceMappings":[],"masterSource":"GRSCICOLL","displayOnNHCPortal":true,"occurrenceCount":0,"typeSpecimenCount":0},{"key":"00ff39df-6482-4801-b30c-164bba5c4714","code":"GMD","name":"Grout
        Museum District","description":"Established in 1932, the Grout Museum District
        is widely acknowledged as one of the cornerstones of culture in Northeast
        Iowa. Accredited by the American Alliance of Museums, the Grout Museum District
        includes five distinct properties: the Grout Museum of History and Science,
        Sullivan Brothers Iowa Veterans Museum, Bluedorn Science Imaginarium, Renss[...]
