interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=2431762&limit=300&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":2393,\"results\":[{\"key\":5007575458,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2025-11-10T09:23:30.156+00:00\",\"lastParsed\":\"2025-11-10T23:33:46.308+00:00\",\"crawlId\":567,\"projectId\":\"https://www.inaturalist.org/projects/california-endemic-species\",\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://rs.tdwg.org/dwc/terms/catalogNumber\":\"461506405\",\"http://purl.org/dc/terms/publisher\":\"iNaturalist\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/publicdomain/zero/1.0/\",\"http://purl.org/dc/terms/rightsHolder\":\"Theo
        Summer\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/references\":\"https://www.inaturalist.org/photos/461506405\",\"http://purl.org/dc/terms/format\":\"im[...]
