interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":709,\"results\":[{\"key\":\"286b6854-6383-4cc3-b696-f4295274d0a2\",\"organizationKey\":\"06fcbbf0-0562-11d8-b851-b8a03c50a862\",\"type\":\"HTTP_INSTALLATION\",\"title\":\"University
        of Washington Burke Museum (UWBM)\",\"createdBy\":\"hvalli\",\"modifiedBy\":\"hvalli\",\"created\":\"2025-11-14T08:35:31.034+00:00\",\"modified\":\"2025-11-14T08:35:31.034+00:00\",\"disabled\":false,\"contacts\":[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"6e2e8392-924d-43b7-854a-67f6005092b2\",\"organizationKey\":\"f5fd374b-89cb-4ab6-b3eb-794c65f232c3\",\"type\":\"IPT_INSTALLATION\",\"title\":\"Sistema
        de Informa\xE7\xE3o sobre a Biodiversidade Brasileira - OBIS Brasil\",\"description\":\"O
        IPT (Integrated Publishing Toolkit) do OBIS \u2013 Brasil \xE9 a principal
        ferramenta de publica\xE7\xE3o e gest\xE3o de dados sobre biodiversidade marinha
        e costeira do pa\xEDs. O sistema integra o Brasil \xE0 rede global do Ocean
        Biodiversity Information System (OBIS), iniciativa coordenada pela Comiss\xE3o
        Oceanogr\xE1fica Intergovernamental (COI/UNESCO). O OBIS \u2013 Brasil \xE9
        administrado pelo SiBBr (Sistema de Informa\xE7\xE3o so[...]
