interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?typeSpecimenCount=10%2C100&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":604,\"results\":[{\"key\":\"29658e18-1cef-4773-b81a-92111c9d288f\",\"code\":\"CBC\",\"name\":\"Universidade
        do Estado de Minas Gerais\",\"types\":[],\"active\":true,\"email\":[\"mcbp.passos@uemg.br\"],\"phone\":[\"[55]
        35 3526 8087\",\"[55] 71 9 9207 9666\"],\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[],\"disciplines\":[],\"latitude\":-20.722195,\"longitude\":-46.605107,\"mailingAddress\":{\"key\":55656,\"address\":\"Avenida
        Expedicion\xE1rios 333\",\"city\":\"Passos\",\"province\":\"Minas Gerais\",\"postalCode\":\"37900-130\",\"country\":\"BR\"},\"address\":{\"key\":55651,\"address\":\"Avenida
        Expedicion\xE1rios 333\",\"city\":\"Passos\",\"province\":\"Minas Gerais\",\"postalCode\":\"37900-130\",\"country\":\"BR\"},\"additionalNames\":[],\"foundingDate\":2023,\"createdBy\":\"clara_baringo\",\"modifiedBy\":\"ih-sync\",\"created\":\"2025-04-07T21:59:39.815+00:00\",\"modified\":\"2025-04-09T11:05:38.271+00:00\",\"tags\":[],\"identifiers\":[{\"key\":439017,\"type\":\"IH_IRN\",\"identifier\":\"gbif:ih:irn:267802\",\"createdBy\":\"clara_baringo\",\"created\":\"2025-04-07T21:59:39.834+00:00\",\"primary\":false}],\"contactPersons\":[{\"key\":42415,\"firstName\":\"Vanessa
        Leite\",\"lastName\":\"Rezende\",\"position\":[\"Professor\"],\"phone\":[\"[55]35991042537\"],\"fax\":[],\"email\":[\"vanessa.leite.rezende@gmail.com\"],\"address\":[\"Pastor
        Pedro Ferreira Lima\"],\"city\":\"Passos\",\"province\":\"Minas Gerais\",\"country\":\"BR\",\"postalCode\":\"37904146\",\"primary\":false,\"taxonomicExpertise\":[],\"userIds\":[{\"type\":\"IH_IRN\",\"id\":\"267809\"}],\"createdBy\":\"clara_baringo\",\"modifiedBy\":\"clara_baringo\",\"created\":\"2025-04-07T21:59:39.862+00:00\",\"modified\":\"2025-04-07T21:59:39.862+00:00\"},{\"key\":42416,\"firstName\":\"Fernanda
        Hurbath\",\"lastName\":\"Brand\xE3o\",\"position\":[\"Professor\"],\"phone\":[\"[55]
        71 99207 9666\"],\"fax\":[],\"email\":[\"fernanda.hurbath@uemg.br\"],\"address\":[\"Rua
        Aboli\xE7\xE3o 180\"],\"city\":\"Passos\",\"province\":\"Minas Gerais\",\"country\":\"BR\",\"postalCode\":\"37904016\",\"primary\":false,\"taxonomicExpertise\":[],\"userIds\":[{\"type\":\"IH_IRN\",\"id\":\"267808\"}],\"createdBy\":\"clara_baringo\",\"modifiedBy\":\"clara_baringo\",\"created\":\"2025-04-07T21:59:39.862+00:00\",\"modified\":\"2025-04-07T21:59:39.862+00:00\"}],\"machineTags\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"IH\",\"masterSourceMetadata\":{\"key\":9793,\"source\":\"IH_IRN\",\"sourceId\":\"267802\",\"createdBy\":\"clara_baringo\",\"created\":\"2025-04-07T21:59:39.843+00:00\"},\"displayOnNHCPortal\":true,\"occurrenceCount\":76,\"typeSpecimenCount\":14},{\"key\":\"847b9013-5cbb-4630-b4d4-0c92c8686f72\",\"code\":\"UB\",\"name\":\"Universit\xE9
        de Bordeaux\",\"types\":[\"UniversityCollege\"],\"active\":true,\"email\":[],\"phone\":[\"+33
        (0)5 40 00 60 00\"],\"homepage\":\"https://www.u-bordeaux.fr/\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[\"Academic\"],\"disciplines\":[],\"mailingAddress\":{\"key\":53303,\"address\":\"351
        cours de la Lib\xE9ration\",\"city\":\"Talence\",\"postalCode\":\"33405\",\"country\":\"FR\"},\"address\":{\"key\":53302,\"address\":\"351
        cours de la Lib\xE9ration\",\"city\":\"Talence\",\"postalCode\":\"33405\",\"country\":\"FR\"},\"additionalNames\":[],\"foundingDate\":1441,\"createdBy\":\"eliemarios[...]
