interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=5
  response:
    body:
      string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":698,\"results\":[{\"key\":\"e5485242-aa1f-4aab-96a3-d33b2c9f7880\",\"organizationKey\":\"948f0437-2242-4c2e-bb1e-d6e9e69d1d2a\",\"type\":\"HTTP_INSTALLATION\",\"title\":\"AGES
        - Austrian Agency for Health and Food Safety - installation\",\"createdBy\":\"mgrosjean\",\"modifiedBy\":\"mgrosjean\",\"created\":\"2025-06-17T12:05:58.671+00:00\",\"modified\":\"2025-06-17T12:05:58.671+00:00\",\"disabled\":false,\"contacts\":[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"237a77da-d109-4d9a-a691-4b87464d2800\",\"organizationKey\":\"25be1cbb-af76-44ea-8ff3-074799790dce\",\"type\":\"IPT_INSTALLATION\",\"title\":\"ICMBio
        - IPT\",\"description\":\"The ICMBio IPT (Integrated Publishing Toolkit) is
        a data publishing platform managed by the Chico Mendes Institute for Biodiversity
        Conservation (ICMBio), a federal agency responsible for managing Brazil's
        protected areas and biodiversity. Through the IPT, ICMBio provides open access
        to species occurrence records, monitoring data, and biological collections
        related to Brazilian protected areas.\",\"createdBy\":\"25be1cbb-af76-44ea-8ff3-074799790dce\",\"modifiedBy\":\"25be1cbb-af76-44ea-8ff3-074799790dce\",\"created\":\"2025-06-16T19:25:58.135+00:00\",\"modified\":\"2025-06-16T19:25:58.135+00:00\",\"disabled\":false,\"contacts\":[{\"key\":6142935,\"type\":\"TECHNICAL_POINT_OF_CONTACT\",\"primary\":true,\"userId\":[],\"firstName\":\"Ivan
        Salzo\",\"position\":[],\"email\":[\"ivan.salzo@icmbio.gov.br\"],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"25be1cbb-af76-44ea-8ff3-074799790dce\",\"modifiedBy\":\"25be1cbb-af76-44ea-8ff3-074799790dce\",\"created\":\"2025-06-16T19:25:58.148+00:00\",\"modified\":\"2025-06-16T19:25:58.148+00:00\"}],\"endpoints\":[{\"key\":1117163,\"type\":\"FEED\",\"url\":\"https://sisbio.sisicmbio.icmbio.gov.br/ipt/rss.do\",\"createdBy\":\"25be1cbb-af76-44ea-8ff3-074799790dce\",\"modifiedBy\":\"25be1cbb-af76-44ea-8ff3-074799790dce\",\"created\":\"2025-06-16T19:25:58.165+00:00\",\"modified\":\"2025-06-16T19:25:58.165+00:00\",\"machineTags\":[]}],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"896898e8-c0ac-47a0-8f38-0f792fbe3343\",\"organizationKey\":\"0870a77b-587c-4369-a8ed-bc3d347b8e1c\",\"type\":\"IPT_INSTALLATION\",\"title\":\"G[...]
