interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/node?limit=5
  response:
    body:
      string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":160,\"results\":[{\"key\":\"c2690fde-5930-4c9b-b477-2e480d8659a3\",\"type\":\"COUNTRY\",\"participationStatus\":\"VOTING\",\"gbifRegion\":\"ASIA\",\"continent\":\"ASIA\",\"title\":\"GBIF
        Timor-Leste\",\"participantTitle\":\"Timor-Leste, Democratic Republic of\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[null],\"country\":\"TL\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\",\"created\":\"2024-02-06T05:34:51.837+00:00\",\"modified\":\"2024-02-06T05:34:51.837+00:00\",\"contacts\":[{\"key\":4460,\"type\":\"HEAD_OF_DELEGATION\",\"primary\":false,\"userId\":[],\"firstName\":\"Antonio\",\"lastName\":\"Gusm\xE3o\",\"position\":[],\"email\":[\"atoygusmao18@gmail.com\"],\"phone\":[\"+67075293310\"],\"homepage\":[],\"organization\":\"Timor-Leste,
        Democratic Republic of\",\"address\":[\"Manleuana, Dili\"],\"country\":\"TL\",\"modified\":\"2024-02-13T07:52:06.432+00:00\"},{\"key\":4461,\"primary\":false,\"userId\":[],\"firstName\":\"Olderita\",\"lastName\":\"Marques\",\"position\":[],\"email\":[\"olderitamarques10@gmail.com\"],\"phone\":[\"+67077290022\"],\"homepage\":[],\"organization\":\"Timor-Leste,
        Democratic Republic of\",\"address\":[\"Fatuhada, Dili\"],\"country\":\"TL\",\"modified\":\"2024-02-16T08:44:42.095+00:00\"},{\"key\":4462,\"type\":\"NODE_MANAGER\",\"primary\":false,\"userId\":[],\"firstName\":\"Natalia\",\"lastName\":\"Gonzaga\",\"position\":[],\"email\":[\"Nataliagonzaga801@gmail.com\"],\"phone\":[\"+67077136412\"],\"homepage\":[],\"organization\":\"GBIF
        Timor-Leste\",\"address\":[\"Bairo Pite\"],\"country\":\"TL\",\"modified\":\"2024-02-13T07:58:42.263+00:00\"}],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[{\"key\":360499,\"type\":\"GBIF_PARTICIPANT\",\"identifier\":\"434\",\"createdBy\":\"directory-update-robot\",\"created\":\"2024-02-06T05:34:51.855+00:00\"}],\"comments\":[]},{\"key\":\"47f8cdaf-8418-420b-b7b8-2aeb6c357f43\",\"type\":\"COUNTRY\",\"participationStatus\":\"ASSOCIATE\",\"gbifRegion\":\"EUROPE\",\"continent\":\"EUROPE\",\"title\":\"GBIF
        Georgia\",\"participantTitle\":\"Georgia\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[null],\"country\":\"GE\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\",\"created\":\"2023-03-08T05:34:28.850+00:00\",\"modified\":\"2023-03-08T05:34:28.850+00:00\",\"contacts\"[...]
