interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/organization?limit=100
  response:
    body: {string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":1742,\"\
        results\":[{\"key\":\"2e3408a2-7d79-478f-875b-2b6a669b9026\",\"endorsingNodeKey\"\
        :\"46e3639a-27f8-45af-bfbe-d19b77efb040\",\"endorsementApproved\":true,\"\
        title\":\"Servicio Nacional de Areas Naturales Protegidas por el Estado\"\
        ,\"description\":\"El Servicio Nacional de \xC1reas Naturales Protegidas por\
        \ el Estado - SERNANP, es un Organismo P\xFAblico T\xE9cnico Especializado\
        \ adscrito al Ministerio del Ambiente, a trav\xE9s del Decreto Legislativo\
        \ 1013 del 14 de mayo de 2008, encargado de dirigir y establecer los criterios\
        \ t\xE9cnicos y administrativos para la conservaci\xF3n de las \xC1reas Naturales\
        \ Protegidas \u2013 ANP, y de cautelar el mantenimiento de la diversidad biol\xF3\
        gica. El SERNANP es el ente rector del Sistema Nacional de \xC1reas Naturales\
        \ Protegidas por el Estado \u2013 SINANPE, y en su calidad de autoridad t\xE9\
        cnico-normativa realiza su trabajo en coordinaci\xF3n con gobiernos regionales,\
        \ locales y propietarios de predios reconocidos como \xE1reas de conservaci\xF3\
        n privada.\",\"language\":\"eng\",\"email\":[\"sernanp@sernanp.gob.pe\"],\"\
        phone\":[\"51 1 7177500\"],\"homepage\":[\"http://www.sernanp.gob.pe\"],\"\
        logoUrl\":\"http://www.sernanp.gob.pe/documents/10181/0/logoSernanp.png\"\
        ,\"address\":[\"Calle Diecisiete N\xB0 355. Urbanizaci\xF3n El Palomar\"],\"\
        city\":\"San Isidro\",\"province\":\"Lima\",\"country\":\"PE\",\"postalCode\"\
        :\"27\",\"numPublishedDatasets\":0,\"createdBy\":\"gbif.express\",\"modifiedBy\"\
        :\"gbif.express\",\"created\":\"2019-01-22T23:31:49.087+0000\",\"modified\"\
        :\"2019-01-23T15:16:42.044+0000\",\"contacts\":[{\"key\":1468669,\"type\"\
        :\"TECHNICAL_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\"\
        :\"Giovanna\",\"lastName\":\"Chipana\",\"position\":[],\"email\":[\"gchipana@sernanp.gob.pe\"\
        ],\"phone\":[\"51 1 7177500\"],\"homepage\":[],\"address\":[],\"createdBy\"\
        :\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2019-01-22T23:31:49.115+0000\"\
        ,\"modified\":\"2019-01-22T23:31:49.115+0000\"},{\"key\":1468670,\"type\"\
        :\"POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Carlos\"\
        ,\"lastName\":\"Sanchez Rojas\",\"position\":[],\"email\":[\"csanchezrojas@sernanp.gob.pe\"\
        ],\"phone\":[\"51 1 7177500\"],\"homepage\":[],\"address\":[],\"createdBy\"\
        :\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\":\"2019-01-22T23:31:49.151+0000\"\
        ,\"modified\":\"2019-01-22T23:31:49.151+0000\"}],\"endpoints\":[],\"machineTags\"\
        :[],\"tags\":[],\"identifiers\":[],\"comments\":[{\"key\":23436,\"content\"\
        :\"Is associated with a GBIF-funded project: no\\n\\n\\nExpects to publish:\\\
        n\\n\\n - OccurenceData\\n - SamplingEventData\\n - ResourceMetaData\\n\\\
        nWill run a server which exposes data: no\\n\\n\\nPlans to run publishing\
        \ software (e.g. an IPT): no\\n\\n\\nNeeds help for data publishing: yes\"\
        ,\"createdBy\":\"gbif.express\",\"modifiedBy\":\"gbif.express\",\"created\"\
        :\"2019-01-22T23:31:49.193+0000\",\"modif[...]
