interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/dataset?type=OCCURRENCE&limit=100
  response:
    body: {string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":14751,\"\
        results\":[{\"key\":\"0e5fdec2-6221-4b42-a9ec-4066b7a55679\",\"installationKey\"\
        :\"f9df6cff-21d4-4d4b-8da4-eda454f5a086\",\"publishingOrganizationKey\":\"\
        88e72a7e-1b18-420f-ab67-9d423addab8c\",\"doi\":\"doi:10.14284/59\",\"external\"\
        :false,\"numConstituents\":0,\"type\":\"OCCURRENCE\",\"title\":\"Phytoplankton\
        \ data collected from a diurnal station in Sevastopol Bay (Black Sea) during\
        \ 1952\",\"description\":\"The data were collected by the IBSS staff at one\
        \ diurnal station in Sevastopol Bay (Black Sea) during 1952. This dataset\
        \ contains abundance data (individuals per liter) for phytoplankton taxa.\
        \ No additional metadata is available.\",\"language\":\"eng\",\"citation\"\
        :{\"text\":\"Institute of Biology of the Southern Seas National Academy of\
        \ Science of Ukraine. Phytoplankton data collected from a diurnal station\
        \ in Sevastopol Bay (Black Sea) during 1952. Occurrence Dataset https://doi.org/10.14284/59\
        \ accessed via GBIF.org on 2017-12-19.\"},\"lockedForAutoUpdate\":false,\"\
        createdBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\",\"modifiedBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\"\
        ,\"created\":\"2017-12-19T13:21:35.259+0000\",\"modified\":\"2017-12-19T14:18:28.139+0000\"\
        ,\"contacts\":[{\"key\":825004,\"type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\"\
        ,\"primary\":true,\"userId\":[],\"firstName\":\"Kseniia Skuratova\",\"position\"\
        :[],\"email\":[\"k.skuratova@ibss.org.ua\"],\"phone\":[null],\"homepage\"\
        :[],\"address\":[\"UA\"],\"createdBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\"\
        ,\"modifiedBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\",\"created\":\"2017-12-19T13:21:35.328+0000\"\
        ,\"modified\":\"2017-12-19T14:18:28.192+0000\"}],\"endpoints\":[{\"key\":242666,\"\
        type\":\"DWC_ARCHIVE\",\"url\":\"http://ipt.vliz.be/eurobis/archive.do?r=phytoplankton_blacksea_diurnal_1952\"\
        ,\"createdBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\",\"modifiedBy\":\"\
        88e72a7e-1b18-420f-ab67-9d423addab8c\",\"created\":\"2017-12-19T14:18:28.375+0000\"\
        ,\"modified\":\"2017-12-19T14:18:28.375+0000\",\"machineTags\":[]},{\"key\"\
        :242665,\"type\":\"EML\",\"url\":\"http://ipt.vliz.be/eurobis/eml.do?r=phytoplankton_blacksea_diurnal_1952\"\
        ,\"createdBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\",\"modifiedBy\":\"\
        88e72a7e-1b18-420f-ab67-9d423addab8c\",\"created\":\"2017-12-19T14:18:28.324+0000\"\
        ,\"modified\":\"2017-12-19T14:18:28.324+0000\",\"machineTags\":[]}],\"machineTags\"\
        :[],\"tags\":[],\"identifiers\":[],\"comments\":[],\"bibliographicCitations\"\
        :[],\"curatorialUnits\":[],\"taxonomicCoverages\":[],\"geographicCoverages\"\
        :[],\"temporalCoverages\":[],\"keywordCollections\":[],\"countryCoverage\"\
        :[],\"collections\":[],\"dataDescriptions\":[],\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\"\
        },{\"key\":\"ba1e0dc3-5904-43d8-8a27-874dd4079698\",\"installationKey\":\"\
        f9df6cff-21d4-4d4b-8da4-eda454f5a086\",\"publishingOrganizationKey\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\"\
        ,\"doi\":\"doi:10.14284/147\",\"external\":false,\"numConstituents\":0,\"\
        type\":\"OCCURRENCE\",\"title\":\"Harpacticoida from a monitoring survey in\
        \ the Black Sea in 2000-2001\",\"description\":\"Field long-term monitoring\
        \ survey of ecologically intact zone (control) within the human-impacted area\
        \ at north-western part of the Black Sea.\",\"language\":\"eng\",\"citation\"\
        :{\"text\":\"Institute of Biology of the Southern Seas National Academy of\
        \ Science of Ukraine. Harpacticoida from a monitoring survey in the Black\
        \ Sea in 2000-2001. Occurrence Dataset https://doi.org/10.14284/147 accessed\
        \ via GBIF.org on 2017-12-19.\"},\"lockedForAutoUpdate\":false,\"createdBy\"\
        :\"88e72a7e-1b18-420f-ab67-9d423addab8c\",\"modifiedBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\"\
        ,\"created\":\"2017-12-19T10:53:22.548+0000\",\"modified\":\"2017-12-19T14:29:21.408+0000\"\
        ,\"contacts\":[{\"key\":824991,\"type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\"\
        ,\"primary\":true,\"userId\":[],\"firstName\":\"Andrey Azovsky\",\"position\"\
        :[],\"email\":[\"aiazovsky@mail.ru\"],\"phone\":[null],\"homepage\":[],\"\
        address\":[\"RU\"],\"createdBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\"\
        ,\"modifiedBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\",\"created\":\"2017-12-19T10:53:22.630+0000\"\
        ,\"modified\":\"2017-12-19T14:29:21.471+0000\"}],\"endpoints\":[{\"key\":242668,\"\
        type\":\"DWC_ARCHIVE\",\"url\":\"http://ipt.vliz.be/eurobis/archive.do?r=black_sea_harpacticoida\"\
        ,\"createdBy\":\"88e72a7e-1b18-420f-ab67-9d423addab8c\",\"modifiedBy\":\"\
        88e72a7e[...]
