interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/node?limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":161,\"results\":[{\"key\":\"18aacf1e-738e-4172-a28d-15b639abb1a8\",\"type\":\"COUNTRY\",\"participationStatus\":\"ASSOCIATE\",\"gbifRegion\":\"LATIN_AMERICA\",\"continent\":\"SOUTH_AMERICA\",\"title\":\"GBIF
        Panama\",\"participantTitle\":\"Panama\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[null],\"country\":\"PA\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\",\"created\":\"2024-06-12T05:34:45.207+00:00\",\"modified\":\"2024-06-12T05:34:45.207+00:00\",\"contacts\":[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[{\"key\":366814,\"type\":\"GBIF_PARTICIPANT\",\"identifier\":\"435\",\"createdBy\":\"directory-update-robot\",\"created\":\"2024-06-12T05:34:45.231+00:00\"}],\"comments\":[]},{\"key\":\"c2690fde-5930-4c9b-b477-2e480d8659a3\",\"type\":\"COUNTRY\",\"participationStatus\":\"VOTING\",\"gbifRegion\":\"ASIA\",\"continent\":\"ASIA\",\"title\":\"GBIF
        Timor-Leste\",\"participantTitle\":\"Timor-Leste, Democratic Republic of\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[null],\"country\":\"TL\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\",\"created\":\"2024-02-06T05:34:51.837+00:00\",\"modified\":\"2024-02-06T05:34:51.837+00:00\",\"contacts\":[{\"key\":4460,\"type\":\"HEAD_OF_DELEGATION\",\"primary\":false,\"userId\":[],\"firstName\":\"Antonio\",\"lastName\":\"Gusm\xE3o\",\"position\":[],\"email\":[\"atoygusmao18@gmail.com\"],\"phone\":[\"+67075293310\"],\"homepage\":[],\"organization\":\"Timor-Leste,
        Democratic Republic of\",\"address\":[\"Manleuana, Dili\"],\"country\":\"TL\",\"modified\":\"2024-02-13T07:52:06.432+00:00\"},{\"key\":4461,\"primary\":false,\"userId\":[],\"firstName\":\"Olderita\",\"lastName\":\"Marques\",\"position\":[],\"email\":[\"olderitamarques10@gmail.com\"],\"phone\":[\"+67077290022\"],\"homepage\":[],\"organization\":\"Timor-Leste,
        Democratic Republic of\",\"address\":[\"Fatuhada, Dili\"],\"country\":\"TL\",\"modified\":\"2024-02-16T08:44[...]
