interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?country=US&country=GB&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":2570,\"results\":[{\"key\":\"00f93b00-a375-4c3b-b6a4-119f89b1b78d\",\"code\":\"NSMUK\",\"name\":\"Natural
        Sciences Museum\",\"description\":\"The Natural Sciences Museum is a relatively
        new independent natural history museum located in at 149\u202FHolme\u202FLane,
        Sheffield S6\u202F4JR, and opened to the public on 13 August 2022.  The museum
        is focused chiefly on palaeontological specimens. It has 12,000 specimens,
        a CT-scanner, a public preparation lab, and a private conservation lab. \",\"types\":[\"Museum\"],\"active\":true,\"email\":[\"info@ynhm.org\"],\"phone\":[\"01142216662\u202C\"],\"homepage\":\"https://ynhm.org\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[\"NonProfit\"],\"disciplines\":[\"Paleontology\"],\"latitude\":53.401184,\"longitude\":-1.505363,\"mailingAddress\":{\"key\":57013,\"address\":\"149
        Holme Lane\",\"city\":\"Sheffield\",\"province\":\"South Yorkshire\",\"postalCode\":\"S6
        4JR\",\"country\":\"GB\"},\"address\":{\"key\":57012,\"address\":\"149 Holme
        Lane\",\"city\":\"Sheffield\",\"province\":\"South Yorkshire\",\"postalCode\":\"S6
        4JR\",\"country\":\"GB\"},\"additionalNames\":[\"Yorkshire Natural History
        Museum\"],\"numberSpecimens\":12000,\"logoUrl\":\"https://img1.wsimg.com/isteam/ip/ecbcc640-26c4-4e77-8b4c-6215b27303ce/blob-0003.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25\",\"createdBy\":\"taraw\",\"modifiedBy\":\"taraw\",\"created\":\"2025-10-21T09:59:25.632+00:00\",\"modified\":\"2025-10-21T09:59:25.632+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[],\"machineTags\":[],\"alternativeCodes\":[{\"code\":\"YNHM\",\"description\":\"Yorkshire
        Natural History Museum\"}],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":0,\"typeSpecimenCount\":0,\"featuredImageUrl\":\"https://ynhm.org\"},{\"key\":\"917c3b95-ec96-40bd-a18d-d4f88e41f94f\",\"code\":\"chicagobr\",\"name\":\"Brookfield
        Zoo Chicago\",\"description\":\"zoo\",\"types\":[],\"active\":true,\"email\":[],\"phone\":[\"708-688-8000\"],\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[],\"disciplines\":[],\"mailingAddress\":{\"key\":56925,\"address\":\"3300
        Golf Road\",\"city\":\"Brookfield\",\"postalCode\":\"60513\",\"country\":\"US\"},\"address\":{\"key\":56924,\"address\":[...]
