interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    body: {string: '{"HUMAN_OBSERVATION":1105239040,"PRESERVED_SPECIMEN":166101035,"MATERIAL_SAMPLE":25326157,"OBSERVATION":19633469,"UNKNOWN":17292300,"MACHINE_OBSERVATION":11917524,"FOSSIL_SPECIMEN":8961546,"LIVING_SPECIMEN":1629229,"LITERATURE":219727}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
