interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?limit=1
  response:
    body:
      string: "{\"offset\":0,\"limit\":1,\"endOfRecords\":false,\"count\":92905,\"results\":[{\"key\":\"9a52d8bf-864a-4abb-95ba-319c4edfca8d\",\"installationKey\":\"9f25fd85-85dc-4dcd-a1b4-b31165442e2b\",\"publishingOrganizationKey\":\"1cd669d0-80ea-11de-a9d0-f1765f95f18b\",\"doi\":\"10.1016/j.tree.2011.03.023\",\"version\":\"1.1\",\"external\":false,\"numConstituents\":0,\"type\":\"CHECKLIST\",\"title\":\"Checklist
        of alien mammals of Belgium\",\"description\":\"<p>The checklist of alien
        mammals of Belgium is a species checklist dataset published by the Research
        Institute for Nature and Forest (INBO). It contains information on alien mammal
        species recorded in the wild in Belgium since 1976. Both established species
        and occasional records (casuals) are included, but with information on the
        degree of establishment of species following the unified invasion framework
        of Blackburn et al. (2011). The checklis[...]
[...]
