interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=2683264&limit=300&offset=0
  response:
    body: {string: "{\"offset\":0,\"limit\":300,\"endOfRecords\":false,\"count\":658,\"\
        results\":[{\"key\":2432626071,\"datasetKey\":\"e3ce628e-9683-4af7-b7a9-47eef785d3bb\"\
        ,\"publishingOrgKey\":\"17726825-3aa2-4fbc-b0e3-303d3fc5702f\",\"installationKey\"\
        :\"19893c10-381e-4534-9bb8-6c37d03ad29e\",\"publishingCountry\":\"AU\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-11-05T20:12:28.393+0000\"\
        ,\"lastParsed\":\"2019-11-13T17:22:45.535+0000\",\"crawlId\":110,\"extensions\"\
        :{},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"taxonKey\":2683264,\"kingdomKey\"\
        :6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"\
        genusKey\":2683206,\"speciesKey\":2683264,\"acceptedTaxonKey\":2683264,\"\
        scientificName\":\"Cycas circinalis L.\",\"acceptedScientificName\":\"Cycas\
        \ circinalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\"\
        :\"Cycadales\",\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"\
        Cycas circinalis\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\"\
        ,\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"decimalLongitude\"\
        :80.3,\"decimalLatitude\":7.0,\"year\":2019,\"month\":4,\"day\":2,\"eventDate\"\
        :\"2019-04-02T00:00:00\",\"issues\":[],\"lastInterpreted\":\"2019-11-13T17:22:45.535+0000\"\
        ,\"references\":\"https://biocache.ala.org.au/occurrences/1aa30669-028c-427a-b85f-3ff135d328aa\"\
        ,\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"\
        identifiers\":[],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\"\
        ,\"identifier\":\"https://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=2fe3b3bf-b4cb-4387-814d-f677930c315d\"\
        ,\"references\":\"https://images.ala.org.au/image/2fe3b3bf-b4cb-4387-814d-f677930c315d\"\
        ,\"title\":\"Cycas circinalis L.\",\"created\":\"2019-05-03T03:42:21.000+0000\"\
        ,\"creator\":\"Thilini|questagame.com\"}],\"facts\":[],\"relations\":[],\"\
        geodeticDatum\":\"WGS84\",\"class\":\"Cycadopsida\",\"countryCode\":\"LK\"\
        ,\"country\":\"Sri Lanka\",\"identifier\":\"1aa30669-028c-427a-b85f-3ff135d328aa\"\
        ,\"recordNumber\":\"questagame-247180\",\"recordedBy\":\"Thilini|questagame.com\"\
        ,\"occurrenceStatus\":\"present\",\"dataGeneralizations\":\"Identification\
        \ aligned to national taxonomy. Originally supplied as [[ <not-supplied> |\
        \ <not-supplied> | <not-supplied> | <not-supplied> | <not-supplied> | <not-supplied>\
        \ | Cycas circinalis L.]]\",\"taxonConceptID\":\"http://id.biodiversity.org.au/name/apni/92315\"\
        ,\"gbifID\":\"2432626071\",\"occurrenceID\":\"1aa30669-028c-427a-b85f-3ff135d328aa\"\
        },{\"key\":1848111211,\"datasetKey\":\"08a179fe-9cd1-4d33-afef-266dd55c59cf\"\
        ,\"publishingOrgKey\":\"6cfcf69e-9ec1-48e1-be34-5201bdb63bd7\",\"installationKey\"\
        :\"b38ff2b7-c8af-454e-b5af-ee760f0d5bca\",\"publishingCountry\":\"BR\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-11-14T12:14:07.689+0000\"\
        ,\"lastParsed\":\"2019-11-15T08:02:24.699+0000\",\"crawlId\":184,\"extensions\"\
        :{},\"basisOfRecord\":\"PRESERVED_SPECIMEN\",\"taxonKey\":2683264,\"kingdomKey\"\
        :6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"\
        genusKey\":2683206,\"speciesKey\":2683264,\"acceptedTaxonKey\":2683264,\"\
        scientificName\":\"Cycas circinalis L.\",\"acceptedScientificName\":\"Cycas\
        \ circinalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\"\
        :\"Cycadales\",\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"\
        Cycas circinalis\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\"\
        ,\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"dateIdentified\"\
        :\"2017-11-01T00:00:00\",\"stateProvince\":\"Paran\xE1\",\"year\":2017,\"\
        month\":11,\"day\":9,\"eventDate\":\"2017-11-09T00:00:00\",\"issues\":[],\"\
        modified\":\"2019-07-03T23:06:17.000+0000\",\"lastInterpreted\":\"2019-11-15T08:02:24.699+0000\"\
        ,\"license\":\"http://creativecommons.org/licenses/by-nc/4.0/legalcode\",\"\
        identifiers\":[],\"media\":[],\"facts\":[],\"relations\":[],\"class\":\"Cycadopsida\"\
        ,\"countryCode\":\"BR\",\"country\":\"Brazil\",\"rightsHolder\":\"HUEM - Herb\xE1\
        rio UEM\",\"recordNumber\":\"3651\",\"identifier\":\"BRA:UEM:HUEM:32075\"\
        ,\"datasetName\":\"HUEM - Herb\xE1rio UEM\",\"locality\":\"Campus sede da\
        \ UEM., Em frente ao bloco G34.\",\"municipality\":\"Maring\xE1\",\"language\"\
        :\"pt\",\"collectionCode\":\"HUEM\",\"gbifID\":\"1848111211\",\"occurrenceID\"\
        :\"BRA:UEM:HUEM:32075\",\"type\":\"Collection\",\"recordedBy\":\"Ma.C.Souza\"\
        ,\"catalogNumber\":\"32075\",\"institutionCode\":\"UEM\",\"ownerInstitutionCode\"\
        :\"Universidade Estadual de Maring\xE1, UEM\",\"occurrenceRemarks\":\"Arb\xF3\
        rea com 4m de altura.\",\"identifiedBy\":\"Ma.C.Souza\"},{\"key\":1321376861,\"\
        datasetKey\":\"821cc27a-e3bb-4bc5-ac34-89ada245069d\",\"publishingOrgKey\"\
        :\"bc092ff0-02e4-11dc-991f-b8a03c50a862\",\"installationKey\":\"b2ff19b5-d74f-40d2-82f1-ec5db01e8e31\"\
        ,\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\"\
        :\"2019-11-15T20:17:05.590+0000\",\"lastParsed\":\"2019-11-15T21:28:01.989+0000\"\
        ,\"crawlId\":121,\"extensions\":{},\"basisOfRecord\":\"PRESERVED_SPECIMEN\"\
        ,\"individualCount\":1,\"taxonKey\":2683264,\"kingdomKey\":6,\"phylumKey\"\
        :7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"genusKey\"\
        :2683206,\"speciesKey\":2683264,\"acceptedTaxonKey\":2683264,\"scientificName\"\
        :\"Cycas circinalis L.\",\"acceptedScientificName\":\"Cycas circinalis L.\"\
        ,\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Cycadales\"\
        ,\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"Cycas circinalis\"\
        ,\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\",\"taxonRank\"\
        :\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"continent\":\"NORTH_AMERICA\"\
        ,\"stateProvince\":\"District of Columbia\",\"year\":2016,\"month\":6,\"day\"\
        :27,\"eventDate\":\"2016-06-27T00:00:00\",\"issues\":[],\"lastInterpreted\"\
        :\"2019-11-15T21:28:01.989+0000\",\"license\":\"http://creativecommons.org/publicdomain/zero/1.0/legalcode\"\
        ,\"identifiers\":[],\"media\":[{\"type\":\"StillImage\",\"format\":\"tiff,\
        \ jpeg, jpeg, jpeg, jpeg, jpeg\",\"identifier\":\"http://collections.nmnh.si.edu/media/index.php?irn=12959552\"\
        ,\"title\":\"01944236.tif\",\"description\":\"Sedaghatpour, M. 74, US National\
        \ Herbarium Sheet 3722925, Barcode 01944236\",\"source\":\"US National Herbarium,\
        \ Department of Botany, NMNH, Smithsonian Institution\",\"creator\":\"Emily\
        \ Poindexter\",\"publisher\":\"Smithsonian Institution, NMNH, Botany\"}],\"\
        facts\":[],\"relations\":[],\"class\":\"Cycadopsida\",\"countryCode\":\"US\"\
        ,\"country\":\"United States of America\",\"recordNumber\":\"74\",\"identifier\"\
        :\"http://n2t.net/ark:/65665/3b8a04155-0694-403a-8689-66226390733b\",\"habitat\"\
        :\"Cultivated/garden\",\"higherGeography\":\"North America, United States,\
        \ District of Columbia\",\"institutionID\":\"http://biocol.org/urn:lsid:biocol.org:col:34871\"\
        ,\"endDayOfYear\":\"179\",\"datasetName\":\"NMNH Extant Biology\",\"collectionCode\"\
        :\"Botany\",\"gbifID\":\"1321376861\",\"occurrenceID\":\"http://n2t.net/ark:/65665/3b8a04155-0694-403a-8689-66226390733b\"\
        ,\"type\":\"PhysicalObject\",\"recordedBy\":\"M. Sedaghatpour & S. Vo\",\"\
        catalogNumber\":\"3722925\",\"institutionCode\":\"US\",\"startDayOfYear\"\
        :\"179\",\"identifiedBy\":\"Gostel, M. R., (BRIT), Botanical Research Institute\
        \ of Texas (UNITED STATES)\",\"higherClassification\":\"Plantae, Cycadophyta,\
        \ Cycadopsida, Cycadales, Cycadaceae\"},{\"key\":2307364248,\"datasetKey\"\
        :\"ad43e954-dd79-4986-ae34-9ccdbd8bf568\",\"publishingOrgKey\":\"ada9d123-ddb4-467d-8891-806ea8d94230\"\
        ,\"installationKey\":\"9e4f3516-2b98-4700-a39a-3f109252508c\",\"publishingCountry\"\
        :\"GB\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-08-05T13:47:28.081+0000\"\
        ,\"lastParsed\":\"2019-11-13T19:38:37.199+0000\",\"crawlId\":128,\"extensions\"\
        :{},\"basisOfRecord\":\"PRESERVED_SPECIMEN\",\"taxonKey\":2683264,\"kingdomKey\"\
        :6,\"phylumKey\":7707728,\"classKey\":228,\"orderKey\":834,\"familyKey\":6168,\"\
        genusKey\":2683206,\"speciesKey\":2683264,\"acceptedTaxonKey\":2683264,\"\
        scientificName\":\"Cycas circinalis L.\",\"acceptedScientificName\":\"Cycas\
        \ circinalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\"\
        :\"Cycadales\",\"family\":\"Cycadaceae\",\"genus\":\"Cycas\",\"species\":\"\
        Cycas circinalis\",\"genericName\":\"Cycas\",\"specificEpithet\":\"circinalis\"\
        ,\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"decimalLongitude\"\
        :-76.83,\"decimalLatitude\":38.88,\"year\":2016,\"month\":6,\"day\":27,\"\
        eventDate\":\"2016-06-27T00:00:00\",\"issues\":[\"GEODETIC_DATUM_ASSUMED_WGS84\"\
        ,\"COUNTRY_DERIVED_FROM_COORDINATES\"],\"modified\":\"2017-09-29T00:00:00.000+0000\"\
        ,\"lastInterpreted\":\"2019-11-13T19:38:37.199+0000\",\"references\":\"http://www.ebi.ac.uk/ena/data/view/MF348799\"\
        ,\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"identifiers\"\
        :[],\"media\":[],\"facts\":[],\"relations\":[],\"geodeticDatum\":\"WGS84\"\
        ,\"class\":\"Cycadopsida\",\"countryCode\":\"US\",\"country\":\"United States\
        \ of America\",\"identifier\":\"MF348799\",\"recordedBy\":\"Sedaghatpour 2016-\
        \ 74\",\"created\":\"2017-09-29\",\"locality\":\"USA:District of Columbia;\
        \ Smithsonian Gardens, Enid A. Haupt Garden. Adjacent to Freer Gallery of\
        \ Art building\",\"gbifID\":\"2307364248\",\"associatedSequences\":\"MF348799\"\
        ,\"occurrenceID\":\"MF348799\",\"higherClassification\":\"Eukaryota;Viridiplantae;Streptophyta;Embryophyta;Tracheophyta;Spermatophyta;Cycadidae;Cycadales;Cycadaceae;Cycas\"\
        ,\"taxonID\":\"3397\"},{\"key\":2309964991,\"datasetKey\":\"ad43e954-dd79-4986-ae34-9ccdbd8bf568\"\
        ,\"publishingOrgKey\":\"ada9d123-ddb4-467d-8891-806ea8d94230\",\"installationKey\"\
        :\"9e4f3516-2b98-4700-a39a-3f109252508c\",\"publishingCountry\":\"GB\",\"\
        protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2019-08-05T13:47:28.081+0000\"\
        ,\"lastParsed\":\"2019-11-13T19:38:13.170+0000\",\"crawlId\":128,\"extensions\"\
        :{},\"basisOfRecord\":\"PRESERVED_SPECIMEN\",\"taxonKey\[...]
