interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species/suggest?q=Puma+concolor&limit=100
  response:
    body: {string: "[{\"key\":2435099,\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\"\
        ,\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Puma\",\"species\"\
        :\"Puma concolor\",\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":359,\"orderKey\"\
        :732,\"familyKey\":9703,\"genusKey\":2435098,\"speciesKey\":2435099,\"parent\"\
        :\"Puma\",\"parentKey\":2435098,\"nubKey\":2435099,\"scientificName\":\"Puma\
        \ concolor (Linnaeus, 1771)\",\"canonicalName\":\"Puma concolor\",\"rank\"\
        :\"SPECIES\",\"status\":\"ACCEPTED\",\"higherClassificationMap\":{\"1\":\"\
        Animalia\",\"44\":\"Chordata\",\"359\":\"Mammalia\",\"732\":\"Carnivora\"\
        ,\"9703\":\"Felidae\",\"2435098\":\"Puma\"},\"synonym\":false,\"class\":\"\
        Mammalia\"},{\"key\":8916934,\"kingdom\":\"Animalia\",\"phylum\":\"Chordata\"\
        ,\"order\":\"Carnivora\",\"family\":\"Felidae\",\"genus\":\"Puma\",\"species\"\
        :\"Puma concolor\",\"kingdomKey\":1,\"phylumKey\":44,\"classKey\":359,\"orderKey\"\
        :732,\"familyKey\":9703,\"genusKey\":2435098,\"speciesKey\":2435099,\"parent\"\
        :\"Puma concolor\",\"parentKey\":2435099,\"scientificName\":\"Puma concolor\
        \ subsp. bangsi (Merriam, 1901)\",\"canonicalName\":\"Puma concolor bangsi\"\
        ,\"rank\":\"SUBSPECIES\",\"status\":\"SYNONYM\",\"higherClassificationMap\"\
        :{\"1\":\"Animalia\",\"44\":\"Chordata\",\"359\":\"Mammalia\",\"732\":\"Carnivora\"\
        ,\"9703\":\"Felidae\",\"2435098\":\"Puma\",\"2435099\":\"Puma concolor\"},\"\
        synonym\":true,\"class\":\"Mammalia\"},{\"key\":6164599,\"kingdom\":\"Animalia\"\
        ,\"phylum\":\"Chordata\",\"order\":\"Carnivora\",\"family\":\"Felidae\",\"\
        genus\":\"Puma\",\"species\":\"Puma concolor\",\"kingdomKey\":1,\"phylumKey\"\
        :44,\"classKey\":359,\"orderKey\":732,\"familyKey\":9703,\"genusKey\":2435098,\"\
        speciesKey\":2435099,\"parent\":\"Puma concolor\",\"parentKey\":2435099,\"\
        nubKey\":6164599,\"scientificName\":\"Puma concolor subsp. azteca (Merriam,\
        \ 1901)\",\"canonicalName\":\"Puma concolor azteca\",\"rank\":\"SUBSPECIES\"\
        ,\"status\":\"SYNONYM\",\"higherClassificationMap\":{\"1\":\"Animalia\",\"\
        44\":\"Chordata\",\"359\":\"Mammalia\",\"732\":\"Carnivora\",\"9703\":\"Felidae\"\
        ,\"2435098\":\"Puma\",\"2435099\":\"Puma concolor\"},\"synonym\":true,\"class\"\
        :\"Mammalia\"[...]
