interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/species/search?limit=0&facet=status
  response:
    body: {string: '{"offset":0,"limit":0,"endOfRecords":false,"count":26711981,"results":[],"facets":[{"field":"STATUS","counts":[{"name":"ACCEPTED","count":17601008},{"name":"SYNONYM","count":7186942},{"name":"DOUBTFUL","count":1191366},{"name":"HOMOTYPIC_SYNONYM","count":367785},{"name":"HETEROTYPIC_SYNONYM","count":269553},{"name":"MISAPPLIED","count":24644},{"name":"PROPARTE_SYNONYM","count":21160}]}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
