interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/installation?limit=100
  response:
    body:
      string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":667,\"results\":[{\"key\":\"49b268f4-e5db-49a3-87ad-ee23f397eadd\",\"organizationKey\":\"37e82b90-1e21-11de-ab90-f72009d2669b\",\"type\":\"HTTP_INSTALLATION\",\"title\":\"GBIF.be
        Metabarcoding Datasets\",\"description\":\"Metabarcoding publication tool
        for Belgian data holders.\",\"createdBy\":\"MattBlissett\",\"modifiedBy\":\"MattBlissett\",\"created\":\"2024-10-03T10:59:26.782+00:00\",\"modified\":\"2024-10-03T10:59:26.782+00:00\",\"disabled\":false,\"contacts\":[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"18d23510-5b63-4ead-93d2-09061bf0b50e\",\"organizationKey\":\"04fd2e13-6881-4e5c-9dd1-8fdd9ab993c1\",\"type\":\"HTTP_INSTALLATION\",\"title\":\"FinBIF
        Metabarcoding Datasets\",\"description\":\"This is the Finnish Biodiversity
        Information Facility's installation of GBIF's Metabarcoding Data Toolkit.
        It facilitates the conversion and mobilization of DNA metabarcoding datasets
        for Finnish data providers.\",\"createdBy\":\"MattBlissett\",\"modifiedBy\":[...]
