interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/1986620884
  response:
    body:
      string: '{"key":1986620884,"datasetKey":"50c9509d-22c7-4a22-a47d-8c48425ef4a7","publishingOrgKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","installationKey":"997448a8-f762-11e1-a439-00145eb45e9a","hostingOrganizationKey":"28eb1a3f-1c15-4a95-931a-4af90ecb574d","publishingCountry":"US","protocol":"DWC_ARCHIVE","lastCrawled":"2024-02-23T05:16:29.968+00:00","lastParsed":"2024-02-23T14:29:43.197+00:00","crawlId":437,"extensions":{"http://rs.gbif.org/terms/1.0/Multimedia":[{"http://rs.tdwg.org/dwc/terms/catalogNumber":"30065447","http://purl.org/dc/terms/format":"image/jpeg","http://purl.org/dc/terms/identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/30065447/original.jpg","http://purl.org/dc/terms/rightsHolder":"John
        Waller","http://purl.org/dc/terms/creator":"John Waller","http://purl.org/dc/terms/created":"2019-01-09T16:06:54Z","http://purl.org/dc/terms/publisher":"iNaturalist","http://purl.org/dc/terms/type":"StillImage","http://purl.org/dc/terms/references":"https://www.inaturalist.org/photos/30065447","http://purl.org/dc/terms/license":"http://creativecommons.org/licenses/by-nc/4.0/"}]},"basisOfRecord":"HUMAN_OBSERVATION","occurrenceStatus":"PRESENT","lifeStage":"Adult","taxonKey":4264680,"kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":1459,"familyKey":3240572,"genusKey":3240573,"speciesKey":4264680,"acceptedTaxonKey":4264680,"scientificName":"Myocastor
        coypus (Molina, 1782)","acceptedScientificName":"Myocastor coypus (Molina,
        1782)","kingdom":"Animalia","phylum":"Chordata","order":"Rodentia","family":"Myocastoridae","genus":"Myocastor","species":"Myocastor
        coypus","genericName":"Myocastor","specificEpithet":"coypus","taxonRank":"SPECIES","taxonomicStatus":"ACCEPTED","iucnRedListCategory":"LC","dateIdentified":"2019-01-09T18:12:11","decimalLatitude":48.755169,"decimalLongitude":25.102155,"coordinateUncertaintyInMeters":19.0,"continent":"EUROPE","stateProvince":"Ivano-Frankivs''k","gadm":{"level0":{"gid":"UKR","name":"Ukraine"},"level1":{"gid":"UKR.7_1","name":"Ivano-Frankivs''k"},"level2":{"gid":"UKR.7.14_1","name":"Tlumats''kyi"}},"year":2019,"month":1,"day":9,"eventDate":"2019-01-09T18:06:54","startDayOfYear":9,"endDayOfYear":9,"issues":["COORDINATE_ROUNDED","CONTINENT_DERIVED_FROM_COORDINATES","TAXON_MATCH_TAXON_ID_IGNORED"],"modified":"2023-02-10T01:24:27.000+00:00","lastInterpreted":"2024-02-23T14:29:43.197+00:00","references":"https://www.inaturalist.org/observations/19535428","license":"http://creativecommons.org/publicdomain/zero/1.0/legalcode","isSequenced":false,"identifiers":[{"identifier":"19535428"}],"media":[{"type":"StillImage","format":"image/jpeg","references":"https://www.inaturalist.org/photos/30065447","created":"2019-01-09T16:06:54.000+00:00","creator":"John
        Waller","publisher":"iNaturalist","license":"http://creativecommons.org/licenses/by-nc/4.0/","rightsHolder":"John
        Waller","identifier":"https://inaturalist-open-data.s3.amazonaws.com/photos/30065447/original.jpg"}],"facts":[],"relations":[],"isInCluster":false,"datasetName":"iNaturalist
        research-grade observations","recordedBy":"John Waller","identifiedBy":"John
        Waller","geodeticDatum":"WGS84","class":"Mammalia","countryCode":"UA","recordedByIDs":[],"identifiedByIDs":[],"gbifRegion":"EUROPE","country":"Ukraine","publishedByGbifRegion":"NORTH_AMERICA","rightsHolder":"John
        Waller","identifier":"19535428","http://unknown.org/nick":"pigeonspotters1888","verbatimEventDate":"Wed
        Jan 09 2019 20:06:54 GMT+0200 (GMT+2)","verbatimLocality":"Khotymyr, Khotymyr,
        Ivano-Frankivsk Oblast, UA","collectionCode":"Observations","gbifID":"1986620884","occurrenceID":"https://www.inaturalist.org/observations/19535428","taxonID":"43997","catalogNumber":"19535428","institutionCode":"iNaturalist","eventTime":"18:06:54+02:00","http://unknown.org/captive":"wild","identificationID":"42848020"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
