interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gbif.org/v1/species/search?q=mammalia&limit=1
  response:
    body: {string: '{"offset":0,"limit":1,"endOfRecords":false,"count":1345,"results":[{"key":114091654,"datasetKey":"30f55c63-a829-4cb2-9676-3b1b6f981567","nubKey":359,"scientificName":"Mammalia","canonicalName":"Mammalia","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"taxonID":"58030399-21e2-4b72-b999-f8440809f7a4","habitats":[],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[],"vernacularNames":[],"higherClassificationMap":{},"synonym":false}],"facets":[]}'}
    headers:
      Content-Type: [application/json]
      X-API-URL: ['/v1/species/search?q=mammalia&limit=1']
    status: {code: 200, message: OK}
version: 1
