interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/dataset?type=OCCURRENCE&limit=100
  response:
    body: {string: "{\"offset\":0,\"limit\":100,\"endOfRecords\":false,\"count\":17559,\"\
        results\":[{\"key\":\"6f18bf6c-1874-41b1-840c-adf7c56b9e79\",\"installationKey\"\
        :\"842b6a28-624a-4ddc-a96e-04d0ce819fce\",\"publishingOrganizationKey\":\"\
        5ca9a113-2397-4540-84b4-41114a1404ef\",\"doi\":\"10.15468/hylbxv\",\"version\"\
        :\"1.1\",\"external\":false,\"numConstituents\":0,\"type\":\"OCCURRENCE\"\
        ,\"title\":\"Inventaire des esp\xE8ces v\xE9g\xE9tales du sous bois des plantations\
        \ de Teck de la for\xEAt  naturelle de la Lama\",\"description\":\"Listes\
        \ des esp\xE8ces collect\xE9es dans les sous bois des plantations de Teck\
        \ et de la for\xEAt naturelle \xE0 partir d'un \xE9chantillonnage syst\xE9\
        matique sur des placeaux de 100x100m.\",\"language\":\"fra\",\"citation\"\
        :{\"text\":\"ADJIBODE O. V., KAKPO S. B., KOURA K., GANGLO J. C., 2019. Inventaire\
        \ des esp\xE8ces v\xE9g\xE9tales du sous bois des plantations de Teck de la\
        \ for\xEAt  naturelle de la Lama. Laboratoire des Sciences Foresti\xE8res,\
        \ Universit\xE9 d'Abomey-Calavi, B\xE9nin.\"},\"lockedForAutoUpdate\":false,\"\
        createdBy\":\"5ca9a113-2397-4540-84b4-41114a1404ef\",\"modifiedBy\":\"crawler.gbif.org\"\
        ,\"created\":\"2019-11-19T19:11:11.129+0000\",\"modified\":\"2019-11-19T22:42:01.439+0000\"\
        ,\"contacts\":[{\"key\":1895952,\"type\":\"ORIGINATOR\",\"primary\":true,\"\
        userId\":[],\"firstName\":\"O. Vincent\",\"lastName\":\"ADJIBODE\",\"position\"\
        :[\"Student\"],\"email\":[\"kakposunday@yahoo.fr\"],\"phone\":[\"+22997487820\"\
        ],\"homepage\":[],\"organization\":\"Laboratoire des Sciences Foresti\xE8\
        res/Universit\xE9 d\u2019Abomey-Calavi (LSF/UAC)\",\"address\":[\"BP 1493\
        \ Calavi\"],\"city\":\"Cotonou\",\"province\":\"Atlantique\",\"country\":\"\
        BJ\",\"postalCode\":\"+229\",\"createdBy\":\"crawler.gbif.org\",\"modifiedBy\"\
        :\"crawler.gbif.org\",\"created\":\"2019-11-19T22:42:01.390+0000\",\"modified\"\
        :\"2019-11-19T22:42:01.390+0000\"},{\"key\":1895953,\"type\":\"ORIGINATOR\"\
        ,\"primary\":false,\"userId\":[],\"firstName\":\"Sunday Berlioz\",\"lastName\"\
        :\"KAKPO\",\"position\":[\"Deputy Chief of Department Biodiversity Informatic\
        \ and Climate Change\"],\"email\":[\"kakposunday@yahoo.fr\"],\"phone\":[\"\
        +22997123391\"],\"homepage\":[],\"organization\":\"Laboratoire des Sciences\
        \ Foresti\xE8res/Universit\xE9 d\u2019Abomey-Calavi (LSF/UAC)\",\"address\"\
        :[\"O4bp1005\"],\"city\":\"Cotonou\",\"province\":\"Littorale\",\"country\"\
        :\"BJ\",\"postalCode\":\"+229\",\"createdBy\":\"crawler.gbif.org\",\"modifiedBy\"\
        :\"craw[...]
