interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DE
  response:
    body:
      string: '{"GERMANY":58308282,"NETHERLANDS":6749714,"UNITED_STATES":3609813,"BELGIUM":2456170,"UNITED_KINGDOM":2181272,"FRANCE":1921434,"DENMARK":1515099,"UNKNOWN":338012,"SWITZERLAND":262404,"SWEDEN":147806,"AUSTRIA":129858,"ESTONIA":119247,"POLAND":72316,"FINLAND":66361,"COLOMBIA":58178,"LUXEMBOURG":49177,"AUSTRALIA":27162,"NORWAY":25234,"SPAIN":20222,"CANADA":19365,"BRAZIL":11944,"JAPAN":9435,"NEW_ZEALAND":9067,"CZECH_REPUBLIC":7862,"RUSSIAN_FEDERATION":7798,"CHINA":5419,"PORTUGAL":4876,"SOUTH_AFRICA":4659,"ITALY":3918,"BULGARIA":3721,"MEXICO":3127,"ECUADOR":2388,"ARGENTINA":2197,"ISRAEL":1849,"PANAMA":1227,"UKRAINE":1122,"TAIWAN":858,"COSTA_RICA":836,"CHILE":453,"GREECE":281,"NICARAGUA":232,"HUNGARY":145,"URUGUAY":129,"LITHUANIA":128,"GHANA":73,"LATVIA":65,"VENEZUELA":63,"PERU":31,"KOREA_SOUTH":24,"ARMENIA":14,"TAJIKISTAN":7,"MOROCCO":7,"GUATEMALA":7,"NIGERIA":4,"ANTARCTICA":3,"TRINIDAD_TOBAGO":2,"SLOVENIA":2,"ZIMBABWE":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
