interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/network?limit=5
  response:
    body:
      string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":13,\"results\":[{\"key\":\"a6cdb5d1-d358-4ac0-b75c-2c33cf6c8936\",\"title\":\"Long-term
        Ecological Research Program - PELD/CNPq, Brazil\",\"description\":\"The PELD
        program, held for 23 years by the National Council for Scientific and Technological
        Development (CNPq) is maintained by ongoing Public Calls. The PELD network
        currently has 34 reference sites distributed in all biomes from Brazil, operating
        in dozens of protected areas and areas subject to anthropic impacts. The Program
        has a well-established and active management structure, in which the Management
        and Scientific Committees act in an integrated manner for strategic decisions
        in order to improve the Program. It is a member of the International Network
        for Long Term Ecological Research - ILTER, which brings together 44 member
        countries and their networks of long-term research sites. The program has
        been pooling efforts to foster a national culture devoted to long-term ecological
        research that can address environmental issues and point to solutions and
        practices for sustainable use of natural resources and ecosystem services,
        with important contributions to the proposition of public policies, promoting
        biodiversity conservation and human welfare.\\n\\nhttps://www.gov.br/cnpq/pt-br/acesso-a-informacao/acoes-e-programas/programas/peld\",\"language\":\"eng\",\"numConstituents\":17,\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2024-03-11T14:48:10.451+00:00\",\"modified\":\"2024-03-11T14:54:56.037+00:00\",\"contacts\":[{\"key\":5179449,\"type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Conselho
        Nacional de Desenvolvimento Cient\xEDfico e Tecnol\xF3gico (CNPq/MCTI)\",\"position\":[],\"email\":[\"peld@cnpq.br\"],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2024-03-11T14:48:56.732+00:00\",\"modified\":\"2024-03-11T14:53:54.442+00:00\"},{\"key\":5179450,\"type\":\"ADMINISTRATIVE_POINT_OF_CONTACT\",\"primary\":false,\"userId\":[],\"firstName\":\"Sistema
        de Informa\xE7\xE3o sobre a biodiversidade Brasileira (SiBBr)\",\"position\":[],\"email\":[\"atendimento_sibbr@rnp.br\"],\"phone\":[],\"homepage\":[],\"address\":[],\"createdBy\":\"andrea\",\"modifiedBy\":\"andrea\",\"created\":\"2024-03-11T14:49:36.777+00:00\",\"modified\":\"2024-03-11T14:54:04.531+00:00\"}],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[],\"comments\":[]},{\"key\":\"0b00b924-016b-4954-96a7-2d9264b5d0ba\",\"title\":\"SwissBIF
        (swissbif.ch) : Swiss Biodiversity Information Facility [Daten Biodiversit\xE4t
        Schweiz \u2013 Donn\xE9es Biodiversit\xE9 Suisse]\",\"description\":\"The
        Swiss Biodiversity Information Facility (SwissBIF) operates a network of partners
        who contribute at responding to the Swiss Federal Council\u2019s commitment
        of sharing standardized biodiversity data with the global initiative (Glo[...]
