interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/grscicoll/institution?typeSpecimenCount=10%2C100&limit=10
  response:
    body:
      string: "{\"offset\":0,\"limit\":10,\"endOfRecords\":false,\"count\":668,\"results\":[{\"key\":\"acc160f3-8fb5-4e54-8a92-f428fb051a76\",\"code\":\"SFC\",\"name\":\"Santa
        Fe College Museum of Earth Science\",\"description\":\"Santa Fe College's
        Museum of Earth Science is home to over 1,700 mineral, fossil and rock samples
        around the world. The museum also has martian and lunar meteorites and other
        \\\"rocks from space.\\\"\",\"types\":[],\"active\":true,\"email\":[],\"phone\":[],\"homepage\":\"https://www.sfcollege.edu/academics/las/natsci/science-resource-areas/museum.html\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[],\"disciplines\":[\"Geological\",\"Paleontology\"],\"mailingAddress\":{\"key\":56581},\"address\":{\"key\":56580,\"address\":\"3000
        N.W. 83rd Street, X-201\",\"city\":\"Gainesville\",\"province\":\"Florida\",\"postalCode\":\"32606\",\"country\":\"US\"},\"additionalNames\":[],\"createdBy\":\"mgrosjean\",\"modifiedBy\":\"mgrosjean\",\"created\":\"2025-09-05T13:15:57.233+00:00\",\"modified\":\"2025-09-05T13:15:57.233+00:00\",\"tags\":[],\"identifiers\":[],\"contactPersons\":[],\"machineTags\":[],\"alternativeCodes\":[],\"comments\":[],\"occurrenceMappings\":[],\"masterSource\":\"GRSCICOLL\",\"displayOnNHCPortal\":true,\"occurrenceCount\":91,\"typeSpecimenCount\":91},{\"key\":\"967647c6-b1af-4f0a-9bb0-94d0dbb1ca9f\",\"code\":\"UAT\",\"name\":\"Universidad
        Aut\xF3noma de Tamaulipas\",\"types\":[],\"active\":true,\"email\":[],\"phone\":[\"[52]
        834 318 1800\"],\"homepage\":\"https://www.uat.edu.mx/\",\"catalogUrls\":[],\"apiUrls\":[],\"institutionalGovernances\":[\"Academic\",\"Governmental\"],\"disciplines\":[],\"latitude\":23.732532,\"longitude\":-99.144592,\"mailingAddress\":{\"key\":56451,\"address\":\"Mariano
        Matamoros s/n, zona Centro\",\"city\":\"Ciudad Victoria\",\"province\":\"Tamaulipas\",\"postalCode\":\"87000\",\"country\":\"MX\"},\"address\":{\"key\":56450,\"address\":\"Mariano
        Matamoros s/n, zona Centro\",\"city\":\"Ciudad Victoria\",\"province\":\"Tamaulipas\",\"postalCode\":\"87000\",\"country\":\"MX\"},\"additionalNames\":[],\"createdBy\":\"vaguirojas\",\"modifiedBy\":\"vaguirojas\",\"created\":\"2025-08-25[...]
