interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/node?limit=5
  response:
    body:
      string: "{\"offset\":0,\"limit\":5,\"endOfRecords\":false,\"count\":167,\"results\":[{\"key\":\"7d5ac566-d4e2-4edd-982f-d6823f7eb30b\",\"type\":\"COUNTRY\",\"participationStatus\":\"VOTING\",\"gbifRegion\":\"EUROPE\",\"continent\":\"EUROPE\",\"title\":\"Italy\",\"participantTitle\":\"Italy\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[],\"country\":\"IT\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\",\"created\":\"2025-10-16T05:34:45.466+00:00\",\"modified\":\"2025-10-16T05:34:45.466+00:00\",\"contacts\":[],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[{\"key\":457798,\"type\":\"GBIF_PARTICIPANT\",\"identifier\":\"442\",\"createdBy\":\"directory-update-robot\",\"created\":\"2025-10-16T05:34:45.473+00:00\",\"primary\":false}],\"comments\":[]},{\"key\":\"d4b39e46-c0b7-496d-af28-c7767308e8c0\",\"type\":\"COUNTRY\",\"participationStatus\":\"ASSOCIATE\",\"gbifRegion\":\"EUROPE\",\"continent\":\"EUROPE\",\"title\":\"GBIF
        Ukraine\",\"participantTitle\":\"Ukraine\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[null],\"country\":\"UA\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\",\"created\":\"2025-10-11T05:34:45.570+00:00\",\"modified\":\"2025-10-11T05:34:45.570+00:00\",\"contacts\":[{\"key\":4885,\"type\":\"HEAD_OF_DELEGATION\",\"primary\":false,\"userId\":[],\"firstName\":\"Oleh\",\"lastName\":\"Prylutskyi\",\"position\":[],\"email\":[\"oleh.prylutskyi@gmail.com\"],\"phone\":[],\"homepage\":[],\"organization\":\"Ukraine\",\"address\":[\"Metrologicalhna
        str. 12, Kyiv 03143\\nUkraine\"],\"country\":\"UA\",\"modified\":\"2025-10-20T09:25:29.334+00:00\"},{\"key\":4892,\"primary\":false,\"userId\":[],\"firstName\":\"Andriy\",\"lastName\":\"Novikov\",\"position\":[],\"email\":[\"novikoffav@gmail.com\"],\"phone\":[\"+380322356917\"],\"homepage\":[],\"organization\":\"Ukraine\",\"address\":[\"Teatralna
        str. 18, Lviv 79008\\nUkraine\"],\"country\":\"UA\",\"modified\":\"2025-10-20T09:20:59.116+00:00\"},{\"key\":4780,\"type\":\"NODE_MANAGER\",\"primary\":false,\"userId\":[],\"firstName\":\"Oleksii\",\"lastName\":\"Marushchak\",\"position\":[],\"email\":[\"ecopelobates@gmail.com\"],\"phone\":[],\"homepage\":[],\"organization\":\"GBIF
        Ukraine\",\"address\":[\"B. Khmelnytskogo st. 15, Kyiv, 01054;\\nHoholya st.
        40, Vasylkiv, 08600\\nUkraine\"],\"country\":\"UA\",\"modified\":\"2025-10-20T09:21:49.517+00:00\"}],\"endpoints\":[],\"machineTags\":[],\"tags\":[],\"identifiers\":[{\"key\":457520,\"type\":\"GBIF_PARTICIPANT\",\"identifier\":\"441\",\"createdBy\":\"directory-update-robot\",\"created\":\"2025-10-11T05:34:45.571+00:00\",\"primary\":false}],\"comments\":[]},{\"key\":\"cf711c13-1266-4b08-9580-32f6d9aa0a9f\",\"type\":\"OTHER\",\"participationStatus\":\"ASSOCIATE\",\"gbifRegion\":\"EUROPE\",\"continent\":\"EUROPE\",\"title\":\"Catalogue
        of Life\",\"participantTitle\":\"Catalogue of Life Foundation\",\"abbreviation\":\"CoL\",\"email\":[],\"phone\":[],\"homepage\":[],\"address\":[null],\"country\":\"NL\",\"createdBy\":\"directory-update-robot\",\"modifiedBy\":\"directory-update-robot\",\"created\":\"2025-10-11T05:34:45.562+00:00\",\"modified\":\"2025-10-11T05:34:45.562+00:00\",\"contacts\":[{\"key\":718,\"type\":\"ADDITIONAL_DELEGATE\",\"primary\":false,\"userId\":[],\"firstName\":\"Donald\",\"lastName\":\"Hobern\",\"position\":[],\"email\":[\"donald.hobern@catalogueoflife.org\"],\"phone\":[],\"homepage\":[],[...]
