interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&limit=3&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":3,\"endOfRecords\":false,\"count\":3915249048,\"results\":[{\"key\":182368733,\"datasetKey\":\"857aa892-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\":\"6bcc0290-6e76-11db-bcd5-b8a03c50a862\",\"datasetCategory\":[\"Gridded\"],\"installationKey\":\"603b8e02-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"6bcc0290-6e76-11db-bcd5-b8a03c50a862\",\"publishingCountry\":\"FR\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T21:34:11.859+00:00\",\"lastParsed\":\"2026-08-24T17:51:40.207+00:00\",\"crawlId\":358,\"extensions\":{},\"basisOfRecord\":\"OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"9ZGGV\",\"name\":\"Frangula
        dodonei Ard. ex Soldano\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"Ard.
        ex Soldano\",\"genericName\":\"Frangula\",\"specificEpithet\":\"dodonei\",\"formattedName\":\"<i>Frangula</i>
        <i>dodonei</i> Ard. ex Soldano\"},\"acceptedUsage\":{\"key\":\"5HDCH\",\"name\":\"Frangula
        alnus subsp. alnus\",\"rank\":\"SUBSPECIES\",\"code\":\"BOTANICAL\",\"genericName\":\"Frangula\",\"specificEpithet\":\"alnus\",\"infraspecificEpithet\":\"alnus\",\"formattedName\":\"<i>Frangula</i>
        <i>alnus</i> subsp. <i>alnus</i>\"},\"taxonomicStatus\":\"SYNONYM\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"P\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"CMQ8S\",\"name\":\"Pteridobiotina\",\"rank\":\"SUBKINGDOM\"},{\"key\":\"TP\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"MG\",\"name\":\"Magnoliopsida\",\"rank\":\"CLASS\"},{\"key\":\"3Z6\",\"name\":\"Rosales\",\"rank\":\"ORDER\"},{\"key\":\"FN6\",\"name\":\"Rhamnaceae\",\"rank\":\"FAMILY\"},{\"key\":\"KVQV9\",\"name\":\"Rhamneae\",\"rank\":\"TRIBE\"},{\"key\":\"4KZF\",\"name\":\"Frangula\",\"rank\":\"GENUS\"},{\"key\":\"6JLFV\",\"name\":\"Frangula
        alnus\",\"rank\":\"SPECIES\"},{\"key\":\"5HDCH\",\"name\":\"Frangula alnus
        alnus\",\"rank\":\"SUBSPECIES\"}],\"issues\":[\"TAXON_MATCH_HIGHERRANK\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"7273624\",\"name\":\"Frangula
        dodonei subsp. dodonei\",\"rank\":\"SUBSPECIES\",\"code\":\"BOTANICAL\",\"genericName\":\"Frangula\",\"specificEpithet\":\"dodonei\",\"infraspecificEpithet\":\"dodonei\",\"formattedName\":\"<i>Frangula</i>
        <i>dodonei</i> subsp. <i>dodonei</i>\"},\"acceptedUsage\":{\"key\":\"7273688\",\"name\":\"Frangula
        alnus subsp. alnus\",\"rank\":\"SUBSPECIES\",\"code\":\"BOTANICAL\",\"genericName\":\"Frangula\",\"specificEpithet\":\"alnus\",\"infraspecificEpithet\":\"alnus\",\"formattedName\":\"<i>Frangula</i>
        <i>alnus</i> subsp. <i>alnus</i>\"},\"taxonomicStatus\":\"SYNONYM\",\"classification\":[{\"key\":\"6\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"7707728\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"220\",\"name\":\"Magnoliopsida\",\"rank\":\"CLASS\"},{\"key\":\"691\",\"name\":\"Rosales\",\"rank\":\"ORDER\"},{\"key\":\"2407\",\"name\":\"Rhamnaceae\",\"rank\":\"FAMILY\"},{\"key\":\"3039453\",\"name\":\"Frangula\",\"rank\":\"GENUS\"},{\"key\":\"3039454\",\"name\":\"Frangula
        alnus\",\"rank\":\"SPECIES\"},{\"key\":\"7273688\",\"name\":\"Frangula alnus
        alnus\",\"rank\":\"SUBSPECIES\"}],\"issues\":[]}},\"taxonKey\":7273624,\"kingdomKey\":6,\"phylumKey\":7707728,\"classKey\":220,\"orderKey\":691,\"familyKey\":2407,\"genusKey\":3039453,\"speciesKey\":3039454,\"acceptedTaxonKey\":7273688,\"scientificName\":\"Frangula
        dodonei subsp. dodonei\",\"acceptedScientificName\":\"Frangula alnus subsp.
        alnus\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Rosales\",\"family\":\"Rhamnaceae\",\"genus\":\"Frangula\",\"species\":\"Frangula
        alnus\",\"genericName\":\"Frangula\",\"specificEpithet\":\"dodonei\",\"infraspecificEpithet\":\"dodonei\",\"taxonRank\":\"SUBSPECIES\",\"taxonomicStatus\":\"SYNONYM\",\"decimalLatitude\":47.6669,\"decimalLongitude\":2.26047,\"continent\":\"EUROPE\",\"gadm\":{\"level0\":{\"gid\":\"FRA\",\"name\":\"France\"},\"level1\":{\"gid\":\"FRA.4_1\",\"name\":\"Centre-Val
        de Loire\"},\"level2\":{\"gid\":\"FRA.4.6_1\",\"name\":\"Loiret\"},\"level3\":{\"gid\":\"FRA.4.6.2_1\",\"name\":\"Orl\xE9ans\"}},\"year\":2026,\"month\":1,\"day\":20,\"eventDate\":\"2026-01-20\",\"startDayOfYear\":20,\"endDayOfYear\":20,\"issues\":[\"GEODETIC_DATUM_ASSUMED_WGS84\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_MATCH_HIGHERRANK\",\"IDENTIFIED_DATE_INVALID\"],\"lastInterpreted\":\"2026-08-24T17:51:40.207+00:00\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"182368733\"}],\"media\":[],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"recordedBy\":\"Inventaire
        Forestier National\",\"dnaSequenceID\":[],\"nucleotideSequence\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Magnoliopsida\",\"countryCode\":\"FR\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"EUROPE\",\"country\":\"France\",\"publishedByGbifRegion\":\"EUROPE\",\"http://unknown.org/download\":\"0017954-180131172636756\",\"datasetTitle\":\"Observations
        du Conservatoire botanique national du Bassin parisien.\",\"catalogNumber\":\"20070717583940IFN\",\"http://unknown.org/crawl_attempt\":\"358\",\"http://unknown.org/orphanEndpoint\":\"http://dsimap.mnhn.fr/biocase/pywrapper.cgi?dsa=cbnbp\",\"institutionCode\":\"Conservatoire
        botanique national du Bassin parisien\",\"locality\":\"ISDES\",\"http://unknown.org/status\":\"RESCUED\",\"http://unknown.org/griddedDataset\":\"{\\\"percentNN\\\":0.3904,\\\"countNN\\\":2645,\\\"distanceNN\\\":0.03}\",\"gbifID\":\"182368733\",\"collectionCode\":\"Conservatoire
        botanique national du Bassin parisien\"},{\"key\":1291505203,\"datasetKey\":\"7e380070-f762-11e1-a439-00145eb45e9a\",\"publishingOrgKey\":\"19456090-b49a-11d8-abeb-b8a03c50a862\",\"networkKeys\":[\"17abcf75-2f1e-46dd-bf75-a5b21dd02655\",\"99d66b6c-9087-452f-a9d4-f15f2c2d0e7e\"],\"installationKey\":\"60277b56-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"19456090-b49a-11d8-abeb-b8a03c50a862\",\"publishingCountry\":\"GB\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T15:58:06.296+00:00\",\"lastParsed\":\"2026-08-24T17:22:56.641+00:00\",\"crawlId\":498,\"extensions\":{},\"basisOfRecord\":\"PRESERVED_SPECIMEN\",\"occurrenceStatus\":\"PRESENT\",\"sex\":\"Male\",\"lifeStage\":\"Adult\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"4Q748\",\"name\":\"Pteruthius
        aenobarbus (Temminck, 1836)\",\"rank\":\"SPECIES\",\"code\":\"ZOOLOGICAL\",\"authorship\":\"(Temminck,
        1836)\",\"genericName\":\"Pteruthius\",\"specificEpithet\":\"aenobarbus\",\"formattedName\":\"<i>Pteruthius</i>
        <i>aenobarbus</i> (Temminck, 1836)\"},\"acceptedUsage\":{\"key\":\"4Q748\",\"name\":\"Pteruthius
        aenobarbus (Temminck, 1836)\",\"[...]
