interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/countries?publishingCountry=DE
  response:
    body:
      string: "{\"GERMANY\":60847039,\"UNITED_STATES\":6058255,\"AUSTRALIA\":1417041,\"UNITED_KINGDOM\":1107884,\"CHINA\":968087,\"SPAIN\":517142,\"BELGIUM\":461953,\"ITALY\":456388,\"CANADA\":424184,\"SAUDI_ARABIA\":399388,\"GREECE\":378148,\"AUSTRIA\":377336,\"MEXICO\":343468,\"FRANCE\":301382,\"NETHERLANDS\":240677,\"CHILE\":228276,\"ANTARCTICA\":219934,\"COLOMBIA\":205728,\"BRAZIL\":195350,\"SWITZERLAND\":192273,\"SWEDEN\":187828,\"ARGENTINA\":176348,\"PORTUGAL\":158104,\"SOUTH_AFRICA\":143367,\"RUSSIAN_FEDERATION\":141662,\"DENMARK\":140433,\"SVALBARD_JAN_MAYEN\":136357,\"POLAND\":127382,\"NORWAY\":106252,\"KENYA\":106083,\"JAPAN\":97728,\"NAMIBIA\":96227,\"CZECH_REPUBLIC\":95721,\"PAPUA_NEW_GUINEA\":87624,\"PERU\":84731,\"TANZANIA\":82592,\"PHILIPPINES\":81687,\"INDONESIA\":80598,\"EL_SALVADOR\":77382,\"TURKEY\":75626,\"NEW_ZEALAND\":74066,\"ECUADOR\":70972,\"UNKNOWN\":69082,\"PANAMA\":67100,\"COSTA_RICA\":66901,\"GREENLAND\":61365,\"VENEZUELA\":60913,\"HONG_KONG\":57458,\"BURKINA_FASO\":56327,\"INDIA\":53920,\"TAIWAN\":53870,\"MADAGASCAR\":52549,\"UKRAINE\":50778,\"OMAN\":47227,\"IRELAND\":46782,\"MOROCCO\":44894,\"CROATIA\":44802,\"URUGUAY\":43081,\"ROMANIA\":43057,\"VIETNAM\":42797,\"BAHAMAS\":41500,\"HUNGARY\":40530,\"YEMEN\":38764,\"PUERTO_RICO\":36953,\"MARSHALL_ISLANDS\":35216,\"LUXEMBOURG\":33080,\"MALAYSIA\":32700,\"CUBA\":32650,\"BOLIVIA\":31589,\"NICARAGUA\":31374,\"HEARD_MCDONALD_ISLANDS\":30194,\"CAMEROON\":28209,\"ICELAND\":27989,\"IRAN\":27807,\"GEORGIA\":26853,\"ETHIOPIA\":25990,\"BULGARIA\":25612,\"MALDIVES\":25550,\"EGYPT\":25469,\"WESTERN_SAHARA\":25258,\"GUATEMALA\":25139,\"THAILAND\":24983,\"CYPRUS\":23168,\"GHANA\":21853,\"SEYCHELLES\":20485,\"ISRAEL\":19285,\"SRI_LANKA\":19139,\"VANUATU\":18005,\"ANGOLA\":17728,\"SENEGAL\":17309,\"CAPE_VERDE\":17196,\"SLOVENIA\":16156,\"SLOVAKIA\":15207,\"FINLAND\":14871,\"MALAWI\":14379,\"NEW_CALEDONIA\":13927,\"GUYANA\":13725,\"MICRONESIA\":11960,\"TRINIDAD_TOBAGO\":11958,\"GAMBIA\":11862,\"BENIN\":11796,\"UGANDA\":11516,\"NEPAL\":11425,\"SUDAN\":11315,\"TUNISIA\":10969,\"ARMENIA\":10927,\"CONGO\":10855,\"CONGO_DEMOCRATIC_REPUBLIC\":10820,\"MONGOLIA\":10583,\"DOMINICAN_REPUBLIC\":10013,\"FRENCH_SOUTHERN_TERRITORIES\":9968,\"MARTINIQUE\":9728,\"ESTONIA\":9716,\"SAINT_HELENA_ASCENSION_TRISTAN_DA_CUNHA\":9485,\"ALBANIA\":9308,\"ALGERIA\":9132,\"SURINAME\":9087,\"NIGERIA\":8474,\"SERBIA\":8447,\"BOTSWANA\":8329,\"SYRIA\":8248,\"MALI\":8235,\"NORTHERN_MARIANA_ISLANDS\":7210,\"UNITED_STATES_OUTLYING_ISLANDS\":7063,\"AFGHANISTAN\":7051,\"FRENCH_POLYNESIA\":7024,\"KYRGYZSTAN\":6993,\"PARAGUAY\":6986,\"FRENCH_GUIANA\":6740,\"R\xC9UNION\":6433,\"GABON\":6327,\"MONTENEGRO\":6325,\"BOSNIA_HERZEGOVINA\":6244,\"MACEDONIA\":6174,\"ZIMBABWE\":6164,\"SOMALIA\":5744,\"ZAMBIA\":5730,\"PAKISTAN\":5705,\"MAURITIUS\":5476,\"BRITISH_INDIAN_OCEAN_TERRITORY\":5288,\"JAMAICA\":5240,\"KIRIBATI\":5225,\"JORDAN\":4841,\"AZERBAIJAN\":4794,\"SINGAPORE\":4771,\"C\xD4TE_DIVOIRE\":4650,\"SOUTH_GEORGIA_SANDWICH_ISLANDS\":4597,\"KOREA_SOUTH\":4531,\"GRENADA\":4487,\"BELARUS\":4242,\"UNITED_ARAB_EMIRATES\":4202,\"UZBEKISTAN\":4199,\"LEBANON\":4064,\"LAO\":4028,\"TONGA\":4013,\"LIBYA\":3890,\"MYANMAR\":3732,\"COOK_ISLANDS\":3686,\"FIJI\":3632,\"LATVIA\":3619,\"RWANDA\":3531,\"HONDURAS\":3503,\"HAITI\":3462,\"MAURITANIA\":3430,\"EQUATORIAL_GUINEA\":3285,\"LIBERIA\":3201,\"FAROE_ISLANDS\":3036,\"IRAQ\":3007,\"KAZAKHSTAN\":2953,\"GUADELOUPE\":2880,\"MOZAMBIQUE\":2856,\"TAJIKISTAN\":2736,\"MALTA\":2634,\"SOLOMON_ISLANDS\":2558,\"GUINEA\":2517,\"LITHUANIA\":2441,\"CURA\xC7AO\":2410,\"LIECHTENSTEIN\":2390,\"TOGO\":2371,\"SAO_TOME_PRINCIPE\":2239,\"FALKLAND_ISLANDS\":2234,\"GUINEA_BISSAU\":2026,\"TURKMENISTAN\":1895,\"COCOS_ISLANDS\":1866,\"SIERRA_LEONE\":1858,\"BRUNEI_DARUSSALAM\":1756,\"CAMBODIA\":1589,\"ERITREA\":1539,\"BERMUDA\":1516,\"SAMOA\":1480,\"CENTRAL_AFRICAN_REPUBLIC\":1384,\"CAYMAN_ISLANDS\":1352,\"CHAD\":1243,\"BHUTAN\":1243,\"KOSOVO\":1073,\"BANGLADESH\":1043,\"NIGER\":911,\"VIRGIN_ISLANDS\":833,\"ARUBA\":793,\"PITCAIRN\":786,\"DOMINICA\":744,\"ANGUILLA\":737,\"SWAZILAND\":714,\"COMOROS\":670,\"BOUVET_ISLAND\":647,\"KOREA_NORTH\":634,\"ANDORRA\":534,\"BELIZE\":527,\"PALESTINIAN_TERRITORY\":476,\"BURUNDI\":475,\"SAINT_LUCIA\":471,\"PALAU\":404,\"GUERNSEY\":378,\"GIBRALTAR\":351,\"ANTIGUA_BARBUDA\":333,\"NORFOLK_ISLAND\":324,\"AMERICAN_SAMOA\":320,\"GUAM\":316,\"MOLDOVA\":305,\"MONTSERRAT\":299,\"SAN_MARINO\":296,\"ALAND_ISLANDS\":268,\"DJIBOUTI\":254,\"VIRGIN_ISLANDS_BRITISH\":243,\"KUWAIT\":230,\"BONAIRE_SINT_EUSTATIUS_SABA\":227,\"BARBADOS\":204,\"BAHRAIN\":202,\"TOKELAU\":199,\"NAURU\":192,\"MONACO\":191,\"SOUTH_SUDAN\":158,\"SAINT_VINCENT_GRENADINES\":154,\"LESOTHO\":145,\"SAINT_KITTS_NEVIS\":142,\"TIMOR_LESTE\":95,\"JERSEY\":72,\"CHRISTMAS_ISLAND\":65,\"WALLIS_FUTUNA\":60,\"MACAO\":58,\"SINT_MAARTEN\":54,\"MAYOTTE\":50,\"QATAR\":48,\"NIUE\":41,\"ISLE_OF_MAN\":31,\"TURKS_CAICOS_ISLANDS\":27,\"SAINT_PIERRE_MIQUELON\":18,\"SAINT_MARTIN_FRENCH\":18,\"VATICAN\":15,\"TUVALU\":15,\"INTERNATIONAL_WATERS\":9,\"SAINT_BARTH\xC9LEMY\":4}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
