interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/publishingCountries?country=DE
  response:
    body:
      string: '{"GERMANY":60847039,"NETHERLANDS":8850554,"UNITED_STATES":4462438,"UNITED_KINGDOM":2268984,"BELGIUM":2094312,"FRANCE":1927327,"SWITZERLAND":410899,"UNKNOWN":362479,"SWEDEN":169684,"AUSTRIA":136546,"ESTONIA":133322,"POLAND":72887,"FINLAND":68292,"LUXEMBOURG":58597,"COLOMBIA":58417,"DENMARK":43430,"AUSTRALIA":30015,"NORWAY":26741,"SPAIN":22975,"CANADA":22135,"BULGARIA":17886,"BRAZIL":12281,"NEW_ZEALAND":9729,"JAPAN":9515,"CZECH_REPUBLIC":8202,"RUSSIAN_FEDERATION":7980,"ITALY":6121,"CHINA":5419,"PORTUGAL":5163,"SOUTH_AFRICA":4790,"MEXICO":3570,"ECUADOR":2704,"ARGENTINA":2243,"ISRAEL":1953,"COSTA_RICA":1295,"PANAMA":1244,"UKRAINE":1122,"TAIWAN":1101,"CHILE":558,"LITHUANIA":374,"GREECE":370,"NICARAGUA":232,"URUGUAY":197,"HUNGARY":171,"GHANA":73,"LATVIA":65,"VENEZUELA":63,"PERU":31,"KOREA_SOUTH":24,"ARMENIA":14,"GUATEMALA":9,"TAJIKISTAN":7,"MOROCCO":7,"NIGERIA":4,"ANTARCTICA":3,"TRINIDAD_TOBAGO":2,"SLOVENIA":2,"ZIMBABWE":1,"NEPAL":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
