interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?recordedByID=https%3A%2F%2Forcid.org%2F0000-0003-1691-239X&checklistKey=7ddf754f-d193-4cc9-b351-99906754a03b&limit=3&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":3,\"endOfRecords\":false,\"count\":1969,\"results\":[{\"key\":6479625354,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"datasetCategory\":[\"CitizenScience\"],\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T15:17:25.526+00:00\",\"lastParsed\":\"2026-08-14T01:57:51.511+00:00\",\"crawlId\":604,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/format\":\"image/jpeg\",\"http://purl.org/dc/terms/creator\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/references\":\"https://www.inaturalist.org/photos/709749409\",\"http://purl.org/dc/terms/rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"http://purl.org/dc/terms/publisher\":\"iNaturalist\",\"http://purl.org/dc/terms/identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/709749409/original.jpg\",\"http://purl.org/dc/terms/created\":\"2026-07-13T14:07:22-07:00\",\"http://purl.org/dc/terms/type\":\"StillImage\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by/4.0/\",\"http://rs.tdwg.org/dwc/terms/catalogNumber\":\"709749409\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"3FMHR\",\"name\":\"Gentiana
        nivalis L.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"L.\",\"genericName\":\"Gentiana\",\"specificEpithet\":\"nivalis\",\"formattedName\":\"<i>Gentiana</i>
        <i>nivalis</i> L.\"},\"acceptedUsage\":{\"key\":\"3FMHR\",\"name\":\"Gentiana
        nivalis L.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"L.\",\"genericName\":\"Gentiana\",\"specificEpithet\":\"nivalis\",\"formattedName\":\"<i>Gentiana</i>
        <i>nivalis</i> L.\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"P\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"CMQ8S\",\"name\":\"Pteridobiotina\",\"rank\":\"SUBKINGDOM\"},{\"key\":\"TP\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"MG\",\"name\":\"Magnoliopsida\",\"rank\":\"CLASS\"},{\"key\":\"39D\",\"name\":\"Gentianales\",\"rank\":\"ORDER\"},{\"key\":\"6247C\",\"name\":\"Gentianaceae\",\"rank\":\"FAMILY\"},{\"key\":\"KVC24\",\"name\":\"Gentianeae\",\"rank\":\"TRIBE\"},{\"key\":\"KVC38\",\"name\":\"Gentianinae\",\"rank\":\"SUBTRIBE\"},{\"key\":\"62STG\",\"name\":\"Gentiana\",\"rank\":\"GENUS\"},{\"key\":\"3FMHR\",\"name\":\"Gentiana
        nivalis\",\"rank\":\"SPECIES\"}],\"issues\":[\"TAXON_ID_NOT_FOUND\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"3170097\",\"name\":\"Gentiana
        nivalis L.\",\"rank\":\"SPECIES\",\"authorship\":\"L.\",\"genericName\":\"Gentiana\",\"specificEpithet\":\"nivalis\",\"formattedName\":\"<i>Gentiana</i>
        <i>nivalis</i> L.\"},\"acceptedUsage\":{\"key\":\"3170097\",\"name\":\"Gentiana
        nivalis L.\",\"rank\":\"SPECIES\",\"authorship\":\"L.\",\"genericName\":\"Gentiana\",\"specificEpithet\":\"nivalis\",\"formattedName\":\"<i>Gentiana</i>
        <i>nivalis</i> L.\"},\"taxonomicStatus\":\"ACCEPTED\",\"classification\":[{\"key\":\"6\",\"name\":\"Plantae\",\"rank\":\"KINGDOM\"},{\"key\":\"7707728\",\"name\":\"Tracheophyta\",\"rank\":\"PHYLUM\"},{\"key\":\"220\",\"name\":\"Magnoliopsida\",\"rank\":\"CLASS\"},{\"key\":\"412\",\"name\":\"Gentianales\",\"rank\":\"ORDER\"},{\"key\":\"2503\",\"name\":\"Gentianaceae\",\"rank\":\"FAMILY\"},{\"key\":\"3170037\",\"name\":\"Gentiana\",\"rank\":\"GENUS\"},{\"key\":\"3170097\",\"name\":\"Gentiana
        nivalis\",\"rank\":\"SPECIES\"}],\"issues\":[\"TAXON_ID_NOT_FOUND\"]}},\"taxonKey\":3170097,\"kingdomKey\":6,\"phylumKey\":7707728,\"classKey\":220,\"orderKey\":412,\"familyKey\":2503,\"genusKey\":3170037,\"speciesKey\":3170097,\"acceptedTaxonKey\":3170097,\"scientificName\":\"Gentiana
        nivalis L.\",\"scientificNameAuthorship\":\"L.\",\"acceptedScientificName\":\"Gentiana
        nivalis L.\",\"kingdom\":\"Plantae\",\"phylum\":\"Tracheophyta\",\"order\":\"Gentianales\",\"family\":\"Gentianaceae\",\"genus\":\"Gentiana\",\"species\":\"Gentiana
        nivalis\",\"genericName\":\"Gentiana\",\"specificEpithet\":\"nivalis\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"ACCEPTED\",\"dateIdentified\":\"2026-07-13T12:08:08\",\"decimalLatitude\":62.27818,\"decimalLongitude\":9.60057,\"coordinateUncertaintyInMeters\":3.0,\"continent\":\"EUROPE\",\"stateProvince\":\"S\xF8r-Tr\xF8ndelag\",\"gadm\":{\"level0\":{\"gid\":\"NOR\",\"name\":\"Norway\"},\"level1\":{\"gid\":\"NOR.15_1\",\"name\":\"S\xF8r-Tr\xF8ndelag\"},\"level2\":{\"gid\":\"NOR.15.13_1\",\"name\":\"Oppdal\"}},\"year\":2026,\"month\":7,\"day\":13,\"eventDate\":\"2026-07-13T14:07:05\",\"startDayOfYear\":194,\"endDayOfYear\":194,\"issues\":[\"COORDINATE_ROUNDED\",\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_ID_NOT_FOUND\"],\"modified\":\"2026-08-12T09:09:04.000+00:00\",\"lastInterpreted\":\"2026-08-14T01:57:51.511+00:00\",\"references\":\"https://www.inaturalist.org/observations/381007802\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"381007802\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"references\":\"https://www.inaturalist.org/photos/709749409\",\"created\":\"2026-07-13T21:07:22.000+00:00\",\"creator\":\"Thomas
        Stjernegaard Jeppesen\",\"publisher\":\"iNaturalist\",\"license\":\"http://creativecommons.org/licenses/by/4.0/\",\"rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"identifier\":\"https://inaturalist-open-data.s3.amazonaws.com/photos/709749409/original.jpg\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"datasetName\":\"iNaturalist
        research-grade observations\",\"recordedBy\":\"Thomas Stjernegaard Jeppesen\",\"identifiedBy\":\"Thomas
        Stjernegaard Jeppesen\",\"dnaSequenceID\":[],\"nucleotideSequence\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Magnoliopsida\",\"countryCode\":\"NO\",\"recordedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-1691-239X\"}],\"identifiedByIDs\":[{\"type\":\"ORCID\",\"value\":\"https://orcid.org/0000-0003-1691-239X\"}],\"gbifRegion\":\"EUROPE\",\"country\":\"Norway\",\"publishedByGbifRegion\":\"NORTH_AMERICA\",\"rightsHolder\":\"Thomas
        Stjernegaard Jeppesen\",\"identifier\":\"381007802\",\"http://unknown.org/nick\":\"thomasstjernegaardjeppesen\",\"verbatimEventDate\":\"2026-07-13
        14:07:05\",\"http://unknown.org/crawl_attempt\":\"604\",\"http://unknown.org/status\":\"not_reviewed\",\"verbatimLocality\":\"7345
        Driva, Norge\",\"gbifID\":\"6479625354\",\"collectionCode\":\"Observations\",\"occurrenceID\":\"https://www.inaturalist.org/observations/381007802\",\"taxonID\":\"163230\",\"http://unknown.org/captive_cultivated\":\"wild\",\"catalogNumber\":\"381007802\",\"institutionCode\":\"iNaturalist\",\"eventTime\":\"14:07:05+02:00\",\"identificationID\":\"850013581\"},{\"key\":6480382464,\"datasetKey\":\"50c9509d-22c7-4a22-a47d-8c48425ef4a7\",\"publishingOrgKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"datasetCategory\":[\"CitizenScience\"],\"installationKey\":\"997448a8-f762-11e1-a439-00145eb45e9a\",\"hostingOrganizationKey\":\"28eb1a3f-1c15-4a95-931a-4af90ecb574d\",\"publishingCountry\":\"US\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-13T15:17:25.526+00:00\",\"lastParsed\":\"2026-08-14T02:43:57.559+00:00\",\"crawlId\":604,\"ex[...]
