interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?publishingOrgKey=e2e717bf-551a-4917-bdc9-4fa0f342c530&limit=5&offset=0
  response:
    body:
      string: '{"offset":0,"limit":5,"endOfRecords":false,"count":310,"results":[{"datasetKey":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","totalRecords":364169137126,"numberDownloads":10012,"year":2026,"month":7},{"datasetKey":"7f6dd0f7-9ed4-49c0-bb71-b2a9c7fed9f1","totalRecords":29736045,"numberDownloads":6091,"year":2026,"month":7},{"datasetKey":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","totalRecords":451864046922,"numberDownloads":13785,"year":2026,"month":6},{"datasetKey":"7f6dd0f7-9ed4-49c0-bb71-b2a9c7fed9f1","totalRecords":39024692,"numberDownloads":6789,"year":2026,"month":6},{"datasetKey":"4fa7b334-ce0d-4e88-aaae-2e0c138d049e","totalRecords":406680262521,"numberDownloads":15788,"year":2026,"month":5}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
