interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/search?taxonKey=3329049&limit=1&offset=0
  response:
    body:
      string: "{\"offset\":0,\"limit\":1,\"endOfRecords\":false,\"count\":1323,\"results\":[{\"key\":6495474134,\"datasetKey\":\"963a6b96-4d22-4428-86e4-afee52cf4a8e\",\"publishingOrgKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"datasetCategory\":[\"CitizenScience\"],\"installationKey\":\"f9c0c41b-6da4-4be4-b917-a6f7710f3dbc\",\"hostingOrganizationKey\":\"1a4e6112-b3af-402e-b29f-c2ade2167f72\",\"publishingCountry\":\"DK\",\"protocol\":\"DWC_ARCHIVE\",\"lastCrawled\":\"2026-08-25T14:08:09.506+00:00\",\"lastParsed\":\"2026-08-25T14:14:05.572+00:00\",\"crawlId\":329,\"extensions\":{\"http://rs.gbif.org/terms/1.0/Multimedia\":[{\"http://purl.org/dc/terms/creator\":\"Lars
        Holm Hansen\",\"http://purl.org/dc/terms/rightsHolder\":\"Lars Holm Hansen\",\"http://purl.org/dc/terms/identifier\":\"https://arter.dk/media/379f84bb-8232-42a3-b7e5-8175361ef92f.jpg\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by/4.0/\"},{\"http://purl.org/dc/terms/creator\":\"Lars
        Holm Hansen\",\"http://purl.org/dc/terms/rightsHolder\":\"Lars Holm Hansen\",\"http://purl.org/dc/terms/identifier\":\"https://arter.dk/media/4bc9663d-2286-4f2e-95a3-8c523300bcb3.jpg\",\"http://purl.org/dc/terms/license\":\"https://creativecommons.org/licenses/by/4.0/\"}]},\"basisOfRecord\":\"HUMAN_OBSERVATION\",\"occurrenceStatus\":\"PRESENT\",\"classifications\":{\"7ddf754f-d193-4cc9-b351-99906754a03b\":{\"usage\":{\"key\":\"LMN82\",\"name\":\"Amanita
        muscaria (L. ex Fr.) Hooker\",\"rank\":\"SPECIES\",\"authorship\":\"(L. ex
        Fr.) Hooker\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L. ex Fr.) Hooker\"},\"acceptedUsage\":{\"key\":\"5TYZ9\",\"name\":\"Amanita
        muscaria (L.) Lam.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"(L.)
        Lam.\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L.) Lam.\"},\"taxonomicStatus\":\"SYNONYM\",\"classification\":[{\"key\":\"CS5HF\",\"name\":\"Eukaryota\",\"rank\":\"DOMAIN\"},{\"key\":\"F\",\"name\":\"Fungi\",\"rank\":\"KINGDOM\"},{\"key\":\"BM\",\"name\":\"Basidiomycota\",\"rank\":\"PHYLUM\"},{\"key\":\"7C\",\"name\":\"Agaricomycetes\",\"rank\":\"CLASS\"},{\"key\":\"N8\",\"name\":\"Agaricales\",\"rank\":\"ORDER\"},{\"key\":\"68Y\",\"name\":\"Amanitaceae\",\"rank\":\"FAMILY\"},{\"key\":\"T7Z\",\"name\":\"Amanita\",\"rank\":\"GENUS\"},{\"key\":\"5TYZ9\",\"name\":\"Amanita
        muscaria\",\"rank\":\"SPECIES\"}],\"issues\":[\"TAXON_ID_NOT_FOUND\"]},\"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c\":{\"usage\":{\"key\":\"3329049\",\"name\":\"Amanita
        muscaria (L.) Hook.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"(L.)
        Hook.\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L.) Hook.\"},\"acceptedUsage\":{\"key\":\"8168319\",\"name\":\"Amanita
        muscaria (L.) Lam.\",\"rank\":\"SPECIES\",\"code\":\"BOTANICAL\",\"authorship\":\"(L.)
        Lam.\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"formattedName\":\"<i>Amanita</i>
        <i>muscaria</i> (L.) Lam.\"},\"taxonomicStatus\":\"SYNONYM\",\"classification\":[{\"key\":\"5\",\"name\":\"Fungi\",\"rank\":\"KINGDOM\"},{\"key\":\"34\",\"name\":\"Basidiomycota\",\"rank\":\"PHYLUM\"},{\"key\":\"186\",\"name\":\"Agaricomycetes\",\"rank\":\"CLASS\"},{\"key\":\"1499\",\"name\":\"Agaricales\",\"rank\":\"ORDER\"},{\"key\":\"4171\",\"name\":\"Amanitaceae\",\"rank\":\"FAMILY\"},{\"key\":\"6005964\",\"name\":\"Amanita\",\"rank\":\"GENUS\"},{\"key\":\"8168319\",\"name\":\"Amanita
        muscaria\",\"rank\":\"SPECIES\"}],\"issues\":[\"TAXON_ID_NOT_FOUND\"]}},\"taxonKey\":3329049,\"kingdomKey\":5,\"phylumKey\":34,\"classKey\":186,\"orderKey\":1499,\"familyKey\":4171,\"genusKey\":6005964,\"speciesKey\":8168319,\"acceptedTaxonKey\":8168319,\"scientificName\":\"Amanita
        muscaria (L.) Hook.\",\"scientificNameAuthorship\":\"(L.) Hook.\",\"acceptedScientificName\":\"Amanita
        muscaria (L.) Lam.\",\"kingdom\":\"Fungi\",\"phylum\":\"Basidiomycota\",\"order\":\"Agaricales\",\"family\":\"Amanitaceae\",\"genus\":\"Amanita\",\"species\":\"Amanita
        muscaria\",\"genericName\":\"Amanita\",\"specificEpithet\":\"muscaria\",\"taxonRank\":\"SPECIES\",\"taxonomicStatus\":\"SYNONYM\",\"decimalLatitude\":55.645613,\"decimalLongitude\":11.913319,\"coordinateUncertaintyInMeters\":15.0,\"continent\":\"EUROPE\",\"gadm\":{\"level0\":{\"gid\":\"DNK\",\"name\":\"Denmark\"},\"level1\":{\"gid\":\"DNK.4_1\",\"name\":\"Sj\xE6lland\"},\"level2\":{\"gid\":\"DNK.4.7_1\",\"name\":\"Lejre\"}},\"year\":2026,\"month\":8,\"day\":19,\"eventDate\":\"2026-08-19\",\"startDayOfYear\":231,\"endDayOfYear\":231,\"issues\":[\"CONTINENT_DERIVED_FROM_COORDINATES\",\"TAXON_ID_NOT_FOUND\"],\"modified\":\"2026-08-19T13:51:55.885+00:00\",\"lastInterpreted\":\"2026-08-25T14:14:05.572+00:00\",\"license\":\"http://creativecommons.org/licenses/by/4.0/legalcode\",\"isSequenced\":false,\"identifiers\":[{\"identifier\":\"62819602\"}],\"media\":[{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"creator\":\"Lars
        Holm Hansen\",\"license\":\"http://creativecommons.org/licenses/by/4.0/\",\"rightsHolder\":\"Lars
        Holm Hansen\",\"identifier\":\"https://arter.dk/media/379f84bb-8232-42a3-b7e5-8175361ef92f.jpg\"},{\"type\":\"StillImage\",\"format\":\"image/jpeg\",\"creator\":\"Lars
        Holm Hansen\",\"license\":\"http://creativecommons.org/licenses/by/4.0/\",\"rightsHolder\":\"Lars
        Holm Hansen\",\"identifier\":\"https://arter.dk/media/4bc9663d-2286-4f2e-95a3-8c523300bcb3.jpg\"}],\"facts\":[],\"relations\":[],\"isInCluster\":false,\"recordedBy\":\"Lars
        Holm Hansen\",\"identifiedBy\":\"Lars Holm Hansen\",\"dnaSequenceID\":[],\"nucleotideSequence\":[],\"geodeticDatum\":\"WGS84\",\"class\":\"Agaricomycetes\",\"countryCode\":\"DK\",\"recordedByIDs\":[],\"identifiedByIDs\":[],\"gbifRegion\":\"EUROPE\",\"country\":\"Denmark\",\"publishedByGbifRegion\":\"EUROPE\",\"identifier\":\"62819602\",\"habitat\":\"ConiferousForestPlantation\",\"http://unknown.org/crawl_attempt\":\"329\",\"dynamicProperties\":\"{\\\"Substrate\\\":\\\"Topsoil\\\"}\",\"http://unknown.org/status\":\"not_reviewed\",\"gbifID\":\"6495474134\",\"language\":\"da\",\"occurrenceID\":\"https://arter.dk//fund/62819602\",\"taxonID\":\"MSTSNM:Arter:538211f4-f785-ea11-aa77-501ac539d1ea\",\"catalogNumber\":\"Arter_62819602\",\"vernacularName\":\"R\xF8d
        fluesvamp\",\"institutionCode\":\"SGAV-and-NHMD\",\"eventTime\":\"10:51:03.000+02:00\",\"bibliographicCitation\":\"Arter.dk
        (Agency for Green Transition and Aquatic Environment & Natural History Museum
        of Denmark)\"}],\"facets\":[]}"
    headers:
      Content-Type:
      - application/json
      X-Varnish-RLG:
      - '250'
      X-Varnish-RLI:
      - '17'
    status:
      code: 200
      message: OK
version: 1
