interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/basisOfRecord
  response:
    body:
      string: '{"HUMAN_OBSERVATION":3311312728,"PRESERVED_SPECIMEN":284858663,"MATERIAL_SAMPLE":218351379,"MACHINE_OBSERVATION":42169028,"OCCURRENCE":29423252,"OBSERVATION":19531693,"FOSSIL_SPECIMEN":10265201,"MATERIAL_CITATION":9622452,"LIVING_SPECIMEN":4142297}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
