interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/counts/datasets?taxonKey=3329049
  response:
    body:
      string: '{"963a6b96-4d22-4428-86e4-afee52cf4a8e":908,"fe35d6a0-0c6e-11dd-84d2-b8a03c50a862":91,"962f59bc-f762-11e1-a439-00145eb45e9a":56,"85b2fcd8-f762-11e1-a439-00145eb45e9a":37,"7a2660bc-f762-11e1-a439-00145eb45e9a":37,"84b18cce-083a-4464-bee8-25b2083a17cd":35,"83435394-f762-11e1-a439-00145eb45e9a":33,"67fabcac-a638-40a6-9bea-aeca8aced9f1":28,"7b91859e-f762-11e1-a439-00145eb45e9a":20,"62e99340-528c-4baf-bbd7-bf0df2f186b9":13,"40094017-77a9-415d-8e8d-86dea723f617":11,"ee7c2f66-60d2-4503-80d2-97d65eba01eb":9,"a4144680-8b18-4178-aa8a-678842403c59":8,"95e635d4-f762-11e1-a439-00145eb45e9a":8,"dd7d031f-b18f-4631-929a-049fcf00ac8f":5,"85930e96-f762-11e1-a439-00145eb45e9a":4,"268574ca-449f-4c9e-b1e2-1345767c192a":4,"50313b08-dc39-493b-bdb4-313aa337a33e":3,"d415c253-4d61-4459-9d25-4015b9084fb0":2,"8323a4b8-f762-11e1-a439-00145eb45e9a":2,"04e39dec-8284-49e1-90fe-b04d88ce6460":2,"a5f69bb0-d405-451b-a249-178482c01fa6":1,"a1c9d4d7-aeda-46b6-a368-974b86d4f37c":1,"83447e40-f762-11e1-a439-00145eb45e9a":1,"832282e0-f762-11e1-a439-00145eb45e9a":1,"7c4de804-c8dc-4d21-b092-4b4f8db31638":1,"62211e32-fa72-4b4c-b3f1-04ea78f2485d":1,"0ece0e1d-ab8c-48fd-aaff-b2811cb090bc":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
