interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.gbif.org/v1/occurrence/download/statistics?limit=20&offset=0
  response:
    body:
      string: '{"offset":0,"limit":20,"endOfRecords":false,"count":5779867,"results":[{"datasetKey":"00001da4-5433-4ccb-86a2-73e2b08575b5","totalRecords":1184,"numberDownloads":183,"year":2026,"month":7},{"datasetKey":"0000e36f-d0e9-46b0-aa23-cc1980f00515","totalRecords":58419,"numberDownloads":515,"year":2026,"month":7},{"datasetKey":"0001480b-76ca-4f30-86bc-f4292481554b","totalRecords":686036,"numberDownloads":825,"year":2026,"month":7},{"datasetKey":"00024397-569d-43a8-9e08-9a1072e201df","totalRecords":413,"numberDownloads":83,"year":2026,"month":7},{"datasetKey":"00029085-9665-4ef8-8e1e-a61f48947d14","totalRecords":2802,"numberDownloads":145,"year":2026,"month":7},{"datasetKey":"0004376e-[...]
